VERSIONES A ENTREGAR/Global1_RecepcionDatosESP_BASEDATOSNUEVAALERTAS.txt
[
    {
        "id": "c65edd17.0f287",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "185b7a07.6c4f36",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "c980c74c.ecb778",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "a7808902.40c808",
                "cd171622.925a58",
                "64d8e53.6ed371c"
            ]
        ]
    },
    {
        "id": "7bb849ae.539f18",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7808902.40c808",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "5d875893.155948"
            ]
        ]
    },
    {
        "id": "cd171622.925a58",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a4c82a2.7c056e",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "1704c058.1f3e6",
                "c7970712.9a7b98",
                "6a68fece.d4732"
            ]
        ]
    },
    {
        "id": "7c1b2717.057538",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 180,
        "y": 2320,
        "wires": [
            [
                "17b5fa20.5e4df6",
                "2cb973de.17fc1c"
            ]
        ]
    },
    {
        "id": "6ec16251.bf083c",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "a924b4eb.edf5b8",
        "x": 180,
        "y": 3400,
        "wires": [
            [
                "9dcc79c5.42bb18",
                "d3bb2c2b.22cc4"
            ]
        ]
    },
    {
        "id": "7a7f40d1.cf9a8",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 180,
        "y": 4460,
        "wires": [
            [
                "f349881b.d55458",
                "942bbaa1.e22a88"
            ]
        ]
    },
    {
        "id": "5d875893.155948",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 500,
        "wires": [
            [
                "7bb849ae.539f18",
                "842c88fb.7f4208",
                "9014d78a.886c48",
                "3282a2f.1dd695e",
                "cb4a0691.051048",
                "a1a55398.5b825",
                "cee3c134.56f42",
                "f97e6ac6.2bd298",
                "7dea548a.94cb4c",
                "e7540ae2.b2f8c8",
                "b3a50a73.1916a8",
                "5a603bfe.93d314",
                "431bd42a.dc73ac",
                "df86d4e4.f6bc68",
                "87dd912d.c3c8a",
                "b5a3c090.f094e"
            ]
        ]
    },
    {
        "id": "2899761f.9a61ea",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "a8c1b429.6cda88",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1880,
        "y": 520,
        "wires": []
    },
    {
        "id": "d1343548.830e48",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "a8c1b429.6cda88",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 480,
        "wires": []
    },
    {
        "id": "842c88fb.7f4208",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 480,
        "wires": [
            [
                "d1343548.830e48"
            ]
        ]
    },
    {
        "id": "9014d78a.886c48",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 520,
        "wires": [
            [
                "2899761f.9a61ea"
            ]
        ]
    },
    {
        "id": "3282a2f.1dd695e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 280,
        "wires": [
            [
                "800a4026.edddf"
            ]
        ]
    },
    {
        "id": "800a4026.edddf",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb4a0691.051048",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 320,
        "wires": [
            [
                "a111f3d5.020ff"
            ]
        ]
    },
    {
        "id": "a111f3d5.020ff",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 320,
        "wires": []
    },
    {
        "id": "a1a55398.5b825",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 360,
        "wires": [
            [
                "9efa453c.fecfc8"
            ]
        ]
    },
    {
        "id": "9efa453c.fecfc8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 360,
        "wires": []
    },
    {
        "id": "fb8e7f89.a75ed",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1870,
        "y": 600,
        "wires": []
    },
    {
        "id": "6d971812.588928",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "a8c1b429.6cda88",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 560,
        "wires": []
    },
    {
        "id": "e7540ae2.b2f8c8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 560,
        "wires": [
            [
                "6d971812.588928"
            ]
        ]
    },
    {
        "id": "b3a50a73.1916a8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 600,
        "wires": [
            [
                "fb8e7f89.a75ed"
            ]
        ]
    },
    {
        "id": "cee3c134.56f42",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 680,
        "wires": [
            [
                "548f4e54.3ee7b"
            ]
        ]
    },
    {
        "id": "548f4e54.3ee7b",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 680,
        "wires": []
    },
    {
        "id": "f97e6ac6.2bd298",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 720,
        "wires": [
            [
                "c19d78d9.167798"
            ]
        ]
    },
    {
        "id": "c19d78d9.167798",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 720,
        "wires": []
    },
    {
        "id": "7dea548a.94cb4c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 760,
        "wires": [
            [
                "21b0b53c.6dddda",
                "fa141881.2b0e88"
            ]
        ]
    },
    {
        "id": "21b0b53c.6dddda",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 760,
        "wires": []
    },
    {
        "id": "9b36618f.3e25d",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 640,
        "wires": []
    },
    {
        "id": "fa141881.2b0e88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 800,
        "wires": [
            [
                "97715ded.0eb73"
            ]
        ]
    },
    {
        "id": "97715ded.0eb73",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "a8c1b429.6cda88",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2250,
        "y": 800,
        "wires": []
    },
    {
        "id": "9c88e3e4.3e975",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 120,
        "wires": []
    },
    {
        "id": "653d16de.241cf8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1869.8888092041016,
        "y": 400.0000033378601,
        "wires": []
    },
    {
        "id": "59a2e940.d51e88",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1704c058.1f3e6",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "f39de846.28f108"
            ]
        ]
    },
    {
        "id": "c7970712.9a7b98",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "f39de846.28f108",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1460,
        "wires": [
            [
                "59a2e940.d51e88",
                "bb9ba823.b805b8",
                "3d23c304.d5e48c",
                "46111982.0c52c8",
                "5791c060.8e9d1",
                "acf8f792.9a7238",
                "382a4c92.22f714",
                "cb6491a8.d2fdc",
                "dcfa0846.567138",
                "aac3c67e.216ff8",
                "da44222e.12c46",
                "70e1f0bb.3b7e4",
                "457db734.b64ff8",
                "83063701.306848",
                "63133ddf.77fb94",
                "964ef038.10a82"
            ]
        ]
    },
    {
        "id": "ae939d35.843d1",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "8479b30b.b4ec7",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1880,
        "y": 1520,
        "wires": []
    },
    {
        "id": "4b1b0b4.7b251f4",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "8479b30b.b4ec7",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bb9ba823.b805b8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1480,
        "wires": [
            [
                "4b1b0b4.7b251f4"
            ]
        ]
    },
    {
        "id": "3d23c304.d5e48c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1520,
        "wires": [
            [
                "ae939d35.843d1"
            ]
        ]
    },
    {
        "id": "46111982.0c52c8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1280,
        "wires": [
            [
                "3e73f28b.43b70e"
            ]
        ]
    },
    {
        "id": "3e73f28b.43b70e",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5791c060.8e9d1",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1320,
        "wires": [
            [
                "324ab0b8.1f225"
            ]
        ]
    },
    {
        "id": "324ab0b8.1f225",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 1320,
        "wires": []
    },
    {
        "id": "acf8f792.9a7238",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1360,
        "wires": [
            [
                "a70a8073.ca05c"
            ]
        ]
    },
    {
        "id": "a70a8073.ca05c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f25493f3.5b6ef",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1870,
        "y": 1600,
        "wires": []
    },
    {
        "id": "66710666.f80dd8",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "8479b30b.b4ec7",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1560,
        "wires": []
    },
    {
        "id": "aac3c67e.216ff8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1560,
        "wires": [
            [
                "66710666.f80dd8"
            ]
        ]
    },
    {
        "id": "da44222e.12c46",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1600,
        "wires": [
            [
                "f25493f3.5b6ef"
            ]
        ]
    },
    {
        "id": "382a4c92.22f714",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1680,
        "wires": [
            [
                "2701e38b.b8f62c"
            ]
        ]
    },
    {
        "id": "2701e38b.b8f62c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 1680,
        "wires": []
    },
    {
        "id": "cb6491a8.d2fdc",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1720,
        "wires": [
            [
                "348753b2.9027cc"
            ]
        ]
    },
    {
        "id": "348753b2.9027cc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 1720,
        "wires": []
    },
    {
        "id": "dcfa0846.567138",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1760,
        "wires": [
            [
                "40c23352.3d771c",
                "99f2d826.81f248"
            ]
        ]
    },
    {
        "id": "40c23352.3d771c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 1760,
        "wires": []
    },
    {
        "id": "ca3d5cac.4016",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 1640,
        "wires": []
    },
    {
        "id": "99f2d826.81f248",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 1800,
        "wires": [
            [
                "939b3f81.158a5"
            ]
        ]
    },
    {
        "id": "939b3f81.158a5",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "8479b30b.b4ec7",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2250,
        "y": 1800,
        "wires": []
    },
    {
        "id": "5328c8b3.2f2b38",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "76cba96d.79b078",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6ec55e96.dd95e",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 2460,
        "wires": []
    },
    {
        "id": "17b5fa20.5e4df6",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 2320,
        "wires": [
            [
                "56c950dd.e22b6"
            ]
        ]
    },
    {
        "id": "56c950dd.e22b6",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2320,
        "wires": [
            [
                "6ec55e96.dd95e",
                "724cb2.9110b35",
                "55771e2a.e37a4",
                "a271a1ef.47422",
                "7cabd49b.4fa31c",
                "549388db.580438",
                "1f0e7b15.2aacf5",
                "32c74cdf.588e34",
                "1bd09553.bd018b",
                "272f55ff.b6a7fa",
                "b205b9ec.31ce68",
                "a842d593.503b78",
                "f4ec793.0b4c288",
                "fde415c6.aeb708",
                "c5b12350.a17a5",
                "f52585ad.9c2428"
            ]
        ]
    },
    {
        "id": "18a3ab68.04d445",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "cf854dc6.ab33e",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1880,
        "y": 2420,
        "wires": []
    },
    {
        "id": "40190a1d.a79414",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "cf854dc6.ab33e",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 2380,
        "wires": []
    },
    {
        "id": "724cb2.9110b35",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2380,
        "wires": [
            [
                "40190a1d.a79414"
            ]
        ]
    },
    {
        "id": "55771e2a.e37a4",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2420,
        "wires": [
            [
                "18a3ab68.04d445"
            ]
        ]
    },
    {
        "id": "a271a1ef.47422",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2180,
        "wires": [
            [
                "93bc4ac9.e160f8"
            ]
        ]
    },
    {
        "id": "93bc4ac9.e160f8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 2180,
        "wires": []
    },
    {
        "id": "7cabd49b.4fa31c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2220,
        "wires": [
            [
                "456e0b55.ae5714"
            ]
        ]
    },
    {
        "id": "456e0b55.ae5714",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 2220,
        "wires": []
    },
    {
        "id": "549388db.580438",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2260,
        "wires": [
            [
                "2316ca66.b36b36"
            ]
        ]
    },
    {
        "id": "2316ca66.b36b36",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 2260,
        "wires": []
    },
    {
        "id": "b89af79e.8682d8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1870,
        "y": 2540,
        "wires": []
    },
    {
        "id": "60db25f7.4dd09c",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "cf854dc6.ab33e",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 2460,
        "wires": []
    },
    {
        "id": "272f55ff.b6a7fa",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2460,
        "wires": [
            [
                "60db25f7.4dd09c"
            ]
        ]
    },
    {
        "id": "b205b9ec.31ce68",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2540,
        "wires": [
            [
                "b89af79e.8682d8"
            ]
        ]
    },
    {
        "id": "1f0e7b15.2aacf5",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2580,
        "wires": [
            [
                "428cb3df.cbc28c"
            ]
        ]
    },
    {
        "id": "428cb3df.cbc28c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 2580,
        "wires": []
    },
    {
        "id": "32c74cdf.588e34",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2620,
        "wires": [
            [
                "807be9e0.dfe1a8"
            ]
        ]
    },
    {
        "id": "807be9e0.dfe1a8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 2620,
        "wires": []
    },
    {
        "id": "1bd09553.bd018b",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2660,
        "wires": [
            [
                "a99dfc64.c3fc",
                "69670bd7.5f4004"
            ]
        ]
    },
    {
        "id": "a99dfc64.c3fc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 2660,
        "wires": []
    },
    {
        "id": "2b9ee534.7c0b2a",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 2500,
        "wires": []
    },
    {
        "id": "69670bd7.5f4004",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 2700,
        "wires": [
            [
                "58e488f.e97fc78"
            ]
        ]
    },
    {
        "id": "58e488f.e97fc78",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "cf854dc6.ab33e",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2250,
        "y": 2700,
        "wires": []
    },
    {
        "id": "8e96e3c5.7096f",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8ff49a0a.48f538",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 2340,
        "wires": []
    },
    {
        "id": "f0489fe2.6584d",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3300,
        "wires": []
    },
    {
        "id": "9dcc79c5.42bb18",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 3400,
        "wires": [
            [
                "5db3ca61.108174"
            ]
        ]
    },
    {
        "id": "5db3ca61.108174",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 3400,
        "wires": [
            [
                "f0489fe2.6584d",
                "a9dbf8d1.45ab08",
                "340f3195.176b4e",
                "4b91f7ad.3f4e18",
                "4b1af3f5.18c4fc",
                "8c152682.4c2958",
                "47ad84dc.e0dc3c",
                "c8796c46.89dba",
                "14ded309.efd73d",
                "b35fe9e.3780d18",
                "228c2a71.1f1cf6",
                "58fa315f.4cc63",
                "1eea4243.444b2e",
                "b681f476.8a5018",
                "5a0c5ffa.5481e",
                "c0076f47.184f3"
            ]
        ]
    },
    {
        "id": "965d50ac.aea8f",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "ca38dd03.bdd32",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1880,
        "y": 3400,
        "wires": []
    },
    {
        "id": "57f10b38.e7f734",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "ca38dd03.bdd32",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 3360,
        "wires": []
    },
    {
        "id": "a9dbf8d1.45ab08",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3360,
        "wires": [
            [
                "57f10b38.e7f734"
            ]
        ]
    },
    {
        "id": "340f3195.176b4e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3400,
        "wires": [
            [
                "965d50ac.aea8f"
            ]
        ]
    },
    {
        "id": "4b91f7ad.3f4e18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3160,
        "wires": [
            [
                "fabab30a.4ddb2"
            ]
        ]
    },
    {
        "id": "fabab30a.4ddb2",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 3160,
        "wires": []
    },
    {
        "id": "4b1af3f5.18c4fc",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3200,
        "wires": [
            [
                "87e3ac6c.ff84f"
            ]
        ]
    },
    {
        "id": "87e3ac6c.ff84f",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 3200,
        "wires": []
    },
    {
        "id": "8c152682.4c2958",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3240,
        "wires": [
            [
                "d0ca4db6.a8bab"
            ]
        ]
    },
    {
        "id": "d0ca4db6.a8bab",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 3240,
        "wires": []
    },
    {
        "id": "540d8a12.519164",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1870,
        "y": 3480,
        "wires": []
    },
    {
        "id": "11990d2b.ab78e3",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "ca38dd03.bdd32",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 3440,
        "wires": []
    },
    {
        "id": "b35fe9e.3780d18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3440,
        "wires": [
            [
                "11990d2b.ab78e3"
            ]
        ]
    },
    {
        "id": "228c2a71.1f1cf6",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3480,
        "wires": [
            [
                "540d8a12.519164"
            ]
        ]
    },
    {
        "id": "47ad84dc.e0dc3c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3560,
        "wires": [
            [
                "acfdb794.0b59b8"
            ]
        ]
    },
    {
        "id": "acfdb794.0b59b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 3560,
        "wires": []
    },
    {
        "id": "c8796c46.89dba",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3600,
        "wires": [
            [
                "5825ac79.ea6604"
            ]
        ]
    },
    {
        "id": "5825ac79.ea6604",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 3600,
        "wires": []
    },
    {
        "id": "14ded309.efd73d",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 3640,
        "wires": [
            [
                "8ae99f8c.9aa36",
                "4b1fae7e.d1f25"
            ]
        ]
    },
    {
        "id": "8ae99f8c.9aa36",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 3640,
        "wires": []
    },
    {
        "id": "fef882c1.a00a7",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 3520,
        "wires": []
    },
    {
        "id": "4b1fae7e.d1f25",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 3680,
        "wires": [
            [
                "9e249c57.e9af7"
            ]
        ]
    },
    {
        "id": "9e249c57.e9af7",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "ca38dd03.bdd32",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2250,
        "y": 3680,
        "wires": []
    },
    {
        "id": "a8904cfb.ad988",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 3000,
        "wires": []
    },
    {
        "id": "b581cb06.b47fe8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 3320,
        "wires": []
    },
    {
        "id": "4b2c72ad.30cb6c",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 4400,
        "wires": []
    },
    {
        "id": "f349881b.d55458",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 4460,
        "wires": [
            [
                "d3c38cd7.78914"
            ]
        ]
    },
    {
        "id": "d3c38cd7.78914",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 4460,
        "wires": [
            [
                "4b2c72ad.30cb6c",
                "35741003.69424",
                "fcdbac0.04acf58",
                "f609e6c.a2f2718",
                "5cccf745.21de18",
                "716fe606.7fdbe8",
                "a6bf68f0.a73118",
                "79cb094.dc122f8",
                "9ddde0fd.1c512",
                "9f5b5e42.c40fa",
                "41c2a1ae.ada7d",
                "c96ec6be.c559e8",
                "21badf6e.3f9c1",
                "86b00a66.58ed88",
                "155336a6.5a8fb9",
                "648000a3.e161d"
            ]
        ]
    },
    {
        "id": "5108eee3.b4ebc",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "baeed97e.eba7c8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1880,
        "y": 4440,
        "wires": []
    },
    {
        "id": "6533bfd0.8c055",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "baeed97e.eba7c8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 4400,
        "wires": []
    },
    {
        "id": "35741003.69424",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4400,
        "wires": [
            [
                "6533bfd0.8c055"
            ]
        ]
    },
    {
        "id": "fcdbac0.04acf58",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4440,
        "wires": [
            [
                "5108eee3.b4ebc"
            ]
        ]
    },
    {
        "id": "f609e6c.a2f2718",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4200,
        "wires": [
            [
                "f19343e2.8b3b8"
            ]
        ]
    },
    {
        "id": "f19343e2.8b3b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 4200,
        "wires": []
    },
    {
        "id": "5cccf745.21de18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4240,
        "wires": [
            [
                "5273977b.f059a8"
            ]
        ]
    },
    {
        "id": "5273977b.f059a8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1880,
        "y": 4240,
        "wires": []
    },
    {
        "id": "716fe606.7fdbe8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4280,
        "wires": [
            [
                "979e455.c18f8b8"
            ]
        ]
    },
    {
        "id": "979e455.c18f8b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 4280,
        "wires": []
    },
    {
        "id": "b604b59c.6f12c8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1870,
        "y": 4520,
        "wires": []
    },
    {
        "id": "86e016f.1db05e8",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "baeed97e.eba7c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 4480,
        "wires": []
    },
    {
        "id": "9f5b5e42.c40fa",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4480,
        "wires": [
            [
                "86e016f.1db05e8"
            ]
        ]
    },
    {
        "id": "41c2a1ae.ada7d",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4520,
        "wires": [
            [
                "b604b59c.6f12c8"
            ]
        ]
    },
    {
        "id": "a6bf68f0.a73118",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4600,
        "wires": [
            [
                "e8d2281f.765378"
            ]
        ]
    },
    {
        "id": "e8d2281f.765378",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 4600,
        "wires": []
    },
    {
        "id": "79cb094.dc122f8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4640,
        "wires": [
            [
                "e41c3616.c19638"
            ]
        ]
    },
    {
        "id": "e41c3616.c19638",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 4640,
        "wires": []
    },
    {
        "id": "9ddde0fd.1c512",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 4680,
        "wires": [
            [
                "8d7e53e9.f1f53",
                "840b16bc.f55288"
            ]
        ]
    },
    {
        "id": "8d7e53e9.f1f53",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1870,
        "y": 4680,
        "wires": []
    },
    {
        "id": "57498690.7d3248",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 4560,
        "wires": []
    },
    {
        "id": "840b16bc.f55288",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 4720,
        "wires": [
            [
                "852c24ad.588e08"
            ]
        ]
    },
    {
        "id": "852c24ad.588e08",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "baeed97e.eba7c8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2250,
        "y": 4720,
        "wires": []
    },
    {
        "id": "b1ef2d61.de505",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 4040,
        "wires": []
    },
    {
        "id": "5b0014e0.2b0e9c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 4360,
        "wires": []
    },
    {
        "id": "68cbe104.e08fd",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "f2fd3382.7ac21",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1290,
        "y": 120,
        "wires": []
    },
    {
        "id": "76dae3da.621e0c",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c530b882.6924e8",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1250,
        "y": 2020,
        "wires": []
    },
    {
        "id": "d498a4cf.10b3f8",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1310,
        "y": 3000,
        "wires": []
    },
    {
        "id": "f40427cb.646298",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP5 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1270,
        "y": 4040,
        "wires": []
    },
    {
        "id": "a2101f05.7708c",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1880,
        "y": 200,
        "wires": []
    },
    {
        "id": "431bd42a.dc73ac",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1890,
        "y": 160,
        "wires": []
    },
    {
        "id": "e78ca40d.26b2b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1880,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a603bfe.93d314",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "a1245908.ec2058"
            ]
        ]
    },
    {
        "id": "86e00476.92aab8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1884.9463806152344,
        "y": 1198.9137840270996,
        "wires": []
    },
    {
        "id": "457db734.b64ff8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1890,
        "y": 1160,
        "wires": []
    },
    {
        "id": "68ca6157.469d3",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1884.9463806152344,
        "y": 1238.9137840270996,
        "wires": []
    },
    {
        "id": "70e1f0bb.3b7e4",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 1240,
        "wires": [
            [
                "e2ea9945.a3e218"
            ]
        ]
    },
    {
        "id": "b6a2195d.5c6758",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1880,
        "y": 2100,
        "wires": []
    },
    {
        "id": "f4ec793.0b4c288",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1890,
        "y": 2060,
        "wires": []
    },
    {
        "id": "6e701daf.cacf04",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1880,
        "y": 2140,
        "wires": []
    },
    {
        "id": "a842d593.503b78",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 2140,
        "wires": [
            [
                "552d0e2e.72b24"
            ]
        ]
    },
    {
        "id": "979912a3.bfda4",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1880,
        "y": 3080,
        "wires": []
    },
    {
        "id": "1eea4243.444b2e",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1890,
        "y": 3040,
        "wires": []
    },
    {
        "id": "e942e8c0.7ab648",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1880,
        "y": 3120,
        "wires": []
    },
    {
        "id": "58fa315f.4cc63",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3120,
        "wires": [
            [
                "e6e84c25.dbd9d"
            ]
        ]
    },
    {
        "id": "cff00efc.c12f4",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1880,
        "y": 4120,
        "wires": []
    },
    {
        "id": "21badf6e.3f9c1",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1890,
        "y": 4080,
        "wires": []
    },
    {
        "id": "b79336b3.fb8cd8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1880,
        "y": 4160,
        "wires": []
    },
    {
        "id": "c96ec6be.c559e8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 4160,
        "wires": [
            [
                "a10ca825.f25b38"
            ]
        ]
    },
    {
        "id": "aee133a0.8b189",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 440,
        "wires": []
    },
    {
        "id": "25124486.15f29c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 1400,
        "wires": []
    },
    {
        "id": "599871a5.7cee7",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 2300,
        "wires": []
    },
    {
        "id": "d2bd8e4.367b47",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 3280,
        "wires": []
    },
    {
        "id": "87a1afa6.9cb7c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1890,
        "y": 4320,
        "wires": []
    },
    {
        "id": "e2ea9945.a3e218",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1734.9463806152344,
        "y": 1238.9137840270996,
        "wires": [
            [
                "86e00476.92aab8",
                "68ca6157.469d3"
            ]
        ]
    },
    {
        "id": "a1245908.ec2058",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1730,
        "y": 240,
        "wires": [
            [
                "a2101f05.7708c",
                "e78ca40d.26b2b8"
            ]
        ]
    },
    {
        "id": "552d0e2e.72b24",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1710,
        "y": 2140,
        "wires": [
            [
                "b6a2195d.5c6758",
                "6e701daf.cacf04"
            ]
        ]
    },
    {
        "id": "e6e84c25.dbd9d",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1730,
        "y": 3120,
        "wires": [
            [
                "979912a3.bfda4",
                "e942e8c0.7ab648"
            ]
        ]
    },
    {
        "id": "a10ca825.f25b38",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1730,
        "y": 4160,
        "wires": [
            [
                "cff00efc.c12f4",
                "b79336b3.fb8cd8"
            ]
        ]
    },
    {
        "id": "155336a6.5a8fb9",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 4800,
        "wires": [
            [
                "7176cfc5.b9fed",
                "3a2351b3.c3246e"
            ]
        ]
    },
    {
        "id": "86b00a66.58ed88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 4760,
        "wires": [
            [
                "7176cfc5.b9fed",
                "3a2351b3.c3246e"
            ]
        ]
    },
    {
        "id": "7176cfc5.b9fed",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 2070,
        "y": 4800,
        "wires": [
            []
        ]
    },
    {
        "id": "d7ad8440.fec6a8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 2070,
        "y": 3760,
        "wires": [
            []
        ]
    },
    {
        "id": "5a0c5ffa.5481e",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 3760,
        "wires": [
            [
                "d7ad8440.fec6a8",
                "c3708524.b2b328"
            ]
        ]
    },
    {
        "id": "b681f476.8a5018",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 3720,
        "wires": [
            [
                "d7ad8440.fec6a8",
                "c3708524.b2b328"
            ]
        ]
    },
    {
        "id": "db03746f.424f98",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 2070,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b12350.a17a5",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 2780,
        "wires": [
            [
                "db03746f.424f98",
                "d82fddea.50de4"
            ]
        ]
    },
    {
        "id": "fde415c6.aeb708",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 2740,
        "wires": [
            [
                "db03746f.424f98",
                "d82fddea.50de4"
            ]
        ]
    },
    {
        "id": "83063701.306848",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 1840,
        "wires": [
            [
                "cefe9e5e.08ca8",
                "b549352a.dd4998"
            ]
        ]
    },
    {
        "id": "63133ddf.77fb94",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 1880,
        "wires": [
            [
                "cefe9e5e.08ca8",
                "b549352a.dd4998"
            ]
        ]
    },
    {
        "id": "cefe9e5e.08ca8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2070,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "df86d4e4.f6bc68",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\n\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 840,
        "wires": [
            [
                "4d26182b.adbdb8",
                "b9ae892d.0e8758"
            ]
        ]
    },
    {
        "id": "87dd912d.c3c8a",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 880,
        "wires": [
            [
                "4d26182b.adbdb8",
                "b9ae892d.0e8758"
            ]
        ]
    },
    {
        "id": "4d26182b.adbdb8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 2070,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "255ad7e0.1d1c88",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "8a0d1bc5.59b2e8"
            ]
        ]
    },
    {
        "id": "8a0d1bc5.59b2e8",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "5f9747e2.222198"
            ]
        ]
    },
    {
        "id": "5f9747e2.222198",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "ahora=new Date();\nmsg.payload.date = ahora;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 540,
        "wires": [
            [
                "b5a3c090.f094e",
                "a9e3f561.179778"
            ]
        ]
    },
    {
        "id": "1d59dd92.6a7cf2",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 220,
        "y": 1500,
        "wires": [
            [
                "9cd8f3bc.8fb86"
            ]
        ]
    },
    {
        "id": "9cd8f3bc.8fb86",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1500,
        "wires": [
            [
                "7b0861f5.97161"
            ]
        ]
    },
    {
        "id": "7b0861f5.97161",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1500,
        "wires": [
            [
                "964ef038.10a82"
            ]
        ]
    },
    {
        "id": "1f4245f2.06064a",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 220,
        "y": 2360,
        "wires": [
            [
                "4d7c3c53.1ed8a4"
            ]
        ]
    },
    {
        "id": "4d7c3c53.1ed8a4",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 2360,
        "wires": [
            [
                "3a5bf2d1.90e8fe"
            ]
        ]
    },
    {
        "id": "3a5bf2d1.90e8fe",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 2360,
        "wires": [
            [
                "f52585ad.9c2428"
            ]
        ]
    },
    {
        "id": "291844bd.564afc",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 220,
        "y": 3440,
        "wires": [
            [
                "b0889547.e5cc68"
            ]
        ]
    },
    {
        "id": "b0889547.e5cc68",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 3440,
        "wires": [
            [
                "231f5375.fc7d7c"
            ]
        ]
    },
    {
        "id": "231f5375.fc7d7c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 3440,
        "wires": [
            [
                "c0076f47.184f3"
            ]
        ]
    },
    {
        "id": "182efd18.5ab6c3",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 220,
        "y": 4500,
        "wires": [
            [
                "c5ceaffe.38695"
            ]
        ]
    },
    {
        "id": "c5ceaffe.38695",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 4500,
        "wires": [
            [
                "383e0dcc.8425b2"
            ]
        ]
    },
    {
        "id": "383e0dcc.8425b2",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 4500,
        "wires": [
            [
                "648000a3.e161d"
            ]
        ]
    },
    {
        "id": "b5a3c090.f094e",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1640,
        "y": 420,
        "wires": []
    },
    {
        "id": "964ef038.10a82",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1640,
        "y": 1420,
        "wires": []
    },
    {
        "id": "f52585ad.9c2428",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1640,
        "y": 2320,
        "wires": []
    },
    {
        "id": "c0076f47.184f3",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1640,
        "y": 3300,
        "wires": []
    },
    {
        "id": "648000a3.e161d",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1640,
        "y": 4340,
        "wires": []
    },
    {
        "id": "4bf709df.9471b8",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "79d66069.5fac1"
            ]
        ]
    },
    {
        "id": "64d8e53.6ed371c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "//Genera la busqueda de la ultima FOTA\nmsg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":1};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "4bf709df.9471b8"
            ]
        ]
    },
    {
        "id": "79d66069.5fac1",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "74a1f616.ffadf8"
            ]
        ]
    },
    {
        "id": "74a1f616.ffadf8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "6a68fece.d4732",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "//Genera la busqueda de la ultima FOTA\nmsg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":2};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1240,
        "wires": [
            [
                "1ff7f803.5e0748"
            ]
        ]
    },
    {
        "id": "1ff7f803.5e0748",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 860,
        "y": 1240,
        "wires": [
            [
                "aa9d93be.5ac1e"
            ]
        ]
    },
    {
        "id": "aa9d93be.5ac1e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1240,
        "wires": [
            [
                "6886dbbc.714e54"
            ]
        ]
    },
    {
        "id": "6886dbbc.714e54",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1300,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2cb973de.17fc1c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "//Genera la busqueda de la ultima FOTA\nmsg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":3};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 2140,
        "wires": [
            [
                "258988c4.467bd8"
            ]
        ]
    },
    {
        "id": "258988c4.467bd8",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 840,
        "y": 2140,
        "wires": [
            [
                "9b25b524.8f6f98"
            ]
        ]
    },
    {
        "id": "9b25b524.8f6f98",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2140,
        "wires": [
            [
                "5de5b9c7.35d0e8"
            ]
        ]
    },
    {
        "id": "5de5b9c7.35d0e8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1280,
        "y": 2140,
        "wires": []
    },
    {
        "id": "d3bb2c2b.22cc4",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "//Genera la busqueda de la ultima FOTA\nmsg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":4};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 3120,
        "wires": [
            [
                "bc46d264.73ba5"
            ]
        ]
    },
    {
        "id": "bc46d264.73ba5",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 900,
        "y": 3120,
        "wires": [
            [
                "f6317733.a34bd8"
            ]
        ]
    },
    {
        "id": "f6317733.a34bd8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 3120,
        "wires": [
            [
                "32a184f2.7967bc"
            ]
        ]
    },
    {
        "id": "32a184f2.7967bc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1340,
        "y": 3120,
        "wires": []
    },
    {
        "id": "942bbaa1.e22a88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "//Genera la busqueda de la ultima FOTA\nmsg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":5};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 4160,
        "wires": [
            [
                "4bde79db.5c4b58"
            ]
        ]
    },
    {
        "id": "4bde79db.5c4b58",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 860,
        "y": 4160,
        "wires": [
            [
                "92a3389b.1a84d8"
            ]
        ]
    },
    {
        "id": "92a3389b.1a84d8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 4160,
        "wires": [
            [
                "8b207ca5.2f827"
            ]
        ]
    },
    {
        "id": "8b207ca5.2f827",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1300,
        "y": 4160,
        "wires": []
    },
    {
        "id": "a9e3f561.179778",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 760,
        "wires": []
    },
    {
        "id": "84936d0c.ce4ca",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 2210,
        "y": 840,
        "wires": []
    },
    {
        "id": "b9ae892d.0e8758",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Formateo Alerta",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 840,
        "wires": [
            [
                "84936d0c.ce4ca"
            ]
        ]
    },
    {
        "id": "99aee549.8c90c8",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 2210,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b549352a.dd4998",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Formateo Alerta",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 1840,
        "wires": [
            [
                "99aee549.8c90c8"
            ]
        ]
    },
    {
        "id": "98727969.930c28",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 2210,
        "y": 2740,
        "wires": []
    },
    {
        "id": "d82fddea.50de4",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Formateo Alerta",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 2740,
        "wires": [
            [
                "98727969.930c28"
            ]
        ]
    },
    {
        "id": "89646192.ea65b",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "bru",
        "topic": "",
        "name": "Alerta",
        "x": 2210,
        "y": 3720,
        "wires": []
    },
    {
        "id": "c3708524.b2b328",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Formateo Alerta",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 3720,
        "wires": [
            [
                "89646192.ea65b"
            ]
        ]
    },
    {
        "id": "202d06d5.5361aa",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 2210,
        "y": 4760,
        "wires": []
    },
    {
        "id": "3a2351b3.c3246e",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Formateo Alerta",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 4760,
        "wires": [
            [
                "202d06d5.5361aa"
            ]
        ]
    },
    {
        "id": "c980c74c.ecb778",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "156f90eb.bf3cbf",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a924b4eb.edf5b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a8c1b429.6cda88",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "2cb81e91.079782",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8479b30b.b4ec7",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "2cb81e91.079782",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cf854dc6.ab33e",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "2cb81e91.079782",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca38dd03.bdd32",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "2cb81e91.079782",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "baeed97e.eba7c8",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "2cb81e91.079782",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4035e462.877acc",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "53033754.5deb28",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "37a13c49.f82ca4",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "2cb81e91.079782",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]