PROYECTO_G1/Node-Red/Global1_Control_PIERO.txt
[
    {
        "id": "60a85581.26c3cc",
        "type": "tab",
        "label": "Control_PIERO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee4bdead.c47ca",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 1038.9999885559082,
        "y": 663.000002861023,
        "wires": []
    },
    {
        "id": "839d7e5.456f48",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 661,
        "y": 373.0000009536743,
        "wires": []
    },
    {
        "id": "923cece9.0af04",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 288.9999885559082,
        "y": 663.000002861023,
        "wires": [
            [
                "b897d7fc.cd8978"
            ]
        ]
    },
    {
        "id": "19c86308.8061ed",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 408.9921760559082,
        "y": 604.0000247955322,
        "wires": [
            [
                "b897d7fc.cd8978"
            ]
        ]
    },
    {
        "id": "b904101.bd85df",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 522.0077934265137,
        "y": 659.0000400543213,
        "wires": [
            [
                "b897d7fc.cd8978"
            ]
        ]
    },
    {
        "id": "bd81375f.f4b7a8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 408.9999771118164,
        "y": 692.0078229904175,
        "wires": [
            [
                "b897d7fc.cd8978"
            ]
        ]
    },
    {
        "id": "dcf3c2d5.e8eb9",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 20,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 410.99999237060547,
        "y": 755.0078077316284,
        "wires": [
            [
                "b897d7fc.cd8978"
            ]
        ]
    },
    {
        "id": "a6a48f90.05f08",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP1----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "32ff9292.1ec5fe",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 358.7500305175781,
        "y": 401.02343368530273,
        "wires": [
            [
                "91ab8c68.cdcef"
            ]
        ]
    },
    {
        "id": "fec9c2d5.26621",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 22,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 356.5078430175781,
        "y": 443.52342891693115,
        "wires": [
            [
                "91ab8c68.cdcef"
            ]
        ]
    },
    {
        "id": "5b4da12f.9be0f",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "b5e1f839.929b78",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 358.5078430175781,
        "y": 489.5234441757202,
        "wires": [
            [
                "91ab8c68.cdcef"
            ]
        ]
    },
    {
        "id": "91ab8c68.cdcef",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "func": "//Se obtiene el modo actual\nvar m=global.get('Modo1')\n// Si está en modo reposo, puede cambiar a los otros 2 modos\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo1',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo1',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\n// Si no está en modo reposo, puede pasar a éste\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo1',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 551,
        "y": 453.0000009536743,
        "wires": [
            [
                "839d7e5.456f48",
                "b4261b25.e758c8"
            ]
        ]
    },
    {
        "id": "3cf117ec.f1ced8",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1091,
        "y": 393.0000009536743,
        "wires": []
    },
    {
        "id": "d8a884ec.0beb08",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 24,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1091,
        "y": 513.0000009536743,
        "wires": []
    },
    {
        "id": "9e7c60f4.ac877",
        "type": "mqtt in",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Sensores",
        "qos": "2",
        "broker": "8b0d5d94.50c09",
        "x": 257.2499694824219,
        "y": 149.99999809265137,
        "wires": [
            [
                "e55898bf.54ec78"
            ]
        ]
    },
    {
        "id": "b897d7fc.cd8978",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Movimiento",
        "func": "// Si está en modo Manual, envía la orden de movimiento\nvar m=global.get(\"Modo1\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 728.9999885559082,
        "y": 663.000002861023,
        "wires": [
            [
                "ee4bdead.c47ca"
            ]
        ]
    },
    {
        "id": "b4261b25.e758c8",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 711,
        "y": 453.0000009536743,
        "wires": [
            [
                "e8d56ae1.ba89b8",
                "1ba9f5e4.ab328a"
            ],
            [
                "9a9b0d2c.baf3f",
                "1ba9f5e4.ab328a"
            ],
            [
                "e8d56ae1.ba89b8",
                "29f8459.426acba"
            ]
        ]
    },
    {
        "id": "9a9b0d2c.baf3f",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 931,
        "y": 373.0000009536743,
        "wires": [
            [
                "3cf117ec.f1ced8"
            ]
        ]
    },
    {
        "id": "29f8459.426acba",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 931,
        "y": 493.0000009536743,
        "wires": [
            [
                "d8a884ec.0beb08"
            ]
        ]
    },
    {
        "id": "e8d56ae1.ba89b8",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 921,
        "y": 413.0000009536743,
        "wires": [
            [
                "3cf117ec.f1ced8"
            ]
        ]
    },
    {
        "id": "1ba9f5e4.ab328a",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 931,
        "y": 533.0000009536743,
        "wires": [
            [
                "d8a884ec.0beb08"
            ]
        ]
    },
    {
        "id": "46bdf76c.3b65a8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "sens",
        "func": "// Guarda los valores de los sensores y los divide en 2 mensajes\nvar s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\n\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 648.0000076293945,
        "y": 149.99999809265137,
        "wires": [
            [
                "97f0e996.319a18",
                "cea3d54c.1a2e48"
            ],
            [
                "fca7605b.d784e",
                "80330fad.52fac"
            ]
        ]
    },
    {
        "id": "97f0e996.319a18",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 868.0000076293945,
        "y": 69.99999809265137,
        "wires": []
    },
    {
        "id": "fca7605b.d784e",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 867.2499694824219,
        "y": 229.99999809265137,
        "wires": []
    },
    {
        "id": "cea3d54c.1a2e48",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 908.0000076293945,
        "y": 109.99999809265137,
        "wires": [
            [
                "b07ff756.a21c98"
            ],
            [
                "e6254507.799d98"
            ]
        ]
    },
    {
        "id": "d5f561d0.0da67",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1247.2499694824219,
        "y": 129.99999809265137,
        "wires": []
    },
    {
        "id": "b07ff756.a21c98",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1048.0000076293945,
        "y": 89.99999809265137,
        "wires": [
            [
                "d5f561d0.0da67"
            ]
        ]
    },
    {
        "id": "e6254507.799d98",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1058.0000076293945,
        "y": 129.99999809265137,
        "wires": [
            [
                "d5f561d0.0da67"
            ]
        ]
    },
    {
        "id": "80330fad.52fac",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 897.2499694824219,
        "y": 189.99999809265137,
        "wires": [
            [
                "5bacb432.61cf3c"
            ],
            [
                "c736e786.bb14f8"
            ]
        ]
    },
    {
        "id": "8444cfc5.2127b",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1228.0000076293945,
        "y": 229.99999809265137,
        "wires": []
    },
    {
        "id": "c736e786.bb14f8",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1058.0000076293945,
        "y": 229.99999809265137,
        "wires": [
            [
                "8444cfc5.2127b"
            ]
        ]
    },
    {
        "id": "5bacb432.61cf3c",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1048.0000076293945,
        "y": 189.99999809265137,
        "wires": [
            [
                "8444cfc5.2127b"
            ]
        ]
    },
    {
        "id": "b51a6853.4bd108",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 126,
        "y": 377.7422094345093,
        "wires": []
    },
    {
        "id": "56456b72.913b54",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 131.265625,
        "y": 441.7499990463257,
        "wires": []
    },
    {
        "id": "ec808c1f.d37c7",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "b5e1f839.929b78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 130.265625,
        "y": 515.75,
        "wires": []
    },
    {
        "id": "e55898bf.54ec78",
        "type": "json",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 528.0000076293945,
        "y": 149.99999809265137,
        "wires": [
            [
                "46bdf76c.3b65a8"
            ]
        ]
    },
    {
        "id": "445021c.35dfce",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 1000,
        "y": 1420,
        "wires": []
    },
    {
        "id": "dae5b078.15cf",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 700,
        "y": 1120,
        "wires": []
    },
    {
        "id": "604e1b2.42748e4",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 310,
        "y": 1420,
        "wires": [
            [
                "e150abcd.419228"
            ]
        ]
    },
    {
        "id": "9b43a88f.a9eac8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 436.9921817779541,
        "y": 1360.9999694824219,
        "wires": [
            [
                "e150abcd.419228"
            ]
        ]
    },
    {
        "id": "620b77ff.36d508",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 543.0078048706055,
        "y": 1416.0000371932983,
        "wires": [
            [
                "e150abcd.419228"
            ]
        ]
    },
    {
        "id": "7f6a190c.c60b68",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 429.9999885559082,
        "y": 1449.0078201293945,
        "wires": [
            [
                "e150abcd.419228"
            ]
        ]
    },
    {
        "id": "57dfbe96.25ddd",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 18,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 432.00000381469727,
        "y": 1512.0078048706055,
        "wires": [
            [
                "e150abcd.419228"
            ]
        ]
    },
    {
        "id": "4448a136.7b9a5",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP2----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "6a79663a.9bccb8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 12,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 397.7500305175781,
        "y": 1173.9843835830688,
        "wires": [
            [
                "c55507a.01fd3f8"
            ]
        ]
    },
    {
        "id": "c59e2dd7.9a5d8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 20,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 395.5078430175781,
        "y": 1216.4843788146973,
        "wires": [
            [
                "c55507a.01fd3f8"
            ]
        ]
    },
    {
        "id": "f54c4cb5.6154e",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "d3e5e1da.3ed07",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 397.5078430175781,
        "y": 1262.4843940734863,
        "wires": [
            [
                "c55507a.01fd3f8"
            ]
        ]
    },
    {
        "id": "c55507a.01fd3f8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "func": "//Se obtiene el modo actual\nvar m=global.get('Modo2')\n// Si está en modo reposo, puede cambiar a los otros 2 modos\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo2',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo2',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\n// Si no está en modo reposo, puede pasar a éste\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo2',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 613.7578353881836,
        "y": 1217.8281335830688,
        "wires": [
            [
                "dae5b078.15cf",
                "3134dad8.7d10b6"
            ]
        ]
    },
    {
        "id": "4a00a366.e9859c",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1150,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bc72a7f4.927cf8",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 21,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1150,
        "y": 1280,
        "wires": []
    },
    {
        "id": "bbb37e9b.c64eb",
        "type": "mqtt in",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Sensores",
        "qos": "2",
        "broker": "8b0d5d94.50c09",
        "x": 250,
        "y": 940,
        "wires": [
            [
                "89f2d8f6.1c09e8"
            ]
        ]
    },
    {
        "id": "e150abcd.419228",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Movimiento",
        "func": "// Si está en modo Manual, envía la orden de movimiento\nvar m=global.get(\"Modo2\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "445021c.35dfce"
            ]
        ]
    },
    {
        "id": "3134dad8.7d10b6",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 790,
        "y": 1220,
        "wires": [
            [
                "fb201996.fc9ac8",
                "2a94a28a.fcfd1e"
            ],
            [
                "a4fc98e9.8c06f8",
                "2a94a28a.fcfd1e"
            ],
            [
                "fb201996.fc9ac8",
                "94a74403.49f298"
            ]
        ]
    },
    {
        "id": "a4fc98e9.8c06f8",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "4a00a366.e9859c"
            ]
        ]
    },
    {
        "id": "94a74403.49f298",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1260,
        "wires": [
            [
                "bc72a7f4.927cf8"
            ]
        ]
    },
    {
        "id": "fb201996.fc9ac8",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "4a00a366.e9859c"
            ]
        ]
    },
    {
        "id": "2a94a28a.fcfd1e",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1300,
        "wires": [
            [
                "bc72a7f4.927cf8"
            ]
        ]
    },
    {
        "id": "57d4610d.69912",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "8843c7ea.7e31e8",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1060,
        "y": 960,
        "wires": []
    },
    {
        "id": "cc19ba27.50cc98",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1020,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9172d5aa.bfa218",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 165,
        "y": 1150.7031593322754,
        "wires": []
    },
    {
        "id": "b70965d5.0d4028",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 170.265625,
        "y": 1214.7109489440918,
        "wires": []
    },
    {
        "id": "44293ac5.610a14",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 169.265625,
        "y": 1288.710949897766,
        "wires": []
    },
    {
        "id": "89f2d8f6.1c09e8",
        "type": "json",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 940,
        "wires": [
            [
                "4194684.244dc98",
                "169b5b90.728eb4"
            ]
        ]
    },
    {
        "id": "d610782.67a5e88",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP6/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 1020,
        "y": 2220,
        "wires": []
    },
    {
        "id": "26e80f45.d03ce",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP6/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 720,
        "y": 1920,
        "wires": []
    },
    {
        "id": "cff48fc9.2b30f",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 230,
        "y": 2220,
        "wires": [
            [
                "edf9b6d6.f1d8d8"
            ]
        ]
    },
    {
        "id": "614fe911.44ea58",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 11,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 356.9921817779541,
        "y": 2160.999969482422,
        "wires": [
            [
                "edf9b6d6.f1d8d8"
            ]
        ]
    },
    {
        "id": "b30f643b.b59bd8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 463.00780487060547,
        "y": 2216.0000371932983,
        "wires": [
            [
                "edf9b6d6.f1d8d8"
            ]
        ]
    },
    {
        "id": "2e4b49f8.e91066",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 349.9999885559082,
        "y": 2249.0078201293945,
        "wires": [
            [
                "edf9b6d6.f1d8d8"
            ]
        ]
    },
    {
        "id": "d0f2e89b.9c24f8",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 15,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 352.00000381469727,
        "y": 2312.0078048706055,
        "wires": [
            [
                "edf9b6d6.f1d8d8"
            ]
        ]
    },
    {
        "id": "108967dd.50ea38",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP3----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390.75003814697266,
        "y": 1632.2109508514404,
        "wires": []
    },
    {
        "id": "caddee15.8124e",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 377.7500305175781,
        "y": 1960.2343835830688,
        "wires": [
            [
                "e6110c32.4c5f6"
            ]
        ]
    },
    {
        "id": "30d6d5d5.d38b2a",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 17,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 375.5078430175781,
        "y": 2002.7343788146973,
        "wires": [
            [
                "e6110c32.4c5f6"
            ]
        ]
    },
    {
        "id": "cfde9e6b.dbd2a",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "6f09c612.accfb8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 377.5078430175781,
        "y": 2048.7343940734863,
        "wires": [
            [
                "e6110c32.4c5f6"
            ]
        ]
    },
    {
        "id": "e6110c32.4c5f6",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "func": "//Se obtiene el modo actual\nvar m=global.get('Modo3')\n// Si está en modo reposo, puede cambiar a los otros 2 modos\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo3',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo3',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\n// Si no está en modo reposo, puede pasar a éste\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo3',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 593.7578353881836,
        "y": 2004.0781335830688,
        "wires": [
            [
                "26e80f45.d03ce",
                "25709ead.da7142"
            ]
        ]
    },
    {
        "id": "1e596670.0f686a",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 10,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1090,
        "y": 1980,
        "wires": []
    },
    {
        "id": "1860fdc1.397672",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 18,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1090,
        "y": 2080,
        "wires": []
    },
    {
        "id": "9ef6e131.fffc2",
        "type": "mqtt in",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP6/PIERO/Sensores",
        "qos": "2",
        "broker": "8b0d5d94.50c09",
        "x": 330,
        "y": 1740,
        "wires": [
            [
                "bd439b0c.d695e8"
            ]
        ]
    },
    {
        "id": "edf9b6d6.f1d8d8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Movimiento",
        "func": "// Si está en modo Manual, envía la orden de movimiento\nvar m=global.get(\"Modo3\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2220,
        "wires": [
            [
                "d610782.67a5e88"
            ]
        ]
    },
    {
        "id": "25709ead.da7142",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 741.6367568969727,
        "y": 2021.7539176940918,
        "wires": [
            [
                "ee9e9e8a.92995",
                "176aa29e.5dad0d"
            ],
            [
                "1c90cba9.167e64",
                "176aa29e.5dad0d"
            ],
            [
                "ee9e9e8a.92995",
                "b74e9b1d.a65738"
            ]
        ]
    },
    {
        "id": "1c90cba9.167e64",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1960,
        "wires": [
            [
                "1e596670.0f686a"
            ]
        ]
    },
    {
        "id": "b74e9b1d.a65738",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 937.2498931884766,
        "y": 2056.999976158142,
        "wires": [
            [
                "1860fdc1.397672"
            ]
        ]
    },
    {
        "id": "ee9e9e8a.92995",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 921.6365966796875,
        "y": 1995.4022989273071,
        "wires": [
            [
                "1e596670.0f686a"
            ]
        ]
    },
    {
        "id": "176aa29e.5dad0d",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940.2341995239258,
        "y": 2095.0390272140503,
        "wires": [
            [
                "1860fdc1.397672"
            ]
        ]
    },
    {
        "id": "b7e9fe9c.8392e",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 145,
        "y": 1936.9531593322754,
        "wires": []
    },
    {
        "id": "f0a5d60.0398028",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 150.265625,
        "y": 2000.9609489440918,
        "wires": []
    },
    {
        "id": "3400371a.939118",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 149.265625,
        "y": 2074.960949897766,
        "wires": []
    },
    {
        "id": "bd439b0c.d695e8",
        "type": "json",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1740,
        "wires": [
            [
                "36e7f7f9.be5cd8"
            ]
        ]
    },
    {
        "id": "3f39d96d.b52a06",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 1060,
        "y": 3960,
        "wires": []
    },
    {
        "id": "725131e0.e4143",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "8b0d5d94.50c09",
        "x": 700,
        "y": 3680,
        "wires": []
    },
    {
        "id": "6993624a.8dc56c",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 210,
        "y": 3960,
        "wires": [
            [
                "e9b5bc8c.91a02"
            ]
        ]
    },
    {
        "id": "24ddf87f.1a6e58",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 3920,
        "wires": [
            [
                "e9b5bc8c.91a02"
            ]
        ]
    },
    {
        "id": "92e0efbf.c9c55",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 3960,
        "wires": [
            [
                "e9b5bc8c.91a02"
            ]
        ]
    },
    {
        "id": "dad7dad9.fa5468",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 4000,
        "wires": [
            [
                "e9b5bc8c.91a02"
            ]
        ]
    },
    {
        "id": "b4c1bdfa.3897a",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 18,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 4060,
        "wires": [
            [
                "e9b5bc8c.91a02"
            ]
        ]
    },
    {
        "id": "3ee31ca2.abb624",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP5----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 300,
        "y": 3420,
        "wires": []
    },
    {
        "id": "b037f674.79ec68",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 12,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 380,
        "y": 3720,
        "wires": [
            [
                "ec51f0df.a47b"
            ]
        ]
    },
    {
        "id": "19bc292f.b74d47",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 20,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 3760,
        "wires": [
            [
                "ec51f0df.a47b"
            ]
        ]
    },
    {
        "id": "9a25fe67.c2c5f",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "47cb1ff7.07018",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 380,
        "y": 3800,
        "wires": [
            [
                "ec51f0df.a47b"
            ]
        ]
    },
    {
        "id": "ec51f0df.a47b",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "func": "//Se obtiene el modo actual\nvar m=global.get('Modo5')\n// Si está en modo reposo, puede cambiar a los otros 2 modos\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo5',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo5',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\n// Si no está en modo reposo, puede pasar a éste\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo5',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 3760,
        "wires": [
            [
                "725131e0.e4143",
                "1acadf8f.8d114"
            ]
        ]
    },
    {
        "id": "5e15b651.64f218",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1090,
        "y": 3720,
        "wires": []
    },
    {
        "id": "9ba4a254.25d73",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 21,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1090,
        "y": 3800,
        "wires": []
    },
    {
        "id": "342ce3e4.06fd4c",
        "type": "mqtt in",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Sensores",
        "qos": "2",
        "broker": "8b0d5d94.50c09",
        "x": 393.2656478881836,
        "y": 3508.749991416931,
        "wires": [
            [
                "4a97d3c.8d31c2c"
            ]
        ]
    },
    {
        "id": "e9b5bc8c.91a02",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Movimiento",
        "func": "// Si está en modo Manual, envía la orden de movimiento\nvar m=global.get(\"Modo5\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 3960,
        "wires": [
            [
                "3f39d96d.b52a06"
            ]
        ]
    },
    {
        "id": "1acadf8f.8d114",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 3760,
        "wires": [
            [
                "4a3d93cc.2edebc",
                "7b1e924e.ee678c"
            ],
            [
                "5b412b51.2122a4",
                "7b1e924e.ee678c"
            ],
            [
                "4a3d93cc.2edebc",
                "1617ec91.203903"
            ]
        ]
    },
    {
        "id": "5b412b51.2122a4",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3700,
        "wires": [
            [
                "5e15b651.64f218"
            ]
        ]
    },
    {
        "id": "1617ec91.203903",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3780,
        "wires": [
            [
                "9ba4a254.25d73"
            ]
        ]
    },
    {
        "id": "4a3d93cc.2edebc",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3740,
        "wires": [
            [
                "5e15b651.64f218"
            ]
        ]
    },
    {
        "id": "7b1e924e.ee678c",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3820,
        "wires": [
            [
                "9ba4a254.25d73"
            ]
        ]
    },
    {
        "id": "4480c4ec.033afc",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "",
        "func": "// Separa los valores de los sensores en mensajes\nvar s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nvar l_i=msg.payload.Sensores[3];\nvar l_c=msg.payload.Sensores[4];\nvar l_d=msg.payload.Sensores[5];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=l_i;\nmsg3={};\nmsg3.payload=l_c;\nmsg4={};\nmsg4.payload=l_d;\nmsg5={};\nmsg5.payload=s_d;\n\n//Si se detecta un obstáculo por la izquierda o por\n// la derecha se enciende su correspondiente LED\nmsg6={};\nmsg7={};\nif(s_i < 50 || l_i <50){\n    msg6.payload = true;\n}else{\n    msg6.payload = false;\n}\n\nif(s_d < 50 || l_d <50){\n    msg7.payload = true;\n}else{\n    msg7.payload = false;\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 819.2499618530273,
        "y": 3507.7890491485596,
        "wires": [
            [
                "d027d1df.a3097"
            ],
            [
                "d73c0e1c.ed86a"
            ],
            [
                "22da21e3.7b9c4e"
            ],
            [
                "e11b4a2a.192308"
            ],
            [
                "8ee1fb0d.0dda98"
            ],
            [
                "1725c3aa.b26dac"
            ],
            [
                "9ab8fad9.715788"
            ]
        ]
    },
    {
        "id": "d027d1df.a3097",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1180,
        "y": 3340,
        "wires": []
    },
    {
        "id": "f06134c9.9c75f8",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3700,
        "wires": []
    },
    {
        "id": "4496a2ca.5c18dc",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3740,
        "wires": []
    },
    {
        "id": "ddf77ed2.236df",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3780,
        "wires": []
    },
    {
        "id": "4a97d3c.8d31c2c",
        "type": "json",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 646.1249732971191,
        "y": 3508.9416065216064,
        "wires": [
            [
                "4480c4ec.033afc",
                "f24da800.905e08"
            ]
        ]
    },
    {
        "id": "d73c0e1c.ed86a",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3380,
        "wires": []
    },
    {
        "id": "22da21e3.7b9c4e",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Central",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3420,
        "wires": []
    },
    {
        "id": "e11b4a2a.192308",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3460,
        "wires": []
    },
    {
        "id": "1725c3aa.b26dac",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led Izquierda",
        "x": 1160,
        "y": 3540,
        "wires": []
    },
    {
        "id": "9ab8fad9.715788",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo Derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led Derecha",
        "x": 1150,
        "y": 3580,
        "wires": []
    },
    {
        "id": "a19470f.fe57d9",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "cfef81ce.8aa93",
        "x": 1040,
        "y": 3040,
        "wires": []
    },
    {
        "id": "c75a8cb0.2f97c",
        "type": "mqtt out",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "cfef81ce.8aa93",
        "x": 760,
        "y": 2760,
        "wires": []
    },
    {
        "id": "5e3db127.9dfa7",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 3040,
        "wires": [
            [
                "12287a06.286a76"
            ]
        ]
    },
    {
        "id": "24f6697b.fd3a36",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 12,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 416.9921817779541,
        "y": 2980.999969482422,
        "wires": [
            [
                "12287a06.286a76"
            ]
        ]
    },
    {
        "id": "77dee01a.b22b7",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 523.0078048706055,
        "y": 3036.0000371932983,
        "wires": [
            [
                "12287a06.286a76"
            ]
        ]
    },
    {
        "id": "8db11bbd.a5c588",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 409.9999885559082,
        "y": 3069.0078201293945,
        "wires": [
            [
                "12287a06.286a76"
            ]
        ]
    },
    {
        "id": "51f83757.dd6b88",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 15,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 412.00000381469727,
        "y": 3132.0078048706055,
        "wires": [
            [
                "12287a06.286a76"
            ]
        ]
    },
    {
        "id": "c4b67832.39bf58",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP4----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 2460,
        "wires": []
    },
    {
        "id": "7632fdc7.83bd64",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 449.0000228881836,
        "y": 2790.984383583069,
        "wires": [
            [
                "e22de702.79ecb8"
            ]
        ]
    },
    {
        "id": "48a96bf5.12c544",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 17,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 446.7578353881836,
        "y": 2833.4843788146973,
        "wires": [
            [
                "e22de702.79ecb8"
            ]
        ]
    },
    {
        "id": "2baab02b.36c7d",
        "type": "ui_button",
        "z": "60a85581.26c3cc",
        "name": "",
        "group": "acc6464a.187258",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 448.7578353881836,
        "y": 2879.4843940734863,
        "wires": [
            [
                "e22de702.79ecb8"
            ]
        ]
    },
    {
        "id": "e22de702.79ecb8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "func": "//Se obtiene el modo actual\nvar m=global.get('Modo4')\n// Si está en modo reposo, puede cambiar a los otros 2 modos\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo4',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo4',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\n// Si no está en modo reposo, puede pasar a éste\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo4',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 2840,
        "wires": [
            [
                "c75a8cb0.2f97c",
                "c57f3356.908d1"
            ]
        ]
    },
    {
        "id": "3d81cfe8.d076a",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 10,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1210,
        "y": 2780,
        "wires": []
    },
    {
        "id": "6cc94367.5d3f5c",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 18,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1210,
        "y": 2900,
        "wires": []
    },
    {
        "id": "7c7c785a.ed3c58",
        "type": "mqtt in",
        "z": "60a85581.26c3cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Sensores",
        "qos": "2",
        "broker": "cfef81ce.8aa93",
        "x": 310,
        "y": 2580,
        "wires": [
            [
                "6fcd203b.f73bf"
            ]
        ]
    },
    {
        "id": "12287a06.286a76",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "Movimiento",
        "func": "// Si está en modo Manual, envía la orden de movimiento\nvar m=global.get(\"Modo4\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 3040,
        "wires": [
            [
                "a19470f.fe57d9"
            ]
        ]
    },
    {
        "id": "c57f3356.908d1",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 870,
        "y": 2840,
        "wires": [
            [
                "fe84594.c59a1a8",
                "e6893460.200028"
            ],
            [
                "1f60b991.4fd5f6",
                "e6893460.200028"
            ],
            [
                "fe84594.c59a1a8",
                "d9625e07.22113"
            ]
        ]
    },
    {
        "id": "1f60b991.4fd5f6",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 2760,
        "wires": [
            [
                "3d81cfe8.d076a"
            ]
        ]
    },
    {
        "id": "d9625e07.22113",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 2880,
        "wires": [
            [
                "6cc94367.5d3f5c"
            ]
        ]
    },
    {
        "id": "fe84594.c59a1a8",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1041.6365966796875,
        "y": 2795.402298927307,
        "wires": [
            [
                "3d81cfe8.d076a"
            ]
        ]
    },
    {
        "id": "e6893460.200028",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 2920,
        "wires": [
            [
                "6cc94367.5d3f5c"
            ]
        ]
    },
    {
        "id": "8cbf78cc.303be8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "sens",
        "func": "// Guarda los valores de los sensores y los divide en 2 mensajes\nvar s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\n\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 730,
        "y": 2580,
        "wires": [
            [
                "db270b62.47bed8",
                "859354b3.d91378"
            ],
            [
                "71b62a1.ff5a7d4",
                "1a59a5ee.7f0f9a"
            ]
        ]
    },
    {
        "id": "db270b62.47bed8",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 910,
        "y": 2500,
        "wires": []
    },
    {
        "id": "71b62a1.ff5a7d4",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 2680,
        "wires": []
    },
    {
        "id": "859354b3.d91378",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 2540,
        "wires": [
            [
                "e947b862.0f0b88"
            ],
            [
                "5d2df62.7555808"
            ]
        ]
    },
    {
        "id": "5c28a9bd.e594e8",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1220,
        "y": 2540,
        "wires": []
    },
    {
        "id": "e947b862.0f0b88",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2520,
        "wires": [
            [
                "5c28a9bd.e594e8"
            ]
        ]
    },
    {
        "id": "5d2df62.7555808",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1058.7616882324219,
        "y": 2564.613292694092,
        "wires": [
            [
                "5c28a9bd.e594e8"
            ]
        ]
    },
    {
        "id": "1a59a5ee.7f0f9a",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 2640,
        "wires": [
            [
                "76242ae2.cbfb84"
            ],
            [
                "5309143b.663fdc"
            ]
        ]
    },
    {
        "id": "540c3297.ba837c",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1230,
        "y": 2640,
        "wires": []
    },
    {
        "id": "5309143b.663fdc",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1064.7616729736328,
        "y": 2662.6132946014404,
        "wires": [
            [
                "540c3297.ba837c"
            ]
        ]
    },
    {
        "id": "76242ae2.cbfb84",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2620,
        "wires": [
            [
                "540c3297.ba837c"
            ]
        ]
    },
    {
        "id": "d5dd651.d496298",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 216.24999237060547,
        "y": 2767.7031593322754,
        "wires": []
    },
    {
        "id": "d72e8d58.d76a1",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 221.51561737060547,
        "y": 2831.710948944092,
        "wires": []
    },
    {
        "id": "a55010fe.a0fde",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "acc6464a.187258",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 220.51561737060547,
        "y": 2905.710949897766,
        "wires": []
    },
    {
        "id": "6fcd203b.f73bf",
        "type": "json",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 2580,
        "wires": [
            [
                "8cbf78cc.303be8"
            ]
        ]
    },
    {
        "id": "36e7f7f9.be5cd8",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "sens",
        "func": "// Guarda los valores de los sensores y los divide en 2 mensajes\nvar s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\n\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "904f3593.3b4e58",
                "b7127093.eabd6"
            ],
            [
                "6e8ddd90.dc0b34",
                "44ef397c.7a4888"
            ]
        ]
    },
    {
        "id": "904f3593.3b4e58",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 1640,
        "wires": []
    },
    {
        "id": "6e8ddd90.dc0b34",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b7127093.eabd6",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 1680,
        "wires": [
            [
                "5a715489.10fe8c"
            ],
            [
                "a3418aa1.293508"
            ]
        ]
    },
    {
        "id": "a9569ce1.e9636",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1220,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5a715489.10fe8c",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1660,
        "wires": [
            [
                "a9569ce1.e9636"
            ]
        ]
    },
    {
        "id": "a3418aa1.293508",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1700,
        "wires": [
            [
                "a9569ce1.e9636"
            ]
        ]
    },
    {
        "id": "44ef397c.7a4888",
        "type": "switch",
        "z": "60a85581.26c3cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 1800,
        "wires": [
            [
                "b602cb94.1a4f28"
            ],
            [
                "f38f9c76.1773d"
            ]
        ]
    },
    {
        "id": "8c6540d8.0a9c5",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "6f09c612.accfb8",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1230,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f38f9c76.1773d",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1064.7616729736328,
        "y": 1822.6132946014404,
        "wires": [
            [
                "8c6540d8.0a9c5"
            ]
        ]
    },
    {
        "id": "b602cb94.1a4f28",
        "type": "change",
        "z": "60a85581.26c3cc",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1780,
        "wires": [
            [
                "8c6540d8.0a9c5"
            ]
        ]
    },
    {
        "id": "4194684.244dc98",
        "type": "function",
        "z": "60a85581.26c3cc",
        "name": "sens",
        "func": "// Separa los valores de los sensores en mensajes\nvar s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nvar l_i=msg.payload.Sensores[3];\nvar l_c=msg.payload.Sensores[4];\nvar l_d=msg.payload.Sensores[5];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=l_i;\nmsg3={};\nmsg3.payload=l_c;\nmsg4={};\nmsg4.payload=l_d;\nmsg5={};\nmsg5.payload=s_d;\n\n//Si se detecta un obstáculo por la izquierda o por\n// la derecha se enciende su correspondiente LED\nmsg6={};\nmsg7={};\nif(s_i < 50 || l_i <50){\n    msg6.payload = true;\n}else{\n    msg6.payload = false;\n}\n\nif(s_d < 50 || l_d <50){\n    msg7.payload = true;\n}else{\n    msg7.payload = false;\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 710,
        "y": 940,
        "wires": [
            [
                "57d4610d.69912"
            ],
            [
                "eda5e0bf.8ec36"
            ],
            [
                "3332dfb5.e8e7f"
            ],
            [
                "1e34fa9e.30ab35"
            ],
            [
                "8843c7ea.7e31e8"
            ],
            [
                "cc19ba27.50cc98"
            ],
            [
                "7ced7fc9.b2392"
            ]
        ]
    },
    {
        "id": "eda5e0bf.8ec36",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1060,
        "y": 840,
        "wires": []
    },
    {
        "id": "3332dfb5.e8e7f",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Central",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "1e34fa9e.30ab35",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Central",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1060,
        "y": 920,
        "wires": []
    },
    {
        "id": "169b5b90.728eb4",
        "type": "debug",
        "z": "60a85581.26c3cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "8ee1fb0d.0dda98",
        "type": "ui_text",
        "z": "60a85581.26c3cc",
        "group": "47cb1ff7.07018",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1180,
        "y": 3500,
        "wires": []
    },
    {
        "id": "7ced7fc9.b2392",
        "type": "ui_led",
        "z": "60a85581.26c3cc",
        "group": "d3e5e1da.3ed07",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f24da800.905e08",
        "type": "debug",
        "z": "60a85581.26c3cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 3420,
        "wires": []
    },
    {
        "id": "b6854a70.953058",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Sensores",
        "info": "Recibe los datos de los sensores de distancia del PIERO.\nCuando detecta un obstáculo por la izquierda o por la derecha se indica con un led.\n\nLos recibe por el topic\ninfind/GRUPO1/ESPX/PIERO/Sensores,\ndonde X es el número de placa.",
        "x": 589.37890625,
        "y": 39.0859375,
        "wires": []
    },
    {
        "id": "5ae6a83d.01e958",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "info": "Se controla el modo del PIERO. Hay 3: Reposo, Manual y Automático.\nPara pasar de un modo a otro hay que pasar por Reposo primero.\n\nAl abrir la máquina virtual, el modo de cada robot se inicializa a 0.\n\nCada vez que se cambia de modo, se manda un mensaje a la placa por el topic\ninfind/GRUPO1/ESPX/PIERO/Modo,\ndonde X es el número de placa.",
        "x": 408.50781631469727,
        "y": 306.5234441757202,
        "wires": []
    },
    {
        "id": "5ebfa966.59ba68",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Manual",
        "info": "Se mandan comandos de velocidad al PIERO cuando está en modo Manual mediante el topic \ninfind/GRUPO1/ESPX/PIERO/Movimiento,\ndonde X es el número de placa.",
        "x": 78.7578010559082,
        "y": 650.750002861023,
        "wires": []
    },
    {
        "id": "fffdfbf7.49f328",
        "type": "inject",
        "z": "60a85581.26c3cc",
        "name": "Iniciar modo",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 354.3828125,
        "y": 350.9531259536743,
        "wires": [
            [
                "91ab8c68.cdcef"
            ]
        ]
    },
    {
        "id": "5460fbea.f192c4",
        "type": "inject",
        "z": "60a85581.26c3cc",
        "name": "Iniciar modo",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 396.765625,
        "y": 1136.75,
        "wires": [
            [
                "c55507a.01fd3f8"
            ]
        ]
    },
    {
        "id": "98593a67.f08608",
        "type": "inject",
        "z": "60a85581.26c3cc",
        "name": "Iniciar modo",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 392.765625,
        "y": 1909.75,
        "wires": [
            [
                "e6110c32.4c5f6"
            ]
        ]
    },
    {
        "id": "736c7b7f.384d14",
        "type": "inject",
        "z": "60a85581.26c3cc",
        "name": "Iniciar modo",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 449.765625,
        "y": 2744.75,
        "wires": [
            [
                "e22de702.79ecb8"
            ]
        ]
    },
    {
        "id": "4b62ef41.6454c",
        "type": "inject",
        "z": "60a85581.26c3cc",
        "name": "Iniciar modo",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 377.765625,
        "y": 3665.75,
        "wires": [
            [
                "ec51f0df.a47b"
            ]
        ]
    },
    {
        "id": "21eb5834.a9b4d8",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Sensores",
        "info": "Recibe los datos de los sensores de distancia del PIERO.\nCuando detecta un obstáculo por la izquierda o por la derecha se indica con un led.\n\nLos recibe por el topic\ninfind/GRUPO1/ESPX/PIERO/Sensores,\ndonde X es el número de placa.",
        "x": 99.765625,
        "y": 810.75,
        "wires": []
    },
    {
        "id": "ee6e6d09.e16ff",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Sensores",
        "info": "Recibe los datos de los sensores de distancia del PIERO.\nCuando detecta un obstáculo por la izquierda o por la derecha se indica con un led.\n\nLos recibe por el topic\ninfind/GRUPO1/ESPX/PIERO/Sensores,\ndonde X es el número de placa.",
        "x": 137.765625,
        "y": 1690.75,
        "wires": []
    },
    {
        "id": "8f73d082.5d90b",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Sensores",
        "info": "Recibe los datos de los sensores de distancia del PIERO.\nCuando detecta un obstáculo por la izquierda o por la derecha se indica con un led.\n\nLos recibe por el topic\ninfind/GRUPO1/ESPX/PIERO/Sensores,\ndonde X es el número de placa.",
        "x": 137.765625,
        "y": 2511.75,
        "wires": []
    },
    {
        "id": "e6ed530f.facf",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Sensores",
        "info": "Recibe los datos de los sensores de distancia del PIERO.\nCuando detecta un obstáculo por la izquierda o por la derecha se indica con un led.\n\nLos recibe por el topic\ninfind/GRUPO1/ESPX/PIERO/Sensores,\ndonde X es el número de placa.",
        "x": 104.765625,
        "y": 3474.75,
        "wires": []
    },
    {
        "id": "cc9ddf4a.3a328",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "info": "Se controla el modo del PIERO. Hay 3: Reposo, Manual y Automático.\nPara pasar de un modo a otro hay que pasar por Reposo primero.\n\nAl abrir la máquina virtual, el modo de cada robot se inicializa a 0.\n\nCada vez que se cambia de modo, se manda un mensaje a la placa por el topic\ninfind/GRUPO1/ESPX/PIERO/Modo,\ndonde X es el número de placa.",
        "x": 409.765625,
        "y": 1085.75,
        "wires": []
    },
    {
        "id": "a418c71d.2ca3d8",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "info": "Se controla el modo del PIERO. Hay 3: Reposo, Manual y Automático.\nPara pasar de un modo a otro hay que pasar por Reposo primero.\n\nAl abrir la máquina virtual, el modo de cada robot se inicializa a 0.\n\nCada vez que se cambia de modo, se manda un mensaje a la placa por el topic\ninfind/GRUPO1/ESPX/PIERO/Modo,\ndonde X es el número de placa.",
        "x": 392.765625,
        "y": 1849.75,
        "wires": []
    },
    {
        "id": "9f780df0.5acb9",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "info": "Se controla el modo del PIERO. Hay 3: Reposo, Manual y Automático.\nPara pasar de un modo a otro hay que pasar por Reposo primero.\n\nAl abrir la máquina virtual, el modo de cada robot se inicializa a 0.\n\nCada vez que se cambia de modo, se manda un mensaje a la placa por el topic\ninfind/GRUPO1/ESPX/PIERO/Modo,\ndonde X es el número de placa.",
        "x": 422.765625,
        "y": 2693.75,
        "wires": []
    },
    {
        "id": "449307f.4f84ff8",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Modo",
        "info": "Se controla el modo del PIERO. Hay 3: Reposo, Manual y Automático.\nPara pasar de un modo a otro hay que pasar por Reposo primero.\n\nAl abrir la máquina virtual, el modo de cada robot se inicializa a 0.\n\nCada vez que se cambia de modo, se manda un mensaje a la placa por el topic\ninfind/GRUPO1/ESPX/PIERO/Modo,\ndonde X es el número de placa.",
        "x": 376.765625,
        "y": 3608.75,
        "wires": []
    },
    {
        "id": "fc9552cf.4bb03",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Manual",
        "info": "Se mandan comandos de velocidad al PIERO cuando está en modo Manual mediante el topic \ninfind/GRUPO1/ESPX/PIERO/Movimiento,\ndonde X es el número de placa.",
        "x": 111.765625,
        "y": 1411.75,
        "wires": []
    },
    {
        "id": "4cc60968.e76908",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Manual",
        "info": "Se mandan comandos de velocidad al PIERO cuando está en modo Manual mediante el topic \ninfind/GRUPO1/ESPX/PIERO/Movimiento,\ndonde X es el número de placa.",
        "x": 77.765625,
        "y": 2219.75,
        "wires": []
    },
    {
        "id": "f615908c.97109",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Manual",
        "info": "Se mandan comandos de velocidad al PIERO cuando está en modo Manual mediante el topic \ninfind/GRUPO1/ESPX/PIERO/Movimiento,\ndonde X es el número de placa.",
        "x": 95.765625,
        "y": 3033.75,
        "wires": []
    },
    {
        "id": "bd10de0f.c9249",
        "type": "comment",
        "z": "60a85581.26c3cc",
        "name": "Manual",
        "info": "Se mandan comandos de velocidad al PIERO cuando está en modo Manual mediante el topic \ninfind/GRUPO1/ESPX/PIERO/Movimiento,\ndonde X es el número de placa.",
        "x": 85.765625,
        "y": 3934.75,
        "wires": []
    },
    {
        "id": "8b0d5d94.50c09",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b5e1f839.929b78",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "1454a0ef.e658ff",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d3e5e1da.3ed07",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "1454a0ef.e658ff",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6f09c612.accfb8",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "1454a0ef.e658ff",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "47cb1ff7.07018",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "1454a0ef.e658ff",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cfef81ce.8aa93",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "acc6464a.187258",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "1454a0ef.e658ff",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1454a0ef.e658ff",
        "type": "ui_tab",
        "z": "",
        "name": "ControlPIERO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]