Node-RED/Global1_RecepcionDatosESP_BASEDATOSNUEVAALERTAS.txt
[
    {
        "id": "c65edd17.0f287",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "185b7a07.6c4f36",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "c980c74c.ecb778",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "a7808902.40c808",
                "cd171622.925a58",
                "64d8e53.6ed371c"
            ]
        ]
    },
    {
        "id": "7bb849ae.539f18",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "a7808902.40c808",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "5d875893.155948"
            ]
        ]
    },
    {
        "id": "cd171622.925a58",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.8957977294922,
        "y": 402.888964176178,
        "wires": []
    },
    {
        "id": "3a4c82a2.7c056e",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "1704c058.1f3e6",
                "c7970712.9a7b98",
                "6a68fece.d4732"
            ]
        ]
    },
    {
        "id": "7c1b2717.057538",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 400,
        "y": 2340,
        "wires": [
            [
                "17b5fa20.5e4df6",
                "2cb973de.17fc1c"
            ]
        ]
    },
    {
        "id": "6ec16251.bf083c",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "a924b4eb.edf5b8",
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "9dcc79c5.42bb18",
                "d3bb2c2b.22cc4"
            ]
        ]
    },
    {
        "id": "7a7f40d1.cf9a8",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "156f90eb.bf3cbf",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "f349881b.d55458",
                "942bbaa1.e22a88"
            ]
        ]
    },
    {
        "id": "5d875893.155948",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "7bb849ae.539f18",
                "842c88fb.7f4208",
                "9014d78a.886c48",
                "3282a2f.1dd695e",
                "cb4a0691.051048",
                "a1a55398.5b825",
                "cee3c134.56f42",
                "f97e6ac6.2bd298",
                "7dea548a.94cb4c",
                "e7540ae2.b2f8c8",
                "b3a50a73.1916a8",
                "5a603bfe.93d314",
                "431bd42a.dc73ac",
                "df86d4e4.f6bc68",
                "87dd912d.c3c8a",
                "b5a3c090.f094e"
            ]
        ]
    },
    {
        "id": "2899761f.9a61ea",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "a8c1b429.6cda88",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "d1343548.830e48",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "a8c1b429.6cda88",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "842c88fb.7f4208",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "d1343548.830e48"
            ]
        ]
    },
    {
        "id": "9014d78a.886c48",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "2899761f.9a61ea"
            ]
        ]
    },
    {
        "id": "3282a2f.1dd695e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "800a4026.edddf"
            ]
        ]
    },
    {
        "id": "800a4026.edddf",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "cb4a0691.051048",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "a111f3d5.020ff"
            ]
        ]
    },
    {
        "id": "a111f3d5.020ff",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "a1a55398.5b825",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "9efa453c.fecfc8"
            ]
        ]
    },
    {
        "id": "9efa453c.fecfc8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "fb8e7f89.a75ed",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "6d971812.588928",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "a8c1b429.6cda88",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "e7540ae2.b2f8c8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "6d971812.588928"
            ]
        ]
    },
    {
        "id": "b3a50a73.1916a8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "fb8e7f89.a75ed"
            ]
        ]
    },
    {
        "id": "cee3c134.56f42",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "548f4e54.3ee7b"
            ]
        ]
    },
    {
        "id": "548f4e54.3ee7b",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "f97e6ac6.2bd298",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "c19d78d9.167798"
            ]
        ]
    },
    {
        "id": "c19d78d9.167798",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "7dea548a.94cb4c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "21b0b53c.6dddda",
                "fa141881.2b0e88"
            ]
        ]
    },
    {
        "id": "21b0b53c.6dddda",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "9b36618f.3e25d",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "fa141881.2b0e88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "97715ded.0eb73"
            ]
        ]
    },
    {
        "id": "97715ded.0eb73",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "a8c1b429.6cda88",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "9c88e3e4.3e975",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "653d16de.241cf8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "59a2e940.d51e88",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "1704c058.1f3e6",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 753.507511138916,
        "y": 1447.5233407020569,
        "wires": [
            [
                "f39de846.28f108"
            ]
        ]
    },
    {
        "id": "c7970712.9a7b98",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "f39de846.28f108",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "59a2e940.d51e88",
                "bb9ba823.b805b8",
                "3d23c304.d5e48c",
                "46111982.0c52c8",
                "5791c060.8e9d1",
                "acf8f792.9a7238",
                "382a4c92.22f714",
                "cb6491a8.d2fdc",
                "dcfa0846.567138",
                "aac3c67e.216ff8",
                "da44222e.12c46",
                "70e1f0bb.3b7e4",
                "457db734.b64ff8",
                "83063701.306848",
                "63133ddf.77fb94",
                "964ef038.10a82"
            ]
        ]
    },
    {
        "id": "ae939d35.843d1",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "8479b30b.b4ec7",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "4b1b0b4.7b251f4",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "8479b30b.b4ec7",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "bb9ba823.b805b8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "4b1b0b4.7b251f4"
            ]
        ]
    },
    {
        "id": "3d23c304.d5e48c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "ae939d35.843d1"
            ]
        ]
    },
    {
        "id": "46111982.0c52c8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "3e73f28b.43b70e"
            ]
        ]
    },
    {
        "id": "3e73f28b.43b70e",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "5791c060.8e9d1",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "324ab0b8.1f225"
            ]
        ]
    },
    {
        "id": "324ab0b8.1f225",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "acf8f792.9a7238",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "a70a8073.ca05c"
            ]
        ]
    },
    {
        "id": "a70a8073.ca05c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "f25493f3.5b6ef",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "66710666.f80dd8",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "8479b30b.b4ec7",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "aac3c67e.216ff8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "66710666.f80dd8"
            ]
        ]
    },
    {
        "id": "da44222e.12c46",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "f25493f3.5b6ef"
            ]
        ]
    },
    {
        "id": "382a4c92.22f714",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "2701e38b.b8f62c"
            ]
        ]
    },
    {
        "id": "2701e38b.b8f62c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "cb6491a8.d2fdc",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "348753b2.9027cc"
            ]
        ]
    },
    {
        "id": "348753b2.9027cc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "dcfa0846.567138",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "40c23352.3d771c",
                "99f2d826.81f248"
            ]
        ]
    },
    {
        "id": "40c23352.3d771c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "ca3d5cac.4016",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "99f2d826.81f248",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1760,
        "y": 1800,
        "wires": [
            [
                "939b3f81.158a5"
            ]
        ]
    },
    {
        "id": "939b3f81.158a5",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "8479b30b.b4ec7",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070,
        "y": 1800,
        "wires": []
    },
    {
        "id": "5328c8b3.2f2b38",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "76cba96d.79b078",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "6ec55e96.dd95e",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 2100,
        "wires": []
    },
    {
        "id": "17b5fa20.5e4df6",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "56c950dd.e22b6"
            ]
        ]
    },
    {
        "id": "56c950dd.e22b6",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "6ec55e96.dd95e",
                "724cb2.9110b35",
                "55771e2a.e37a4",
                "a271a1ef.47422",
                "7cabd49b.4fa31c",
                "549388db.580438",
                "1f0e7b15.2aacf5",
                "32c74cdf.588e34",
                "1bd09553.bd018b",
                "272f55ff.b6a7fa",
                "b205b9ec.31ce68",
                "a842d593.503b78",
                "f4ec793.0b4c288",
                "fde415c6.aeb708",
                "c5b12350.a17a5",
                "f52585ad.9c2428"
            ]
        ]
    },
    {
        "id": "18a3ab68.04d445",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "cf854dc6.ab33e",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "40190a1d.a79414",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "cf854dc6.ab33e",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "724cb2.9110b35",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "40190a1d.a79414"
            ]
        ]
    },
    {
        "id": "55771e2a.e37a4",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "18a3ab68.04d445"
            ]
        ]
    },
    {
        "id": "a271a1ef.47422",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "93bc4ac9.e160f8"
            ]
        ]
    },
    {
        "id": "93bc4ac9.e160f8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "7cabd49b.4fa31c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "456e0b55.ae5714"
            ]
        ]
    },
    {
        "id": "456e0b55.ae5714",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "549388db.580438",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "2316ca66.b36b36"
            ]
        ]
    },
    {
        "id": "2316ca66.b36b36",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "b89af79e.8682d8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "60db25f7.4dd09c",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "cf854dc6.ab33e",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "272f55ff.b6a7fa",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "60db25f7.4dd09c"
            ]
        ]
    },
    {
        "id": "b205b9ec.31ce68",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "b89af79e.8682d8"
            ]
        ]
    },
    {
        "id": "1f0e7b15.2aacf5",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "428cb3df.cbc28c"
            ]
        ]
    },
    {
        "id": "428cb3df.cbc28c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "32c74cdf.588e34",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "807be9e0.dfe1a8"
            ]
        ]
    },
    {
        "id": "807be9e0.dfe1a8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "1bd09553.bd018b",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "a99dfc64.c3fc",
                "69670bd7.5f4004"
            ]
        ]
    },
    {
        "id": "a99dfc64.c3fc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "2b9ee534.7c0b2a",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "69670bd7.5f4004",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "58e488f.e97fc78"
            ]
        ]
    },
    {
        "id": "58e488f.e97fc78",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "cf854dc6.ab33e",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "8e96e3c5.7096f",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "8ff49a0a.48f538",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "f0489fe2.6584d",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "9dcc79c5.42bb18",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "5db3ca61.108174"
            ]
        ]
    },
    {
        "id": "5db3ca61.108174",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "f0489fe2.6584d",
                "a9dbf8d1.45ab08",
                "340f3195.176b4e",
                "4b91f7ad.3f4e18",
                "4b1af3f5.18c4fc",
                "8c152682.4c2958",
                "47ad84dc.e0dc3c",
                "c8796c46.89dba",
                "14ded309.efd73d",
                "b35fe9e.3780d18",
                "228c2a71.1f1cf6",
                "58fa315f.4cc63",
                "1eea4243.444b2e",
                "b681f476.8a5018",
                "5a0c5ffa.5481e",
                "c0076f47.184f3"
            ]
        ]
    },
    {
        "id": "965d50ac.aea8f",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "ca38dd03.bdd32",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "57f10b38.e7f734",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "ca38dd03.bdd32",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "a9dbf8d1.45ab08",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "57f10b38.e7f734"
            ]
        ]
    },
    {
        "id": "340f3195.176b4e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "965d50ac.aea8f"
            ]
        ]
    },
    {
        "id": "4b91f7ad.3f4e18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "fabab30a.4ddb2"
            ]
        ]
    },
    {
        "id": "fabab30a.4ddb2",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "4b1af3f5.18c4fc",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "87e3ac6c.ff84f"
            ]
        ]
    },
    {
        "id": "87e3ac6c.ff84f",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "8c152682.4c2958",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "d0ca4db6.a8bab"
            ]
        ]
    },
    {
        "id": "d0ca4db6.a8bab",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "540d8a12.519164",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "11990d2b.ab78e3",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "ca38dd03.bdd32",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "b35fe9e.3780d18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "11990d2b.ab78e3"
            ]
        ]
    },
    {
        "id": "228c2a71.1f1cf6",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "540d8a12.519164"
            ]
        ]
    },
    {
        "id": "47ad84dc.e0dc3c",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "acfdb794.0b59b8"
            ]
        ]
    },
    {
        "id": "acfdb794.0b59b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "c8796c46.89dba",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "5825ac79.ea6604"
            ]
        ]
    },
    {
        "id": "5825ac79.ea6604",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "14ded309.efd73d",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "8ae99f8c.9aa36",
                "4b1fae7e.d1f25"
            ]
        ]
    },
    {
        "id": "8ae99f8c.9aa36",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "fef882c1.a00a7",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "4b1fae7e.d1f25",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "9e249c57.e9af7"
            ]
        ]
    },
    {
        "id": "9e249c57.e9af7",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "ca38dd03.bdd32",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "a8904cfb.ad988",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "b581cb06.b47fe8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "4b2c72ad.30cb6c",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "f349881b.d55458",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "d3c38cd7.78914"
            ]
        ]
    },
    {
        "id": "d3c38cd7.78914",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "4b2c72ad.30cb6c",
                "35741003.69424",
                "fcdbac0.04acf58",
                "f609e6c.a2f2718",
                "5cccf745.21de18",
                "716fe606.7fdbe8",
                "a6bf68f0.a73118",
                "79cb094.dc122f8",
                "9ddde0fd.1c512",
                "9f5b5e42.c40fa",
                "41c2a1ae.ada7d",
                "c96ec6be.c559e8",
                "21badf6e.3f9c1",
                "86b00a66.58ed88",
                "155336a6.5a8fb9",
                "648000a3.e161d"
            ]
        ]
    },
    {
        "id": "5108eee3.b4ebc",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "baeed97e.eba7c8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "6533bfd0.8c055",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "",
        "group": "baeed97e.eba7c8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "35741003.69424",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "6533bfd0.8c055"
            ]
        ]
    },
    {
        "id": "fcdbac0.04acf58",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "5108eee3.b4ebc"
            ]
        ]
    },
    {
        "id": "f609e6c.a2f2718",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "f19343e2.8b3b8"
            ]
        ]
    },
    {
        "id": "f19343e2.8b3b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "5cccf745.21de18",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "5273977b.f059a8"
            ]
        ]
    },
    {
        "id": "5273977b.f059a8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "716fe606.7fdbe8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "979e455.c18f8b8"
            ]
        ]
    },
    {
        "id": "979e455.c18f8b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "b604b59c.6f12c8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "86e016f.1db05e8",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Led",
        "group": "baeed97e.eba7c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "9f5b5e42.c40fa",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "86e016f.1db05e8"
            ]
        ]
    },
    {
        "id": "41c2a1ae.ada7d",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "b604b59c.6f12c8"
            ]
        ]
    },
    {
        "id": "a6bf68f0.a73118",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "e8d2281f.765378"
            ]
        ]
    },
    {
        "id": "e8d2281f.765378",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "79cb094.dc122f8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "e41c3616.c19638"
            ]
        ]
    },
    {
        "id": "e41c3616.c19638",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "9ddde0fd.1c512",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "8d7e53e9.f1f53",
                "840b16bc.f55288"
            ]
        ]
    },
    {
        "id": "8d7e53e9.f1f53",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "57498690.7d3248",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "840b16bc.f55288",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "852c24ad.588e08"
            ]
        ]
    },
    {
        "id": "852c24ad.588e08",
        "type": "ui_gauge",
        "z": "c65edd17.0f287",
        "name": "Intensidad Señal",
        "group": "baeed97e.eba7c8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "b1ef2d61.de505",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "5b0014e0.2b0e9c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "68cbe104.e08fd",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "f2fd3382.7ac21",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "76dae3da.621e0c",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "c530b882.6924e8",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "d498a4cf.10b3f8",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "f40427cb.646298",
        "type": "comment",
        "z": "c65edd17.0f287",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "a2101f05.7708c",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "431bd42a.dc73ac",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "e78ca40d.26b2b8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "5a603bfe.93d314",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "a1245908.ec2058"
            ]
        ]
    },
    {
        "id": "86e00476.92aab8",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "457db734.b64ff8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "68ca6157.469d3",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "70e1f0bb.3b7e4",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "c788709a.3cfd",
                "e2ea9945.a3e218"
            ]
        ]
    },
    {
        "id": "b6a2195d.5c6758",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "f4ec793.0b4c288",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "6e701daf.cacf04",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "a842d593.503b78",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "552d0e2e.72b24"
            ]
        ]
    },
    {
        "id": "979912a3.bfda4",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "1eea4243.444b2e",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "e942e8c0.7ab648",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "58fa315f.4cc63",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "e6e84c25.dbd9d"
            ]
        ]
    },
    {
        "id": "cff00efc.c12f4",
        "type": "ui_led",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "21badf6e.3f9c1",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "b79336b3.fb8cd8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "c96ec6be.c559e8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "a10ca825.f25b38"
            ]
        ]
    },
    {
        "id": "aee133a0.8b189",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "25124486.15f29c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "599871a5.7cee7",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "d2bd8e4.367b47",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "87a1afa6.9cb7c",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "c788709a.3cfd",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1876.6667137145996,
        "y": 1237.0001425743103,
        "wires": []
    },
    {
        "id": "e2ea9945.a3e218",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1544.2779960632324,
        "y": 1182.15305519104,
        "wires": [
            [
                "86e00476.92aab8",
                "68ca6157.469d3"
            ]
        ]
    },
    {
        "id": "a1245908.ec2058",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 220,
        "wires": [
            [
                "a2101f05.7708c",
                "e78ca40d.26b2b8"
            ]
        ]
    },
    {
        "id": "552d0e2e.72b24",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "b6a2195d.5c6758",
                "6e701daf.cacf04"
            ]
        ]
    },
    {
        "id": "e6e84c25.dbd9d",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "979912a3.bfda4",
                "e942e8c0.7ab648"
            ]
        ]
    },
    {
        "id": "a10ca825.f25b38",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "cff00efc.c12f4",
                "b79336b3.fb8cd8"
            ]
        ]
    },
    {
        "id": "155336a6.5a8fb9",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 4780,
        "wires": [
            [
                "7176cfc5.b9fed",
                "3a2351b3.c3246e"
            ]
        ]
    },
    {
        "id": "86b00a66.58ed88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "7176cfc5.b9fed",
                "3a2351b3.c3246e"
            ]
        ]
    },
    {
        "id": "7176cfc5.b9fed",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 1270,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "d7ad8440.fec6a8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 1230,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "5a0c5ffa.5481e",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 3840,
        "wires": [
            [
                "d7ad8440.fec6a8",
                "c3708524.b2b328"
            ]
        ]
    },
    {
        "id": "b681f476.8a5018",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 3740,
        "wires": [
            [
                "d7ad8440.fec6a8",
                "c3708524.b2b328"
            ]
        ]
    },
    {
        "id": "db03746f.424f98",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 1430,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b12350.a17a5",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2680,
        "wires": [
            [
                "db03746f.424f98",
                "d82fddea.50de4"
            ]
        ]
    },
    {
        "id": "fde415c6.aeb708",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2620,
        "wires": [
            [
                "db03746f.424f98",
                "d82fddea.50de4"
            ]
        ]
    },
    {
        "id": "83063701.306848",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1680,
        "wires": [
            [
                "cefe9e5e.08ca8",
                "b549352a.dd4998"
            ]
        ]
    },
    {
        "id": "63133ddf.77fb94",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "cefe9e5e.08ca8",
                "b549352a.dd4998"
            ]
        ]
    },
    {
        "id": "cefe9e5e.08ca8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1430,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "df86d4e4.f6bc68",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\n\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "4d26182b.adbdb8",
                "b9ae892d.0e8758"
            ]
        ]
    },
    {
        "id": "87dd912d.c3c8a",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "4d26182b.adbdb8",
                "b9ae892d.0e8758"
            ]
        ]
    },
    {
        "id": "4d26182b.adbdb8",
        "type": "telegram sender",
        "z": "c65edd17.0f287",
        "name": "",
        "bot": "4035e462.877acc",
        "outputs": 1,
        "x": 1650,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "255ad7e0.1d1c88",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 197.5078125,
        "y": 773.5234375,
        "wires": [
            [
                "8a0d1bc5.59b2e8"
            ]
        ]
    },
    {
        "id": "8a0d1bc5.59b2e8",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 422.01561962091364,
        "y": 692.5234527587891,
        "wires": [
            [
                "5f9747e2.222198"
            ]
        ]
    },
    {
        "id": "5f9747e2.222198",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "ahora=new Date();\nmsg.payload.date = ahora;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528.0155906677246,
        "y": 781.6345705986023,
        "wires": [
            [
                "b5a3c090.f094e",
                "a9e3f561.179778"
            ]
        ]
    },
    {
        "id": "1d59dd92.6a7cf2",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 243.5078125,
        "y": 1778.5234375,
        "wires": [
            [
                "9cd8f3bc.8fb86"
            ]
        ]
    },
    {
        "id": "9cd8f3bc.8fb86",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 468.01561962091364,
        "y": 1697.523452758789,
        "wires": [
            [
                "7b0861f5.97161"
            ]
        ]
    },
    {
        "id": "7b0861f5.97161",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 574.0155906677246,
        "y": 1786.6345705986023,
        "wires": [
            [
                "964ef038.10a82"
            ]
        ]
    },
    {
        "id": "1f4245f2.06064a",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 357.5078125,
        "y": 2219.5234375,
        "wires": [
            [
                "4d7c3c53.1ed8a4"
            ]
        ]
    },
    {
        "id": "4d7c3c53.1ed8a4",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 582.0156196209136,
        "y": 2138.523452758789,
        "wires": [
            [
                "3a5bf2d1.90e8fe"
            ]
        ]
    },
    {
        "id": "3a5bf2d1.90e8fe",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.0155906677246,
        "y": 2227.6345705986023,
        "wires": [
            [
                "f52585ad.9c2428"
            ]
        ]
    },
    {
        "id": "291844bd.564afc",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 182.5078125,
        "y": 3724.5234375,
        "wires": [
            [
                "b0889547.e5cc68"
            ]
        ]
    },
    {
        "id": "b0889547.e5cc68",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 405.01562881469727,
        "y": 3805.523525238037,
        "wires": [
            [
                "231f5375.fc7d7c"
            ]
        ]
    },
    {
        "id": "231f5375.fc7d7c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 513.0155906677246,
        "y": 3732.6345705986023,
        "wires": [
            [
                "c0076f47.184f3"
            ]
        ]
    },
    {
        "id": "182efd18.5ab6c3",
        "type": "mqtt in",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/FOTA/actualizado",
        "qos": "2",
        "broker": "53033754.5deb28",
        "x": 204.5078125,
        "y": 4821.0234375,
        "wires": [
            [
                "c5ceaffe.38695"
            ]
        ]
    },
    {
        "id": "c5ceaffe.38695",
        "type": "json",
        "z": "c65edd17.0f287",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 388.0156364440918,
        "y": 4943.023555755615,
        "wires": [
            [
                "383e0dcc.8425b2"
            ]
        ]
    },
    {
        "id": "383e0dcc.8425b2",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535.0155906677246,
        "y": 4829.134570598602,
        "wires": [
            [
                "648000a3.e161d"
            ]
        ]
    },
    {
        "id": "b5a3c090.f094e",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "964ef038.10a82",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 720,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f52585ad.9c2428",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1020,
        "y": 2180,
        "wires": []
    },
    {
        "id": "c0076f47.184f3",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 560,
        "y": 3560,
        "wires": []
    },
    {
        "id": "648000a3.e161d",
        "type": "mongodb out",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 520,
        "y": 4640,
        "wires": []
    },
    {
        "id": "4bf709df.9471b8",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 598.7422103881836,
        "y": 244.96095085144043,
        "wires": [
            [
                "79d66069.5fac1"
            ]
        ]
    },
    {
        "id": "64d8e53.6ed371c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":1};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285.5078125,
        "y": 287.5234375,
        "wires": [
            [
                "4bf709df.9471b8"
            ]
        ]
    },
    {
        "id": "79d66069.5fac1",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 754.7656326293945,
        "y": 101.74999809265137,
        "wires": [
            [
                "74a1f616.ffadf8"
            ]
        ]
    },
    {
        "id": "74a1f616.ffadf8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "a8c1b429.6cda88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1004.37890625,
        "y": 98.734375,
        "wires": []
    },
    {
        "id": "6a68fece.d4732",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":2};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 336.515625,
        "y": 1233.75,
        "wires": [
            [
                "1ff7f803.5e0748"
            ]
        ]
    },
    {
        "id": "1ff7f803.5e0748",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 649.7500228881836,
        "y": 1191.1875133514404,
        "wires": [
            [
                "aa9d93be.5ac1e"
            ]
        ]
    },
    {
        "id": "aa9d93be.5ac1e",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 805.7734451293945,
        "y": 1047.9765605926514,
        "wires": [
            [
                "6886dbbc.714e54"
            ]
        ]
    },
    {
        "id": "6886dbbc.714e54",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "8479b30b.b4ec7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1055.38671875,
        "y": 1044.9609375,
        "wires": []
    },
    {
        "id": "2cb973de.17fc1c",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":3};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 301.515625,
        "y": 2100.75,
        "wires": [
            [
                "258988c4.467bd8"
            ]
        ]
    },
    {
        "id": "258988c4.467bd8",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 614.7500228881836,
        "y": 2058.1875133514404,
        "wires": [
            [
                "9b25b524.8f6f98"
            ]
        ]
    },
    {
        "id": "9b25b524.8f6f98",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770.7734451293945,
        "y": 1914.9765605926514,
        "wires": [
            [
                "5de5b9c7.35d0e8"
            ]
        ]
    },
    {
        "id": "5de5b9c7.35d0e8",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "cf854dc6.ab33e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1020.38671875,
        "y": 1911.9609375,
        "wires": []
    },
    {
        "id": "d3bb2c2b.22cc4",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":4};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 254.515625,
        "y": 3118.75,
        "wires": [
            [
                "bc46d264.73ba5"
            ]
        ]
    },
    {
        "id": "bc46d264.73ba5",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 567.7500228881836,
        "y": 3076.1875133514404,
        "wires": [
            [
                "f6317733.a34bd8"
            ]
        ]
    },
    {
        "id": "f6317733.a34bd8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 723.7734451293945,
        "y": 2932.9765605926514,
        "wires": [
            [
                "32a184f2.7967bc"
            ]
        ]
    },
    {
        "id": "32a184f2.7967bc",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "ca38dd03.bdd32",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 973.38671875,
        "y": 2929.9609375,
        "wires": []
    },
    {
        "id": "942bbaa1.e22a88",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":5};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 221.515625,
        "y": 4334.75,
        "wires": [
            [
                "4bde79db.5c4b58"
            ]
        ]
    },
    {
        "id": "4bde79db.5c4b58",
        "type": "mongodb in",
        "z": "c65edd17.0f287",
        "mongodb": "37a13c49.f82ca4",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 534.7500228881836,
        "y": 4292.18751335144,
        "wires": [
            [
                "92a3389b.1a84d8"
            ]
        ]
    },
    {
        "id": "92a3389b.1a84d8",
        "type": "change",
        "z": "c65edd17.0f287",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690.7734451293945,
        "y": 4148.976560592651,
        "wires": [
            [
                "8b207ca5.2f827"
            ]
        ]
    },
    {
        "id": "8b207ca5.2f827",
        "type": "ui_text",
        "z": "c65edd17.0f287",
        "group": "baeed97e.eba7c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940.38671875,
        "y": 4145.9609375,
        "wires": []
    },
    {
        "id": "a9e3f561.179778",
        "type": "debug",
        "z": "c65edd17.0f287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 733.12890625,
        "y": 801.5078125,
        "wires": []
    },
    {
        "id": "ab59e913.898948",
        "type": "inject",
        "z": "c65edd17.0f287",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 159.13280868530273,
        "y": 392.95705223083496,
        "wires": [
            [
                "64d8e53.6ed371c"
            ]
        ]
    },
    {
        "id": "84936d0c.ce4ca",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 1730,
        "y": 980,
        "wires": []
    },
    {
        "id": "b9ae892d.0e8758",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 980,
        "wires": [
            [
                "84936d0c.ce4ca"
            ]
        ]
    },
    {
        "id": "99aee549.8c90c8",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 1510,
        "y": 1860,
        "wires": []
    },
    {
        "id": "b549352a.dd4998",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 1860,
        "wires": [
            [
                "99aee549.8c90c8"
            ]
        ]
    },
    {
        "id": "98727969.930c28",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 1510,
        "y": 2800,
        "wires": []
    },
    {
        "id": "d82fddea.50de4",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 2800,
        "wires": [
            [
                "98727969.930c28"
            ]
        ]
    },
    {
        "id": "89646192.ea65b",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "bru",
        "topic": "",
        "name": "Alerta",
        "x": 1310,
        "y": 3860,
        "wires": []
    },
    {
        "id": "c3708524.b2b328",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 3860,
        "wires": [
            [
                "89646192.ea65b"
            ]
        ]
    },
    {
        "id": "202d06d5.5361aa",
        "type": "ui_toast",
        "z": "c65edd17.0f287",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Alerta",
        "x": 1350,
        "y": 4900,
        "wires": []
    },
    {
        "id": "3a2351b3.c3246e",
        "type": "function",
        "z": "c65edd17.0f287",
        "name": "",
        "func": "msg.payload=msg.payload.content\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 4900,
        "wires": [
            [
                "202d06d5.5361aa"
            ]
        ]
    },
    {
        "id": "c980c74c.ecb778",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "156f90eb.bf3cbf",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a924b4eb.edf5b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a8c1b429.6cda88",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "2cb81e91.079782",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8479b30b.b4ec7",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "2cb81e91.079782",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cf854dc6.ab33e",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "2cb81e91.079782",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca38dd03.bdd32",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "2cb81e91.079782",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "baeed97e.eba7c8",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "2cb81e91.079782",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4035e462.877acc",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "53033754.5deb28",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "37a13c49.f82ca4",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "2cb81e91.079782",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]