Node-RED/Global1_RecepcionDatosESP_BASEDEDATOSNUEVA.txt
[
    {
        "id": "6c8e349.2b4c4cc",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81908ef6.c5b98",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "b25567ea.2cea98",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "5c6534c5.c6e1cc",
                "b43abcae.c3c37"
            ]
        ]
    },
    {
        "id": "bf6406e1.42c9b8",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c6534c5.c6e1cc",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "db53228c.0aa8c"
            ]
        ]
    },
    {
        "id": "b43abcae.c3c37",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.8957977294922,
        "y": 402.888964176178,
        "wires": []
    },
    {
        "id": "6fe3ad10.08bf14",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "6309ee1d.463ed",
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "ed005842.ecc988",
                "5e60a316.82707c"
            ]
        ]
    },
    {
        "id": "d4a0f21f.1e7ba",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "6309ee1d.463ed",
        "x": 400,
        "y": 2340,
        "wires": [
            [
                "ff99a477.ee7608"
            ]
        ]
    },
    {
        "id": "eb5662a0.3f69e",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "6309ee1d.463ed",
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "6e3fc9db.6a2668"
            ]
        ]
    },
    {
        "id": "75f7f294.8d03dc",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "6309ee1d.463ed",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "30b53077.527e5"
            ]
        ]
    },
    {
        "id": "db53228c.0aa8c",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "bf6406e1.42c9b8",
                "e7afcf01.e850b",
                "20092cf8.5fb3a4",
                "b63770e3.6daa2",
                "eee65db7.e7ed5",
                "ee371eef.cc4fe",
                "3f68fd.3a4ca704",
                "13e56bbc.851894",
                "1f2cedd.5e14e12",
                "28ac9c5.656e664",
                "7ca8d83b.9312a8",
                "565d5d82.feac64",
                "b0ef9ea8.7e61a",
                "96c358ed.28c6b8",
                "d5ed67de.1ec9b8",
                "d30e7d11.271b3"
            ]
        ]
    },
    {
        "id": "db5eecb2.7a07",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "889d459d.48eef8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "bc19107d.04e74",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "889d459d.48eef8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "e7afcf01.e850b",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "bc19107d.04e74"
            ]
        ]
    },
    {
        "id": "20092cf8.5fb3a4",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "db5eecb2.7a07"
            ]
        ]
    },
    {
        "id": "b63770e3.6daa2",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "833a5e2a.8557b"
            ]
        ]
    },
    {
        "id": "833a5e2a.8557b",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "eee65db7.e7ed5",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "770c4c36.29e6a4"
            ]
        ]
    },
    {
        "id": "770c4c36.29e6a4",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "ee371eef.cc4fe",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "b6a3185f.796928"
            ]
        ]
    },
    {
        "id": "b6a3185f.796928",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "831cb9b7.8e0a08",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "63a5fcac.d0e974",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Led",
        "group": "889d459d.48eef8",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "28ac9c5.656e664",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "63a5fcac.d0e974"
            ]
        ]
    },
    {
        "id": "7ca8d83b.9312a8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "831cb9b7.8e0a08"
            ]
        ]
    },
    {
        "id": "3f68fd.3a4ca704",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "ce161b65.3515b8"
            ]
        ]
    },
    {
        "id": "ce161b65.3515b8",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "13e56bbc.851894",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "7c279144.2cf73"
            ]
        ]
    },
    {
        "id": "7c279144.2cf73",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "1f2cedd.5e14e12",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "d70ee955.e00158",
                "deef5120.a17be"
            ]
        ]
    },
    {
        "id": "d70ee955.e00158",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "99a1aa9f.222b08",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "deef5120.a17be",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "7cd3aa77.be1104"
            ]
        ]
    },
    {
        "id": "7cd3aa77.be1104",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Intensidad Señal",
        "group": "889d459d.48eef8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "148b4d6e.5b4323",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "f5fc233b.53e3f",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "3990f9b2.963dc6",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "ed005842.ecc988",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 753.507511138916,
        "y": 1447.5233407020569,
        "wires": [
            [
                "d694c6cc.1233a8"
            ]
        ]
    },
    {
        "id": "5e60a316.82707c",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "d694c6cc.1233a8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "3990f9b2.963dc6",
                "15344cb6.ce93f3",
                "1d4148d5.3cc657",
                "dfced9af.97e508",
                "aff278b5.405d88",
                "1efc864b.6959ba",
                "b113bb4c.19b348",
                "32a3561c.2fad2a",
                "991252e7.b6934",
                "ee2c2271.cb67d",
                "fadaf0fc.c0b1b",
                "85ac818.6cea68",
                "f41f43e7.8fbc7",
                "66a75e5a.cab33",
                "4d48948c.8060cc",
                "ea3e3d76.fdcf7"
            ]
        ]
    },
    {
        "id": "2d9db36f.5bb4ec",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "f27942ba.415fb",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "62583c07.ae03c4",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "f27942ba.415fb",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "15344cb6.ce93f3",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "62583c07.ae03c4"
            ]
        ]
    },
    {
        "id": "1d4148d5.3cc657",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "2d9db36f.5bb4ec"
            ]
        ]
    },
    {
        "id": "dfced9af.97e508",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "2a44f3d2.6bc2bc"
            ]
        ]
    },
    {
        "id": "2a44f3d2.6bc2bc",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "aff278b5.405d88",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "944ac824.63b898"
            ]
        ]
    },
    {
        "id": "944ac824.63b898",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "1efc864b.6959ba",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "84c73c1d.5da71"
            ]
        ]
    },
    {
        "id": "84c73c1d.5da71",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "bc5bd64d.03e668",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "6aab56a5.0495c8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Led",
        "group": "f27942ba.415fb",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "ee2c2271.cb67d",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "6aab56a5.0495c8"
            ]
        ]
    },
    {
        "id": "fadaf0fc.c0b1b",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "bc5bd64d.03e668"
            ]
        ]
    },
    {
        "id": "b113bb4c.19b348",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "d9d06324.584a5"
            ]
        ]
    },
    {
        "id": "d9d06324.584a5",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "32a3561c.2fad2a",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "d816a35c.9d318"
            ]
        ]
    },
    {
        "id": "d816a35c.9d318",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "991252e7.b6934",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "6f226a5c.de5414",
                "bd4c9b0f.3f7d98"
            ]
        ]
    },
    {
        "id": "6f226a5c.de5414",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "55108946.ec8568",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "bd4c9b0f.3f7d98",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680.2853393554688,
        "y": 1856.8566317558289,
        "wires": [
            [
                "b4c608b9.8017d8"
            ]
        ]
    },
    {
        "id": "b4c608b9.8017d8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Intensidad Señal",
        "group": "f27942ba.415fb",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1950.2854843139648,
        "y": 1855.52339220047,
        "wires": []
    },
    {
        "id": "2f96ca4d.092356",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "b0ba7058.25439",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "74d4b1d8.7bb43",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 2100,
        "wires": []
    },
    {
        "id": "ff99a477.ee7608",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "2f76a949.487c36"
            ]
        ]
    },
    {
        "id": "2f76a949.487c36",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "74d4b1d8.7bb43",
                "9dd93db3.c0f06",
                "dc7eafa0.d39fb",
                "d72c312d.3fdb8",
                "816cab2a.471e18",
                "b0feb48b.2c7778",
                "bade0120.678fc",
                "751a8412.5481ac",
                "c9983df1.baa52",
                "a630f80b.0c0338",
                "8cffda8a.e0cd88",
                "40721604.a60b68",
                "484db8ae.07c678",
                "6e091a2a.43b1c4",
                "25b6ccf9.fd75b4",
                "b2f00493.8b1938"
            ]
        ]
    },
    {
        "id": "d589e070.18424",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "4662e279.c74d3c",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "91ff9b13.6d52c8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "4662e279.c74d3c",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "9dd93db3.c0f06",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "91ff9b13.6d52c8"
            ]
        ]
    },
    {
        "id": "dc7eafa0.d39fb",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "d589e070.18424"
            ]
        ]
    },
    {
        "id": "d72c312d.3fdb8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "c2a4d594.29f828"
            ]
        ]
    },
    {
        "id": "c2a4d594.29f828",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "816cab2a.471e18",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "74fcde6e.f4054"
            ]
        ]
    },
    {
        "id": "74fcde6e.f4054",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "b0feb48b.2c7778",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "dda15633.691c98"
            ]
        ]
    },
    {
        "id": "dda15633.691c98",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "cc901343.d2feb",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "6ff9a0fe.21e0a",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Led",
        "group": "4662e279.c74d3c",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "a630f80b.0c0338",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "6ff9a0fe.21e0a"
            ]
        ]
    },
    {
        "id": "8cffda8a.e0cd88",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "cc901343.d2feb"
            ]
        ]
    },
    {
        "id": "bade0120.678fc",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "c72075e2.3c4a68"
            ]
        ]
    },
    {
        "id": "c72075e2.3c4a68",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "751a8412.5481ac",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "4440bfed.afed7"
            ]
        ]
    },
    {
        "id": "4440bfed.afed7",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "c9983df1.baa52",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "8a3f3a10.45be58",
                "177f575b.89a5f9"
            ]
        ]
    },
    {
        "id": "8a3f3a10.45be58",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "3010a2e8.3ef92e",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "177f575b.89a5f9",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "8984d95e.4cf9c8"
            ]
        ]
    },
    {
        "id": "8984d95e.4cf9c8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Intensidad Señal",
        "group": "4662e279.c74d3c",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "446c21b5.eb55b",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "ba2c46ef.cf8578",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "397ffd8f.464bb2",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "6e3fc9db.6a2668",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "bae24bdb.89c618"
            ]
        ]
    },
    {
        "id": "bae24bdb.89c618",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "397ffd8f.464bb2",
                "1462b226.1e638e",
                "78d84ff2.ecc57",
                "3a3d0aad.d54566",
                "6256664a.d743d8",
                "e6e7c062.8f75b",
                "10038adf.3447a5",
                "7ec41230.9ec58c",
                "4251b2d7.34f83c",
                "ba64eb18.505098",
                "c5457bfb.723b98",
                "3436df1c.696",
                "b1e3551b.b7ef28",
                "64040fe.ed74af",
                "39216d0a.eb6d32",
                "667173af.ff0bbc"
            ]
        ]
    },
    {
        "id": "9373a19d.3cb18",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "228fa52e.06303a",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "958873c2.6ef44",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "228fa52e.06303a",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "1462b226.1e638e",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "958873c2.6ef44"
            ]
        ]
    },
    {
        "id": "78d84ff2.ecc57",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "9373a19d.3cb18"
            ]
        ]
    },
    {
        "id": "3a3d0aad.d54566",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "7d77827f.a8552c"
            ]
        ]
    },
    {
        "id": "7d77827f.a8552c",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "6256664a.d743d8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "b58ae355.a086f"
            ]
        ]
    },
    {
        "id": "b58ae355.a086f",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "e6e7c062.8f75b",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "21cb3ae6.2a9576"
            ]
        ]
    },
    {
        "id": "21cb3ae6.2a9576",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "b4dbe6e8.3a2408",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "82ba4c2f.d2fac",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Led",
        "group": "228fa52e.06303a",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "ba64eb18.505098",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "82ba4c2f.d2fac"
            ]
        ]
    },
    {
        "id": "c5457bfb.723b98",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "b4dbe6e8.3a2408"
            ]
        ]
    },
    {
        "id": "10038adf.3447a5",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "76c96f47.a9201"
            ]
        ]
    },
    {
        "id": "76c96f47.a9201",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "7ec41230.9ec58c",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "57ae10bf.ef259"
            ]
        ]
    },
    {
        "id": "57ae10bf.ef259",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "4251b2d7.34f83c",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "21d47269.35e15e",
                "27fdbccf.1be7e4"
            ]
        ]
    },
    {
        "id": "21d47269.35e15e",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "61081c05.bad2c4",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "27fdbccf.1be7e4",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "4c644acd.e15b04"
            ]
        ]
    },
    {
        "id": "4c644acd.e15b04",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Intensidad Señal",
        "group": "228fa52e.06303a",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "1d92acb7.e2dfe3",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "6efc5c7e.a62994",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "6508f02d.6769a",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "30b53077.527e5",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "43504e2e.97f8f"
            ]
        ]
    },
    {
        "id": "43504e2e.97f8f",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "6508f02d.6769a",
                "fb78ace3.fcf76",
                "ee499724.2ef158",
                "f227ffce.3b755",
                "dc5b70c9.49e84",
                "d7abc5ef.4dbfd8",
                "2d7c1d05.c578d2",
                "483f09ca.a620e8",
                "d3d48b9b.364418",
                "b9f30852.fdb9b8",
                "16f638a9.6172b7",
                "a968660a.da9988",
                "e15b1d0b.1d2e7",
                "50c27205.f93a4c",
                "695c09bf.3e85d8",
                "e8f5dc1a.12a2d"
            ]
        ]
    },
    {
        "id": "dbb4930.577377",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "15204ce4.855343",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "873f98a8.338db8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "group": "15204ce4.855343",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "fb78ace3.fcf76",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "873f98a8.338db8"
            ]
        ]
    },
    {
        "id": "ee499724.2ef158",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "dbb4930.577377"
            ]
        ]
    },
    {
        "id": "f227ffce.3b755",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "4aeff2ad.b8389c"
            ]
        ]
    },
    {
        "id": "4aeff2ad.b8389c",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "dc5b70c9.49e84",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "fc6210d5.b151a"
            ]
        ]
    },
    {
        "id": "fc6210d5.b151a",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "d7abc5ef.4dbfd8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "76cb6eba.8e913"
            ]
        ]
    },
    {
        "id": "76cb6eba.8e913",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "6b91b396.76ff1c",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "fb3925cc.ccb378",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Led",
        "group": "15204ce4.855343",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "b9f30852.fdb9b8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "fb3925cc.ccb378"
            ]
        ]
    },
    {
        "id": "16f638a9.6172b7",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "6b91b396.76ff1c"
            ]
        ]
    },
    {
        "id": "2d7c1d05.c578d2",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "81b46d74.faf5b"
            ]
        ]
    },
    {
        "id": "81b46d74.faf5b",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "483f09ca.a620e8",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "566e8140.74942"
            ]
        ]
    },
    {
        "id": "566e8140.74942",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "d3d48b9b.364418",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "3a518780.9d4cd8",
                "440daab8.2db954"
            ]
        ]
    },
    {
        "id": "3a518780.9d4cd8",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "25e4c199.9d8e9e",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "440daab8.2db954",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "75d00628.fcebb8"
            ]
        ]
    },
    {
        "id": "75d00628.fcebb8",
        "type": "ui_gauge",
        "z": "6c8e349.2b4c4cc",
        "name": "Intensidad Señal",
        "group": "15204ce4.855343",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "c04e51e3.677cc",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "8f71b276.500cd",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "42d2221c.98fa3c",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "ea97404e.7ed68",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "53f0ddf8.17e694",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "873cc07d.2ec6",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "dc143611.d46f78",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "4f516e29.a41a5",
        "type": "comment",
        "z": "6c8e349.2b4c4cc",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "aba92a72.2ccec8",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "b0ef9ea8.7e61a",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "27980c7a.95d244",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "565d5d82.feac64",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "1a93d0c4.e61c8f"
            ]
        ]
    },
    {
        "id": "5183f041.3baea",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "f41f43e7.8fbc7",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "f7ff28a4.cf94b8",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "85ac818.6cea68",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "448f6a4b.ea58e4",
                "c14a2b6.1ff29d8"
            ]
        ]
    },
    {
        "id": "16bf75d3.1f15ea",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "484db8ae.07c678",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "9ccb0af.72d8bf8",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "40721604.a60b68",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "cca215b4.7e36e8"
            ]
        ]
    },
    {
        "id": "7c25b46b.ba465c",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "b1e3551b.b7ef28",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "81b1d8c.b319428",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "3436df1c.696",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "8d350eb6.7c0cc"
            ]
        ]
    },
    {
        "id": "5012b4d9.2ebdec",
        "type": "ui_led",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "e15b1d0b.1d2e7",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "4d712df9.244834",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "a968660a.da9988",
        "type": "change",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "3b3aacf6.1ff384"
            ]
        ]
    },
    {
        "id": "ccdc5c51.bdeea",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "889d459d.48eef8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "3ec0acd.ac18e54",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "f27942ba.415fb",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "a7a456d1.812b48",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "4662e279.c74d3c",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "1a85257e.7fd1ab",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "228fa52e.06303a",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "7b9d0b8d.fcb054",
        "type": "ui_text",
        "z": "6c8e349.2b4c4cc",
        "group": "15204ce4.855343",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "448f6a4b.ea58e4",
        "type": "debug",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1876.6667137145996,
        "y": 1237.0001425743103,
        "wires": []
    },
    {
        "id": "c14a2b6.1ff29d8",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1544.2779960632324,
        "y": 1182.15305519104,
        "wires": [
            [
                "5183f041.3baea",
                "f7ff28a4.cf94b8"
            ]
        ]
    },
    {
        "id": "1a93d0c4.e61c8f",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 220,
        "wires": [
            [
                "aba92a72.2ccec8",
                "27980c7a.95d244"
            ]
        ]
    },
    {
        "id": "cca215b4.7e36e8",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "16bf75d3.1f15ea",
                "9ccb0af.72d8bf8"
            ]
        ]
    },
    {
        "id": "8d350eb6.7c0cc",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "7c25b46b.ba465c",
                "81b1d8c.b319428"
            ]
        ]
    },
    {
        "id": "3b3aacf6.1ff384",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "5012b4d9.2ebdec",
                "4d712df9.244834"
            ]
        ]
    },
    {
        "id": "695c09bf.3e85d8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 4780,
        "wires": [
            [
                "fdabbf88.6e061"
            ]
        ]
    },
    {
        "id": "50c27205.f93a4c",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "fdabbf88.6e061"
            ]
        ]
    },
    {
        "id": "fdabbf88.6e061",
        "type": "telegram sender",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1270,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "4198cbda.a108e4",
        "type": "telegram sender",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1230,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "39216d0a.eb6d32",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 3840,
        "wires": [
            [
                "4198cbda.a108e4"
            ]
        ]
    },
    {
        "id": "64040fe.ed74af",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 3740,
        "wires": [
            [
                "4198cbda.a108e4"
            ]
        ]
    },
    {
        "id": "5f6736c0.aca1c8",
        "type": "telegram sender",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1430,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "25b6ccf9.fd75b4",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2680,
        "wires": [
            [
                "5f6736c0.aca1c8"
            ]
        ]
    },
    {
        "id": "6e091a2a.43b1c4",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2620,
        "wires": [
            [
                "5f6736c0.aca1c8"
            ]
        ]
    },
    {
        "id": "66a75e5a.cab33",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1680,
        "wires": [
            [
                "add4790c.c977f8"
            ]
        ]
    },
    {
        "id": "4d48948c.8060cc",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "add4790c.c977f8"
            ]
        ]
    },
    {
        "id": "add4790c.c977f8",
        "type": "telegram sender",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1430,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "96c358ed.28c6b8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\n\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "5e1d483b.089008"
            ]
        ]
    },
    {
        "id": "d5ed67de.1ec9b8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "5e1d483b.089008"
            ]
        ]
    },
    {
        "id": "5e1d483b.089008",
        "type": "telegram sender",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1650,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "956a0c3d.9f625",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/FOTA/actualizado",
        "qos": "2",
        "broker": "b4c6af98.0ec5d",
        "x": 197.5078125,
        "y": 773.5234375,
        "wires": [
            [
                "b94b36e4.bee3b8"
            ]
        ]
    },
    {
        "id": "b94b36e4.bee3b8",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 422.01561962091364,
        "y": 692.5234527587891,
        "wires": [
            [
                "64d34292.80099c"
            ]
        ]
    },
    {
        "id": "64d34292.80099c",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528.0155906677246,
        "y": 781.6345705986023,
        "wires": [
            [
                "d30e7d11.271b3"
            ]
        ]
    },
    {
        "id": "35bce3d1.1435fc",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/FOTA/actualizado",
        "qos": "2",
        "broker": "b4c6af98.0ec5d",
        "x": 243.5078125,
        "y": 1778.5234375,
        "wires": [
            [
                "72753c46.c2f634"
            ]
        ]
    },
    {
        "id": "72753c46.c2f634",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 468.01561962091364,
        "y": 1697.523452758789,
        "wires": [
            [
                "11b6ccad.ecaab3"
            ]
        ]
    },
    {
        "id": "11b6ccad.ecaab3",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 574.0155906677246,
        "y": 1786.6345705986023,
        "wires": [
            [
                "ea3e3d76.fdcf7"
            ]
        ]
    },
    {
        "id": "7981de35.0abc9",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/FOTA/actualizado",
        "qos": "2",
        "broker": "b4c6af98.0ec5d",
        "x": 357.5078125,
        "y": 2219.5234375,
        "wires": [
            [
                "8806d5c0.dbdfd8"
            ]
        ]
    },
    {
        "id": "8806d5c0.dbdfd8",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 582.0156196209136,
        "y": 2138.523452758789,
        "wires": [
            [
                "bfc6009c.c3211"
            ]
        ]
    },
    {
        "id": "bfc6009c.c3211",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.0155906677246,
        "y": 2227.6345705986023,
        "wires": [
            [
                "b2f00493.8b1938"
            ]
        ]
    },
    {
        "id": "7351ea89.aef644",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/FOTA/actualizado",
        "qos": "2",
        "broker": "b4c6af98.0ec5d",
        "x": 182.5078125,
        "y": 3724.5234375,
        "wires": [
            [
                "dac6362c.c8ae98"
            ]
        ]
    },
    {
        "id": "dac6362c.c8ae98",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 405.01562881469727,
        "y": 3805.523525238037,
        "wires": [
            [
                "c39646d4.4006c8"
            ]
        ]
    },
    {
        "id": "c39646d4.4006c8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 513.0155906677246,
        "y": 3732.6345705986023,
        "wires": [
            [
                "667173af.ff0bbc"
            ]
        ]
    },
    {
        "id": "3a379847.9590a8",
        "type": "mqtt in",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/FOTA/actualizado",
        "qos": "2",
        "broker": "b4c6af98.0ec5d",
        "x": 204.5078125,
        "y": 4821.0234375,
        "wires": [
            [
                "9cb668ca.92de98"
            ]
        ]
    },
    {
        "id": "9cb668ca.92de98",
        "type": "json",
        "z": "6c8e349.2b4c4cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 388.0156364440918,
        "y": 4943.023555755615,
        "wires": [
            [
                "ec2efa95.7283f8"
            ]
        ]
    },
    {
        "id": "ec2efa95.7283f8",
        "type": "function",
        "z": "6c8e349.2b4c4cc",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535.0155906677246,
        "y": 4829.134570598602,
        "wires": [
            [
                "e8f5dc1a.12a2d"
            ]
        ]
    },
    {
        "id": "d30e7d11.271b3",
        "type": "mongodb out",
        "z": "6c8e349.2b4c4cc",
        "mongodb": "b1e5fae2.4dc578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "ea3e3d76.fdcf7",
        "type": "mongodb out",
        "z": "6c8e349.2b4c4cc",
        "mongodb": "b1e5fae2.4dc578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 720,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b2f00493.8b1938",
        "type": "mongodb out",
        "z": "6c8e349.2b4c4cc",
        "mongodb": "b1e5fae2.4dc578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1020,
        "y": 2180,
        "wires": []
    },
    {
        "id": "667173af.ff0bbc",
        "type": "mongodb out",
        "z": "6c8e349.2b4c4cc",
        "mongodb": "b1e5fae2.4dc578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 560,
        "y": 3560,
        "wires": []
    },
    {
        "id": "e8f5dc1a.12a2d",
        "type": "mongodb out",
        "z": "6c8e349.2b4c4cc",
        "mongodb": "b1e5fae2.4dc578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 520,
        "y": 4640,
        "wires": []
    },
    {
        "id": "b25567ea.2cea98",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6309ee1d.463ed",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "889d459d.48eef8",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "4e75f922.19d088",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f27942ba.415fb",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "4e75f922.19d088",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4662e279.c74d3c",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "4e75f922.19d088",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "228fa52e.06303a",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "4e75f922.19d088",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15204ce4.855343",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "4e75f922.19d088",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2a1be692.da76fa",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b4c6af98.0ec5d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b1e5fae2.4dc578",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "4e75f922.19d088",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]