Node-RED/Global1_ControlPIERO.txt
[
    {
        "id": "48191ee8.1eaa5",
        "type": "tab",
        "label": "Control_PIERO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ffe23608.83ac78",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 948.7500076293945,
        "y": 597.0390491485596,
        "wires": []
    },
    {
        "id": "7d3b50c3.3a891",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 1062.7578201293945,
        "y": 305.04686164855957,
        "wires": []
    },
    {
        "id": "d85486b5.42ed88",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 204.75003814697266,
        "y": 568.0156507492065,
        "wires": [
            [
                "8c6d9f08.ae8ad"
            ]
        ]
    },
    {
        "id": "e5d12a81.978bb8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 331.74221992492676,
        "y": 509.0156202316284,
        "wires": [
            [
                "8c6d9f08.ae8ad"
            ]
        ]
    },
    {
        "id": "b6ebeb17.25c7c8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 437.7578430175781,
        "y": 564.0156879425049,
        "wires": [
            [
                "8c6d9f08.ae8ad"
            ]
        ]
    },
    {
        "id": "cb08eb30.98fd38",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 324.75002670288086,
        "y": 597.0234708786011,
        "wires": [
            [
                "8c6d9f08.ae8ad"
            ]
        ]
    },
    {
        "id": "67a64035.23576",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 20,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 326.7500419616699,
        "y": 660.023455619812,
        "wires": [
            [
                "8c6d9f08.ae8ad"
            ]
        ]
    },
    {
        "id": "a6d15a15.587d58",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP1----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 370.75003814697266,
        "y": 20,
        "wires": []
    },
    {
        "id": "b165a4e0.7456f8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 9,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 357.7500305175781,
        "y": 348.0234327316284,
        "wires": [
            [
                "2f9f529a.5ac9ee",
                "aaaa4216.f98a7"
            ]
        ]
    },
    {
        "id": "186b82d.631397d",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 22,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 355.5078430175781,
        "y": 390.52342796325684,
        "wires": [
            [
                "2f9f529a.5ac9ee",
                "aaaa4216.f98a7"
            ]
        ]
    },
    {
        "id": "62dcefa5.1c794",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "ace79546.d25e98",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 357.5078430175781,
        "y": 436.5234432220459,
        "wires": [
            [
                "2f9f529a.5ac9ee",
                "aaaa4216.f98a7"
            ]
        ]
    },
    {
        "id": "2f9f529a.5ac9ee",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Modo",
        "func": "var m=global.get('Modo')||0\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\nelse \n{\n    msg.payload=m;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 573.7578353881836,
        "y": 391.8671827316284,
        "wires": [
            [
                "7d3b50c3.3a891",
                "ad20871.1108578",
                "aaaa4216.f98a7"
            ]
        ]
    },
    {
        "id": "8a248b8f.43fba8",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1099.3790817260742,
        "y": 420.3477153778076,
        "wires": []
    },
    {
        "id": "b6c28427.3b5d08",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 24,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1119.7658004760742,
        "y": 472.7500219345093,
        "wires": []
    },
    {
        "id": "beb26304.ea338",
        "type": "mqtt in",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/PIERO/Sensores",
        "qos": "2",
        "broker": "caebc08f.b7e7c",
        "x": 324.01568603515625,
        "y": 128.74999141693115,
        "wires": [
            [
                "8f04c444.617f28",
                "be1e1992.b70908"
            ]
        ]
    },
    {
        "id": "8c6d9f08.ae8ad",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Movimiento",
        "func": "var m=global.get(\"Modo\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 653.6250228881836,
        "y": 593.1328029632568,
        "wires": [
            [
                "ffe23608.83ac78",
                "645acf5c.77e98"
            ]
        ]
    },
    {
        "id": "ad20871.1108578",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 721.6367568969727,
        "y": 409.54296684265137,
        "wires": [
            [
                "cc9431b2.3f483",
                "6d6c391d.745618"
            ],
            [
                "3a194d7a.131962",
                "6d6c391d.745618"
            ],
            [
                "cc9431b2.3f483",
                "2f88983f.580218"
            ]
        ]
    },
    {
        "id": "3a194d7a.131962",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 911.6406784057617,
        "y": 374.03515911102295,
        "wires": [
            [
                "8a248b8f.43fba8"
            ]
        ]
    },
    {
        "id": "2f88983f.580218",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 907.0156936645508,
        "y": 469.74999809265137,
        "wires": [
            [
                "b6c28427.3b5d08"
            ]
        ]
    },
    {
        "id": "cc9431b2.3f483",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 911.0156784057617,
        "y": 415.75001430511475,
        "wires": [
            [
                "8a248b8f.43fba8"
            ]
        ]
    },
    {
        "id": "6d6c391d.745618",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900.3906936645508,
        "y": 517.4648351669312,
        "wires": [
            [
                "b6c28427.3b5d08"
            ]
        ]
    },
    {
        "id": "aaaa4216.f98a7",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 668.6289138793945,
        "y": 246.5234317779541,
        "wires": []
    },
    {
        "id": "4233db0c.a953b4",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "",
        "func": "var s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 725.6367416381836,
        "y": 123.13280296325684,
        "wires": [
            [
                "1599dffa.eacb9",
                "b12c35a.19b23c8"
            ],
            [
                "b2192dcb.b3eca",
                "5e377669.d52628"
            ]
        ]
    },
    {
        "id": "1599dffa.eacb9",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 995.625,
        "y": 20,
        "wires": []
    },
    {
        "id": "b2192dcb.b3eca",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 972.0156631469727,
        "y": 249.74999332427979,
        "wires": []
    },
    {
        "id": "b12c35a.19b23c8",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 953.62890625,
        "y": 98.03906059265137,
        "wires": [
            [
                "8b498335.e1462"
            ],
            [
                "e1e76ee0.a56d5"
            ]
        ]
    },
    {
        "id": "1aed0f48.b28d91",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1346.6289367675781,
        "y": 71.8515625,
        "wires": []
    },
    {
        "id": "8b498335.e1462",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1166.015625,
        "y": 54.75,
        "wires": [
            [
                "1aed0f48.b28d91"
            ]
        ]
    },
    {
        "id": "e1e76ee0.a56d5",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1165.390625,
        "y": 96.4648551940918,
        "wires": [
            [
                "1aed0f48.b28d91"
            ]
        ]
    },
    {
        "id": "5e377669.d52628",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 936.015625,
        "y": 191.75,
        "wires": [
            [
                "98340e60.9d25f"
            ],
            [
                "518087ec.e22568"
            ]
        ]
    },
    {
        "id": "f9ae708d.02c18",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1349.0156555175781,
        "y": 185.56250381469727,
        "wires": []
    },
    {
        "id": "518087ec.e22568",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143.777328491211,
        "y": 208.1757984161377,
        "wires": [
            [
                "f9ae708d.02c18"
            ]
        ]
    },
    {
        "id": "98340e60.9d25f",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143.402328491211,
        "y": 168.46094036102295,
        "wires": [
            [
                "f9ae708d.02c18"
            ]
        ]
    },
    {
        "id": "645acf5c.77e98",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 861.625,
        "y": 666.2734375,
        "wires": []
    },
    {
        "id": "a332acbf.14f4a",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 125,
        "y": 324.74220848083496,
        "wires": []
    },
    {
        "id": "c515fa05.36def8",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 130.265625,
        "y": 388.74999809265137,
        "wires": []
    },
    {
        "id": "f79b5523.80c618",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "ace79546.d25e98",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 129.265625,
        "y": 462.7499990463257,
        "wires": []
    },
    {
        "id": "8f04c444.617f28",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 706.3906478881836,
        "y": 180.50781536102295,
        "wires": []
    },
    {
        "id": "be1e1992.b70908",
        "type": "json",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 602.875,
        "y": 125.94140625,
        "wires": [
            [
                "4233db0c.a953b4",
                "8f04c444.617f28"
            ]
        ]
    },
    {
        "id": "48aa48f4.1870b8",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 988.7500076293945,
        "y": 1423,
        "wires": []
    },
    {
        "id": "43e8776b.74d208",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 1102.7578201293945,
        "y": 1131.0078125,
        "wires": []
    },
    {
        "id": "feaae0a.413d92",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 244.75003814697266,
        "y": 1393.976601600647,
        "wires": [
            [
                "11c251b1.3159ae"
            ]
        ]
    },
    {
        "id": "80cefb9a.173af8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 371.74221992492676,
        "y": 1334.9765710830688,
        "wires": [
            [
                "11c251b1.3159ae"
            ]
        ]
    },
    {
        "id": "15781535.a2960b",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 477.7578430175781,
        "y": 1389.9766387939453,
        "wires": [
            [
                "11c251b1.3159ae"
            ]
        ]
    },
    {
        "id": "6db3f9f0.9d0708",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 364.75002670288086,
        "y": 1422.9844217300415,
        "wires": [
            [
                "11c251b1.3159ae"
            ]
        ]
    },
    {
        "id": "b6a41b9d.28f228",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 20,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 366.7500419616699,
        "y": 1485.9844064712524,
        "wires": [
            [
                "11c251b1.3159ae"
            ]
        ]
    },
    {
        "id": "8219e8b2.9ab508",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP2----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410.75003814697266,
        "y": 845.9609508514404,
        "wires": []
    },
    {
        "id": "2ed2ec35.af37d4",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 9,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 397.7500305175781,
        "y": 1173.9843835830688,
        "wires": [
            [
                "d087d3af.36c2a",
                "9b1efdfa.1dbc7"
            ]
        ]
    },
    {
        "id": "e6c1746.401f388",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 22,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 395.5078430175781,
        "y": 1216.4843788146973,
        "wires": [
            [
                "d087d3af.36c2a",
                "9b1efdfa.1dbc7"
            ]
        ]
    },
    {
        "id": "9686254.a3aa8d8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "b32067aa.a4e228",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 397.5078430175781,
        "y": 1262.4843940734863,
        "wires": [
            [
                "d087d3af.36c2a",
                "9b1efdfa.1dbc7"
            ]
        ]
    },
    {
        "id": "d087d3af.36c2a",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Modo",
        "func": "var m=global.get('Modo')||0\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\nelse \n{\n    msg.payload=m;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 613.7578353881836,
        "y": 1217.8281335830688,
        "wires": [
            [
                "43e8776b.74d208",
                "dc2fb762.fe5148",
                "9b1efdfa.1dbc7"
            ]
        ]
    },
    {
        "id": "b3a004d4.ec13c8",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1139.3790817260742,
        "y": 1246.308666229248,
        "wires": []
    },
    {
        "id": "b5632bac.d437a8",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 24,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1159.7658004760742,
        "y": 1298.7109727859497,
        "wires": []
    },
    {
        "id": "7c8090f5.0af8f",
        "type": "mqtt in",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/PIERO/Sensores",
        "qos": "2",
        "broker": "caebc08f.b7e7c",
        "x": 364.01568603515625,
        "y": 954.7109422683716,
        "wires": [
            [
                "cc77940.3558e7",
                "8603c430.c33378"
            ]
        ]
    },
    {
        "id": "11c251b1.3159ae",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Movimiento",
        "func": "var m=global.get(\"Modo\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 693.6250228881836,
        "y": 1419.0937538146973,
        "wires": [
            [
                "48aa48f4.1870b8",
                "de4818fc.197de8"
            ]
        ]
    },
    {
        "id": "dc2fb762.fe5148",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 761.6367568969727,
        "y": 1235.5039176940918,
        "wires": [
            [
                "27b39a03.934466",
                "407139b8.435de8"
            ],
            [
                "9aedfcae.660b7",
                "407139b8.435de8"
            ],
            [
                "27b39a03.934466",
                "bc0309f5.c6bfe8"
            ]
        ]
    },
    {
        "id": "9aedfcae.660b7",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 951.6406784057617,
        "y": 1199.9961099624634,
        "wires": [
            [
                "b3a004d4.ec13c8"
            ]
        ]
    },
    {
        "id": "bc0309f5.c6bfe8",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 947.0156936645508,
        "y": 1295.7109489440918,
        "wires": [
            [
                "b5632bac.d437a8"
            ]
        ]
    },
    {
        "id": "27b39a03.934466",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 951.0156784057617,
        "y": 1241.7109651565552,
        "wires": [
            [
                "b3a004d4.ec13c8"
            ]
        ]
    },
    {
        "id": "407139b8.435de8",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940.3906936645508,
        "y": 1343.4257860183716,
        "wires": [
            [
                "b5632bac.d437a8"
            ]
        ]
    },
    {
        "id": "9b1efdfa.1dbc7",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 708.6289138793945,
        "y": 1072.4843826293945,
        "wires": []
    },
    {
        "id": "181e4b87.cba664",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "",
        "func": "var s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 765.6367416381836,
        "y": 949.0937538146973,
        "wires": [
            [
                "111c4f25.285561",
                "bb051de6.d9d38"
            ],
            [
                "59531aa1.48e1e4",
                "cc6dae1e.f4ba7"
            ]
        ]
    },
    {
        "id": "111c4f25.285561",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1035.625,
        "y": 845.9609508514404,
        "wires": []
    },
    {
        "id": "59531aa1.48e1e4",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1012.0156631469727,
        "y": 1075.7109441757202,
        "wires": []
    },
    {
        "id": "bb051de6.d9d38",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 993.62890625,
        "y": 924.0000114440918,
        "wires": [
            [
                "b218700e.c3f0d"
            ],
            [
                "71152b9a.e557c4"
            ]
        ]
    },
    {
        "id": "e2633d9.d264fc",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1386.6289367675781,
        "y": 897.8125133514404,
        "wires": []
    },
    {
        "id": "b218700e.c3f0d",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1206.015625,
        "y": 880.7109508514404,
        "wires": [
            [
                "e2633d9.d264fc"
            ]
        ]
    },
    {
        "id": "71152b9a.e557c4",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.390625,
        "y": 922.4258060455322,
        "wires": [
            [
                "e2633d9.d264fc"
            ]
        ]
    },
    {
        "id": "cc6dae1e.f4ba7",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 976.015625,
        "y": 1017.7109508514404,
        "wires": [
            [
                "c6db9462.ed6388"
            ],
            [
                "65683e78.737a6"
            ]
        ]
    },
    {
        "id": "92e9ce5f.8f40d",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1389.0156555175781,
        "y": 1011.5234546661377,
        "wires": []
    },
    {
        "id": "65683e78.737a6",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1183.777328491211,
        "y": 1034.1367492675781,
        "wires": [
            [
                "92e9ce5f.8f40d"
            ]
        ]
    },
    {
        "id": "c6db9462.ed6388",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1183.402328491211,
        "y": 994.4218912124634,
        "wires": [
            [
                "92e9ce5f.8f40d"
            ]
        ]
    },
    {
        "id": "de4818fc.197de8",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 901.625,
        "y": 1492.2343883514404,
        "wires": []
    },
    {
        "id": "4c1506a9.c0f788",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 165,
        "y": 1150.7031593322754,
        "wires": []
    },
    {
        "id": "1864928.b4b646e",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 170.265625,
        "y": 1214.7109489440918,
        "wires": []
    },
    {
        "id": "92e069bf.532188",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "b32067aa.a4e228",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 169.265625,
        "y": 1288.710949897766,
        "wires": []
    },
    {
        "id": "cc77940.3558e7",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 746.3906478881836,
        "y": 1006.4687662124634,
        "wires": []
    },
    {
        "id": "8603c430.c33378",
        "type": "json",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 642.875,
        "y": 951.9023571014404,
        "wires": [
            [
                "181e4b87.cba664",
                "cc77940.3558e7"
            ]
        ]
    },
    {
        "id": "b9355868.2a0af8",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 968.7500076293945,
        "y": 2209.25,
        "wires": []
    },
    {
        "id": "d9f22bcd.af5e28",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 1082.7578201293945,
        "y": 1917.2578125,
        "wires": []
    },
    {
        "id": "d7357170.0d2fb",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 224.75003814697266,
        "y": 2180.226601600647,
        "wires": [
            [
                "b3d686ec.0cca98"
            ]
        ]
    },
    {
        "id": "3c525465.edc0cc",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 351.74221992492676,
        "y": 2121.226571083069,
        "wires": [
            [
                "b3d686ec.0cca98"
            ]
        ]
    },
    {
        "id": "b8e04ca7.5557d",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 457.7578430175781,
        "y": 2176.2266387939453,
        "wires": [
            [
                "b3d686ec.0cca98"
            ]
        ]
    },
    {
        "id": "725a6bee.5e0844",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 344.75002670288086,
        "y": 2209.2344217300415,
        "wires": [
            [
                "b3d686ec.0cca98"
            ]
        ]
    },
    {
        "id": "b825e0e5.871ff",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 20,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 346.7500419616699,
        "y": 2272.2344064712524,
        "wires": [
            [
                "b3d686ec.0cca98"
            ]
        ]
    },
    {
        "id": "31d507f8.23fec8",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP3----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390.75003814697266,
        "y": 1632.2109508514404,
        "wires": []
    },
    {
        "id": "4c6f718b.f3356",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 9,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 377.7500305175781,
        "y": 1960.2343835830688,
        "wires": [
            [
                "5c452b2a.453a94",
                "2323d1ac.f92bfe"
            ]
        ]
    },
    {
        "id": "b707b195.c4ea9",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 22,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 375.5078430175781,
        "y": 2002.7343788146973,
        "wires": [
            [
                "5c452b2a.453a94",
                "2323d1ac.f92bfe"
            ]
        ]
    },
    {
        "id": "7f92410a.7666d",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "bde55b44.876768",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 377.5078430175781,
        "y": 2048.7343940734863,
        "wires": [
            [
                "5c452b2a.453a94",
                "2323d1ac.f92bfe"
            ]
        ]
    },
    {
        "id": "5c452b2a.453a94",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Modo",
        "func": "var m=global.get('Modo')||0\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\nelse \n{\n    msg.payload=m;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 593.7578353881836,
        "y": 2004.0781335830688,
        "wires": [
            [
                "d9f22bcd.af5e28",
                "d1b6d520.4b0958",
                "2323d1ac.f92bfe"
            ]
        ]
    },
    {
        "id": "5722aaea.947fb4",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1119.3790817260742,
        "y": 2032.558666229248,
        "wires": []
    },
    {
        "id": "3458a67f.49eb8a",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 24,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1139.7658004760742,
        "y": 2084.9609727859497,
        "wires": []
    },
    {
        "id": "f26e1322.35edf",
        "type": "mqtt in",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/PIERO/Sensores",
        "qos": "2",
        "broker": "caebc08f.b7e7c",
        "x": 344.01568603515625,
        "y": 1740.9609422683716,
        "wires": [
            [
                "42a1f178.5812d",
                "1fada7f8.6711d8"
            ]
        ]
    },
    {
        "id": "b3d686ec.0cca98",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Movimiento",
        "func": "var m=global.get(\"Modo\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 673.6250228881836,
        "y": 2205.3437538146973,
        "wires": [
            [
                "b9355868.2a0af8",
                "60c0d521.a1318c"
            ]
        ]
    },
    {
        "id": "d1b6d520.4b0958",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 741.6367568969727,
        "y": 2021.7539176940918,
        "wires": [
            [
                "6f1b87f3.abfac8",
                "9a360b01.8bc458"
            ],
            [
                "e3293b02.af8a58",
                "9a360b01.8bc458"
            ],
            [
                "6f1b87f3.abfac8",
                "75bf7c8e.cb5834"
            ]
        ]
    },
    {
        "id": "e3293b02.af8a58",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 931.6406784057617,
        "y": 1986.2461099624634,
        "wires": [
            [
                "5722aaea.947fb4"
            ]
        ]
    },
    {
        "id": "75bf7c8e.cb5834",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 927.0156936645508,
        "y": 2081.960948944092,
        "wires": [
            [
                "3458a67f.49eb8a"
            ]
        ]
    },
    {
        "id": "6f1b87f3.abfac8",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 931.0156784057617,
        "y": 2027.9609651565552,
        "wires": [
            [
                "5722aaea.947fb4"
            ]
        ]
    },
    {
        "id": "9a360b01.8bc458",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920.3906936645508,
        "y": 2129.6757860183716,
        "wires": [
            [
                "3458a67f.49eb8a"
            ]
        ]
    },
    {
        "id": "2323d1ac.f92bfe",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 688.6289138793945,
        "y": 1858.7343826293945,
        "wires": []
    },
    {
        "id": "3fccad0e.728992",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "",
        "func": "var s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=s_d;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 745.6367416381836,
        "y": 1735.3437538146973,
        "wires": [
            [
                "2517b48d.ff7b4c",
                "48e621d9.60e88"
            ],
            [
                "81a5207e.792c3",
                "9210ea97.fcef68"
            ]
        ]
    },
    {
        "id": "2517b48d.ff7b4c",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor izquierda",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1015.625,
        "y": 1632.2109508514404,
        "wires": []
    },
    {
        "id": "81a5207e.792c3",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Sensor derecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 992.0156631469727,
        "y": 1861.9609441757202,
        "wires": []
    },
    {
        "id": "48e621d9.60e88",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 973.62890625,
        "y": 1710.2500114440918,
        "wires": [
            [
                "b77e1509.1e8e28"
            ],
            [
                "6ea91344.d9ed6c"
            ]
        ]
    },
    {
        "id": "7bf32b65.e4a9b4",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1366.6289367675781,
        "y": 1684.0625133514404,
        "wires": []
    },
    {
        "id": "b77e1509.1e8e28",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.015625,
        "y": 1666.9609508514404,
        "wires": [
            [
                "7bf32b65.e4a9b4"
            ]
        ]
    },
    {
        "id": "6ea91344.d9ed6c",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1185.390625,
        "y": 1708.6758060455322,
        "wires": [
            [
                "7bf32b65.e4a9b4"
            ]
        ]
    },
    {
        "id": "9210ea97.fcef68",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 956.015625,
        "y": 1803.9609508514404,
        "wires": [
            [
                "98ff0b69.867378"
            ],
            [
                "68bf5f7d.578c6"
            ]
        ]
    },
    {
        "id": "44cffb71.a829b4",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1369.0156555175781,
        "y": 1797.7734546661377,
        "wires": []
    },
    {
        "id": "68bf5f7d.578c6",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1163.777328491211,
        "y": 1820.3867492675781,
        "wires": [
            [
                "44cffb71.a829b4"
            ]
        ]
    },
    {
        "id": "98ff0b69.867378",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1163.402328491211,
        "y": 1780.6718912124634,
        "wires": [
            [
                "44cffb71.a829b4"
            ]
        ]
    },
    {
        "id": "60c0d521.a1318c",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 881.625,
        "y": 2278.4843883514404,
        "wires": []
    },
    {
        "id": "48fb2b62.401724",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 145,
        "y": 1936.9531593322754,
        "wires": []
    },
    {
        "id": "5fa3acef.d0e994",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 150.265625,
        "y": 2000.9609489440918,
        "wires": []
    },
    {
        "id": "a6cf7b63.891f28",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "bde55b44.876768",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 149.265625,
        "y": 2074.960949897766,
        "wires": []
    },
    {
        "id": "42a1f178.5812d",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 726.3906478881836,
        "y": 1792.7187662124634,
        "wires": []
    },
    {
        "id": "1fada7f8.6711d8",
        "type": "json",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 622.875,
        "y": 1738.1523571014404,
        "wires": [
            [
                "3fccad0e.728992",
                "42a1f178.5812d"
            ]
        ]
    },
    {
        "id": "cbbfc92d.9ba288",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 1000,
        "y": 3160,
        "wires": []
    },
    {
        "id": "63ec6b70.98f2a4",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 880,
        "y": 2900,
        "wires": []
    },
    {
        "id": "53c795b.d9e1d6c",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 3120,
        "wires": [
            [
                "2fe3292a.5ad1f6"
            ]
        ]
    },
    {
        "id": "8117d9d0.0ed948",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 3080,
        "wires": [
            [
                "2fe3292a.5ad1f6"
            ]
        ]
    },
    {
        "id": "8973861b.2755e8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 490,
        "y": 3120,
        "wires": [
            [
                "2fe3292a.5ad1f6"
            ]
        ]
    },
    {
        "id": "367c867c.fb3eea",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 3160,
        "wires": [
            [
                "2fe3292a.5ad1f6"
            ]
        ]
    },
    {
        "id": "39358d0d.3c7032",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 18,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 3220,
        "wires": [
            [
                "2fe3292a.5ad1f6"
            ]
        ]
    },
    {
        "id": "4ff60482.2e1aac",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP4----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 320,
        "y": 2700,
        "wires": []
    },
    {
        "id": "f930171f.ee1ba8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 12,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 420,
        "y": 2920,
        "wires": [
            [
                "81018d04.37e66",
                "3063597.303bea6"
            ]
        ]
    },
    {
        "id": "57bd768.75c3688",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 20,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 410,
        "y": 2960,
        "wires": [
            [
                "81018d04.37e66",
                "3063597.303bea6"
            ]
        ]
    },
    {
        "id": "5a629f4.d58926",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "80b95f1d.78101",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 420,
        "y": 3000,
        "wires": [
            [
                "81018d04.37e66",
                "3063597.303bea6"
            ]
        ]
    },
    {
        "id": "81018d04.37e66",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Modo",
        "func": "var m=global.get('Modo')||0\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\nelse \n{\n    msg.payload=m;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 2960,
        "wires": [
            [
                "63ec6b70.98f2a4",
                "9b29c464.527dd8",
                "3063597.303bea6"
            ]
        ]
    },
    {
        "id": "44cd1381.911cec",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1159.3790817260742,
        "y": 2981.558666229248,
        "wires": []
    },
    {
        "id": "3e1a45f8.6f58ba",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 21,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1179.7658004760742,
        "y": 3033.9609727859497,
        "wires": []
    },
    {
        "id": "853c6c00.50c568",
        "type": "mqtt in",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/PIERO/Sensores",
        "qos": "2",
        "broker": "caebc08f.b7e7c",
        "x": 427,
        "y": 2787,
        "wires": [
            [
                "1955744d.0c4c3c"
            ]
        ]
    },
    {
        "id": "2fe3292a.5ad1f6",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Movimiento",
        "func": "var m=global.get(\"Modo\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 3160,
        "wires": [
            [
                "cbbfc92d.9ba288",
                "1dacef20.346881"
            ]
        ]
    },
    {
        "id": "9b29c464.527dd8",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 790,
        "y": 2960,
        "wires": [
            [
                "71e9b142.10b63",
                "b9f641e1.d2172"
            ],
            [
                "e9f144ba.8df618",
                "b9f641e1.d2172"
            ],
            [
                "71e9b142.10b63",
                "38d9d294.c9fc5e"
            ]
        ]
    },
    {
        "id": "e9f144ba.8df618",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 971.6406784057617,
        "y": 2935.2461099624634,
        "wires": [
            [
                "44cd1381.911cec"
            ]
        ]
    },
    {
        "id": "38d9d294.c9fc5e",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 967.0156936645508,
        "y": 3030.960948944092,
        "wires": [
            [
                "3e1a45f8.6f58ba"
            ]
        ]
    },
    {
        "id": "71e9b142.10b63",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 971.0156784057617,
        "y": 2976.960965156555,
        "wires": [
            [
                "44cd1381.911cec"
            ]
        ]
    },
    {
        "id": "b9f641e1.d2172",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960.3906936645508,
        "y": 3078.6757860183716,
        "wires": [
            [
                "3e1a45f8.6f58ba"
            ]
        ]
    },
    {
        "id": "3063597.303bea6",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 3040,
        "wires": []
    },
    {
        "id": "3376d8d6.af9dc8",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1177,
        "y": 2587,
        "wires": []
    },
    {
        "id": "18852ce3.cc90d3",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1177,
        "y": 2747,
        "wires": []
    },
    {
        "id": "38199722.371778",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led_Izq",
        "x": 1137,
        "y": 2787,
        "wires": []
    },
    {
        "id": "266aea87.0bff86",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Obstáculo derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED_dcha",
        "x": 1147,
        "y": 2827,
        "wires": []
    },
    {
        "id": "1dacef20.346881",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 3220,
        "wires": []
    },
    {
        "id": "22bb8dba.511202",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 200,
        "y": 2940,
        "wires": []
    },
    {
        "id": "e8d4a9af.9ed468",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 200,
        "y": 2980,
        "wires": []
    },
    {
        "id": "901460b5.662ef",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 200,
        "y": 3020,
        "wires": []
    },
    {
        "id": "af53dbaf.770a08",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 827,
        "y": 2687,
        "wires": []
    },
    {
        "id": "1955744d.0c4c3c",
        "type": "json",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 687,
        "y": 2787,
        "wires": [
            [
                "af53dbaf.770a08",
                "8c6aabba.fe61d8"
            ]
        ]
    },
    {
        "id": "53a51dcb.f42d34",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 1200,
        "y": 3880,
        "wires": []
    },
    {
        "id": "6f76ac4b.9e4a94",
        "type": "mqtt out",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "caebc08f.b7e7c",
        "x": 820,
        "y": 3620,
        "wires": []
    },
    {
        "id": "8fae8f67.6a929",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 210,
        "y": 3860,
        "wires": [
            [
                "eacd9669.bc0298"
            ]
        ]
    },
    {
        "id": "fb121a37.998088",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "W",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 3820,
        "wires": [
            [
                "eacd9669.bc0298"
            ]
        ]
    },
    {
        "id": "900f09c9.d73ee8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "D",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 3860,
        "wires": [
            [
                "eacd9669.bc0298"
            ]
        ]
    },
    {
        "id": "8741fdd9.32751",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "S",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 3900,
        "wires": [
            [
                "eacd9669.bc0298"
            ]
        ]
    },
    {
        "id": "55741885.205a08",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 18,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 3960,
        "wires": [
            [
                "eacd9669.bc0298"
            ]
        ]
    },
    {
        "id": "56dca70a.7b7a08",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------ESP5----------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 300,
        "y": 3420,
        "wires": []
    },
    {
        "id": "f82075f7.1976f8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 12,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 380,
        "y": 3640,
        "wires": [
            [
                "eae3fd22.3e823",
                "a61d8cbe.fd53"
            ]
        ]
    },
    {
        "id": "f0dbf8e8.3cd338",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 20,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Automático",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 3680,
        "wires": [
            [
                "eae3fd22.3e823",
                "a61d8cbe.fd53"
            ]
        ]
    },
    {
        "id": "8b2c8b0b.1649a8",
        "type": "ui_button",
        "z": "48191ee8.1eaa5",
        "name": "",
        "group": "1821064b.e2182a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reposo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 380,
        "y": 3720,
        "wires": [
            [
                "eae3fd22.3e823",
                "a61d8cbe.fd53"
            ]
        ]
    },
    {
        "id": "eae3fd22.3e823",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Modo",
        "func": "var m=global.get('Modo')||0\nif(m === 0)\n{\n    if(msg.payload===1)\n    {\n        global.set('Modo',1);\n        msg.payload={};\n        msg.payload.Modo=1;\n        return msg;\n        \n    }\n    else if (msg.payload===2)\n    {\n        global.set('Modo',2);\n        msg.payload={};\n        msg.payload.Modo=2;\n        return msg;\n    }\n}\nelse if (m!==0)\n{\n    if (msg.payload===0)\n    {\n        global.set('Modo',0);\n        msg.payload={};\n        msg.payload.Modo=0;\n        return msg;\n    }\n}\nelse \n{\n    msg.payload=m;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 3680,
        "wires": [
            [
                "6f76ac4b.9e4a94",
                "43607dee.6bb3d4",
                "a61d8cbe.fd53"
            ]
        ]
    },
    {
        "id": "7a6dcc37.caa7b4",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Manual_LED",
        "x": 1090,
        "y": 3720,
        "wires": []
    },
    {
        "id": "8164aa24.544228",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 21,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Auto_LED",
        "x": 1090,
        "y": 3760,
        "wires": []
    },
    {
        "id": "5f7a3b49.86c7b4",
        "type": "mqtt in",
        "z": "48191ee8.1eaa5",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/PIERO/Sensores",
        "qos": "2",
        "broker": "caebc08f.b7e7c",
        "x": 393.2656478881836,
        "y": 3508.749991416931,
        "wires": [
            [
                "90a7acea.8b9b1"
            ]
        ]
    },
    {
        "id": "eacd9669.bc0298",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "Movimiento",
        "func": "var m=global.get(\"Modo\");\nvar mov=msg.payload;\nif (m===1)\n{\n    msg.payload={};\n    msg.payload={\"orden\":mov};\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 3880,
        "wires": [
            [
                "53a51dcb.f42d34",
                "fc94b3db.760e3"
            ]
        ]
    },
    {
        "id": "43607dee.6bb3d4",
        "type": "switch",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload.Modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 3680,
        "wires": [
            [
                "48994cef.9d31b4",
                "b1d50495.f0ad18"
            ],
            [
                "8c76c24c.2a835",
                "b1d50495.f0ad18"
            ],
            [
                "48994cef.9d31b4",
                "b39d74f9.63bc68"
            ]
        ]
    },
    {
        "id": "8c76c24c.2a835",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 3680,
        "wires": [
            [
                "7a6dcc37.caa7b4"
            ]
        ]
    },
    {
        "id": "b39d74f9.63bc68",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "true a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 3760,
        "wires": [
            [
                "8164aa24.544228"
            ]
        ]
    },
    {
        "id": "48994cef.9d31b4",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false m",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3720,
        "wires": [
            [
                "7a6dcc37.caa7b4"
            ]
        ]
    },
    {
        "id": "b1d50495.f0ad18",
        "type": "change",
        "z": "48191ee8.1eaa5",
        "name": "false a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 3800,
        "wires": [
            [
                "8164aa24.544228"
            ]
        ]
    },
    {
        "id": "a61d8cbe.fd53",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 3780,
        "wires": []
    },
    {
        "id": "5942b29d.bb203c",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "",
        "func": "var s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nvar l_i=msg.payload.Sensores[3];\nvar l_c=msg.payload.Sensores[4];\nvar l_d=msg.payload.Sensores[5];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=l_i;\nmsg3={};\nmsg3.payload=l_c;\nmsg4={};\nmsg4.payload=l_d;\nmsg5={};\nmsg5.payload=s_d;\n\nmsg6={};\nmsg7={};\nif(s_i < 50 || l_i <50){\n    msg6.payload = true;\n}else{\n    msg6.payload = false;\n}\n\nif(s_d < 50 || l_d <50){\n    msg7.payload = true;\n}else{\n    msg7.payload = false;\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 819.2499618530273,
        "y": 3507.7890491485596,
        "wires": [
            [
                "c96ff86c.9803e8",
                "8c4e765d.855598"
            ],
            [
                "dd889d63.e8809",
                "8c4e765d.855598"
            ],
            [
                "830f39c6.fd9488",
                "8c4e765d.855598"
            ],
            [
                "d410a65c.1c3348",
                "8c4e765d.855598"
            ],
            [
                "8f36c03e.a84f1",
                "8c4e765d.855598"
            ],
            [
                "f1d40137.312c1",
                "8c4e765d.855598"
            ],
            [
                "58f5095.503dcf8",
                "8c4e765d.855598"
            ]
        ]
    },
    {
        "id": "c96ff86c.9803e8",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1180,
        "y": 3340,
        "wires": []
    },
    {
        "id": "8f36c03e.a84f1",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Ultrasonidos Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1180,
        "y": 3500,
        "wires": []
    },
    {
        "id": "fc94b3db.760e3",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 3940,
        "wires": []
    },
    {
        "id": "914a0dc.481cef",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3620,
        "wires": []
    },
    {
        "id": "8f8184f4.7458d8",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3660,
        "wires": []
    },
    {
        "id": "5787f3a2.cda1cc",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "------------------------------------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 3700,
        "wires": []
    },
    {
        "id": "b22e0cd4.9e011",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 839.2499618530273,
        "y": 3427.7890491485596,
        "wires": []
    },
    {
        "id": "90a7acea.8b9b1",
        "type": "json",
        "z": "48191ee8.1eaa5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 646.1249732971191,
        "y": 3508.9416065216064,
        "wires": [
            [
                "5942b29d.bb203c",
                "b22e0cd4.9e011"
            ]
        ]
    },
    {
        "id": "dd889d63.e8809",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3380,
        "wires": []
    },
    {
        "id": "830f39c6.fd9488",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Central",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3420,
        "wires": []
    },
    {
        "id": "d410a65c.1c3348",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1160,
        "y": 3460,
        "wires": []
    },
    {
        "id": "f1d40137.312c1",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo izquierda",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led Izquierda",
        "x": 1160,
        "y": 3540,
        "wires": []
    },
    {
        "id": "58f5095.503dcf8",
        "type": "ui_led",
        "z": "48191ee8.1eaa5",
        "group": "1821064b.e2182a",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Obstáculo Derecha",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "red",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led Derecha",
        "x": 1150,
        "y": 3580,
        "wires": []
    },
    {
        "id": "8c4e765d.855598",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 3620,
        "wires": []
    },
    {
        "id": "42aba60f.bd6a78",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Izquierdo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1157,
        "y": 2627,
        "wires": []
    },
    {
        "id": "d994c277.dedd2",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Central",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1157,
        "y": 2667,
        "wires": []
    },
    {
        "id": "8ca9b62f.a09638",
        "type": "ui_text",
        "z": "48191ee8.1eaa5",
        "group": "80b95f1d.78101",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Láser Derecho",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1157,
        "y": 2707,
        "wires": []
    },
    {
        "id": "8c6aabba.fe61d8",
        "type": "function",
        "z": "48191ee8.1eaa5",
        "name": "",
        "func": "var s_i=msg.payload.Sensores[1];\nvar s_d=msg.payload.Sensores[2];\nvar l_i=msg.payload.Sensores[3];\nvar l_c=msg.payload.Sensores[4];\nvar l_d=msg.payload.Sensores[5];\nmsg1={};\nmsg1.payload=s_i;\nmsg2={};\nmsg2.payload=l_i;\nmsg3={};\nmsg3.payload=l_c;\nmsg4={};\nmsg4.payload=l_d;\nmsg5={};\nmsg5.payload=s_d;\n\nmsg6={};\nmsg7={};\nif(s_i < 50 || l_i <50){\n    msg6.payload = true;\n}else{\n    msg6.payload = false;\n}\n\nif(s_d < 50 || l_d <50){\n    msg7.payload = true;\n}else{\n    msg7.payload = false;\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 847,
        "y": 2787,
        "wires": [
            [
                "3376d8d6.af9dc8",
                "e6258393.4d3c7"
            ],
            [
                "42aba60f.bd6a78",
                "e6258393.4d3c7"
            ],
            [
                "d994c277.dedd2",
                "e6258393.4d3c7"
            ],
            [
                "8ca9b62f.a09638",
                "e6258393.4d3c7"
            ],
            [
                "18852ce3.cc90d3",
                "e6258393.4d3c7"
            ],
            [
                "38199722.371778",
                "e6258393.4d3c7"
            ],
            [
                "266aea87.0bff86",
                "e6258393.4d3c7"
            ]
        ]
    },
    {
        "id": "e6258393.4d3c7",
        "type": "debug",
        "z": "48191ee8.1eaa5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1147,
        "y": 2867,
        "wires": []
    },
    {
        "id": "caebc08f.b7e7c",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ace79546.d25e98",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "e3828af6.51bd48",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b32067aa.a4e228",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "e3828af6.51bd48",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bde55b44.876768",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "e3828af6.51bd48",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80b95f1d.78101",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "e3828af6.51bd48",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1821064b.e2182a",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "e3828af6.51bd48",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e3828af6.51bd48",
        "type": "ui_tab",
        "z": "",
        "name": "ControlPIERO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]