Node-RED/Global1_ControlESP.txt
[
    {
        "id": "efaaca2d.40d4f8",
        "type": "tab",
        "label": "Control_ESP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "450f410f.1588d",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 1050,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3a0a79cf.5ec756",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "fe560f13.7ba39"
            ]
        ]
    },
    {
        "id": "acbaffa7.d336d",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "b5cd8447.44c528",
                "3a0a79cf.5ec756"
            ]
        ]
    },
    {
        "id": "b5cd8447.44c528",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "acbaffa7.d336d",
                "3a0a79cf.5ec756"
            ]
        ]
    },
    {
        "id": "d4fdab9b.40bc28",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 1370,
        "y": 1380,
        "wires": [
            [
                "ffd700c6.f6bda"
            ]
        ]
    },
    {
        "id": "a3176384.abe28",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1810,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fe560f13.7ba39",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "450f410f.1588d",
                "475dccfd.36cb14"
            ]
        ]
    },
    {
        "id": "ba8001cf.c8078",
        "type": "ui_gauge",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "53239cb8.210374",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b62135e6.3811b8",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1720,
        "wires": [
            [
                "4852146a.ea370c"
            ]
        ]
    },
    {
        "id": "cb6a5b8f.cb6958",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 1000,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4852146a.ea370c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1720,
        "wires": [
            [
                "cb6a5b8f.cb6958",
                "228aa3a1.4e79dc"
            ]
        ]
    },
    {
        "id": "b340ded9.e46ad",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 1360,
        "y": 1720,
        "wires": [
            [
                "c6b5c4cb.69d628"
            ]
        ]
    },
    {
        "id": "c056d48b.0ad6f8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1830,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5cfad060.7ccc9",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "53239cb8.210374",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 2030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ffd700c6.f6bda",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1380,
        "wires": [
            [
                "a3176384.abe28",
                "ba19b4c6.9fbc88"
            ]
        ]
    },
    {
        "id": "c6b5c4cb.69d628",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1720,
        "wires": [
            [
                "c056d48b.0ad6f8",
                "d43f76b4.6de568"
            ]
        ]
    },
    {
        "id": "475dccfd.36cb14",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b5ef9468.59c9d8",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "b62135e6.3811b8"
            ]
        ]
    },
    {
        "id": "228aa3a1.4e79dc",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a57a2a64.9931f8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ae979e53.2010e",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2880,
        "y": 1380,
        "wires": [
            [
                "b3274790.521e88"
            ]
        ]
    },
    {
        "id": "42563a94.34c0b4",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2680,
        "y": 1380,
        "wires": [
            [
                "ae979e53.2010e",
                "ba1966ad.f74ec8"
            ]
        ]
    },
    {
        "id": "ba1966ad.f74ec8",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2681.9998512268066,
        "y": 1441.9998817443848,
        "wires": [
            [
                "42563a94.34c0b4",
                "ae979e53.2010e"
            ]
        ]
    },
    {
        "id": "c13cbe73.25ffc",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 3630,
        "y": 1380,
        "wires": [
            [
                "a381a3c9.f6a1a"
            ]
        ]
    },
    {
        "id": "b3274790.521e88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 1380,
        "wires": [
            [
                "a57a2a64.9931f8",
                "9086a78a.e687f8"
            ]
        ]
    },
    {
        "id": "47eba46c.98ddac",
        "type": "ui_gauge",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "b54bc12a.1abd6",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4250,
        "y": 1380,
        "wires": []
    },
    {
        "id": "dccdc850.25d5e8",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2800,
        "y": 1720,
        "wires": [
            [
                "5f508621.5976f8"
            ]
        ]
    },
    {
        "id": "93c10a12.3a9608",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3260,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5f508621.5976f8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2970,
        "y": 1720,
        "wires": [
            [
                "93c10a12.3a9608",
                "7180b411.e8679c"
            ]
        ]
    },
    {
        "id": "75bde972.e24848",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 3580,
        "y": 1720,
        "wires": [
            [
                "f63ca9f4.1aac28"
            ]
        ]
    },
    {
        "id": "e8f9e984.402d88",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4270,
        "y": 1760,
        "wires": []
    },
    {
        "id": "afb57866.32b698",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "b54bc12a.1abd6",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4250,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a381a3c9.f6a1a",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3870,
        "y": 1380,
        "wires": [
            [
                "d0a4600.30d31a",
                "def927e.b6640d8"
            ]
        ]
    },
    {
        "id": "f63ca9f4.1aac28",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3850,
        "y": 1720,
        "wires": [
            [
                "83146636.f975f8",
                "e8f9e984.402d88"
            ]
        ]
    },
    {
        "id": "9086a78a.e687f8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e9aadb1e.382158",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2650,
        "y": 1720,
        "wires": [
            [
                "dccdc850.25d5e8"
            ]
        ]
    },
    {
        "id": "7180b411.e8679c",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3190,
        "y": 1680,
        "wires": []
    },
    {
        "id": "83146636.f975f8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4040,
        "y": 1720,
        "wires": [
            [
                "afb57866.32b698",
                "53b37515.ab5fbc"
            ]
        ]
    },
    {
        "id": "d0a4600.30d31a",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 1380,
        "wires": [
            [
                "47eba46c.98ddac",
                "cbb2923e.d3102"
            ]
        ]
    },
    {
        "id": "d43f76b4.6de568",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 1720,
        "wires": [
            [
                "5cfad060.7ccc9"
            ]
        ]
    },
    {
        "id": "ba19b4c6.9fbc88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1380,
        "wires": [
            [
                "ba8001cf.c8078"
            ]
        ]
    },
    {
        "id": "d0ad297d.470b38",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enable_Multi_Control",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "1c73112b.f027cf"
            ]
        ]
    },
    {
        "id": "b9efcfa6.fcdf1",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "ESP1",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "6faf5b6f.b410a4"
            ]
        ]
    },
    {
        "id": "8fbe05ce.69f128",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "ESP2",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "a675a961.f8cb08"
            ]
        ]
    },
    {
        "id": "a6c6b921.8809c8",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "ESP3",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "e4819c81.48e6e"
            ]
        ]
    },
    {
        "id": "4db8deca.33348",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "ESP4",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 11,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "a4815bcd.461d78"
            ]
        ]
    },
    {
        "id": "c44dc65e.a35a68",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "ESP5",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 13,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "4b0eae16.d1843"
            ]
        ]
    },
    {
        "id": "1c73112b.f027cf",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "multiControl",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6faf5b6f.b410a4",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "98d5d9d6.7a7ee8",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2076.508083343506,
        "y": 111.5234317779541,
        "wires": [
            [
                "14d8d1e8.d3f1ee"
            ]
        ]
    },
    {
        "id": "86fac0e3.7978c",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2467.0002670288086,
        "y": 118.5234489440918,
        "wires": []
    },
    {
        "id": "a6151d70.ce01c",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1868.0002517700195,
        "y": 235.5234203338623,
        "wires": [
            [
                "98d5d9d6.7a7ee8",
                "f97d122d.eba33",
                "9ea3178d.bafee8",
                "188c98d9.5fbb57",
                "85281b6b.71c4c8"
            ]
        ]
    },
    {
        "id": "ea8e2f94.d9368",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1516.0002937316895,
        "y": 223.52341842651367,
        "wires": [
            [
                "1a995cac.e9f713",
                "b832c742.332708"
            ]
        ]
    },
    {
        "id": "1a995cac.e9f713",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1506.0002937316895,
        "y": 283.5234184265137,
        "wires": [
            [
                "ea8e2f94.d9368"
            ]
        ]
    },
    {
        "id": "2f9147bf.dd07c8",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1840,
        "y": 680,
        "wires": [
            [
                "168c0fad.dd479",
                "26af9692.a32eea",
                "2bc73c38.9db2e4",
                "fc3f9fe2.b2285",
                "9702f082.5d6e3"
            ]
        ]
    },
    {
        "id": "47a50ae6.1271e4",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2467.507781982422,
        "y": 535.5234451293945,
        "wires": []
    },
    {
        "id": "a7638b9f.088208",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2489.508144378662,
        "y": 82.52343273162842,
        "wires": []
    },
    {
        "id": "307af5a2.478e2a",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1530,
        "y": 680,
        "wires": [
            [
                "dea3e61e.5dd338"
            ]
        ]
    },
    {
        "id": "d7563280.c6b84",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2493.507785797119,
        "y": 584.5234661102295,
        "wires": []
    },
    {
        "id": "14d8d1e8.d3f1ee",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2232.7502670288086,
        "y": 111.65625381469727,
        "wires": [
            [
                "86fac0e3.7978c",
                "a7638b9f.088208"
            ]
        ]
    },
    {
        "id": "262d384.d63f6c8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230.2577590942383,
        "y": 534.6562519073486,
        "wires": [
            [
                "47a50ae6.1271e4",
                "d7563280.c6b84"
            ]
        ]
    },
    {
        "id": "a675a961.f8cb08",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e4819c81.48e6e",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a4815bcd.461d78",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4b0eae16.d1843",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f97d122d.eba33",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.507900238037,
        "y": 193.52343940734863,
        "wires": [
            [
                "a90104e8.ea28f8"
            ]
        ]
    },
    {
        "id": "2c46113d.3fa1ee",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2462.00008392334,
        "y": 200.52345657348633,
        "wires": []
    },
    {
        "id": "f10eee48.7a00a",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507968902588,
        "y": 164.52344512939453,
        "wires": []
    },
    {
        "id": "a90104e8.ea28f8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.75008392334,
        "y": 193.6562614440918,
        "wires": [
            [
                "2c46113d.3fa1ee",
                "f10eee48.7a00a"
            ]
        ]
    },
    {
        "id": "9ea3178d.bafee8",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 262.52343368530273,
        "wires": [
            [
                "24f0c23a.ce3eee"
            ]
        ]
    },
    {
        "id": "68490ac0.6dbb44",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2464.000015258789,
        "y": 269.52345085144043,
        "wires": []
    },
    {
        "id": "5040434e.0409dc",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 233.52343940734863,
        "wires": []
    },
    {
        "id": "24f0c23a.ce3eee",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 262.6562557220459,
        "wires": [
            [
                "68490ac0.6dbb44",
                "5040434e.0409dc"
            ]
        ]
    },
    {
        "id": "188c98d9.5fbb57",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.5078315734863,
        "y": 331.52343368530273,
        "wires": [
            [
                "4613cfdf.13eb7"
            ]
        ]
    },
    {
        "id": "ff401586.796298",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2462.000015258789,
        "y": 338.52345085144043,
        "wires": []
    },
    {
        "id": "7640bafc.3f2df4",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507900238037,
        "y": 302.52343940734863,
        "wires": []
    },
    {
        "id": "4613cfdf.13eb7",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.750015258789,
        "y": 331.6562557220459,
        "wires": [
            [
                "ff401586.796298",
                "7640bafc.3f2df4"
            ]
        ]
    },
    {
        "id": "85281b6b.71c4c8",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 403.52343368530273,
        "wires": [
            [
                "6dbfde0d.4e9f2"
            ]
        ]
    },
    {
        "id": "1e997dbc.26f7e2",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2464.000015258789,
        "y": 410.52345085144043,
        "wires": []
    },
    {
        "id": "7578b9de.1dace8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 374.52343940734863,
        "wires": []
    },
    {
        "id": "6dbfde0d.4e9f2",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 403.6562557220459,
        "wires": [
            [
                "1e997dbc.26f7e2",
                "7578b9de.1dace8"
            ]
        ]
    },
    {
        "id": "b832c742.332708",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "a6151d70.ce01c"
            ]
        ]
    },
    {
        "id": "78c7415b.1b9eb",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "Initializer",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "d0ad297d.470b38",
                "b9efcfa6.fcdf1",
                "8fbe05ce.69f128",
                "a6c6b921.8809c8",
                "4db8deca.33348",
                "c44dc65e.a35a68"
            ]
        ]
    },
    {
        "id": "168c0fad.dd479",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2034.9999465942383,
        "y": 533.0000019073486,
        "wires": [
            [
                "262d384.d63f6c8"
            ]
        ]
    },
    {
        "id": "26af9692.a32eea",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2035.9998245239258,
        "y": 607.0000019073486,
        "wires": [
            [
                "68e9f2da.7502fc"
            ]
        ]
    },
    {
        "id": "2bc73c38.9db2e4",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 692.0000038146973,
        "wires": [
            [
                "513e0d1a.7a2044"
            ]
        ]
    },
    {
        "id": "fc3f9fe2.b2285",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2029.9996948242188,
        "y": 761.0000038146973,
        "wires": [
            [
                "722b97bb.a42bd8"
            ]
        ]
    },
    {
        "id": "9702f082.5d6e3",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 833.0000038146973,
        "wires": [
            [
                "c6839b7a.ad3e88"
            ]
        ]
    },
    {
        "id": "bf39f9a8.4a0ce8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2474.9999465942383,
        "y": 623.0000019073486,
        "wires": []
    },
    {
        "id": "bb3eff26.50857",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2494.9999504089355,
        "y": 660.0000228881836,
        "wires": []
    },
    {
        "id": "68e9f2da.7502fc",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.75,
        "y": 612.1328125,
        "wires": [
            [
                "bf39f9a8.4a0ce8",
                "bb3eff26.50857"
            ]
        ]
    },
    {
        "id": "113d8d86.c49582",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2478.9999465942383,
        "y": 701.0000019073486,
        "wires": []
    },
    {
        "id": "cce6416a.971f7",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2498.9999504089355,
        "y": 738.0000228881836,
        "wires": []
    },
    {
        "id": "513e0d1a.7a2044",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2239.75,
        "y": 694.1328125,
        "wires": [
            [
                "113d8d86.c49582",
                "cce6416a.971f7"
            ]
        ]
    },
    {
        "id": "8dcf8c20.a14dc",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2482.9999465942383,
        "y": 775.0000019073486,
        "wires": []
    },
    {
        "id": "226f67fe.1aa1c8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999504089355,
        "y": 812.0000228881836,
        "wires": []
    },
    {
        "id": "722b97bb.a42bd8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2257.7499237060547,
        "y": 798.1328086853027,
        "wires": [
            [
                "8dcf8c20.a14dc",
                "226f67fe.1aa1c8"
            ]
        ]
    },
    {
        "id": "9eeed79d.b530e8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "728049ce.f396b8",
        "x": 2482.9999465942383,
        "y": 849.0000019073486,
        "wires": []
    },
    {
        "id": "e5549013.3df85",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999465942383,
        "y": 882.0000019073486,
        "wires": []
    },
    {
        "id": "c6839b7a.ad3e88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2263.7499237060547,
        "y": 884.1328086853027,
        "wires": [
            [
                "9eeed79d.b530e8",
                "e5549013.3df85"
            ]
        ]
    },
    {
        "id": "127e0264.3fb39e",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------Select ESP--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "cbb2923e.d3102",
        "type": "link out",
        "z": "efaaca2d.40d4f8",
        "name": "E2_LS",
        "links": [
            "58c0c4ab.f9537c"
        ],
        "x": 4215,
        "y": 1340,
        "wires": []
    },
    {
        "id": "53b37515.ab5fbc",
        "type": "link out",
        "z": "efaaca2d.40d4f8",
        "name": "E2_SS",
        "links": [
            "e57618e5.f1a188",
            "828dd81c.c7e838"
        ],
        "x": 4215,
        "y": 1680,
        "wires": []
    },
    {
        "id": "fd4c62ca.9e478",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "bd0b499c.ca1778",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------MASTER--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1531.0001831054688,
        "y": 75.99999809265137,
        "wires": []
    },
    {
        "id": "2b56eb0c.280034",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "b54bc12a.1abd6",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2620,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f899ac5d.0e038",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "53239cb8.210374",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2a26ddf4.a9c012",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 4,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "f9d28056.e15ed",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "b352dbac.058a48"
            ]
        ]
    },
    {
        "id": "227c17e3.edcae8",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "onlineStatPolling",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "f9d28056.e15ed",
                "ef09691e.e12668",
                "fe924160.ce1c2",
                "d17fa3c4.8ba09",
                "8f62dd77.569"
            ]
        ]
    },
    {
        "id": "421d5934.252958",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 6,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "ef09691e.e12668",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "6237684d.0ac728"
            ]
        ]
    },
    {
        "id": "a1fd581a.307fa8",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 8,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "fe924160.ce1c2",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "6b28fb0.a7f7104"
            ]
        ]
    },
    {
        "id": "cdc36b25.8af838",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 10,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "d17fa3c4.8ba09",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "a138d82a.1074d8"
            ]
        ]
    },
    {
        "id": "e56f9df3.c1475",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "c6032041.101a6",
        "order": 12,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "8f62dd77.569",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 900,
        "wires": [
            [
                "7fff87b1.6b0828"
            ]
        ]
    },
    {
        "id": "6d33e40f.0fef6c",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "53239cb8.210374",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "860acec9.31023",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "b54bc12a.1abd6",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "50680f77.5238",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "edcb3f2d.990b7",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 820.3956909179688,
        "y": 715.4443864822388,
        "wires": []
    },
    {
        "id": "40b8db2e.742a84",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "81d6b9a2.abf7d8",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "4b9ee29.cdaa21c",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "8f0783c6.a55f4",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 820,
        "y": 920,
        "wires": []
    },
    {
        "id": "6237684d.0ac728",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "421d5934.252958",
                "860acec9.31023"
            ]
        ]
    },
    {
        "id": "b352dbac.058a48",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 693.229118347168,
        "y": 500.44440841674805,
        "wires": [
            [
                "2a26ddf4.a9c012",
                "6d33e40f.0fef6c"
            ]
        ]
    },
    {
        "id": "6b28fb0.a7f7104",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "a1fd581a.307fa8",
                "50680f77.5238"
            ]
        ]
    },
    {
        "id": "a138d82a.1074d8",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 800,
        "wires": [
            [
                "cdc36b25.8af838",
                "40b8db2e.742a84"
            ]
        ]
    },
    {
        "id": "7fff87b1.6b0828",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 900,
        "wires": [
            [
                "e56f9df3.c1475",
                "4b9ee29.cdaa21c"
            ]
        ]
    },
    {
        "id": "f32a2c5b.e70f4",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 2470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "84ec1810.eeff38",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2040,
        "y": 2020,
        "wires": [
            [
                "39810e0b.9216b2"
            ]
        ]
    },
    {
        "id": "896547fd.bd2b98",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1840,
        "y": 2020,
        "wires": [
            [
                "84ec1810.eeff38",
                "637e0ede.8b319"
            ]
        ]
    },
    {
        "id": "637e0ede.8b319",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1830,
        "y": 2080,
        "wires": [
            [
                "896547fd.bd2b98",
                "84ec1810.eeff38"
            ]
        ]
    },
    {
        "id": "717b2f37.4eaad",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 2770,
        "y": 2020,
        "wires": [
            [
                "f58440c8.5c4bc"
            ]
        ]
    },
    {
        "id": "4d9ff4bf.e8189c",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3170,
        "y": 1980,
        "wires": []
    },
    {
        "id": "39810e0b.9216b2",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 2020,
        "wires": [
            [
                "f32a2c5b.e70f4",
                "d965819.deff68"
            ]
        ]
    },
    {
        "id": "857edbe3.3ab7c8",
        "type": "ui_gauge",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "edcb3f2d.990b7",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 3390,
        "y": 2020,
        "wires": []
    },
    {
        "id": "51a06ddb.6e2c64",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 2320,
        "wires": [
            [
                "e9f8bac5.58e478"
            ]
        ]
    },
    {
        "id": "daf9fc1c.7346b",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 2440,
        "y": 2320,
        "wires": []
    },
    {
        "id": "e9f8bac5.58e478",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 2320,
        "wires": [
            [
                "daf9fc1c.7346b",
                "5b747de1.f63884"
            ]
        ]
    },
    {
        "id": "3673de0b.ae8ef2",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 2760,
        "y": 2320,
        "wires": [
            [
                "f46452fa.7aca9"
            ]
        ]
    },
    {
        "id": "ed7b21d4.ba73",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3410,
        "y": 2280,
        "wires": []
    },
    {
        "id": "7cd7c1d3.09523",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "edcb3f2d.990b7",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 3390,
        "y": 2320,
        "wires": []
    },
    {
        "id": "f58440c8.5c4bc",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2020,
        "wires": [
            [
                "4d9ff4bf.e8189c",
                "329f9890.436d08"
            ]
        ]
    },
    {
        "id": "f46452fa.7aca9",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2320,
        "wires": [
            [
                "2e50d9a7.aea806"
            ]
        ]
    },
    {
        "id": "d965819.deff68",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2410,
        "y": 1980,
        "wires": []
    },
    {
        "id": "a64aa6bf.cb5698",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1810,
        "y": 2320,
        "wires": [
            [
                "51a06ddb.6e2c64"
            ]
        ]
    },
    {
        "id": "5b747de1.f63884",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2370,
        "y": 2280,
        "wires": []
    },
    {
        "id": "2e50d9a7.aea806",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3200,
        "y": 2320,
        "wires": [
            [
                "7cd7c1d3.09523",
                "ed7b21d4.ba73"
            ]
        ]
    },
    {
        "id": "329f9890.436d08",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3180,
        "y": 2020,
        "wires": [
            [
                "857edbe3.3ab7c8"
            ]
        ]
    },
    {
        "id": "701296da.4ba098",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "edcb3f2d.990b7",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c7f2e10b.37a92",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 990,
        "y": 2660,
        "wires": []
    },
    {
        "id": "35136306.b18abc",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2660,
        "wires": [
            [
                "d48da956.00c4a8"
            ]
        ]
    },
    {
        "id": "a7174aac.464c68",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 360,
        "y": 2660,
        "wires": [
            [
                "35136306.b18abc",
                "a28a9661.7b6328"
            ]
        ]
    },
    {
        "id": "a28a9661.7b6328",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 350,
        "y": 2720,
        "wires": [
            [
                "a7174aac.464c68",
                "35136306.b18abc"
            ]
        ]
    },
    {
        "id": "7ca240f3.029b7",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 1310,
        "y": 2660,
        "wires": [
            [
                "818162b7.a38f"
            ]
        ]
    },
    {
        "id": "2c57fba.d8c6c04",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 2620,
        "wires": []
    },
    {
        "id": "d48da956.00c4a8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2660,
        "wires": [
            [
                "c7f2e10b.37a92",
                "b700a734.d95ff8"
            ]
        ]
    },
    {
        "id": "9583d888.014718",
        "type": "ui_gauge",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "81d6b9a2.abf7d8",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1950,
        "y": 2660,
        "wires": []
    },
    {
        "id": "5bdaba36.4dfbc4",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 2960,
        "wires": [
            [
                "5424f960.d5fa08"
            ]
        ]
    },
    {
        "id": "bfeb3ee3.a48b9",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 1000,
        "y": 2960,
        "wires": []
    },
    {
        "id": "5424f960.d5fa08",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2960,
        "wires": [
            [
                "bfeb3ee3.a48b9",
                "2fa51f71.c6328"
            ]
        ]
    },
    {
        "id": "3ab45d1.c643fa2",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 1340,
        "y": 2960,
        "wires": [
            [
                "acc9e35c.b8f02"
            ]
        ]
    },
    {
        "id": "5969da1e.7330f4",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1970,
        "y": 3000,
        "wires": []
    },
    {
        "id": "837a5db3.ee63b",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "81d6b9a2.abf7d8",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1950,
        "y": 2960,
        "wires": []
    },
    {
        "id": "818162b7.a38f",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 2660,
        "wires": [
            [
                "2c57fba.d8c6c04",
                "4ff9ff8e.f029d"
            ]
        ]
    },
    {
        "id": "acc9e35c.b8f02",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 2960,
        "wires": [
            [
                "a77cb550.65ef08"
            ]
        ]
    },
    {
        "id": "b700a734.d95ff8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2620,
        "wires": []
    },
    {
        "id": "20df1877.0bc488",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 2960,
        "wires": [
            [
                "5bdaba36.4dfbc4"
            ]
        ]
    },
    {
        "id": "2fa51f71.c6328",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2920,
        "wires": []
    },
    {
        "id": "a77cb550.65ef08",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2960,
        "wires": [
            [
                "837a5db3.ee63b",
                "5969da1e.7330f4"
            ]
        ]
    },
    {
        "id": "4ff9ff8e.f029d",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2660,
        "wires": [
            [
                "9583d888.014718"
            ]
        ]
    },
    {
        "id": "b7afc6be.9e4098",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "81d6b9a2.abf7d8",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 2600,
        "wires": []
    },
    {
        "id": "3e3ed98d.92fa96",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3370,
        "y": 2660,
        "wires": []
    },
    {
        "id": "1ae59927.cea007",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2660,
        "wires": [
            [
                "aafcc6e5.3240c8"
            ]
        ]
    },
    {
        "id": "c7978fc6.d2227",
        "type": "ui_slider",
        "z": "efaaca2d.40d4f8",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2760,
        "y": 2660,
        "wires": [
            [
                "1ae59927.cea007",
                "ea0d0c6f.14daf"
            ]
        ]
    },
    {
        "id": "ea0d0c6f.14daf",
        "type": "ui_numeric",
        "z": "efaaca2d.40d4f8",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2750,
        "y": 2720,
        "wires": [
            [
                "c7978fc6.d2227",
                "1ae59927.cea007"
            ]
        ]
    },
    {
        "id": "3186ca39.0737f6",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 3730,
        "y": 2660,
        "wires": [
            [
                "deeaafb.2a15b5"
            ]
        ]
    },
    {
        "id": "e914fe65.5596f",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4130,
        "y": 2620,
        "wires": []
    },
    {
        "id": "aafcc6e5.3240c8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3130,
        "y": 2660,
        "wires": [
            [
                "3e3ed98d.92fa96",
                "9bce3b78.492eb8"
            ]
        ]
    },
    {
        "id": "f0739d67.4694d",
        "type": "ui_gauge",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "8f0783c6.a55f4",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4350,
        "y": 2660,
        "wires": []
    },
    {
        "id": "8005a1b5.95a8f",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2940,
        "wires": [
            [
                "be99e75f.43a518"
            ]
        ]
    },
    {
        "id": "911d51c3.458cc",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3380,
        "y": 2940,
        "wires": []
    },
    {
        "id": "be99e75f.43a518",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2940,
        "wires": [
            [
                "911d51c3.458cc",
                "25c73705.e4a658"
            ]
        ]
    },
    {
        "id": "a3a98b18.b6ab48",
        "type": "mqtt in",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/status",
        "qos": "2",
        "broker": "728049ce.f396b8",
        "x": 3740,
        "y": 2940,
        "wires": [
            [
                "2dd2ffe7.a070b"
            ]
        ]
    },
    {
        "id": "d35b1b9d.0397b8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4350,
        "y": 2980,
        "wires": []
    },
    {
        "id": "deeaafb.2a15b5",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3950,
        "y": 2660,
        "wires": [
            [
                "e914fe65.5596f",
                "5155f3df.2d2b9c"
            ]
        ]
    },
    {
        "id": "2dd2ffe7.a070b",
        "type": "json",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3990,
        "y": 2940,
        "wires": [
            [
                "9baddb06.316598"
            ]
        ]
    },
    {
        "id": "9bce3b78.492eb8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2620,
        "wires": []
    },
    {
        "id": "3c8c6915.e560e6",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2770,
        "y": 2940,
        "wires": [
            [
                "8005a1b5.95a8f"
            ]
        ]
    },
    {
        "id": "25c73705.e4a658",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2900,
        "wires": []
    },
    {
        "id": "9baddb06.316598",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4160,
        "y": 2940,
        "wires": [
            [
                "d35b1b9d.0397b8",
                "9767db26.951c98"
            ]
        ]
    },
    {
        "id": "5155f3df.2d2b9c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4140,
        "y": 2660,
        "wires": [
            [
                "f0739d67.4694d"
            ]
        ]
    },
    {
        "id": "ece3d64c.4a5418",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "8f0783c6.a55f4",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2740,
        "y": 2600,
        "wires": []
    },
    {
        "id": "b0b2061a.5848c8",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "53239cb8.210374",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP1------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2d24cbe.0493834",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "b54bc12a.1abd6",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP2------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2400,
        "y": 1320,
        "wires": []
    },
    {
        "id": "87e6706b.84e18",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "edcb3f2d.990b7",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP3------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1560,
        "y": 1960,
        "wires": []
    },
    {
        "id": "8569ba01.361f18",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "81d6b9a2.abf7d8",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP4------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 2600,
        "wires": []
    },
    {
        "id": "4df0989f.b0b688",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "8f0783c6.a55f4",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP5------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2520,
        "y": 2600,
        "wires": []
    },
    {
        "id": "edb6f24a.71b22",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/config",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f4b070a9.f7e45",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3300,
        "y": 1540,
        "wires": [
            [
                "b1c661e.705eaa"
            ]
        ]
    },
    {
        "id": "f111a9d0.3d3d68",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3320,
        "y": 1500,
        "wires": [
            [
                "d4e5d65d.fbe348"
            ]
        ]
    },
    {
        "id": "b1c661e.705eaa",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e5d65d.fbe348",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3530,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "df7fde01.2c833",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2770,
        "y": 1540,
        "wires": [
            [
                "e217928.7d9c57",
                "edb6f24a.71b22"
            ]
        ]
    },
    {
        "id": "1e8ca0f9.ad477f",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3340,
        "y": 1460,
        "wires": [
            [
                "9f30e67c.4de3a8"
            ]
        ]
    },
    {
        "id": "9f30e67c.4de3a8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "ab376455.6b8ce8",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3740,
        "y": 1500,
        "wires": [
            [
                "bfba5d17.bbcfc"
            ]
        ]
    },
    {
        "id": "bfba5d17.bbcfc",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3970,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "ac815570.6c4b58",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3750,
        "y": 1460,
        "wires": [
            [
                "3165bc45.8c1564"
            ]
        ]
    },
    {
        "id": "3165bc45.8c1564",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3960,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "e217928.7d9c57",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2990,
        "y": 1500,
        "wires": []
    },
    {
        "id": "2a07a62b.5cf22a",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "b54bc12a.1abd6",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2390,
        "y": 1540,
        "wires": [
            [
                "61521847.58d748"
            ]
        ]
    },
    {
        "id": "53079eee.efa05",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/config",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 720,
        "y": 1540,
        "wires": []
    },
    {
        "id": "366b0c9f.9fa684",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad1\");\nvar envia = global.get(\"envia1\");\nvar actualiza = global.get(\"actualiza1\");\nvar LED = global.get(\"LED1\");\nvar Switch = global.get(\"switch1\");\nvar Logica_negativa = global.get(\"Logica_negativa1\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "38d068bc.40c078"
            ]
        ]
    },
    {
        "id": "38d068bc.40c078",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1540,
        "wires": [
            [
                "a426f355.96f95",
                "53079eee.efa05"
            ]
        ]
    },
    {
        "id": "a426f355.96f95",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1500,
        "wires": []
    },
    {
        "id": "da14bc8d.eabda",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "53239cb8.210374",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "366b0c9f.9fa684"
            ]
        ]
    },
    {
        "id": "ac61a3a4.fb45",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 1540,
        "wires": [
            [
                "a97beaf3.3a0ec8"
            ]
        ]
    },
    {
        "id": "7c6be414.c1146c",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 1500,
        "wires": [
            [
                "746d4d43.85e4b4"
            ]
        ]
    },
    {
        "id": "a97beaf3.3a0ec8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "746d4d43.85e4b4",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "79d7454a.09418c",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1060,
        "y": 1460,
        "wires": [
            [
                "888ef10a.e1709"
            ]
        ]
    },
    {
        "id": "888ef10a.e1709",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "f44cd20a.35f0b",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 1500,
        "wires": [
            [
                "fb37310f.ef217"
            ]
        ]
    },
    {
        "id": "fb37310f.ef217",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "c95f518c.800ac",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1470,
        "y": 1460,
        "wires": [
            [
                "fdcd2b9f.4cd708"
            ]
        ]
    },
    {
        "id": "fdcd2b9f.4cd708",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "9fca7b57.106be8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/config",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 2160,
        "y": 2160,
        "wires": []
    },
    {
        "id": "2165cc1.2063f34",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2440,
        "y": 2160,
        "wires": [
            [
                "dcdcea70.dcdf88"
            ]
        ]
    },
    {
        "id": "e6961af6.ae50f8",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2460,
        "y": 2120,
        "wires": [
            [
                "261f871.53c9c78"
            ]
        ]
    },
    {
        "id": "dcdcea70.dcdf88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "261f871.53c9c78",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2670,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "c2315e39.56156",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 2160,
        "wires": [
            [
                "4d250e09.64251",
                "9fca7b57.106be8"
            ]
        ]
    },
    {
        "id": "7ec64f7d.ae4c",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2880,
        "y": 2120,
        "wires": [
            [
                "faf0648c.1366e8"
            ]
        ]
    },
    {
        "id": "faf0648c.1366e8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "f38532ef.73314",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2890,
        "y": 2080,
        "wires": [
            [
                "baf8bd67.60e64"
            ]
        ]
    },
    {
        "id": "baf8bd67.60e64",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "4d250e09.64251",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2130,
        "y": 2120,
        "wires": []
    },
    {
        "id": "57e88741.12b718",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "edcb3f2d.990b7",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1530,
        "y": 2160,
        "wires": [
            [
                "348d5381.95303c"
            ]
        ]
    },
    {
        "id": "6e22b0ea.7046f",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2480,
        "y": 2080,
        "wires": [
            [
                "f9d55380.451c5"
            ]
        ]
    },
    {
        "id": "f9d55380.451c5",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "7372a5c9.96a81c",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/config",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 720,
        "y": 2800,
        "wires": []
    },
    {
        "id": "4a399381.f2076c",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1000,
        "y": 2800,
        "wires": [
            [
                "1e43e07d.600f1"
            ]
        ]
    },
    {
        "id": "6a454aa6.b27b64",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 2760,
        "wires": [
            [
                "58919259.d5736c"
            ]
        ]
    },
    {
        "id": "1e43e07d.600f1",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "58919259.d5736c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "79e29e7e.e7bba",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2800,
        "wires": [
            [
                "3d59accd.081634",
                "7372a5c9.96a81c"
            ]
        ]
    },
    {
        "id": "4032a2c3.4349dc",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1440,
        "y": 2760,
        "wires": [
            [
                "1b499446.181e6c"
            ]
        ]
    },
    {
        "id": "1b499446.181e6c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "3d59accd.081634",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 2760,
        "wires": []
    },
    {
        "id": "13c83e6c.9c6382",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "81d6b9a2.abf7d8",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "832bc8d2.4f7f38"
            ]
        ]
    },
    {
        "id": "4fe81ac3.a35634",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "94806991.ac4608",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 2720,
        "wires": [
            [
                "4fe81ac3.a35634"
            ]
        ]
    },
    {
        "id": "79c71f45.e43be",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1450,
        "y": 2720,
        "wires": [
            [
                "4e1c9b47.6919b4"
            ]
        ]
    },
    {
        "id": "4e1c9b47.6919b4",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "9d10e955.f9dc68",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/config",
        "qos": "",
        "retain": "",
        "broker": "728049ce.f396b8",
        "x": 3120,
        "y": 2800,
        "wires": []
    },
    {
        "id": "11d1c786.a9e698",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3400,
        "y": 2800,
        "wires": [
            [
                "8b09cdcd.48cc3"
            ]
        ]
    },
    {
        "id": "7cb1d7e1.64ccc8",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3420,
        "y": 2760,
        "wires": [
            [
                "b34e388a.396478"
            ]
        ]
    },
    {
        "id": "8b09cdcd.48cc3",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "b34e388a.396478",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3630,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "78118e81.34be",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2870,
        "y": 2800,
        "wires": [
            [
                "1659ad3e.7576e3",
                "9d10e955.f9dc68"
            ]
        ]
    },
    {
        "id": "a277b2d2.ae4b2",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3840,
        "y": 2760,
        "wires": [
            [
                "2aebb3e1.f0d99c"
            ]
        ]
    },
    {
        "id": "2aebb3e1.f0d99c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4070,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "1659ad3e.7576e3",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3090,
        "y": 2760,
        "wires": []
    },
    {
        "id": "deab5fc4.54132",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "8f0783c6.a55f4",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2490,
        "y": 2800,
        "wires": [
            [
                "a88f9df0.6cf5c"
            ]
        ]
    },
    {
        "id": "337a798.872a986",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "7fc76b45.383444",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3850,
        "y": 2720,
        "wires": [
            [
                "337a798.872a986"
            ]
        ]
    },
    {
        "id": "78efbe08.c5a9b",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "27f96167.ecaf0e",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3440,
        "y": 2720,
        "wires": [
            [
                "78efbe08.c5a9b"
            ]
        ]
    },
    {
        "id": "def927e.b6640d8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4050,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a97ded07.2c983",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3160,
        "y": 280,
        "wires": [
            [
                "24f67825.3b8758",
                "76147048.34131",
                "aee381f8.545e6",
                "51396514.4cb88c",
                "718eeb1d.375124"
            ]
        ]
    },
    {
        "id": "9204346d.9a2ea8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3818.9997634887695,
        "y": 134,
        "wires": []
    },
    {
        "id": "47f16cf9.c95ea4",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3844.999767303467,
        "y": 183.00002098083496,
        "wires": []
    },
    {
        "id": "7137314a.12cf3",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3581.749740600586,
        "y": 133.1328067779541,
        "wires": [
            [
                "9204346d.9a2ea8",
                "47f16cf9.c95ea4"
            ]
        ]
    },
    {
        "id": "24f67825.3b8758",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3386.491928100586,
        "y": 131.4765567779541,
        "wires": [
            [
                "7137314a.12cf3"
            ]
        ]
    },
    {
        "id": "76147048.34131",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3387.4918060302734,
        "y": 205.4765567779541,
        "wires": [
            [
                "6d701a8b.07bb94"
            ]
        ]
    },
    {
        "id": "aee381f8.545e6",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3383.4916763305664,
        "y": 290.47655868530273,
        "wires": [
            [
                "8a811417.054558"
            ]
        ]
    },
    {
        "id": "51396514.4cb88c",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3381.4916763305664,
        "y": 359.47655868530273,
        "wires": [
            [
                "ee45d724.8e48f8"
            ]
        ]
    },
    {
        "id": "718eeb1d.375124",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3383.4916763305664,
        "y": 431.47655868530273,
        "wires": [
            [
                "162d9403.6f8d7c"
            ]
        ]
    },
    {
        "id": "df3b99ff.38d3c8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3826.491928100586,
        "y": 221.4765567779541,
        "wires": []
    },
    {
        "id": "f77102b3.90dd7",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3846.491931915283,
        "y": 258.47657775878906,
        "wires": []
    },
    {
        "id": "6d701a8b.07bb94",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3581.2419815063477,
        "y": 210.60936737060547,
        "wires": [
            [
                "df3b99ff.38d3c8",
                "f77102b3.90dd7"
            ]
        ]
    },
    {
        "id": "9350ac13.10a1b",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3830.491928100586,
        "y": 299.4765567779541,
        "wires": []
    },
    {
        "id": "12961bda.5b0ec4",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3850.491931915283,
        "y": 336.47657775878906,
        "wires": []
    },
    {
        "id": "8a811417.054558",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3591.2419815063477,
        "y": 292.60936737060547,
        "wires": [
            [
                "9350ac13.10a1b",
                "12961bda.5b0ec4"
            ]
        ]
    },
    {
        "id": "51bee994.0195f8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3834.491928100586,
        "y": 373.4765567779541,
        "wires": []
    },
    {
        "id": "2dc547ee.c7ea78",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3854.491931915283,
        "y": 410.47657775878906,
        "wires": []
    },
    {
        "id": "ee45d724.8e48f8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3609.2419052124023,
        "y": 396.6093635559082,
        "wires": [
            [
                "51bee994.0195f8",
                "2dc547ee.c7ea78"
            ]
        ]
    },
    {
        "id": "231817c2.0eb5c8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3834.491928100586,
        "y": 447.4765567779541,
        "wires": []
    },
    {
        "id": "347755f3.21700a",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3854.491928100586,
        "y": 480.4765567779541,
        "wires": []
    },
    {
        "id": "162d9403.6f8d7c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3615.2419052124023,
        "y": 482.6093635559082,
        "wires": [
            [
                "231817c2.0eb5c8",
                "347755f3.21700a"
            ]
        ]
    },
    {
        "id": "152b3a6f.ceaa26",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "bd0b499c.ca1778",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2840,
        "y": 280,
        "wires": [
            [
                "bc4a9dad.31263"
            ]
        ]
    },
    {
        "id": "817b8505.78da48",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "53239cb8.210374",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 135.5,
        "y": 1870,
        "wires": [
            [
                "1e935d16.68bd83"
            ]
        ]
    },
    {
        "id": "1e935d16.68bd83",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 379,
        "y": 1869,
        "wires": [
            [
                "5f5d53c2.7cd15c"
            ]
        ]
    },
    {
        "id": "a120467d.f082e8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 873,
        "y": 1871,
        "wires": []
    },
    {
        "id": "5f5d53c2.7cd15c",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 635.7499771118164,
        "y": 1870.132806777954,
        "wires": [
            [
                "a120467d.f082e8"
            ]
        ]
    },
    {
        "id": "4e94a362.84ff3c",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "81d6b9a2.abf7d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 157,
        "y": 3041,
        "wires": []
    },
    {
        "id": "b0c62742.6ef7f8",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "81d6b9a2.abf7d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 115,
        "y": 3107,
        "wires": [
            [
                "b9ef608f.c147f"
            ]
        ]
    },
    {
        "id": "b9ef608f.c147f",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 358.5,
        "y": 3106,
        "wires": [
            [
                "d3cf14f.9f288e8"
            ]
        ]
    },
    {
        "id": "1385f636.45e48a",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 852.5,
        "y": 3108,
        "wires": []
    },
    {
        "id": "d3cf14f.9f288e8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615.2499771118164,
        "y": 3107.132806777954,
        "wires": [
            [
                "1385f636.45e48a"
            ]
        ]
    },
    {
        "id": "5c7c5886.2e24e8",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "8f0783c6.a55f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2545,
        "y": 3021,
        "wires": []
    },
    {
        "id": "da543716.4f1898",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "8f0783c6.a55f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2503,
        "y": 3087,
        "wires": [
            [
                "ee3ba0d0.38dd2"
            ]
        ]
    },
    {
        "id": "ee3ba0d0.38dd2",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2746.5,
        "y": 3086,
        "wires": [
            [
                "c67a5573.117c28"
            ]
        ]
    },
    {
        "id": "912a314a.fa4ed",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3240.5,
        "y": 3088,
        "wires": []
    },
    {
        "id": "c67a5573.117c28",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3003.2499771118164,
        "y": 3087.132806777954,
        "wires": [
            [
                "912a314a.fa4ed"
            ]
        ]
    },
    {
        "id": "e232ab3.d8a6f58",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "edcb3f2d.990b7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1585.0078125,
        "y": 2398.5234375,
        "wires": []
    },
    {
        "id": "599fdb24.33e1b4",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "edcb3f2d.990b7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1543.0078125,
        "y": 2464.5234375,
        "wires": [
            [
                "adb92bb.c3b62d8"
            ]
        ]
    },
    {
        "id": "adb92bb.c3b62d8",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1786.5078125,
        "y": 2463.5234375,
        "wires": [
            [
                "267d82d0.0dcbbe"
            ]
        ]
    },
    {
        "id": "4b3c1431.a5abfc",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 2280.5078125,
        "y": 2465.5234375,
        "wires": []
    },
    {
        "id": "267d82d0.0dcbbe",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2043.2577896118164,
        "y": 2464.656244277954,
        "wires": [
            [
                "4b3c1431.a5abfc"
            ]
        ]
    },
    {
        "id": "ed1bd500.c7cec8",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "b54bc12a.1abd6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2426.5078125,
        "y": 1793.5234375,
        "wires": []
    },
    {
        "id": "ba78c8e2.837c78",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "b54bc12a.1abd6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2384.5078125,
        "y": 1859.5234375,
        "wires": [
            [
                "afea7ff1.62a89"
            ]
        ]
    },
    {
        "id": "afea7ff1.62a89",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2628.0078125,
        "y": 1858.5234375,
        "wires": [
            [
                "3889a842.bf4418"
            ]
        ]
    },
    {
        "id": "b7983d44.5d692",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3122.0078125,
        "y": 1860.5234375,
        "wires": []
    },
    {
        "id": "3889a842.bf4418",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2884.7577896118164,
        "y": 1859.656244277954,
        "wires": [
            [
                "b7983d44.5d692"
            ]
        ]
    },
    {
        "id": "5712115.bc75ff",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "53239cb8.210374",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 1540,
        "wires": [
            [
                "477e0cf5.c5b8a4"
            ]
        ]
    },
    {
        "id": "477e0cf5.c5b8a4",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "61521847.58d748",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad2\");\nvar envia = global.get(\"envia2\");\nvar actualiza = global.get(\"actualiza2\");\nvar LED = global.get(\"LED2\");\nvar Switch = global.get(\"switch2\");\nvar Logica_negativa = global.get(\"Logica_negativa2\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2570,
        "y": 1540,
        "wires": [
            [
                "df7fde01.2c833"
            ]
        ]
    },
    {
        "id": "36bea421.ee888c",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "b54bc12a.1abd6",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3740,
        "y": 1540,
        "wires": [
            [
                "c257532b.b5321"
            ]
        ]
    },
    {
        "id": "c257532b.b5321",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4000,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "348d5381.95303c",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad3\");\nvar envia = global.get(\"envia3\");\nvar actualiza = global.get(\"actualiza3\");\nvar LED = global.get(\"LED3\");\nvar Switch = global.get(\"switch3\");\nvar Logica_negativa = global.get(\"Logica_negativa3\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 2160,
        "wires": [
            [
                "c2315e39.56156"
            ]
        ]
    },
    {
        "id": "63f4792a.f81148",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "edcb3f2d.990b7",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2880,
        "y": 2160,
        "wires": [
            [
                "883691bf.16ead"
            ]
        ]
    },
    {
        "id": "883691bf.16ead",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3140,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "832bc8d2.4f7f38",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad4\");\nvar envia = global.get(\"envia4\");\nvar actualiza = global.get(\"actualiza4\");\nvar LED = global.get(\"LED4\");\nvar Switch = global.get(\"switch4\");\nvar Logica_negativa = global.get(\"Logica_negativa4\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 2800,
        "wires": [
            [
                "79e29e7e.e7bba"
            ]
        ]
    },
    {
        "id": "58a510a8.17f3b",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "81d6b9a2.abf7d8",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1440,
        "y": 2800,
        "wires": [
            [
                "82067a8.5583988"
            ]
        ]
    },
    {
        "id": "82067a8.5583988",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "a88f9df0.6cf5c",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad5\");\nvar envia = global.get(\"envia5\");\nvar actualiza = global.get(\"actualiza5\");\nvar LED = global.get(\"LED5\");\nvar Switch = global.get(\"switch5\");\nvar Logica_negativa = global.get(\"Logica_negativa5\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2670,
        "y": 2800,
        "wires": [
            [
                "78118e81.34be"
            ]
        ]
    },
    {
        "id": "6522438b.b6b0fc",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "8f0783c6.a55f4",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3840,
        "y": 2800,
        "wires": [
            [
                "b49ff6f2.affc88"
            ]
        ]
    },
    {
        "id": "b49ff6f2.affc88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4100,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "dea3e61e.5dd338",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1670,
        "y": 680,
        "wires": [
            [
                "2f9147bf.dd07c8"
            ]
        ]
    },
    {
        "id": "bc4a9dad.31263",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2990,
        "y": 280,
        "wires": [
            [
                "a97ded07.2c983"
            ]
        ]
    },
    {
        "id": "4e55728.921aa8c",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "actualiza2json",
        "func": "\nvar velocidad = global.get(\"velocidad_master\");\nvar envia = global.get(\"envia_master\");\nvar actualiza = global.get(\"actualiza_master\");\nvar LED = global.get(\"LED_master\");\nvar Switch = global.get(\"switch_master\");\nvar Logica_negativa = global.get(\"Logica_negativa_master\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 3200,
        "y": 760,
        "wires": [
            [
                "2b726d7f.ebe762",
                "b4fa36e6.6c2378",
                "d208ac9b.2f692",
                "33cb06ab.3f942a",
                "d0211a63.f56058"
            ]
        ]
    },
    {
        "id": "c80a7240.0e43a",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3858.9997634887695,
        "y": 614,
        "wires": []
    },
    {
        "id": "78613d69.a49b24",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3884.999767303467,
        "y": 663.000020980835,
        "wires": []
    },
    {
        "id": "ec98b6b9.faaac8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3621.749740600586,
        "y": 613.1328067779541,
        "wires": [
            [
                "c80a7240.0e43a",
                "78613d69.a49b24"
            ]
        ]
    },
    {
        "id": "2b726d7f.ebe762",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3426.491928100586,
        "y": 611.4765567779541,
        "wires": [
            [
                "ec98b6b9.faaac8"
            ]
        ]
    },
    {
        "id": "b4fa36e6.6c2378",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3427.4918060302734,
        "y": 685.4765567779541,
        "wires": [
            [
                "c0b3e07f.f71a1"
            ]
        ]
    },
    {
        "id": "d208ac9b.2f692",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3423.4916763305664,
        "y": 770.4765586853027,
        "wires": [
            [
                "5a61fe91.2f1d4"
            ]
        ]
    },
    {
        "id": "33cb06ab.3f942a",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3421.4916763305664,
        "y": 839.4765586853027,
        "wires": [
            [
                "851d7392.edf5e"
            ]
        ]
    },
    {
        "id": "d0211a63.f56058",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3423.4916763305664,
        "y": 911.4765586853027,
        "wires": [
            [
                "da5c5dbd.f3f71"
            ]
        ]
    },
    {
        "id": "42076344.98152c",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3866.491928100586,
        "y": 701.4765567779541,
        "wires": []
    },
    {
        "id": "bd6f1a5e.d4e5d8",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3886.491931915283,
        "y": 738.4765777587891,
        "wires": []
    },
    {
        "id": "c0b3e07f.f71a1",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3621.2419815063477,
        "y": 690.6093673706055,
        "wires": [
            [
                "42076344.98152c",
                "bd6f1a5e.d4e5d8"
            ]
        ]
    },
    {
        "id": "aaa84baf.3e7658",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3870.491928100586,
        "y": 779.4765567779541,
        "wires": []
    },
    {
        "id": "b88d03a5.74ada",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3890.491931915283,
        "y": 816.4765777587891,
        "wires": []
    },
    {
        "id": "5a61fe91.2f1d4",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3631.2419815063477,
        "y": 772.6093673706055,
        "wires": [
            [
                "aaa84baf.3e7658",
                "b88d03a5.74ada"
            ]
        ]
    },
    {
        "id": "f477042d.4299e8",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3874.491928100586,
        "y": 853.4765567779541,
        "wires": []
    },
    {
        "id": "b853d82c.d29768",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3894.491931915283,
        "y": 890.4765777587891,
        "wires": []
    },
    {
        "id": "851d7392.edf5e",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3649.2419052124023,
        "y": 876.6093635559082,
        "wires": [
            [
                "f477042d.4299e8",
                "b853d82c.d29768"
            ]
        ]
    },
    {
        "id": "80f0e97b.fbc798",
        "type": "mqtt out",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "5a6b52aa.1a73ac",
        "x": 3874.491928100586,
        "y": 927.4765567779541,
        "wires": []
    },
    {
        "id": "844b9f03.c7c2d",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3894.491928100586,
        "y": 960.4765567779541,
        "wires": []
    },
    {
        "id": "da5c5dbd.f3f71",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3655.2419052124023,
        "y": 962.6093635559082,
        "wires": [
            [
                "80f0e97b.fbc798",
                "844b9f03.c7c2d"
            ]
        ]
    },
    {
        "id": "7ab96849.e25228",
        "type": "switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3030,
        "y": 760,
        "wires": [
            [
                "4e55728.921aa8c"
            ]
        ]
    },
    {
        "id": "c03ac2c1.ff13f",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "bd0b499c.ca1778",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2890,
        "y": 760,
        "wires": [
            [
                "7ab96849.e25228"
            ]
        ]
    },
    {
        "id": "135b378.6b535c9",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2640,
        "y": 1080,
        "wires": [
            [
                "cbaca4da.44eb88"
            ]
        ]
    },
    {
        "id": "a79108cd.94a2e8",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2660,
        "y": 1040,
        "wires": [
            [
                "aeb71585.666858"
            ]
        ]
    },
    {
        "id": "cbaca4da.44eb88",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "aeb71585.666858",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2890,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "3e2e1cb7.2d1074",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2680,
        "y": 1000,
        "wires": [
            [
                "91f80e03.30a6d"
            ]
        ]
    },
    {
        "id": "91f80e03.30a6d",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "92698a7b.ed3478",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3200,
        "y": 1040,
        "wires": [
            [
                "eb6f11d2.11b97"
            ]
        ]
    },
    {
        "id": "eb6f11d2.11b97",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2e8a5aaf.eb7116",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3210,
        "y": 1000,
        "wires": [
            [
                "aaa8eade.f0ddc8"
            ]
        ]
    },
    {
        "id": "aaa8eade.f0ddc8",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3440,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "34628361.4c7fcc",
        "type": "ui_switch",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "bd0b499c.ca1778",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3200,
        "y": 1080,
        "wires": [
            [
                "3813f14e.7b9b3e"
            ]
        ]
    },
    {
        "id": "3813f14e.7b9b3e",
        "type": "change",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3480,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "3c626a60.e9da86",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "53239cb8.210374",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 177.5,
        "y": 1804,
        "wires": []
    },
    {
        "id": "9767db26.951c98",
        "type": "ui_led",
        "z": "efaaca2d.40d4f8",
        "group": "8f0783c6.a55f4",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4330,
        "y": 2940,
        "wires": []
    },
    {
        "id": "6e333b8a.ff8b94",
        "type": "ui_text",
        "z": "efaaca2d.40d4f8",
        "group": "bd0b499c.ca1778",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2840,
        "y": 220,
        "wires": []
    },
    {
        "id": "54dc215b.bc9e6",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Mxima Temperatura ",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "35511f6b.b63d1"
            ]
        ]
    },
    {
        "id": "99578d47.d7be5",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Mnima Temperatura",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "f89ddce5.9c686"
            ]
        ]
    },
    {
        "id": "451f3311.e4d49c",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Mxima Humedad",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "bf06058a.b82688"
            ]
        ]
    },
    {
        "id": "3f229dc7.9578a2",
        "type": "ui_text_input",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "label": "Mnima Humedad",
        "tooltip": "",
        "group": "c6032041.101a6",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "55710f32.25e3b"
            ]
        ]
    },
    {
        "id": "bf06058a.b82688",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Ajustar humedad max/min aviso",
        "func": "//albergamos en la variable humedad la respuesta convertida a numrico.\nvar humedad=Number(msg.payload);\n\n\n//si se introduce un valor lgico de humedad y se ha pedido cambiar la hmax o hmin, entramos al if\nif(humedad >=0 && humedad<=100)\n{\n    if(humedad>global.get('HumedadMIN')) //si la humedad max introducida es mayor que la hmin actual, guardamos el cambio y es vlido.\n    {\n        global.set('HumedadMAX',humedad)\n    }\n\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "35511f6b.b63d1",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Ajustar temperatura maxima/minima aviso",
        "func": "var temperatura=Number(msg.payload);\n//Convertimos la respuesta del usuario a numrico para evitar errores de strings.\nvar temperaturaMinAct=global.get('TemperaturaMIN')\nvar temperaturaMaxAct=global.get('TemperaturaMAX')\n//Guardamos las temperaturas minima y maxima actuales en variables para comprobar.\n\n//Si se ha introducido un valor recogido en los lmites, y se ha pedido realizar un cambio de temperatura de aviso, entramos en el if.\nif(temperatura >=-10 && temperatura<=60)\n{\n    if(temperatura>temperaturaMinAct) //si la temperatura introducida es mayor que la temperatura minima actual(tmax>tmin, se cumple la logica)\n    {\n        global.set('TemperaturaMAX',temperatura)\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1500,
        "y": 380,
        "wires": [
            [
                "9796d8c.ac8fd28"
            ]
        ]
    },
    {
        "id": "f89ddce5.9c686",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Ajustar temperatura maxima/minima aviso",
        "func": "var temperatura=Number(msg.payload);\n//Convertimos la respuesta del usuario a numrico para evitar errores de strings.\nvar temperaturaMinAct=global.get('TemperaturaMIN')\nvar temperaturaMaxAct=global.get('TemperaturaMAX')\n//Guardamos las temperaturas minima y maxima actuales en variables para comprobar.\n\n//Si se ha introducido un valor recogido en los lmites, y se ha pedido realizar un cambio de temperatura de aviso, entramos en el if.\nif(temperatura >=-10 && temperatura<=60)\n{\n    if(temperatura<=temperaturaMaxAct) //si la minima es menor que la maxima, se cumple la condicin (tmin<tmax) lgica\n    {\n        global.set('TemperaturaMIN',temperatura)\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1500,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "55710f32.25e3b",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "Ajustar humedad max/min aviso",
        "func": "//albergamos en la variable humedad la respuesta convertida a numrico.\nvar humedad=Number(msg.payload);\n\n\n//si se introduce un valor lgico de humedad y se ha pedido cambiar la hmax o hmin, entramos al if\nif(humedad >=0 && humedad<=100)\n{\n    if(humedad<=global.get('HumedadMAX')) //si hmin es menor que la hmax actual, la guardamos y procesamos el mensaje.\n    {\n        global.set('HumedadMIN',humedad) \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "99d30068.e537b",
        "type": "comment",
        "z": "efaaca2d.40d4f8",
        "name": "Lmites Alertas",
        "info": "",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "9796d8c.ac8fd28",
        "type": "debug",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1790,
        "y": 380,
        "wires": []
    },
    {
        "id": "ffdd24de.ee25a8",
        "type": "ui_button",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "group": "c6032041.101a6",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1120,
        "y": 620,
        "wires": [
            [
                "5616dd42.0fc814"
            ]
        ]
    },
    {
        "id": "5616dd42.0fc814",
        "type": "function",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "func": " global.set(\"TemperaturaMIN\",10)\n global.set(\"TemperaturaMAX\",30)\n global.set(\"HumedadMIN\",30)\n global.set(\"HumedadMAX\",90)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7a81a72b.7496f8",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 970,
        "y": 380,
        "wires": [
            [
                "54dc215b.bc9e6"
            ]
        ]
    },
    {
        "id": "258fe7c3.a568a8",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "99578d47.d7be5"
            ]
        ]
    },
    {
        "id": "dad1e5c9.dc0038",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 970,
        "y": 500,
        "wires": [
            [
                "451f3311.e4d49c"
            ]
        ]
    },
    {
        "id": "608a3ec1.ed9b2",
        "type": "inject",
        "z": "efaaca2d.40d4f8",
        "name": "",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 970,
        "y": 560,
        "wires": [
            [
                "3f229dc7.9578a2"
            ]
        ]
    },
    {
        "id": "728049ce.f396b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "53239cb8.210374",
        "type": "ui_group",
        "z": "",
        "name": "ESP1Ctrl",
        "tab": "98493e9a.b2c16",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "b54bc12a.1abd6",
        "type": "ui_group",
        "z": "",
        "name": "ESP2Ctrl",
        "tab": "98493e9a.b2c16",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "c6032041.101a6",
        "type": "ui_group",
        "z": "",
        "name": "ESP",
        "tab": "98493e9a.b2c16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bd0b499c.ca1778",
        "type": "ui_group",
        "z": "",
        "name": "MASTERControl",
        "tab": "98493e9a.b2c16",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "edcb3f2d.990b7",
        "type": "ui_group",
        "z": "",
        "name": "ESP3Ctrl",
        "tab": "98493e9a.b2c16",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "81d6b9a2.abf7d8",
        "type": "ui_group",
        "z": "",
        "name": "ESP4Ctrl",
        "tab": "98493e9a.b2c16",
        "order": 6,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "8f0783c6.a55f4",
        "type": "ui_group",
        "z": "",
        "name": "ESP5Ctrl",
        "tab": "98493e9a.b2c16",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "5a6b52aa.1a73ac",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "98493e9a.b2c16",
        "type": "ui_tab",
        "z": "",
        "name": "ControlESP",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]