Node-RED/Global1_RecepcionDatosESP.txt
[
    {
        "id": "957eec4f.d2a66",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": true,
        "info": ""
    },
    {
        "id": "8a803106.e93c8",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "f3af6718.86a438",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "f1a0ff09.fba9e",
                "b168457e.8c70e8"
            ]
        ]
    },
    {
        "id": "ffd651ee.7205f",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "f1a0ff09.fba9e",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "5433d12f.4572"
            ]
        ]
    },
    {
        "id": "b168457e.8c70e8",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.8957977294922,
        "y": 402.888964176178,
        "wires": []
    },
    {
        "id": "5ee148b.472f4b8",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "f3af6718.86a438",
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "637fc8c.ea0d838",
                "3271e914.99d636"
            ]
        ]
    },
    {
        "id": "f37d4690.031d28",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "f3af6718.86a438",
        "x": 400,
        "y": 2340,
        "wires": [
            [
                "7e70da24.df79a4"
            ]
        ]
    },
    {
        "id": "fe20de11.69cde",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "f3af6718.86a438",
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "32043535.91232a"
            ]
        ]
    },
    {
        "id": "3d5fbc60.c6e514",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "f3af6718.86a438",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "a5c9e6d2.cd8368"
            ]
        ]
    },
    {
        "id": "5433d12f.4572",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "ffd651ee.7205f",
                "7a986828.6dcb28",
                "1b5acabf.2a5165",
                "19d81434.00099c",
                "8f41c91b.f6ebd8",
                "58bc8c0b.88aa04",
                "608ffdf7.8e3544",
                "d24de9fb.2da9a8",
                "28584367.08386c",
                "b4739e6.0d3726",
                "c85b3ce.47aa9c",
                "23b7b66f.447b7a",
                "b26c9021.0efdc",
                "3fb85ea.c8672a2",
                "6c97da0.2d58a28",
                "1aca49b4.d9ea26"
            ]
        ]
    },
    {
        "id": "7a986828.6dcb28",
        "type": "mongodb out",
        "z": "957eec4f.d2a66",
        "mongodb": "2fb8b39d.eff1ac",
        "name": "",
        "collection": "DATOS_ESP1",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "5f7610e4.5c073",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "7df03144.51275",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "1b0e2e7e.a57a82",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "7df03144.51275",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "1b5acabf.2a5165",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "1b0e2e7e.a57a82"
            ]
        ]
    },
    {
        "id": "19d81434.00099c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "5f7610e4.5c073"
            ]
        ]
    },
    {
        "id": "8f41c91b.f6ebd8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "d28dd888.560fb8"
            ]
        ]
    },
    {
        "id": "d28dd888.560fb8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "58bc8c0b.88aa04",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "c3445e93.2759d"
            ]
        ]
    },
    {
        "id": "c3445e93.2759d",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "608ffdf7.8e3544",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "d5e8c6ec.708018"
            ]
        ]
    },
    {
        "id": "d5e8c6ec.708018",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "f229c88e.ab2858",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "18061680.76116a",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Led",
        "group": "7df03144.51275",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "c85b3ce.47aa9c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "18061680.76116a"
            ]
        ]
    },
    {
        "id": "23b7b66f.447b7a",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "f229c88e.ab2858"
            ]
        ]
    },
    {
        "id": "d24de9fb.2da9a8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "490daf72.a602a"
            ]
        ]
    },
    {
        "id": "490daf72.a602a",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "28584367.08386c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "d1933961.bc3868"
            ]
        ]
    },
    {
        "id": "d1933961.bc3868",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "b4739e6.0d3726",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "4e196b2a.4bf414",
                "3bb02c8e.135364"
            ]
        ]
    },
    {
        "id": "4e196b2a.4bf414",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "330ef8ed.6e0238",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "3bb02c8e.135364",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "7ce110e9.42a0a"
            ]
        ]
    },
    {
        "id": "7ce110e9.42a0a",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Intensidad Señal",
        "group": "7df03144.51275",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "63c6c849.cbe868",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "fe6f93c2.921a4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "bda06c40.5551d",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "637fc8c.ea0d838",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 753.507511138916,
        "y": 1447.5233407020569,
        "wires": [
            [
                "e384d9af.a22758"
            ]
        ]
    },
    {
        "id": "3271e914.99d636",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "e384d9af.a22758",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "bda06c40.5551d",
                "b1a12ec0.f74c4",
                "b23b421c.40662",
                "25186fb1.0b09c",
                "c6b466a3.674cb8",
                "b6e367af.a96e98",
                "9c77ec6f.a8647",
                "a43bff35.8c904",
                "1acb6c82.106db3",
                "a57e643.8591398",
                "ebdc2c41.47d5",
                "d57faa35.711fd8",
                "b0ddd3b2.43ab3",
                "4c051322.962e1c",
                "eafcfd3.cc526",
                "caa07a0.a5fdf88"
            ]
        ]
    },
    {
        "id": "b1a12ec0.f74c4",
        "type": "mongodb out",
        "z": "957eec4f.d2a66",
        "mongodb": "2fb8b39d.eff1ac",
        "name": "",
        "collection": "DATOS_ESP2",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 670,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f0f90f45.c8a91",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "73108a43.3d32b4",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "4f3b421d.774acc",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "73108a43.3d32b4",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "b23b421c.40662",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "4f3b421d.774acc"
            ]
        ]
    },
    {
        "id": "25186fb1.0b09c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "f0f90f45.c8a91"
            ]
        ]
    },
    {
        "id": "c6b466a3.674cb8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "a7e71888.eed9d8"
            ]
        ]
    },
    {
        "id": "a7e71888.eed9d8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "b6e367af.a96e98",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "1d36b019.48587"
            ]
        ]
    },
    {
        "id": "1d36b019.48587",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "9c77ec6f.a8647",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "fb58f4f4.387708"
            ]
        ]
    },
    {
        "id": "fb58f4f4.387708",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "ef453f10.e4e3",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "2400ae61.16deb2",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Led",
        "group": "73108a43.3d32b4",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "ebdc2c41.47d5",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "2400ae61.16deb2"
            ]
        ]
    },
    {
        "id": "d57faa35.711fd8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "ef453f10.e4e3"
            ]
        ]
    },
    {
        "id": "a43bff35.8c904",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "c0ee9b93.e39438"
            ]
        ]
    },
    {
        "id": "c0ee9b93.e39438",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "1acb6c82.106db3",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "31db6bd8.cc0834"
            ]
        ]
    },
    {
        "id": "31db6bd8.cc0834",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "a57e643.8591398",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "e21d7db3.41be4",
                "66323ce8.19a0e4"
            ]
        ]
    },
    {
        "id": "e21d7db3.41be4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "f790a23f.bd0b",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "66323ce8.19a0e4",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680.2853393554688,
        "y": 1856.8566317558289,
        "wires": [
            [
                "73ddb1c5.8af1f"
            ]
        ]
    },
    {
        "id": "73ddb1c5.8af1f",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Intensidad Señal",
        "group": "73108a43.3d32b4",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1950.2854843139648,
        "y": 1855.52339220047,
        "wires": []
    },
    {
        "id": "d9520d99.a1c29",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "a33d0e13.c2916",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "cf63176a.48f0d8",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 2100,
        "wires": []
    },
    {
        "id": "7e70da24.df79a4",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "a26f6427.577488"
            ]
        ]
    },
    {
        "id": "a26f6427.577488",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "cf63176a.48f0d8",
                "69e1316c.93e16",
                "62e3f07.898a91",
                "c377e103.eb813",
                "cc194612.b5dbc8",
                "858c9983.4720f8",
                "85d60ea9.11ac7",
                "a15c3732.77cf68",
                "ab21333b.bb9e9",
                "2933bd0a.984d92",
                "4c675738.c0e7f8",
                "7437e9ef.5d3758",
                "f5118436.f2eb18",
                "f53c51fd.8c1f3",
                "cddcfdf2.e737f",
                "2a1ec0ef.81afd"
            ]
        ]
    },
    {
        "id": "69e1316c.93e16",
        "type": "mongodb out",
        "z": "957eec4f.d2a66",
        "mongodb": "2fb8b39d.eff1ac",
        "name": "",
        "collection": "DATOS_ESP3",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1066.445457458496,
        "y": 2179.1171946525574,
        "wires": []
    },
    {
        "id": "c1e72215.103de",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "10795c3e.234744",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "448e83d9.ccfa9c",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "10795c3e.234744",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "62e3f07.898a91",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "448e83d9.ccfa9c"
            ]
        ]
    },
    {
        "id": "c377e103.eb813",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "c1e72215.103de"
            ]
        ]
    },
    {
        "id": "cc194612.b5dbc8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "88f3ab0f.b12388"
            ]
        ]
    },
    {
        "id": "88f3ab0f.b12388",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "858c9983.4720f8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "54113eb3.8804"
            ]
        ]
    },
    {
        "id": "54113eb3.8804",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "85d60ea9.11ac7",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "b413a4cb.f5e478"
            ]
        ]
    },
    {
        "id": "b413a4cb.f5e478",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "1f59d05e.196c1",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "cf3848c9.159ba8",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Led",
        "group": "10795c3e.234744",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "4c675738.c0e7f8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "cf3848c9.159ba8"
            ]
        ]
    },
    {
        "id": "7437e9ef.5d3758",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "1f59d05e.196c1"
            ]
        ]
    },
    {
        "id": "a15c3732.77cf68",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "97ce4085.b41b4"
            ]
        ]
    },
    {
        "id": "97ce4085.b41b4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "ab21333b.bb9e9",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "6f21875.33f9078"
            ]
        ]
    },
    {
        "id": "6f21875.33f9078",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "2933bd0a.984d92",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "c5c855d4.4e0628",
                "24347788.a057d8"
            ]
        ]
    },
    {
        "id": "c5c855d4.4e0628",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "221e179e.a8f3f8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "24347788.a057d8",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "abbc235b.80c49"
            ]
        ]
    },
    {
        "id": "abbc235b.80c49",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Intensidad Señal",
        "group": "10795c3e.234744",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "5aa05daa.f5fcd4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "4715996c.cc2868",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "ef706be5.9bd368",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "32043535.91232a",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "69a59d6a.39b474"
            ]
        ]
    },
    {
        "id": "69a59d6a.39b474",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "ef706be5.9bd368",
                "e2b76d72.4b1a5",
                "858ca552.15d588",
                "3c7a634f.47020c",
                "3b52375.83be0c8",
                "3d38a544.0ecd8a",
                "dc61b7bd.bffb78",
                "291c20f7.32292",
                "a9c6ff1b.4d42",
                "f570479e.cb0f38",
                "eff62199.d2b1d",
                "bdc78afd.996208",
                "5ffafef2.69fe8",
                "81e88f8.604d37",
                "43d3a429.1b458c",
                "cb971ab0.51f338"
            ]
        ]
    },
    {
        "id": "e2b76d72.4b1a5",
        "type": "mongodb out",
        "z": "957eec4f.d2a66",
        "mongodb": "2fb8b39d.eff1ac",
        "name": "",
        "collection": "DATOS_ESP4",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 450,
        "y": 3540,
        "wires": []
    },
    {
        "id": "33f63772.950f78",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "51047e65.8a2ed",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "1eb735a0.cd572a",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "51047e65.8a2ed",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "858ca552.15d588",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "1eb735a0.cd572a"
            ]
        ]
    },
    {
        "id": "3c7a634f.47020c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "33f63772.950f78"
            ]
        ]
    },
    {
        "id": "3b52375.83be0c8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "9f2bcb42.29fd68"
            ]
        ]
    },
    {
        "id": "9f2bcb42.29fd68",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "3d38a544.0ecd8a",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "3f973d3b.c86d32"
            ]
        ]
    },
    {
        "id": "3f973d3b.c86d32",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "dc61b7bd.bffb78",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "323333a4.595e9c"
            ]
        ]
    },
    {
        "id": "323333a4.595e9c",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "f8d3dc4.b010b2",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "2c9a5e23.1c02d2",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Led",
        "group": "51047e65.8a2ed",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "eff62199.d2b1d",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "2c9a5e23.1c02d2"
            ]
        ]
    },
    {
        "id": "bdc78afd.996208",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "f8d3dc4.b010b2"
            ]
        ]
    },
    {
        "id": "291c20f7.32292",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "da14933.e7b167"
            ]
        ]
    },
    {
        "id": "da14933.e7b167",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "a9c6ff1b.4d42",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "93d69a6f.cf2618"
            ]
        ]
    },
    {
        "id": "93d69a6f.cf2618",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "f570479e.cb0f38",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "6d0a0017.ecd31",
                "ff3bd5ad.edb978"
            ]
        ]
    },
    {
        "id": "6d0a0017.ecd31",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "12987116.b25cff",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "ff3bd5ad.edb978",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "af3ca61b.f2f4f8"
            ]
        ]
    },
    {
        "id": "af3ca61b.f2f4f8",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Intensidad Señal",
        "group": "51047e65.8a2ed",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "6598aad.b748d54",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "772681bd.10ccf",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "bbd6a795.975198",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "a5c9e6d2.cd8368",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "3842d84d.82e978"
            ]
        ]
    },
    {
        "id": "3842d84d.82e978",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "bbd6a795.975198",
                "dff10e85.150c9",
                "cda159b.82976a8",
                "f5d89c2c.46c83",
                "bcfccc8c.3f763",
                "7661f3d7.54040c",
                "8442f5a4.1dadb8",
                "707f0de.83a5df4",
                "b895966e.b7a5f8",
                "2ac1639b.ecd3cc",
                "a3e31c08.6aba7",
                "ca218eec.0c2a6",
                "dde5cede.bfca",
                "d392431f.fb0c2",
                "76576da0.3a0134",
                "a6518cf2.ece61"
            ]
        ]
    },
    {
        "id": "dff10e85.150c9",
        "type": "mongodb out",
        "z": "957eec4f.d2a66",
        "mongodb": "2fb8b39d.eff1ac",
        "name": "",
        "collection": "DATOS_ESP5",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 510,
        "y": 4660,
        "wires": []
    },
    {
        "id": "2e816593.36fffa",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "4607880f.af0e68",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "ef1ca83c.ea5a88",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "",
        "group": "4607880f.af0e68",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "cda159b.82976a8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "ef1ca83c.ea5a88"
            ]
        ]
    },
    {
        "id": "f5d89c2c.46c83",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "2e816593.36fffa"
            ]
        ]
    },
    {
        "id": "bcfccc8c.3f763",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "21f842d2.96754e"
            ]
        ]
    },
    {
        "id": "21f842d2.96754e",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "7661f3d7.54040c",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "23f3d4e9.b0a89c"
            ]
        ]
    },
    {
        "id": "23f3d4e9.b0a89c",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "8442f5a4.1dadb8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "ce2f76d3.6dd948"
            ]
        ]
    },
    {
        "id": "ce2f76d3.6dd948",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "bbcde9e3.84d138",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "1c29e8d4.7a7087",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Led",
        "group": "4607880f.af0e68",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "a3e31c08.6aba7",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "1c29e8d4.7a7087"
            ]
        ]
    },
    {
        "id": "ca218eec.0c2a6",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "bbcde9e3.84d138"
            ]
        ]
    },
    {
        "id": "707f0de.83a5df4",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "88aa3c8b.8f9e1"
            ]
        ]
    },
    {
        "id": "88aa3c8b.8f9e1",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "b895966e.b7a5f8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "5fdf4ce0.621cc4"
            ]
        ]
    },
    {
        "id": "5fdf4ce0.621cc4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "2ac1639b.ecd3cc",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "c82b7d7a.a2a5f",
                "8ef4c2f2.e82af"
            ]
        ]
    },
    {
        "id": "c82b7d7a.a2a5f",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "3fe44bba.dc63e4",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "8ef4c2f2.e82af",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "fb3b1a94.5c5bc8"
            ]
        ]
    },
    {
        "id": "fb3b1a94.5c5bc8",
        "type": "ui_gauge",
        "z": "957eec4f.d2a66",
        "name": "Intensidad Señal",
        "group": "4607880f.af0e68",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "363caa88.b053c6",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "36b727f8.2b2ba8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "5729deaf.ed7d4",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "65df3009.1e13e",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "67244aac.3e5684",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "d39407a3.0b64b8",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "4b001000.15312",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "b1e9e053.495ec",
        "type": "comment",
        "z": "957eec4f.d2a66",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "46f42f78.f486e",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "3fb85ea.c8672a2",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "a1f7f1ca.4efbc",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "b26c9021.0efdc",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "4b379575.72e20c"
            ]
        ]
    },
    {
        "id": "6e98f4fa.98a0ec",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "4c051322.962e1c",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "2422b00e.5a6a6",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "b0ddd3b2.43ab3",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "ac18e01a.122fc",
                "5d70011b.19112"
            ]
        ]
    },
    {
        "id": "bb212a60.00e638",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "f53c51fd.8c1f3",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "1b5e5cab.6aa213",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "f5118436.f2eb18",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "377ab643.42d77a"
            ]
        ]
    },
    {
        "id": "86bb00d2.62a3a",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "81e88f8.604d37",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "2f009944.1babc6",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "5ffafef2.69fe8",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "c0c6e979.5721d8"
            ]
        ]
    },
    {
        "id": "38fdce7.e776932",
        "type": "ui_led",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "d392431f.fb0c2",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "61390362.e8b03c",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "dde5cede.bfca",
        "type": "change",
        "z": "957eec4f.d2a66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "1fde91d1.a58b6e"
            ]
        ]
    },
    {
        "id": "b88a7008.f53d6",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "7df03144.51275",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "b95de5b8.ab75f8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "73108a43.3d32b4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "471dfe8e.4db9f",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "10795c3e.234744",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "938c98dc.066d18",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "51047e65.8a2ed",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "9ab0469c.a7e4f8",
        "type": "ui_text",
        "z": "957eec4f.d2a66",
        "group": "4607880f.af0e68",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "ac18e01a.122fc",
        "type": "debug",
        "z": "957eec4f.d2a66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1876.6667137145996,
        "y": 1237.0001425743103,
        "wires": []
    },
    {
        "id": "5d70011b.19112",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1544.2779960632324,
        "y": 1182.15305519104,
        "wires": [
            [
                "6e98f4fa.98a0ec",
                "2422b00e.5a6a6"
            ]
        ]
    },
    {
        "id": "4b379575.72e20c",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 220,
        "wires": [
            [
                "46f42f78.f486e",
                "a1f7f1ca.4efbc"
            ]
        ]
    },
    {
        "id": "377ab643.42d77a",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "bb212a60.00e638",
                "1b5e5cab.6aa213"
            ]
        ]
    },
    {
        "id": "c0c6e979.5721d8",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "86bb00d2.62a3a",
                "2f009944.1babc6"
            ]
        ]
    },
    {
        "id": "1fde91d1.a58b6e",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "38fdce7.e776932",
                "61390362.e8b03c"
            ]
        ]
    },
    {
        "id": "a6518cf2.ece61",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 4780,
        "wires": [
            [
                "ff28fc0.d81b008"
            ]
        ]
    },
    {
        "id": "76576da0.3a0134",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "ff28fc0.d81b008"
            ]
        ]
    },
    {
        "id": "ff28fc0.d81b008",
        "type": "telegram sender",
        "z": "957eec4f.d2a66",
        "name": "",
        "bot": "8bd7613a.1d622",
        "x": 1270,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "9c6b19cc.012358",
        "type": "telegram sender",
        "z": "957eec4f.d2a66",
        "name": "",
        "bot": "8bd7613a.1d622",
        "x": 1230,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "cb971ab0.51f338",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 3840,
        "wires": [
            [
                "9c6b19cc.012358"
            ]
        ]
    },
    {
        "id": "43d3a429.1b458c",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 3740,
        "wires": [
            [
                "9c6b19cc.012358"
            ]
        ]
    },
    {
        "id": "1e98ad2e.9a1653",
        "type": "telegram sender",
        "z": "957eec4f.d2a66",
        "name": "",
        "bot": "8bd7613a.1d622",
        "x": 1430,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "2a1ec0ef.81afd",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2680,
        "wires": [
            [
                "1e98ad2e.9a1653"
            ]
        ]
    },
    {
        "id": "cddcfdf2.e737f",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2620,
        "wires": [
            [
                "1e98ad2e.9a1653"
            ]
        ]
    },
    {
        "id": "eafcfd3.cc526",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1680,
        "wires": [
            [
                "c5f90f90.33947"
            ]
        ]
    },
    {
        "id": "caa07a0.a5fdf88",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "c5f90f90.33947"
            ]
        ]
    },
    {
        "id": "c5f90f90.33947",
        "type": "telegram sender",
        "z": "957eec4f.d2a66",
        "name": "",
        "bot": "8bd7613a.1d622",
        "x": 1430,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "6c97da0.2d58a28",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\n\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "79b332cb.e65e8c"
            ]
        ]
    },
    {
        "id": "1aca49b4.d9ea26",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "79b332cb.e65e8c"
            ]
        ]
    },
    {
        "id": "79b332cb.e65e8c",
        "type": "telegram sender",
        "z": "957eec4f.d2a66",
        "name": "",
        "bot": "8bd7613a.1d622",
        "x": 1750,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "a68efa4b.90f2d8",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/FOTA/actualizado",
        "qos": "2",
        "broker": "98c90ec4.3396d",
        "x": 197.5078125,
        "y": 773.5234375,
        "wires": [
            [
                "d45c8671.5ea518"
            ]
        ]
    },
    {
        "id": "d45c8671.5ea518",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 422.01561962091364,
        "y": 692.5234527587891,
        "wires": [
            [
                "7c498c1d.bb4964"
            ]
        ]
    },
    {
        "id": "7c498c1d.bb4964",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528.0155906677246,
        "y": 781.6345705986023,
        "wires": [
            [
                "7a986828.6dcb28"
            ]
        ]
    },
    {
        "id": "c600d81d.db9018",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/FOTA/actualizado",
        "qos": "2",
        "broker": "98c90ec4.3396d",
        "x": 243.5078125,
        "y": 1778.5234375,
        "wires": [
            [
                "77113a0b.993564"
            ]
        ]
    },
    {
        "id": "77113a0b.993564",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 468.01561962091364,
        "y": 1697.523452758789,
        "wires": [
            [
                "b26d5607.476ba8"
            ]
        ]
    },
    {
        "id": "b26d5607.476ba8",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 574.0155906677246,
        "y": 1786.6345705986023,
        "wires": [
            [
                "b1a12ec0.f74c4"
            ]
        ]
    },
    {
        "id": "dcf8fb73.711ed8",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/FOTA/actualizado",
        "qos": "2",
        "broker": "98c90ec4.3396d",
        "x": 357.5078125,
        "y": 2219.5234375,
        "wires": [
            [
                "9fe1bb56.fa1b68"
            ]
        ]
    },
    {
        "id": "9fe1bb56.fa1b68",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 582.0156196209136,
        "y": 2138.523452758789,
        "wires": [
            [
                "5d33403c.f7102"
            ]
        ]
    },
    {
        "id": "5d33403c.f7102",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.0155906677246,
        "y": 2227.6345705986023,
        "wires": [
            [
                "69e1316c.93e16"
            ]
        ]
    },
    {
        "id": "cbd6cc77.c76f8",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/FOTA/actualizado",
        "qos": "2",
        "broker": "98c90ec4.3396d",
        "x": 182.5078125,
        "y": 3724.5234375,
        "wires": [
            [
                "f2160012.96874"
            ]
        ]
    },
    {
        "id": "f2160012.96874",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 405.01562881469727,
        "y": 3805.523525238037,
        "wires": [
            [
                "9dfc9348.da8b5"
            ]
        ]
    },
    {
        "id": "9dfc9348.da8b5",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 513.0155906677246,
        "y": 3732.6345705986023,
        "wires": [
            [
                "e2b76d72.4b1a5"
            ]
        ]
    },
    {
        "id": "56ff7b43.7c3684",
        "type": "mqtt in",
        "z": "957eec4f.d2a66",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/FOTA/actualizado",
        "qos": "2",
        "broker": "98c90ec4.3396d",
        "x": 204.5078125,
        "y": 4821.0234375,
        "wires": [
            [
                "541f88a3.90b058"
            ]
        ]
    },
    {
        "id": "541f88a3.90b058",
        "type": "json",
        "z": "957eec4f.d2a66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 388.0156364440918,
        "y": 4943.023555755615,
        "wires": [
            [
                "1b869e33.b152c2"
            ]
        ]
    },
    {
        "id": "1b869e33.b152c2",
        "type": "function",
        "z": "957eec4f.d2a66",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535.0155906677246,
        "y": 4829.134570598602,
        "wires": [
            [
                "dff10e85.150c9"
            ]
        ]
    },
    {
        "id": "f3af6718.86a438",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2fb8b39d.eff1ac",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "7df03144.51275",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "826e8a9f.f99c38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "73108a43.3d32b4",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "826e8a9f.f99c38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "10795c3e.234744",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "826e8a9f.f99c38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51047e65.8a2ed",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "826e8a9f.f99c38",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4607880f.af0e68",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "826e8a9f.f99c38",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8bd7613a.1d622",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "98c90ec4.3396d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "826e8a9f.f99c38",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]