Node-RED/Global1_RecepcionDatosESP.txt
[
    {
        "id": "fef8f9b7.bbc528",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7fbd313.1e38a",
        "type": "mqtt in",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "cd5dbf9e.ebb57",
        "x": 369.8958053588867,
        "y": 513.8888802528381,
        "wires": [
            [
                "be191f51.3e8fd",
                "5c4b07b1.bd0aa8"
            ]
        ]
    },
    {
        "id": "b24aeedb.474a3",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1026.896183013916,
        "y": 289.8890280723572,
        "wires": []
    },
    {
        "id": "be191f51.3e8fd",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "9250a728.bf4bc8"
            ]
        ]
    },
    {
        "id": "5c4b07b1.bd0aa8",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.8957977294922,
        "y": 402.888964176178,
        "wires": []
    },
    {
        "id": "6abe0e4f.a42de",
        "type": "mqtt in",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "cd5dbf9e.ebb57",
        "x": 368.8958625793457,
        "y": 1438.8889899253845,
        "wires": [
            [
                "ad11eb24.dcaf48",
                "8a750aa0.ad5bd8"
            ]
        ]
    },
    {
        "id": "f3a262ab.07909",
        "type": "mqtt in",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "cd5dbf9e.ebb57",
        "x": 356.89581298828125,
        "y": 2356.8891406059265,
        "wires": [
            [
                "b165c79b.3ca198"
            ]
        ]
    },
    {
        "id": "3b2b9545.343e8a",
        "type": "mqtt in",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "cd5dbf9e.ebb57",
        "x": 227.89581680297852,
        "y": 3417.8893847465515,
        "wires": [
            [
                "bdaa7679.509ee8"
            ]
        ]
    },
    {
        "id": "ebdba446.b89418",
        "type": "mqtt in",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "cd5dbf9e.ebb57",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "f19d1d92.bd7e"
            ]
        ]
    },
    {
        "id": "9250a728.bf4bc8",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "b24aeedb.474a3",
                "54b26d.3bd11d94",
                "aae6fbe0.a1f1e8",
                "2336c2f3.0e2aae",
                "f8ed6426.ea1058",
                "e8c12a.71ba8ed8",
                "4258744c.f88aec",
                "19caa359.ef25ed",
                "9288a0cb.ed865",
                "cd6a714b.c5ef5",
                "76326528.aff50c",
                "9c0860a9.e55e2",
                "db64487b.ca9468",
                "67ca7841.7d6a48"
            ]
        ]
    },
    {
        "id": "54b26d.3bd11d94",
        "type": "mongodb out",
        "z": "fef8f9b7.bbc528",
        "mongodb": "3284a27d.270ace",
        "name": "",
        "collection": "DATOS_ESP1",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1104.833839416504,
        "y": 323.48283338546753,
        "wires": []
    },
    {
        "id": "31f91eaf.fec7a2",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "edf863bd.f55b",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "907c75c0.658408",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "edf863bd.f55b",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "aae6fbe0.a1f1e8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "907c75c0.658408"
            ]
        ]
    },
    {
        "id": "2336c2f3.0e2aae",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "31f91eaf.fec7a2"
            ]
        ]
    },
    {
        "id": "f8ed6426.ea1058",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "84d33c43.78645"
            ]
        ]
    },
    {
        "id": "84d33c43.78645",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "e8c12a.71ba8ed8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "df181cd2.f4f15"
            ]
        ]
    },
    {
        "id": "df181cd2.f4f15",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "4258744c.f88aec",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "58ffaf36.1a76a"
            ]
        ]
    },
    {
        "id": "58ffaf36.1a76a",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "5cdbd517.479b7c",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "befad2bd.e2b3b",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Led",
        "group": "edf863bd.f55b",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "76326528.aff50c",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "befad2bd.e2b3b"
            ]
        ]
    },
    {
        "id": "9c0860a9.e55e2",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "5cdbd517.479b7c"
            ]
        ]
    },
    {
        "id": "19caa359.ef25ed",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "ee827f76.37375"
            ]
        ]
    },
    {
        "id": "ee827f76.37375",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "9288a0cb.ed865",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "fa2b490c.4925d8"
            ]
        ]
    },
    {
        "id": "fa2b490c.4925d8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "cd6a714b.c5ef5",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "731a5c89.43e454",
                "320354c1.e5611c"
            ]
        ]
    },
    {
        "id": "731a5c89.43e454",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "21929340.a4311c",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "320354c1.e5611c",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "e541f9ed.bb2da8"
            ]
        ]
    },
    {
        "id": "e541f9ed.bb2da8",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Intensidad Señal",
        "group": "edf863bd.f55b",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "a50f803a.465cd",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "a94290ed.30b2d",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "777f64ec.de81fc",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "ad11eb24.dcaf48",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 753.507511138916,
        "y": 1447.5233407020569,
        "wires": [
            [
                "7bf4deb9.a4647"
            ]
        ]
    },
    {
        "id": "8a750aa0.ad5bd8",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "7bf4deb9.a4647",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "777f64ec.de81fc",
                "f2c5c206.9617c",
                "e25cc39f.ad234",
                "b185641.fe4ac98",
                "3d2105a9.8ea89a",
                "63c12955.a05698",
                "509927d5.0d09b8",
                "362b619.d58a19e",
                "dfa4aa16.e0b198",
                "f6fa6655.dbca48",
                "6748c265.075aec",
                "6846058a.e4319c",
                "a65a21bc.a7e28",
                "88d6ff7.f7ba1"
            ]
        ]
    },
    {
        "id": "f2c5c206.9617c",
        "type": "mongodb out",
        "z": "fef8f9b7.bbc528",
        "mongodb": "3284a27d.270ace",
        "name": "",
        "collection": "DATOS_ESP2",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1101.4455261230469,
        "y": 1183.1174688339233,
        "wires": []
    },
    {
        "id": "e45b24da.f09e58",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "6d2a5b5b.5cecd4",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "c9c031be.f3f7f",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "6d2a5b5b.5cecd4",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "e25cc39f.ad234",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "c9c031be.f3f7f"
            ]
        ]
    },
    {
        "id": "b185641.fe4ac98",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "e45b24da.f09e58"
            ]
        ]
    },
    {
        "id": "3d2105a9.8ea89a",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "f4624384.c1b4b"
            ]
        ]
    },
    {
        "id": "f4624384.c1b4b",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "63c12955.a05698",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "d976829d.d1d08"
            ]
        ]
    },
    {
        "id": "d976829d.d1d08",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "509927d5.0d09b8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "1fa3dd2d.78d523"
            ]
        ]
    },
    {
        "id": "1fa3dd2d.78d523",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "9f5713a1.3c467",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "ca28aa95.ee1fd8",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Led",
        "group": "6d2a5b5b.5cecd4",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "6748c265.075aec",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "ca28aa95.ee1fd8"
            ]
        ]
    },
    {
        "id": "6846058a.e4319c",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "9f5713a1.3c467"
            ]
        ]
    },
    {
        "id": "362b619.d58a19e",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "d7a65d79.2e109"
            ]
        ]
    },
    {
        "id": "d7a65d79.2e109",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "dfa4aa16.e0b198",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "3b7c018.66aecfe"
            ]
        ]
    },
    {
        "id": "3b7c018.66aecfe",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "f6fa6655.dbca48",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "487a377b.275d08",
                "6abfad3e.6fbcd4"
            ]
        ]
    },
    {
        "id": "487a377b.275d08",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "bc28de05.95781",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "6abfad3e.6fbcd4",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680.2853393554688,
        "y": 1856.8566317558289,
        "wires": [
            [
                "1ab79999.264c46"
            ]
        ]
    },
    {
        "id": "1ab79999.264c46",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Intensidad Señal",
        "group": "6d2a5b5b.5cecd4",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1950.2854843139648,
        "y": 1855.52339220047,
        "wires": []
    },
    {
        "id": "86aa69ed.be2028",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "3c308141.1e4dae",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "8c1a5644.f9be18",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 988.5078010559082,
        "y": 2145.523389339447,
        "wires": []
    },
    {
        "id": "b165c79b.3ca198",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 718.5074806213379,
        "y": 2349.523268222809,
        "wires": [
            [
                "7f11a4af.dae65c"
            ]
        ]
    },
    {
        "id": "7f11a4af.dae65c",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "8c1a5644.f9be18",
                "4d74b758.2e62d8",
                "eba00a9.2e9eef8",
                "88f23e5f.2fafd",
                "33dd7b6b.f62fb4",
                "d8d7374f.e59978",
                "beda7d5f.175e",
                "ec53498.aef56b8",
                "e79f4f06.6273d",
                "4b3c7090.bd1d5",
                "397c27f.c4bdfd8",
                "468c0926.be0358",
                "75bac2c5.cc52ec",
                "296e41d2.8eaa3e"
            ]
        ]
    },
    {
        "id": "4d74b758.2e62d8",
        "type": "mongodb out",
        "z": "fef8f9b7.bbc528",
        "mongodb": "3284a27d.270ace",
        "name": "",
        "collection": "DATOS_ESP3",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1066.445457458496,
        "y": 2179.1171946525574,
        "wires": []
    },
    {
        "id": "f3b0bd83.b7bdf",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "55e62896.330568",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "a9143c2f.f7bf",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "55e62896.330568",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "eba00a9.2e9eef8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "a9143c2f.f7bf"
            ]
        ]
    },
    {
        "id": "88f23e5f.2fafd",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "f3b0bd83.b7bdf"
            ]
        ]
    },
    {
        "id": "33dd7b6b.f62fb4",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "4cd54bf0.a7d134"
            ]
        ]
    },
    {
        "id": "4cd54bf0.a7d134",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "d8d7374f.e59978",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "c9665eba.ff69f"
            ]
        ]
    },
    {
        "id": "c9665eba.ff69f",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "beda7d5f.175e",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "2a7e66bc.5a7eea"
            ]
        ]
    },
    {
        "id": "2a7e66bc.5a7eea",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "eaea10fc.b1987",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "d619e62d.45c648",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Led",
        "group": "55e62896.330568",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "397c27f.c4bdfd8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "d619e62d.45c648"
            ]
        ]
    },
    {
        "id": "468c0926.be0358",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "eaea10fc.b1987"
            ]
        ]
    },
    {
        "id": "ec53498.aef56b8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "6a7f4045.02346"
            ]
        ]
    },
    {
        "id": "6a7f4045.02346",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "e79f4f06.6273d",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "e4a712d2.aa0fa"
            ]
        ]
    },
    {
        "id": "e4a712d2.aa0fa",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "4b3c7090.bd1d5",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "e45ab44.aef8048",
                "b8fbfcea.f2ac8"
            ]
        ]
    },
    {
        "id": "e45ab44.aef8048",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "c3ebe50d.604cd8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "b8fbfcea.f2ac8",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "b0128396.553d2"
            ]
        ]
    },
    {
        "id": "b0128396.553d2",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Intensidad Señal",
        "group": "55e62896.330568",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "eb4551c7.6d107",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "331aa8d1.679378",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "89714cd4.8bd39",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 844.5078010559082,
        "y": 3204.5235114097595,
        "wires": []
    },
    {
        "id": "bdaa7679.509ee8",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "3b001a7e.fc7a56"
            ]
        ]
    },
    {
        "id": "3b001a7e.fc7a56",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "89714cd4.8bd39",
                "5424910.e24027",
                "8b03de37.0ed87",
                "2b462706.de2a08",
                "56f1fdee.11b7e4",
                "f70af387.17492",
                "caec7589.0862d8",
                "b10ffc3f.64f17",
                "4a694a30.515fb4",
                "512282bc.77fbbc",
                "ccb863d0.2b48d",
                "623cc816.913568",
                "86b60b72.8187f8",
                "c0d42f35.90d41"
            ]
        ]
    },
    {
        "id": "5424910.e24027",
        "type": "mongodb out",
        "z": "fef8f9b7.bbc528",
        "mongodb": "3284a27d.270ace",
        "name": "",
        "collection": "DATOS_ESP4",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 922.4454574584961,
        "y": 3238.11731672287,
        "wires": []
    },
    {
        "id": "b30e6d1a.e5342",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "42252611.bc3948",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "2341152a.f7934a",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "42252611.bc3948",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "8b03de37.0ed87",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "2341152a.f7934a"
            ]
        ]
    },
    {
        "id": "2b462706.de2a08",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "b30e6d1a.e5342"
            ]
        ]
    },
    {
        "id": "56f1fdee.11b7e4",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "627c3e40.3537f"
            ]
        ]
    },
    {
        "id": "627c3e40.3537f",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "f70af387.17492",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "f98f26d9.f9b498"
            ]
        ]
    },
    {
        "id": "f98f26d9.f9b498",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "caec7589.0862d8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "6399f6a2.91dee8"
            ]
        ]
    },
    {
        "id": "6399f6a2.91dee8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "8f39504d.09d63",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "a47d2692.176ee8",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Led",
        "group": "42252611.bc3948",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "ccb863d0.2b48d",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "a47d2692.176ee8"
            ]
        ]
    },
    {
        "id": "623cc816.913568",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "8f39504d.09d63"
            ]
        ]
    },
    {
        "id": "b10ffc3f.64f17",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "ecab7c7f.43984"
            ]
        ]
    },
    {
        "id": "ecab7c7f.43984",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "4a694a30.515fb4",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "46af41c1.939a8"
            ]
        ]
    },
    {
        "id": "46af41c1.939a8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "512282bc.77fbbc",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "bde49955.14bf58",
                "2d044680.ac399a"
            ]
        ]
    },
    {
        "id": "bde49955.14bf58",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "af0c4887.e53df8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "2d044680.ac399a",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "10ebc126.b631df"
            ]
        ]
    },
    {
        "id": "10ebc126.b631df",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Intensidad Señal",
        "group": "42252611.bc3948",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "d6a95bd6.b6db98",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "2da727d8.9e1538",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "fa50562a.e167e8",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "f19d1d92.bd7e",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "3d228744.ad3e48"
            ]
        ]
    },
    {
        "id": "3d228744.ad3e48",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "fa50562a.e167e8",
                "2e276cfd.702724",
                "e5efe929.867828",
                "3fdf2e80.689072",
                "dd785c0e.b4743",
                "3d546a74.5f1c76",
                "a84b94bd.dcb428",
                "22628f76.a1904",
                "7255cfbd.129b4",
                "6021502b.fb37f",
                "32f6719.d957f8e",
                "9bac5d66.80c1c",
                "4e3c2fa9.712ad",
                "f73afdac.4a439"
            ]
        ]
    },
    {
        "id": "2e276cfd.702724",
        "type": "mongodb out",
        "z": "fef8f9b7.bbc528",
        "mongodb": "3284a27d.270ace",
        "name": "",
        "collection": "DATOS_ESP5",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 954.4454956054688,
        "y": 4276.1171875,
        "wires": []
    },
    {
        "id": "94bd150f.dd3158",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "3b542659.f2f22a",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "e5e4f0bf.17c35",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "group": "3b542659.f2f22a",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "e5efe929.867828",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "e5e4f0bf.17c35"
            ]
        ]
    },
    {
        "id": "3fdf2e80.689072",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "94bd150f.dd3158"
            ]
        ]
    },
    {
        "id": "dd785c0e.b4743",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "d9e20c76.b03cb"
            ]
        ]
    },
    {
        "id": "d9e20c76.b03cb",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "3d546a74.5f1c76",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "cbddfa5f.0bfe18"
            ]
        ]
    },
    {
        "id": "cbddfa5f.0bfe18",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "a84b94bd.dcb428",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "10187ce8.0c2f43"
            ]
        ]
    },
    {
        "id": "10187ce8.0c2f43",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "a4cc7a39.9ad018",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "2b8d193f.86fe26",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Led",
        "group": "3b542659.f2f22a",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "32f6719.d957f8e",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "2b8d193f.86fe26"
            ]
        ]
    },
    {
        "id": "9bac5d66.80c1c",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "a4cc7a39.9ad018"
            ]
        ]
    },
    {
        "id": "22628f76.a1904",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "8e756e6f.e94bb"
            ]
        ]
    },
    {
        "id": "8e756e6f.e94bb",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "7255cfbd.129b4",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "7d909f8.ebd346"
            ]
        ]
    },
    {
        "id": "7d909f8.ebd346",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "6021502b.fb37f",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "2c1fb498.a39d9c",
                "4dcfae56.713af"
            ]
        ]
    },
    {
        "id": "2c1fb498.a39d9c",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "4b0fac0f.17cd94",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "4dcfae56.713af",
        "type": "function",
        "z": "fef8f9b7.bbc528",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "995220be.b7272"
            ]
        ]
    },
    {
        "id": "995220be.b7272",
        "type": "ui_gauge",
        "z": "fef8f9b7.bbc528",
        "name": "Intensidad Señal",
        "group": "3b542659.f2f22a",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "30a0c325.38178c",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "80a0d453.242598",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "bf157f45.ab1a4",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "cff9642b.937148",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1360.5078086853027,
        "y": 146.0000114440918,
        "wires": []
    },
    {
        "id": "1c4a48d9.9aeaa7",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "3ebfe0ba.2c96c",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "bd1f234f.f41dc",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "faa9bb94.24bc88",
        "type": "comment",
        "z": "fef8f9b7.bbc528",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "667f1f5.63480e",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "67ca7841.7d6a48",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "a2cbc503.5691e8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "db64487b.ca9468",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1367.7656211853027,
        "y": 228.75005340576172,
        "wires": [
            [
                "71f3ff2.06435"
            ]
        ]
    },
    {
        "id": "66d27eca.662f1",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "88d6ff7.f7ba1",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "70f06c3d.eda3e4",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "a65a21bc.a7e28",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "37618d5a.dbc422",
                "4809e31c.fde89c"
            ]
        ]
    },
    {
        "id": "32fb3f0d.55017",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "296e41d2.8eaa3e",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "3e758e4c.838512",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "75bac2c5.cc52ec",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "5de043d4.a8364c"
            ]
        ]
    },
    {
        "id": "6d028f47.51d13",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "c0d42f35.90d41",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "ff6624a5.623de8",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "86b60b72.8187f8",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "6751bba6.00c964"
            ]
        ]
    },
    {
        "id": "cefd2f7d.9106",
        "type": "ui_led",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "f73afdac.4a439",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "6d592ca9.d06c14",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "4e3c2fa9.712ad",
        "type": "change",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "7730f968.bc1dc8"
            ]
        ]
    },
    {
        "id": "42bede38.2aee9",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "edf863bd.f55b",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "93303fac.f92dd",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "6d2a5b5b.5cecd4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "5b31773e.78b348",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "55e62896.330568",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "19e03b30.4e5955",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "42252611.bc3948",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "e910bced.1a354",
        "type": "ui_text",
        "z": "fef8f9b7.bbc528",
        "group": "3b542659.f2f22a",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "37618d5a.dbc422",
        "type": "debug",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1876.6667137145996,
        "y": 1237.0001425743103,
        "wires": []
    },
    {
        "id": "4809e31c.fde89c",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1544.2779960632324,
        "y": 1182.15305519104,
        "wires": [
            [
                "66d27eca.662f1",
                "70f06c3d.eda3e4"
            ]
        ]
    },
    {
        "id": "71f3ff2.06435",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1502.34033203125,
        "y": 217.88888549804688,
        "wires": [
            [
                "667f1f5.63480e",
                "a2cbc503.5691e8"
            ]
        ]
    },
    {
        "id": "5de043d4.a8364c",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "32fb3f0d.55017",
                "3e758e4c.838512"
            ]
        ]
    },
    {
        "id": "6751bba6.00c964",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "6d028f47.51d13",
                "ff6624a5.623de8"
            ]
        ]
    },
    {
        "id": "7730f968.bc1dc8",
        "type": "json",
        "z": "fef8f9b7.bbc528",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "cefd2f7d.9106",
                "6d592ca9.d06c14"
            ]
        ]
    },
    {
        "id": "cd5dbf9e.ebb57",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3284a27d.270ace",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "edf863bd.f55b",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "1a3972d9.6a28bd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d2a5b5b.5cecd4",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "1a3972d9.6a28bd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "55e62896.330568",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "1a3972d9.6a28bd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "42252611.bc3948",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "1a3972d9.6a28bd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3b542659.f2f22a",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "1a3972d9.6a28bd",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1a3972d9.6a28bd",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]