Node-RED/Global1_RecepcionDatosESP.txt
[
    {
        "id": "f0b480f6.8257f",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "54e3ca0e.bc6484",
        "type": "mqtt in",
        "z": "f0b480f6.8257f",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "be7c7a2f.0e2628",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "95adad6d.4842b"
            ]
        ]
    },
    {
        "id": "77208eac.5a96b",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "95adad6d.4842b",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "d5c319c7.b74648"
            ]
        ]
    },
    {
        "id": "317ef328.25460c",
        "type": "mqtt in",
        "z": "f0b480f6.8257f",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "be7c7a2f.0e2628",
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "ba4e0505.24e108"
            ]
        ]
    },
    {
        "id": "44343e85.2111c",
        "type": "mqtt in",
        "z": "f0b480f6.8257f",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "be7c7a2f.0e2628",
        "x": 356.89581298828125,
        "y": 2356.8891406059265,
        "wires": [
            [
                "2989f3a1.875cac"
            ]
        ]
    },
    {
        "id": "3e517496.f8b58c",
        "type": "mqtt in",
        "z": "f0b480f6.8257f",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "be7c7a2f.0e2628",
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "c50fefe9.c30c4"
            ]
        ]
    },
    {
        "id": "854f2e5.5ab69d",
        "type": "mqtt in",
        "z": "f0b480f6.8257f",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "be7c7a2f.0e2628",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "2b0c6d4f.447202"
            ]
        ]
    },
    {
        "id": "d5c319c7.b74648",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "77208eac.5a96b",
                "bbca10cc.ff601",
                "cca595e.c035168",
                "69fa7899.8447e8",
                "e05f130a.fda18",
                "72d3007d.d9bb5",
                "604ec5f6.fc4acc",
                "84c94d49.593ed",
                "8fd080cd.b238",
                "f5ff1a50.5f6ee8",
                "7af272ef.41847c",
                "5a542bf2.dc0484",
                "2902143c.9032ec",
                "5a8f87f5.211f98",
                "dad66899.111e08",
                "1fb87278.70e62e"
            ]
        ]
    },
    {
        "id": "bbca10cc.ff601",
        "type": "mongodb out",
        "z": "f0b480f6.8257f",
        "mongodb": "72df012a.a910a",
        "name": "",
        "collection": "DATOS_ESP1",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b6b65cb.394c68",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "7c9c997.cddfe68",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "29471234.a3b76e",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "7c9c997.cddfe68",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "cca595e.c035168",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "29471234.a3b76e"
            ]
        ]
    },
    {
        "id": "69fa7899.8447e8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "8b6b65cb.394c68"
            ]
        ]
    },
    {
        "id": "e05f130a.fda18",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "ac2a724b.728ff"
            ]
        ]
    },
    {
        "id": "ac2a724b.728ff",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "72d3007d.d9bb5",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "b057f2dd.ad872"
            ]
        ]
    },
    {
        "id": "b057f2dd.ad872",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "604ec5f6.fc4acc",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "715e6f04.b7444"
            ]
        ]
    },
    {
        "id": "715e6f04.b7444",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "d4116b8a.2f8268",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "d9bd24fa.0b2898",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Led",
        "group": "7c9c997.cddfe68",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "7af272ef.41847c",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "d9bd24fa.0b2898"
            ]
        ]
    },
    {
        "id": "5a542bf2.dc0484",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "d4116b8a.2f8268"
            ]
        ]
    },
    {
        "id": "84c94d49.593ed",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "6db8bd66.ddb0a4"
            ]
        ]
    },
    {
        "id": "6db8bd66.ddb0a4",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "8fd080cd.b238",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "52054361.881a6c"
            ]
        ]
    },
    {
        "id": "52054361.881a6c",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "f5ff1a50.5f6ee8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "bf1ad59.0b5da28",
                "46d20b1e.230664"
            ]
        ]
    },
    {
        "id": "bf1ad59.0b5da28",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "c3972e7b.7035b",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "46d20b1e.230664",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "500b99ab.4df158"
            ]
        ]
    },
    {
        "id": "500b99ab.4df158",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Intensidad Señal",
        "group": "7c9c997.cddfe68",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "ada40b77.4d8168",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "268509b7.2f4616",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "DHT11",
        "label": "-------------DHT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "1ea4872b.ecdc59",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "ba4e0505.24e108",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 1440,
        "wires": [
            [
                "a8784b4e.e5af68",
                "b5715a23.81a348"
            ]
        ]
    },
    {
        "id": "b5715a23.81a348",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "a8784b4e.e5af68",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "1ea4872b.ecdc59",
                "eb2abfec.5c159",
                "7f58e389.9ee27c",
                "f080658d.070718",
                "b27e667b.9ad0e8",
                "f8550f1f.0d0e5",
                "43708255.abecdc",
                "78723d2e.114014",
                "fae0acb7.ba3b1",
                "eecca22f.b714",
                "2755b2cb.93a4be",
                "c9e321a1.631de",
                "5bc5ac5c.304b24",
                "d2fc489b.809138",
                "4dcbbb6c.3dd954",
                "68059e7f.35509"
            ]
        ]
    },
    {
        "id": "eb2abfec.5c159",
        "type": "mongodb out",
        "z": "f0b480f6.8257f",
        "mongodb": "72df012a.a910a",
        "name": "",
        "collection": "DATOS_ESP2",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 690,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f274fd62.59dba",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "b9c62599.e7e928",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "49a35ea2.b07e1",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "b9c62599.e7e928",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "7f58e389.9ee27c",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "49a35ea2.b07e1"
            ]
        ]
    },
    {
        "id": "f080658d.070718",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "f274fd62.59dba"
            ]
        ]
    },
    {
        "id": "b27e667b.9ad0e8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "c5a9e30e.e9d97"
            ]
        ]
    },
    {
        "id": "c5a9e30e.e9d97",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "f8550f1f.0d0e5",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "91521759.cc78f8"
            ]
        ]
    },
    {
        "id": "91521759.cc78f8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "43708255.abecdc",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "ed85647f.61ab78"
            ]
        ]
    },
    {
        "id": "ed85647f.61ab78",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "7c28f1a6.3e58a",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "3e201f5f.dd647",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Led",
        "group": "b9c62599.e7e928",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "2755b2cb.93a4be",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "3e201f5f.dd647"
            ]
        ]
    },
    {
        "id": "c9e321a1.631de",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "7c28f1a6.3e58a"
            ]
        ]
    },
    {
        "id": "78723d2e.114014",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "d9484cd1.d8c8c"
            ]
        ]
    },
    {
        "id": "d9484cd1.d8c8c",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "fae0acb7.ba3b1",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "3fe8241.a8e90dc"
            ]
        ]
    },
    {
        "id": "3fe8241.a8e90dc",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "eecca22f.b714",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "d6a97277.5fa",
                "45c5ce5d.cb0b8"
            ]
        ]
    },
    {
        "id": "d6a97277.5fa",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "bde4e10b.4475c",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "45c5ce5d.cb0b8",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680.2853393554688,
        "y": 1856.8566317558289,
        "wires": [
            [
                "b176ba92.fe5cc8"
            ]
        ]
    },
    {
        "id": "b176ba92.fe5cc8",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Intensidad Señal",
        "group": "b9c62599.e7e928",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1950.2854843139648,
        "y": 1855.52339220047,
        "wires": []
    },
    {
        "id": "fae0b61c.ac9088",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "52dbb033.4856e",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "DHT11",
        "label": "-------------DHT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "ab0a4c06.b731f",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 2100,
        "wires": []
    },
    {
        "id": "2989f3a1.875cac",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 718.5074806213379,
        "y": 2349.523268222809,
        "wires": [
            [
                "dc5056bd.cb0048"
            ]
        ]
    },
    {
        "id": "dc5056bd.cb0048",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "ab0a4c06.b731f",
                "23ac7fad.c7945",
                "9779ddd4.cf649",
                "7f792e1f.0e656",
                "746a1739.60b7b8",
                "41bbdb5.acb5c24",
                "b3fc64e6.8a9b18",
                "e8257696.3fa2c8",
                "45fd9c7b.a016d4",
                "f7bb8ff1.8082b",
                "d15e3eb1.4c0e9",
                "2070ca94.e624f6",
                "14b2d095.3660af",
                "191fa55.911bc5b",
                "1a80a5bf.492bca",
                "e28eb05c.14435"
            ]
        ]
    },
    {
        "id": "23ac7fad.c7945",
        "type": "mongodb out",
        "z": "f0b480f6.8257f",
        "mongodb": "72df012a.a910a",
        "name": "",
        "collection": "DATOS_ESP3",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1066.445457458496,
        "y": 2179.1171946525574,
        "wires": []
    },
    {
        "id": "9a0ca8cc.47efa8",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "1717bd53.190523",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "e74624bd.e61828",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "1717bd53.190523",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "9779ddd4.cf649",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "e74624bd.e61828"
            ]
        ]
    },
    {
        "id": "7f792e1f.0e656",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "9a0ca8cc.47efa8"
            ]
        ]
    },
    {
        "id": "746a1739.60b7b8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "aa29ad42.cafa3"
            ]
        ]
    },
    {
        "id": "aa29ad42.cafa3",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "41bbdb5.acb5c24",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "c4f8f2d5.d0718"
            ]
        ]
    },
    {
        "id": "c4f8f2d5.d0718",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "b3fc64e6.8a9b18",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "29c0b8be.5e6988"
            ]
        ]
    },
    {
        "id": "29c0b8be.5e6988",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "3479cb5d.563a54",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "bda90740.634bd8",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Led",
        "group": "1717bd53.190523",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "d15e3eb1.4c0e9",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "bda90740.634bd8"
            ]
        ]
    },
    {
        "id": "2070ca94.e624f6",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "3479cb5d.563a54"
            ]
        ]
    },
    {
        "id": "e8257696.3fa2c8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "90abdcb2.6b5d6"
            ]
        ]
    },
    {
        "id": "90abdcb2.6b5d6",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "45fd9c7b.a016d4",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "4afa0b40.0d4884"
            ]
        ]
    },
    {
        "id": "4afa0b40.0d4884",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "f7bb8ff1.8082b",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "3a7d010f.3f39ae",
                "fcaa48e7.5fe318"
            ]
        ]
    },
    {
        "id": "3a7d010f.3f39ae",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "b57948f1.c9c878",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "fcaa48e7.5fe318",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "9ec7fbae.8af6d8"
            ]
        ]
    },
    {
        "id": "9ec7fbae.8af6d8",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Intensidad Señal",
        "group": "1717bd53.190523",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "18e932f5.f0781d",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "26781141.86bdfe",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "DHT11",
        "label": "-------------DHT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "17b3e853.2df558",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "c50fefe9.c30c4",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "8f927cba.cc925"
            ]
        ]
    },
    {
        "id": "8f927cba.cc925",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "17b3e853.2df558",
                "79f66a67.5dc244",
                "d349b7a9.b22248",
                "4104fa7e.77c0e4",
                "638a77e4.2b5b88",
                "cc6e4eb0.d4136",
                "e0cc6db3.eec3f",
                "60cd080d.b10798",
                "65062191.f5cc7",
                "af92871e.0dc938",
                "d293d2e3.47c42",
                "b4d603b6.e2589",
                "966ec8ce.8ae8e8",
                "2ad3886d.c2f0c8",
                "e84a1fd5.8d3cd",
                "520baa82.e32984"
            ]
        ]
    },
    {
        "id": "79f66a67.5dc244",
        "type": "mongodb out",
        "z": "f0b480f6.8257f",
        "mongodb": "72df012a.a910a",
        "name": "",
        "collection": "DATOS_ESP4",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 450,
        "y": 3540,
        "wires": []
    },
    {
        "id": "ab1a12bb.51e48",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "935e887b.8b3128",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "ac9110fd.4d71e",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "935e887b.8b3128",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "d349b7a9.b22248",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "ac9110fd.4d71e"
            ]
        ]
    },
    {
        "id": "4104fa7e.77c0e4",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "ab1a12bb.51e48"
            ]
        ]
    },
    {
        "id": "638a77e4.2b5b88",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "f7b433aa.7daaa"
            ]
        ]
    },
    {
        "id": "f7b433aa.7daaa",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "cc6e4eb0.d4136",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "f545f79d.49e8b8"
            ]
        ]
    },
    {
        "id": "f545f79d.49e8b8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "e0cc6db3.eec3f",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "5140768a.428c38"
            ]
        ]
    },
    {
        "id": "5140768a.428c38",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "1e10d960.1b2487",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "bd0e71e5.00e4c",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Led",
        "group": "935e887b.8b3128",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "d293d2e3.47c42",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "bd0e71e5.00e4c"
            ]
        ]
    },
    {
        "id": "b4d603b6.e2589",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "1e10d960.1b2487"
            ]
        ]
    },
    {
        "id": "60cd080d.b10798",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "cd661633.2d8918"
            ]
        ]
    },
    {
        "id": "cd661633.2d8918",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "65062191.f5cc7",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "444a1bd9.10a684"
            ]
        ]
    },
    {
        "id": "444a1bd9.10a684",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "af92871e.0dc938",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "8c96accf.0ff4e",
                "41911a9f.8b4374"
            ]
        ]
    },
    {
        "id": "8c96accf.0ff4e",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "8261db43.496088",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "41911a9f.8b4374",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "4ad80513.06723c"
            ]
        ]
    },
    {
        "id": "4ad80513.06723c",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Intensidad Señal",
        "group": "935e887b.8b3128",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "a403db5e.f17ee8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "fc057425.c1b4d8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "DHT11",
        "label": "-------------DHT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "703ee051.00874",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "2b0c6d4f.447202",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "6e20d26a.b6c4ec"
            ]
        ]
    },
    {
        "id": "6e20d26a.b6c4ec",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "703ee051.00874",
                "6811605b.13ea8",
                "b5b63122.7e64c",
                "8f27aebd.ede81",
                "6c2c00ae.0ed8b",
                "63f45045.459f",
                "6f037884.7653d8",
                "3e1d5314.1fae9c",
                "90789ad1.730ea8",
                "93048216.9d206",
                "5a38d447.af8fec",
                "ed8b3948.8e3048",
                "6d6f8447.2085ac",
                "32b1deaf.ba25a2",
                "b021c6e8.8b76d8",
                "936c2dab.3778d"
            ]
        ]
    },
    {
        "id": "6811605b.13ea8",
        "type": "mongodb out",
        "z": "f0b480f6.8257f",
        "mongodb": "72df012a.a910a",
        "name": "",
        "collection": "DATOS_ESP5",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 490,
        "y": 4640,
        "wires": []
    },
    {
        "id": "40835e8e.255c1",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "6bade5e0.5d77fc",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "642f709a.1684b",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "",
        "group": "6bade5e0.5d77fc",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "b5b63122.7e64c",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "642f709a.1684b"
            ]
        ]
    },
    {
        "id": "8f27aebd.ede81",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "40835e8e.255c1"
            ]
        ]
    },
    {
        "id": "6c2c00ae.0ed8b",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "2d8cb99d.e13f66"
            ]
        ]
    },
    {
        "id": "2d8cb99d.e13f66",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "63f45045.459f",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "4d059407.adb05c"
            ]
        ]
    },
    {
        "id": "4d059407.adb05c",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "6f037884.7653d8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "783a84b5.00b7cc"
            ]
        ]
    },
    {
        "id": "783a84b5.00b7cc",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "6a3218fa.adac78",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "138e1403.f9748c",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Led",
        "group": "6bade5e0.5d77fc",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "5a38d447.af8fec",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "138e1403.f9748c"
            ]
        ]
    },
    {
        "id": "ed8b3948.8e3048",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "6a3218fa.adac78"
            ]
        ]
    },
    {
        "id": "3e1d5314.1fae9c",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "c6e4762b.1e06e8"
            ]
        ]
    },
    {
        "id": "c6e4762b.1e06e8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "90789ad1.730ea8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "86446be.e89e098"
            ]
        ]
    },
    {
        "id": "86446be.e89e098",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "93048216.9d206",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "75d3e743.91dca8",
                "49c2920a.85becc"
            ]
        ]
    },
    {
        "id": "75d3e743.91dca8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "38f69368.49d28c",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "49c2920a.85becc",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "755df609.5e41d8"
            ]
        ]
    },
    {
        "id": "755df609.5e41d8",
        "type": "ui_gauge",
        "z": "f0b480f6.8257f",
        "name": "Intensidad Señal",
        "group": "6bade5e0.5d77fc",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "a4b65f30.ad946",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "1ff5d99d.1c3b16",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "DHT11",
        "label": "-------------DHT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "65841fbe.2a054",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "6399a434.6d24bc",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1360.5078086853027,
        "y": 146.0000114440918,
        "wires": []
    },
    {
        "id": "c7b73183.8d5b",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "a20cd20c.a21e6",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "f7ab0924.2a05a8",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "8232cbc.0197c38",
        "type": "comment",
        "z": "f0b480f6.8257f",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "a8912cae.8a5cb",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "5a8f87f5.211f98",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "6e511339.3131dc",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "2902143c.9032ec",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1367.7656211853027,
        "y": 228.75005340576172,
        "wires": [
            [
                "4b48d863.a6dac8"
            ]
        ]
    },
    {
        "id": "b657d5e2.538aa8",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "d2fc489b.809138",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "a4ffd781.03f158",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "5bc5ac5c.304b24",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "98bf9ac1.5a8078",
                "e28e6e50.2012"
            ]
        ]
    },
    {
        "id": "701d151e.de057c",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "191fa55.911bc5b",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "5f068c5d.b5b114",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "14b2d095.3660af",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "d17588f1.955ed8"
            ]
        ]
    },
    {
        "id": "817b488.3f836b8",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "2ad3886d.c2f0c8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "dbad93f2.f7cf5",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "966ec8ce.8ae8e8",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "11593917.b6f017"
            ]
        ]
    },
    {
        "id": "f3a94f7c.e0bbb",
        "type": "ui_led",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "32b1deaf.ba25a2",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "7c98877b.8453c8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "6d6f8447.2085ac",
        "type": "change",
        "z": "f0b480f6.8257f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "5750452f.a1d96c"
            ]
        ]
    },
    {
        "id": "49de80b1.09385",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "7c9c997.cddfe68",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "f1ad858.4882f78",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "b9c62599.e7e928",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "1c0bc4b6.83729b",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "1717bd53.190523",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "aaf68774.242da8",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "935e887b.8b3128",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "5230c1ca.4981f",
        "type": "ui_text",
        "z": "f0b480f6.8257f",
        "group": "6bade5e0.5d77fc",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "98bf9ac1.5a8078",
        "type": "debug",
        "z": "f0b480f6.8257f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e28e6e50.2012",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 1180,
        "wires": [
            [
                "b657d5e2.538aa8",
                "a4ffd781.03f158"
            ]
        ]
    },
    {
        "id": "4b48d863.a6dac8",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1502.34033203125,
        "y": 217.88888549804688,
        "wires": [
            [
                "a8912cae.8a5cb",
                "6e511339.3131dc"
            ]
        ]
    },
    {
        "id": "d17588f1.955ed8",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "701d151e.de057c",
                "5f068c5d.b5b114"
            ]
        ]
    },
    {
        "id": "11593917.b6f017",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "817b488.3f836b8",
                "dbad93f2.f7cf5"
            ]
        ]
    },
    {
        "id": "5750452f.a1d96c",
        "type": "json",
        "z": "f0b480f6.8257f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "f3a94f7c.e0bbb",
                "7c98877b.8453c8"
            ]
        ]
    },
    {
        "id": "936c2dab.3778d",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 30)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 4780,
        "wires": [
            [
                "43ea4ec2.0b7dc"
            ]
        ]
    },
    {
        "id": "b021c6e8.8b76d8",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 95)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "43ea4ec2.0b7dc"
            ]
        ]
    },
    {
        "id": "43ea4ec2.0b7dc",
        "type": "telegram sender",
        "z": "f0b480f6.8257f",
        "name": "",
        "bot": "25c0c9bb.41f026",
        "outputs": 1,
        "x": 1270,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "50fb7747.1011b8",
        "type": "telegram sender",
        "z": "f0b480f6.8257f",
        "name": "",
        "bot": "25c0c9bb.41f026",
        "outputs": 1,
        "x": 1230,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "520baa82.e32984",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 25)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 3780,
        "wires": [
            [
                "50fb7747.1011b8"
            ]
        ]
    },
    {
        "id": "e84a1fd5.8d3cd",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 90)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 3700,
        "wires": [
            [
                "50fb7747.1011b8"
            ]
        ]
    },
    {
        "id": "273fa13b.d5533e",
        "type": "telegram sender",
        "z": "f0b480f6.8257f",
        "name": "",
        "bot": "25c0c9bb.41f026",
        "outputs": 1,
        "x": 1430,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "e28eb05c.14435",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 30)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2680,
        "wires": [
            [
                "273fa13b.d5533e"
            ]
        ]
    },
    {
        "id": "1a80a5bf.492bca",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 95)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 2620,
        "wires": [
            [
                "273fa13b.d5533e"
            ]
        ]
    },
    {
        "id": "4dcbbb6c.3dd954",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 95)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1680,
        "wires": [
            [
                "fea647b6.d23a68"
            ]
        ]
    },
    {
        "id": "68059e7f.35509",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 30)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "fea647b6.d23a68"
            ]
        ]
    },
    {
        "id": "fea647b6.d23a68",
        "type": "telegram sender",
        "z": "f0b480f6.8257f",
        "name": "",
        "bot": "25c0c9bb.41f026",
        "outputs": 1,
        "x": 1430,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "dad66899.111e08",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 95)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "8c0bd493.3f4db8"
            ]
        ]
    },
    {
        "id": "1fb87278.70e62e",
        "type": "function",
        "z": "f0b480f6.8257f",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 30)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "8c0bd493.3f4db8"
            ]
        ]
    },
    {
        "id": "8c0bd493.3f4db8",
        "type": "telegram sender",
        "z": "f0b480f6.8257f",
        "name": "",
        "bot": "25c0c9bb.41f026",
        "outputs": 1,
        "x": 1750,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "be7c7a2f.0e2628",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "72df012a.a910a",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "7c9c997.cddfe68",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "762b8e71.16dec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b9c62599.e7e928",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "762b8e71.16dec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1717bd53.190523",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "762b8e71.16dec",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "935e887b.8b3128",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "762b8e71.16dec",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6bade5e0.5d77fc",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "762b8e71.16dec",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "25c0c9bb.41f026",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "762b8e71.16dec",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]