Node-RED/Global1_ControlESP.txt
[
    {
        "id": "ffa0391c.242c78",
        "type": "tab",
        "label": "Control_ESP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ca8692b.e9da98",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 1050,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5baa764f.bfedb8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "2164d3a1.3142fc"
            ]
        ]
    },
    {
        "id": "93d7fb4a.182778",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "b79fe300.0c77e",
                "5baa764f.bfedb8"
            ]
        ]
    },
    {
        "id": "b79fe300.0c77e",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "93d7fb4a.182778",
                "5baa764f.bfedb8"
            ]
        ]
    },
    {
        "id": "976ec5b.7458d38",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 1370,
        "y": 1380,
        "wires": [
            [
                "fafb3b20.b82938"
            ]
        ]
    },
    {
        "id": "f83b148d.ac4f98",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1810,
        "y": 1340,
        "wires": []
    },
    {
        "id": "2164d3a1.3142fc",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "6ca8692b.e9da98",
                "1078fffa.78045"
            ]
        ]
    },
    {
        "id": "31eac5d2.38f1ea",
        "type": "ui_gauge",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "b234e507.8a5e08",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c32e35a7.7d28f8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1720,
        "wires": [
            [
                "c007ec9d.2f32e"
            ]
        ]
    },
    {
        "id": "4d5e037f.e7b6ac",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 1000,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c007ec9d.2f32e",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1720,
        "wires": [
            [
                "4d5e037f.e7b6ac",
                "358ccc92.f04304"
            ]
        ]
    },
    {
        "id": "80cf5c1b.ad1b6",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 1360,
        "y": 1720,
        "wires": [
            [
                "16478c29.e94c64"
            ]
        ]
    },
    {
        "id": "9261e3a5.c084e",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1830,
        "y": 1680,
        "wires": []
    },
    {
        "id": "f8c37fd4.e2ceb",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "b234e507.8a5e08",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 2030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fafb3b20.b82938",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1380,
        "wires": [
            [
                "f83b148d.ac4f98",
                "ab2325db.db8c48"
            ]
        ]
    },
    {
        "id": "16478c29.e94c64",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1720,
        "wires": [
            [
                "9261e3a5.c084e",
                "f086015d.3c2d4"
            ]
        ]
    },
    {
        "id": "1078fffa.78045",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6ce6ead6.464d44",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "c32e35a7.7d28f8"
            ]
        ]
    },
    {
        "id": "358ccc92.f04304",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 1680,
        "wires": []
    },
    {
        "id": "eb0ed164.dea86",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "14113796.1278f8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2880,
        "y": 1380,
        "wires": [
            [
                "41d3298b.33ac28"
            ]
        ]
    },
    {
        "id": "1ea33fc4.5aaa3",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2680,
        "y": 1380,
        "wires": [
            [
                "14113796.1278f8",
                "bcfb8b6c.d61138"
            ]
        ]
    },
    {
        "id": "bcfb8b6c.d61138",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2681.9998512268066,
        "y": 1441.9998817443848,
        "wires": [
            [
                "1ea33fc4.5aaa3",
                "14113796.1278f8"
            ]
        ]
    },
    {
        "id": "38125f35.5d62d",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 3630,
        "y": 1380,
        "wires": [
            [
                "7dc31ff7.dc1af"
            ]
        ]
    },
    {
        "id": "41d3298b.33ac28",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 1380,
        "wires": [
            [
                "eb0ed164.dea86",
                "6babe1d2.a7d58"
            ]
        ]
    },
    {
        "id": "9805f9c3.f16118",
        "type": "ui_gauge",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "6c609b1a.d64574",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4250,
        "y": 1380,
        "wires": []
    },
    {
        "id": "81592eb1.9dcb3",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2800,
        "y": 1720,
        "wires": [
            [
                "96aef0a5.0b0a9"
            ]
        ]
    },
    {
        "id": "45a760ba.b1cf2",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3260,
        "y": 1720,
        "wires": []
    },
    {
        "id": "96aef0a5.0b0a9",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2970,
        "y": 1720,
        "wires": [
            [
                "45a760ba.b1cf2",
                "649c26a9.3f58f8"
            ]
        ]
    },
    {
        "id": "44c0ef30.4d6c3",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 3580,
        "y": 1720,
        "wires": [
            [
                "ff617ffa.16cfc"
            ]
        ]
    },
    {
        "id": "f9c6ca57.57b328",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4270,
        "y": 1760,
        "wires": []
    },
    {
        "id": "7fa97985.de5b08",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "6c609b1a.d64574",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4250,
        "y": 1720,
        "wires": []
    },
    {
        "id": "7dc31ff7.dc1af",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3870,
        "y": 1380,
        "wires": [
            [
                "b6665075.61c82",
                "751216a0.e02258"
            ]
        ]
    },
    {
        "id": "ff617ffa.16cfc",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3850,
        "y": 1720,
        "wires": [
            [
                "e87627af.3000c8",
                "f9c6ca57.57b328"
            ]
        ]
    },
    {
        "id": "6babe1d2.a7d58",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5b66259f.fe7d6c",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2650,
        "y": 1720,
        "wires": [
            [
                "81592eb1.9dcb3"
            ]
        ]
    },
    {
        "id": "649c26a9.3f58f8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3190,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e87627af.3000c8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4040,
        "y": 1720,
        "wires": [
            [
                "7fa97985.de5b08",
                "aa1acd32.a521e"
            ]
        ]
    },
    {
        "id": "b6665075.61c82",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 1380,
        "wires": [
            [
                "9805f9c3.f16118",
                "98db791e.31b108"
            ]
        ]
    },
    {
        "id": "f086015d.3c2d4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 1720,
        "wires": [
            [
                "f8c37fd4.e2ceb"
            ]
        ]
    },
    {
        "id": "ab2325db.db8c48",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1380,
        "wires": [
            [
                "31eac5d2.38f1ea"
            ]
        ]
    },
    {
        "id": "6b3afc61.d4af34",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enable_Multi_Control",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "75b4efc8.13582"
            ]
        ]
    },
    {
        "id": "1503efab.1fa81",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "ESP1",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "cd676f3.707659"
            ]
        ]
    },
    {
        "id": "3aed068a.6d67aa",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "ESP2",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "60dd9b18.4ea9b4"
            ]
        ]
    },
    {
        "id": "4fb794c1.631c9c",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "ESP3",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "78f7cd8.1d46a34"
            ]
        ]
    },
    {
        "id": "962c27c7.56f238",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "ESP4",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 11,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "c287894b.e832b8"
            ]
        ]
    },
    {
        "id": "5c05b4.8f58aa4c",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "ESP5",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 13,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "d293da2f.640628"
            ]
        ]
    },
    {
        "id": "75b4efc8.13582",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "multiControl",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cd676f3.707659",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "55346a59.586b44",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2076.508083343506,
        "y": 111.5234317779541,
        "wires": [
            [
                "e7ca97fe.7e5848"
            ]
        ]
    },
    {
        "id": "d3b7c714.d836e8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2467.0002670288086,
        "y": 118.5234489440918,
        "wires": []
    },
    {
        "id": "8a5ce01a.33bf6",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1868.0002517700195,
        "y": 235.5234203338623,
        "wires": [
            [
                "55346a59.586b44",
                "4f3fa6bf.08bc18",
                "9e747df4.fa167",
                "6540fa82.cf3754",
                "f19622ed.cd831"
            ]
        ]
    },
    {
        "id": "67d90ea1.37747",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 6,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1516.0002937316895,
        "y": 223.52341842651367,
        "wires": [
            [
                "f86467d7.2c2fe8",
                "d06b1dbc.3b084"
            ]
        ]
    },
    {
        "id": "f86467d7.2c2fe8",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 5,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1506.0002937316895,
        "y": 283.5234184265137,
        "wires": [
            [
                "67d90ea1.37747"
            ]
        ]
    },
    {
        "id": "3a92234b.23798c",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1840,
        "y": 680,
        "wires": [
            [
                "dccecaa4.a65058",
                "7d362dfe.bc3d14",
                "8f626a5d.a65958",
                "7a97fd12.0cef74",
                "c355666d.7dc218"
            ]
        ]
    },
    {
        "id": "e072d445.297078",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2467.507781982422,
        "y": 535.5234451293945,
        "wires": []
    },
    {
        "id": "65a9a57f.2cd4cc",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2489.508144378662,
        "y": 82.52343273162842,
        "wires": []
    },
    {
        "id": "92acfa2f.5ce6c8",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1530,
        "y": 680,
        "wires": [
            [
                "f8eb3f99.a76c1"
            ]
        ]
    },
    {
        "id": "8a5570fb.1652a",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2493.507785797119,
        "y": 584.5234661102295,
        "wires": []
    },
    {
        "id": "e7ca97fe.7e5848",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2232.7502670288086,
        "y": 111.65625381469727,
        "wires": [
            [
                "d3b7c714.d836e8",
                "65a9a57f.2cd4cc"
            ]
        ]
    },
    {
        "id": "cc0bac3.b215a5",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230.2577590942383,
        "y": 534.6562519073486,
        "wires": [
            [
                "e072d445.297078",
                "8a5570fb.1652a"
            ]
        ]
    },
    {
        "id": "60dd9b18.4ea9b4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "78f7cd8.1d46a34",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c287894b.e832b8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d293da2f.640628",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4f3fa6bf.08bc18",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.507900238037,
        "y": 193.52343940734863,
        "wires": [
            [
                "61330bf.a7778f4"
            ]
        ]
    },
    {
        "id": "3b6ee34e.4a334c",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2462.00008392334,
        "y": 200.52345657348633,
        "wires": []
    },
    {
        "id": "622b3a2d.9260b4",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507968902588,
        "y": 164.52344512939453,
        "wires": []
    },
    {
        "id": "61330bf.a7778f4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.75008392334,
        "y": 193.6562614440918,
        "wires": [
            [
                "3b6ee34e.4a334c",
                "622b3a2d.9260b4"
            ]
        ]
    },
    {
        "id": "9e747df4.fa167",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 262.52343368530273,
        "wires": [
            [
                "c540160c.541898"
            ]
        ]
    },
    {
        "id": "22561975.3fda36",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2464.000015258789,
        "y": 269.52345085144043,
        "wires": []
    },
    {
        "id": "e11ac2ba.90d58",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 233.52343940734863,
        "wires": []
    },
    {
        "id": "c540160c.541898",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 262.6562557220459,
        "wires": [
            [
                "22561975.3fda36",
                "e11ac2ba.90d58"
            ]
        ]
    },
    {
        "id": "6540fa82.cf3754",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.5078315734863,
        "y": 331.52343368530273,
        "wires": [
            [
                "9de77a35.be88d8"
            ]
        ]
    },
    {
        "id": "9de7967c.306e38",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2462.000015258789,
        "y": 338.52345085144043,
        "wires": []
    },
    {
        "id": "1aae97c4.f85ff8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507900238037,
        "y": 302.52343940734863,
        "wires": []
    },
    {
        "id": "9de77a35.be88d8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.750015258789,
        "y": 331.6562557220459,
        "wires": [
            [
                "9de7967c.306e38",
                "1aae97c4.f85ff8"
            ]
        ]
    },
    {
        "id": "f19622ed.cd831",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 403.52343368530273,
        "wires": [
            [
                "61b7a3fe.add30c"
            ]
        ]
    },
    {
        "id": "f169293a.3f2698",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2464.000015258789,
        "y": 410.52345085144043,
        "wires": []
    },
    {
        "id": "6fd900de.dc3d9",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 374.52343940734863,
        "wires": []
    },
    {
        "id": "61b7a3fe.add30c",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 403.6562557220459,
        "wires": [
            [
                "f169293a.3f2698",
                "6fd900de.dc3d9"
            ]
        ]
    },
    {
        "id": "d06b1dbc.3b084",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "8a5ce01a.33bf6"
            ]
        ]
    },
    {
        "id": "5ee41fdf.130e6",
        "type": "inject",
        "z": "ffa0391c.242c78",
        "name": "Initializer",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "6b3afc61.d4af34",
                "1503efab.1fa81",
                "3aed068a.6d67aa",
                "4fb794c1.631c9c",
                "962c27c7.56f238",
                "5c05b4.8f58aa4c"
            ]
        ]
    },
    {
        "id": "dccecaa4.a65058",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2034.9999465942383,
        "y": 533.0000019073486,
        "wires": [
            [
                "cc0bac3.b215a5"
            ]
        ]
    },
    {
        "id": "7d362dfe.bc3d14",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2035.9998245239258,
        "y": 607.0000019073486,
        "wires": [
            [
                "1027b8dc.3a7e77"
            ]
        ]
    },
    {
        "id": "8f626a5d.a65958",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 692.0000038146973,
        "wires": [
            [
                "d8c0a957.1750a8"
            ]
        ]
    },
    {
        "id": "7a97fd12.0cef74",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2029.9996948242188,
        "y": 761.0000038146973,
        "wires": [
            [
                "81c07834.5d7478"
            ]
        ]
    },
    {
        "id": "c355666d.7dc218",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 833.0000038146973,
        "wires": [
            [
                "bdd807a1.d89e88"
            ]
        ]
    },
    {
        "id": "98db4842.9a4488",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2474.9999465942383,
        "y": 623.0000019073486,
        "wires": []
    },
    {
        "id": "e5599d7d.c9e3c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2494.9999504089355,
        "y": 660.0000228881836,
        "wires": []
    },
    {
        "id": "1027b8dc.3a7e77",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.75,
        "y": 612.1328125,
        "wires": [
            [
                "98db4842.9a4488",
                "e5599d7d.c9e3c"
            ]
        ]
    },
    {
        "id": "99dbe2d9.b19fa",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2478.9999465942383,
        "y": 701.0000019073486,
        "wires": []
    },
    {
        "id": "ea637ac7.5464b8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2498.9999504089355,
        "y": 738.0000228881836,
        "wires": []
    },
    {
        "id": "d8c0a957.1750a8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2239.75,
        "y": 694.1328125,
        "wires": [
            [
                "99dbe2d9.b19fa",
                "ea637ac7.5464b8"
            ]
        ]
    },
    {
        "id": "46358ee9.e652a",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2482.9999465942383,
        "y": 775.0000019073486,
        "wires": []
    },
    {
        "id": "de1a2082.00768",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999504089355,
        "y": 812.0000228881836,
        "wires": []
    },
    {
        "id": "81c07834.5d7478",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2257.7499237060547,
        "y": 798.1328086853027,
        "wires": [
            [
                "46358ee9.e652a",
                "de1a2082.00768"
            ]
        ]
    },
    {
        "id": "9d32f586.33d2f8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "53755d9c.c210a4",
        "x": 2482.9999465942383,
        "y": 849.0000019073486,
        "wires": []
    },
    {
        "id": "f021ffd9.b6d66",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999465942383,
        "y": 882.0000019073486,
        "wires": []
    },
    {
        "id": "bdd807a1.d89e88",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2263.7499237060547,
        "y": 884.1328086853027,
        "wires": [
            [
                "9d32f586.33d2f8",
                "f021ffd9.b6d66"
            ]
        ]
    },
    {
        "id": "abe633cc.93f49",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------Select ESP--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "98db791e.31b108",
        "type": "link out",
        "z": "ffa0391c.242c78",
        "name": "E2_LS",
        "links": [
            "58c0c4ab.f9537c"
        ],
        "x": 4215,
        "y": 1340,
        "wires": []
    },
    {
        "id": "aa1acd32.a521e",
        "type": "link out",
        "z": "ffa0391c.242c78",
        "name": "E2_SS",
        "links": [
            "e57618e5.f1a188",
            "828dd81c.c7e838"
        ],
        "x": 4215,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e6e9b5a8.6947d8",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "f42365d.519b598",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------MASTER--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1531.0001831054688,
        "y": 75.99999809265137,
        "wires": []
    },
    {
        "id": "7162987b.b22aa8",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "6c609b1a.d64574",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2620,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7020a9cf.e77ed8",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "b234e507.8a5e08",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 1300,
        "wires": []
    },
    {
        "id": "87e1af0d.bf5a5",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 4,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "c8119f7.7448c6",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "fcf84fa2.a71f2"
            ]
        ]
    },
    {
        "id": "db7fb8a0.631818",
        "type": "inject",
        "z": "ffa0391c.242c78",
        "name": "onlineStatPolling",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "c8119f7.7448c6",
                "96b64263.8d81f",
                "c094e543.85ba88",
                "7e1b305e.bdfab",
                "1aa60ea3.8e3eb1"
            ]
        ]
    },
    {
        "id": "7c5bb557.cea3dc",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 6,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "96b64263.8d81f",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "378a949e.b04f0c"
            ]
        ]
    },
    {
        "id": "f781b03a.e0e3",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 8,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "c094e543.85ba88",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "febd7e6b.a0c42"
            ]
        ]
    },
    {
        "id": "9191f74d.77e118",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 10,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "7e1b305e.bdfab",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "b9ce6177.5cd4e"
            ]
        ]
    },
    {
        "id": "faad7c1.312338",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4d12d327.40713c",
        "order": 12,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "1aa60ea3.8e3eb1",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 900,
        "wires": [
            [
                "c1fc430d.5d02c"
            ]
        ]
    },
    {
        "id": "cf4970a6.af82c",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "b234e507.8a5e08",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "91281e89.fcec7",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "6c609b1a.d64574",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "6113e07f.842ea",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "44d4ba0d.c427f4",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 820.3956909179688,
        "y": 715.4443864822388,
        "wires": []
    },
    {
        "id": "5546ed4b.a59084",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4b38c9f.4596938",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "635982ae.b5d1bc",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "415bd403.38296c",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 820,
        "y": 920,
        "wires": []
    },
    {
        "id": "378a949e.b04f0c",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "7c5bb557.cea3dc",
                "91281e89.fcec7"
            ]
        ]
    },
    {
        "id": "fcf84fa2.a71f2",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 693.229118347168,
        "y": 500.44440841674805,
        "wires": [
            [
                "87e1af0d.bf5a5",
                "cf4970a6.af82c"
            ]
        ]
    },
    {
        "id": "febd7e6b.a0c42",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "f781b03a.e0e3",
                "6113e07f.842ea"
            ]
        ]
    },
    {
        "id": "b9ce6177.5cd4e",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 800,
        "wires": [
            [
                "9191f74d.77e118",
                "5546ed4b.a59084"
            ]
        ]
    },
    {
        "id": "c1fc430d.5d02c",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 900,
        "wires": [
            [
                "faad7c1.312338",
                "635982ae.b5d1bc"
            ]
        ]
    },
    {
        "id": "1ce36cca.8601c3",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 2470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "bd4bf2c0.ec1b2",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2040,
        "y": 2020,
        "wires": [
            [
                "b1e02cdf.9f653"
            ]
        ]
    },
    {
        "id": "38564d34.c4b132",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1840,
        "y": 2020,
        "wires": [
            [
                "bd4bf2c0.ec1b2",
                "beb3d877.9d9628"
            ]
        ]
    },
    {
        "id": "beb3d877.9d9628",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1830,
        "y": 2080,
        "wires": [
            [
                "38564d34.c4b132",
                "bd4bf2c0.ec1b2"
            ]
        ]
    },
    {
        "id": "53258dac.2d91d4",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 2770,
        "y": 2020,
        "wires": [
            [
                "1cb904a2.94656b"
            ]
        ]
    },
    {
        "id": "8d6d6cc2.69321",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3170,
        "y": 1980,
        "wires": []
    },
    {
        "id": "b1e02cdf.9f653",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 2020,
        "wires": [
            [
                "1ce36cca.8601c3",
                "4ea0a552.de880c"
            ]
        ]
    },
    {
        "id": "fd39ab83.6cb238",
        "type": "ui_gauge",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "44d4ba0d.c427f4",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 3390,
        "y": 2020,
        "wires": []
    },
    {
        "id": "256540d4.545e7",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 2320,
        "wires": [
            [
                "c066f67.6026a08"
            ]
        ]
    },
    {
        "id": "9a556684.796e78",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 2440,
        "y": 2320,
        "wires": []
    },
    {
        "id": "c066f67.6026a08",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 2320,
        "wires": [
            [
                "9a556684.796e78",
                "e6440435.b3fdf8"
            ]
        ]
    },
    {
        "id": "a1e34a6f.be2df8",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 2760,
        "y": 2320,
        "wires": [
            [
                "fb0f4649.1ad298"
            ]
        ]
    },
    {
        "id": "8f5d7045.e0a9b",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3410,
        "y": 2280,
        "wires": []
    },
    {
        "id": "c33cdddb.42a43",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "44d4ba0d.c427f4",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 3390,
        "y": 2320,
        "wires": []
    },
    {
        "id": "1cb904a2.94656b",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2020,
        "wires": [
            [
                "8d6d6cc2.69321",
                "2594fa38.0b1f56"
            ]
        ]
    },
    {
        "id": "fb0f4649.1ad298",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2320,
        "wires": [
            [
                "d848bb18.728d98"
            ]
        ]
    },
    {
        "id": "4ea0a552.de880c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2410,
        "y": 1980,
        "wires": []
    },
    {
        "id": "b229fe0f.5a65a",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1810,
        "y": 2320,
        "wires": [
            [
                "256540d4.545e7"
            ]
        ]
    },
    {
        "id": "e6440435.b3fdf8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2370,
        "y": 2280,
        "wires": []
    },
    {
        "id": "d848bb18.728d98",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3200,
        "y": 2320,
        "wires": [
            [
                "c33cdddb.42a43",
                "8f5d7045.e0a9b"
            ]
        ]
    },
    {
        "id": "2594fa38.0b1f56",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3180,
        "y": 2020,
        "wires": [
            [
                "fd39ab83.6cb238"
            ]
        ]
    },
    {
        "id": "393be38a.967c9c",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "44d4ba0d.c427f4",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "5589434.e9af0bc",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 990,
        "y": 2660,
        "wires": []
    },
    {
        "id": "28fa462a.0964fa",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2660,
        "wires": [
            [
                "56a9df4e.3c844"
            ]
        ]
    },
    {
        "id": "24569014.c4531",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 360,
        "y": 2660,
        "wires": [
            [
                "28fa462a.0964fa",
                "33616080.67fed"
            ]
        ]
    },
    {
        "id": "33616080.67fed",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 350,
        "y": 2720,
        "wires": [
            [
                "24569014.c4531",
                "28fa462a.0964fa"
            ]
        ]
    },
    {
        "id": "e3824de9.87e9d",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 1310,
        "y": 2660,
        "wires": [
            [
                "d7bd6353.fd0b4"
            ]
        ]
    },
    {
        "id": "13e27d86.ee8e32",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 2620,
        "wires": []
    },
    {
        "id": "56a9df4e.3c844",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2660,
        "wires": [
            [
                "5589434.e9af0bc",
                "3859010f.ce9a4e"
            ]
        ]
    },
    {
        "id": "54c6ca23.c5cde4",
        "type": "ui_gauge",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "4b38c9f.4596938",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1950,
        "y": 2660,
        "wires": []
    },
    {
        "id": "a761c34a.764c4",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 2960,
        "wires": [
            [
                "bc6a9cac.b64ca"
            ]
        ]
    },
    {
        "id": "4d32717d.dcd16",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 1000,
        "y": 2960,
        "wires": []
    },
    {
        "id": "bc6a9cac.b64ca",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2960,
        "wires": [
            [
                "4d32717d.dcd16",
                "4d28f910.f742f8"
            ]
        ]
    },
    {
        "id": "f45f080a.1adba8",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 1340,
        "y": 2960,
        "wires": [
            [
                "68674407.8454ac"
            ]
        ]
    },
    {
        "id": "c2fb7715.da93a8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1970,
        "y": 3000,
        "wires": []
    },
    {
        "id": "bcac4f14.53aa8",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "4b38c9f.4596938",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1950,
        "y": 2960,
        "wires": []
    },
    {
        "id": "d7bd6353.fd0b4",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 2660,
        "wires": [
            [
                "13e27d86.ee8e32",
                "27df045b.19b08c"
            ]
        ]
    },
    {
        "id": "68674407.8454ac",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 2960,
        "wires": [
            [
                "47d73ff0.108bd"
            ]
        ]
    },
    {
        "id": "3859010f.ce9a4e",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2620,
        "wires": []
    },
    {
        "id": "fd53af5a.de30d",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 2960,
        "wires": [
            [
                "a761c34a.764c4"
            ]
        ]
    },
    {
        "id": "4d28f910.f742f8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2920,
        "wires": []
    },
    {
        "id": "47d73ff0.108bd",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2960,
        "wires": [
            [
                "bcac4f14.53aa8",
                "c2fb7715.da93a8"
            ]
        ]
    },
    {
        "id": "27df045b.19b08c",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2660,
        "wires": [
            [
                "54c6ca23.c5cde4"
            ]
        ]
    },
    {
        "id": "c4867349.586b7",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "4b38c9f.4596938",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 2600,
        "wires": []
    },
    {
        "id": "d21cd462.b988f8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3370,
        "y": 2660,
        "wires": []
    },
    {
        "id": "3f998852.c6ae78",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2660,
        "wires": [
            [
                "43b99909.2e99d8"
            ]
        ]
    },
    {
        "id": "df9e1264.56d32",
        "type": "ui_slider",
        "z": "ffa0391c.242c78",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 7,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2760,
        "y": 2660,
        "wires": [
            [
                "3f998852.c6ae78",
                "cfc6345f.b3f678"
            ]
        ]
    },
    {
        "id": "cfc6345f.b3f678",
        "type": "ui_numeric",
        "z": "ffa0391c.242c78",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2750,
        "y": 2720,
        "wires": [
            [
                "df9e1264.56d32",
                "3f998852.c6ae78"
            ]
        ]
    },
    {
        "id": "afd7077f.6e7ba8",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 3730,
        "y": 2660,
        "wires": [
            [
                "df245bd1.78d508"
            ]
        ]
    },
    {
        "id": "6857d411.25564c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4130,
        "y": 2620,
        "wires": []
    },
    {
        "id": "43b99909.2e99d8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3130,
        "y": 2660,
        "wires": [
            [
                "d21cd462.b988f8",
                "e14c476c.0c48c8"
            ]
        ]
    },
    {
        "id": "742f2ac0.0eb554",
        "type": "ui_gauge",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "415bd403.38296c",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4350,
        "y": 2660,
        "wires": []
    },
    {
        "id": "1af73be0.b0f684",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2940,
        "wires": [
            [
                "dcd86f.698e379"
            ]
        ]
    },
    {
        "id": "2d1ecdc5.4728d2",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3380,
        "y": 2940,
        "wires": []
    },
    {
        "id": "dcd86f.698e379",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2940,
        "wires": [
            [
                "2d1ecdc5.4728d2",
                "8e3ebeb0.566c5"
            ]
        ]
    },
    {
        "id": "44bc5cd3.b802d4",
        "type": "mqtt in",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/status",
        "qos": "2",
        "broker": "53755d9c.c210a4",
        "x": 3740,
        "y": 2940,
        "wires": [
            [
                "8b9efc4f.86849"
            ]
        ]
    },
    {
        "id": "7333e06f.335a",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4350,
        "y": 2980,
        "wires": []
    },
    {
        "id": "df245bd1.78d508",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3950,
        "y": 2660,
        "wires": [
            [
                "6857d411.25564c",
                "e33ac9bb.c77db8"
            ]
        ]
    },
    {
        "id": "8b9efc4f.86849",
        "type": "json",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3990,
        "y": 2940,
        "wires": [
            [
                "b0d1340d.2d51b8"
            ]
        ]
    },
    {
        "id": "e14c476c.0c48c8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2620,
        "wires": []
    },
    {
        "id": "3880c0a5.6c1ce",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2770,
        "y": 2940,
        "wires": [
            [
                "1af73be0.b0f684"
            ]
        ]
    },
    {
        "id": "8e3ebeb0.566c5",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2900,
        "wires": []
    },
    {
        "id": "b0d1340d.2d51b8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4160,
        "y": 2940,
        "wires": [
            [
                "7333e06f.335a",
                "c81e69e.2977f98"
            ]
        ]
    },
    {
        "id": "e33ac9bb.c77db8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4140,
        "y": 2660,
        "wires": [
            [
                "742f2ac0.0eb554"
            ]
        ]
    },
    {
        "id": "234d1ee2.2a4812",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "415bd403.38296c",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2740,
        "y": 2600,
        "wires": []
    },
    {
        "id": "cb56d816.778818",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "b234e507.8a5e08",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP1------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ff553e2e.9dc48",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "6c609b1a.d64574",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP2------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2400,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c798f9e7.6e72c8",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "44d4ba0d.c427f4",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP3------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1560,
        "y": 1960,
        "wires": []
    },
    {
        "id": "3e5caa0d.e48676",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "4b38c9f.4596938",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP4------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 2600,
        "wires": []
    },
    {
        "id": "11744fd2.4f4d5",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "415bd403.38296c",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP5------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2520,
        "y": 2600,
        "wires": []
    },
    {
        "id": "da7479ea.dea2c8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/config",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "86a9549b.cb64c8",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3300,
        "y": 1540,
        "wires": [
            [
                "695787cb.d027a8"
            ]
        ]
    },
    {
        "id": "a622aae.73f0f58",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3320,
        "y": 1500,
        "wires": [
            [
                "b3a803a1.87968"
            ]
        ]
    },
    {
        "id": "695787cb.d027a8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "b3a803a1.87968",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3530,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "310287d8.c9db48",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2770,
        "y": 1540,
        "wires": [
            [
                "5940cc20.3403b4",
                "da7479ea.dea2c8"
            ]
        ]
    },
    {
        "id": "40deef85.a7766",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3340,
        "y": 1460,
        "wires": [
            [
                "5c4e225b.c897bc"
            ]
        ]
    },
    {
        "id": "5c4e225b.c897bc",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "c033ffb9.86447",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3740,
        "y": 1500,
        "wires": [
            [
                "62a019fe.587408"
            ]
        ]
    },
    {
        "id": "62a019fe.587408",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3970,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "12214762.53bf99",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3750,
        "y": 1460,
        "wires": [
            [
                "44a70269.08225c"
            ]
        ]
    },
    {
        "id": "44a70269.08225c",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3960,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "5940cc20.3403b4",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2990,
        "y": 1500,
        "wires": []
    },
    {
        "id": "a110fb7a.4d66d8",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "6c609b1a.d64574",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2390,
        "y": 1540,
        "wires": [
            [
                "471a6e3.6df869"
            ]
        ]
    },
    {
        "id": "eb0a9426.cab3e8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/config",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 720,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7e306668.d62798",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad1\");\nvar envia = global.get(\"envia1\");\nvar actualiza = global.get(\"actualiza1\");\nvar LED = global.get(\"LED1\");\nvar Switch = global.get(\"switch1\");\nvar Logica_negativa = global.get(\"Logica_negativa1\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "b3bbb44d.4e5d48"
            ]
        ]
    },
    {
        "id": "b3bbb44d.4e5d48",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1540,
        "wires": [
            [
                "23de51dd.87ebce",
                "eb0a9426.cab3e8"
            ]
        ]
    },
    {
        "id": "23de51dd.87ebce",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e18464e3.e20e28",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "b234e507.8a5e08",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "7e306668.d62798"
            ]
        ]
    },
    {
        "id": "f15c7e66.1af81",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 1540,
        "wires": [
            [
                "c268093e.bdbd28"
            ]
        ]
    },
    {
        "id": "ac744b79.ac3f08",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 1500,
        "wires": [
            [
                "f74be132.b7dcb"
            ]
        ]
    },
    {
        "id": "c268093e.bdbd28",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "f74be132.b7dcb",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1c166053.4f0f8",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1060,
        "y": 1460,
        "wires": [
            [
                "f144cc34.412d2"
            ]
        ]
    },
    {
        "id": "f144cc34.412d2",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb395a4.85eb0a",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 1500,
        "wires": [
            [
                "98caa2aa.e270f"
            ]
        ]
    },
    {
        "id": "98caa2aa.e270f",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "2cbd2712.5bc6d8",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1470,
        "y": 1460,
        "wires": [
            [
                "8354466e.c3df78"
            ]
        ]
    },
    {
        "id": "8354466e.c3df78",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "1f114f62.d1e241",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/config",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 2160,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b2b0045e.37d6d8",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2440,
        "y": 2160,
        "wires": [
            [
                "5a2af973.420be8"
            ]
        ]
    },
    {
        "id": "51d497f9.993fd8",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2460,
        "y": 2120,
        "wires": [
            [
                "f0933df6.ea19e"
            ]
        ]
    },
    {
        "id": "5a2af973.420be8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "f0933df6.ea19e",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2670,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "e0900294.7296e",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 2160,
        "wires": [
            [
                "6b6f542b.9c5aac",
                "1f114f62.d1e241"
            ]
        ]
    },
    {
        "id": "ec6422.ddba8be",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2880,
        "y": 2120,
        "wires": [
            [
                "950c38eb.4b5088"
            ]
        ]
    },
    {
        "id": "950c38eb.4b5088",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "5770ab85.ca0a84",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2890,
        "y": 2080,
        "wires": [
            [
                "299c25d8.9812fa"
            ]
        ]
    },
    {
        "id": "299c25d8.9812fa",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "6b6f542b.9c5aac",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2130,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f218af61.e5e74",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "44d4ba0d.c427f4",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1530,
        "y": 2160,
        "wires": [
            [
                "3f1b6760.eb2248"
            ]
        ]
    },
    {
        "id": "45ce4bba.2e2a94",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2480,
        "y": 2080,
        "wires": [
            [
                "94b3d7e.31b9728"
            ]
        ]
    },
    {
        "id": "94b3d7e.31b9728",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae7682d.6989e8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/config",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 720,
        "y": 2800,
        "wires": []
    },
    {
        "id": "cd220f3d.4fc54",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1000,
        "y": 2800,
        "wires": [
            [
                "2e3467e1.946568"
            ]
        ]
    },
    {
        "id": "86d05622.a42568",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 2760,
        "wires": [
            [
                "ff1baf9a.5526f"
            ]
        ]
    },
    {
        "id": "2e3467e1.946568",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "ff1baf9a.5526f",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "cffb8c3d.d85e4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2800,
        "wires": [
            [
                "18a693b2.be8c4c",
                "5ae7682d.6989e8"
            ]
        ]
    },
    {
        "id": "5d557edc.0d34f",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1440,
        "y": 2760,
        "wires": [
            [
                "9d18141f.d04758"
            ]
        ]
    },
    {
        "id": "9d18141f.d04758",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "18a693b2.be8c4c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 2760,
        "wires": []
    },
    {
        "id": "9daf3c30.86434",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "4b38c9f.4596938",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "246dc30e.0f088c"
            ]
        ]
    },
    {
        "id": "83ec620e.4731f",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "397243c.a552dbc",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 2720,
        "wires": [
            [
                "83ec620e.4731f"
            ]
        ]
    },
    {
        "id": "b2bc9a65.dc7c38",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1450,
        "y": 2720,
        "wires": [
            [
                "3f72e51d.72950a"
            ]
        ]
    },
    {
        "id": "3f72e51d.72950a",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "e1f39ed8.995af",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/config",
        "qos": "",
        "retain": "",
        "broker": "53755d9c.c210a4",
        "x": 3120,
        "y": 2800,
        "wires": []
    },
    {
        "id": "b3c0acda.cfb01",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3400,
        "y": 2800,
        "wires": [
            [
                "b19272c2.9e42"
            ]
        ]
    },
    {
        "id": "63755c63.291944",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3420,
        "y": 2760,
        "wires": [
            [
                "576a9b0b.c44f44"
            ]
        ]
    },
    {
        "id": "b19272c2.9e42",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "576a9b0b.c44f44",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3630,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "787cd73d.901e58",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2870,
        "y": 2800,
        "wires": [
            [
                "461e9455.21066c",
                "e1f39ed8.995af"
            ]
        ]
    },
    {
        "id": "5d84b8e5.c841c8",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3840,
        "y": 2760,
        "wires": [
            [
                "31a98829.7240a8"
            ]
        ]
    },
    {
        "id": "31a98829.7240a8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4070,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "461e9455.21066c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3090,
        "y": 2760,
        "wires": []
    },
    {
        "id": "ffe3bf10.a94d8",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "415bd403.38296c",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2490,
        "y": 2800,
        "wires": [
            [
                "aeeb2b0a.119248"
            ]
        ]
    },
    {
        "id": "292eab22.7e8a94",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "74527945.c9b9b8",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3850,
        "y": 2720,
        "wires": [
            [
                "292eab22.7e8a94"
            ]
        ]
    },
    {
        "id": "ac898b0.5e00378",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff006a3.a5bffa",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3440,
        "y": 2720,
        "wires": [
            [
                "ac898b0.5e00378"
            ]
        ]
    },
    {
        "id": "751216a0.e02258",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4050,
        "y": 1340,
        "wires": []
    },
    {
        "id": "425ae632.2f5bc8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3160,
        "y": 280,
        "wires": [
            [
                "dd63e912.681498",
                "8a893f61.fadb6",
                "f8d73d5e.82aab",
                "bf6d259a.a6d038",
                "7977cc7e.2276c4"
            ]
        ]
    },
    {
        "id": "ccb5bff8.2df3e",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3818.9997634887695,
        "y": 134,
        "wires": []
    },
    {
        "id": "b369067b.58c8e8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3844.999767303467,
        "y": 183.00002098083496,
        "wires": []
    },
    {
        "id": "e7287932.02d678",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3581.749740600586,
        "y": 133.1328067779541,
        "wires": [
            [
                "ccb5bff8.2df3e",
                "b369067b.58c8e8"
            ]
        ]
    },
    {
        "id": "dd63e912.681498",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3386.491928100586,
        "y": 131.4765567779541,
        "wires": [
            [
                "e7287932.02d678"
            ]
        ]
    },
    {
        "id": "8a893f61.fadb6",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3387.4918060302734,
        "y": 205.4765567779541,
        "wires": [
            [
                "18f41c0e.9760b4"
            ]
        ]
    },
    {
        "id": "f8d73d5e.82aab",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3383.4916763305664,
        "y": 290.47655868530273,
        "wires": [
            [
                "9bb2aa7e.51f5f8"
            ]
        ]
    },
    {
        "id": "bf6d259a.a6d038",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3381.4916763305664,
        "y": 359.47655868530273,
        "wires": [
            [
                "651ea818.569468"
            ]
        ]
    },
    {
        "id": "7977cc7e.2276c4",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3383.4916763305664,
        "y": 431.47655868530273,
        "wires": [
            [
                "59df374f.02b188"
            ]
        ]
    },
    {
        "id": "18e2e7be.d7f7a8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3826.491928100586,
        "y": 221.4765567779541,
        "wires": []
    },
    {
        "id": "6cedecf.b0bca14",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3846.491931915283,
        "y": 258.47657775878906,
        "wires": []
    },
    {
        "id": "18f41c0e.9760b4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3581.2419815063477,
        "y": 210.60936737060547,
        "wires": [
            [
                "18e2e7be.d7f7a8",
                "6cedecf.b0bca14"
            ]
        ]
    },
    {
        "id": "ecd257e5.e46218",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3830.491928100586,
        "y": 299.4765567779541,
        "wires": []
    },
    {
        "id": "49967b7c.16fef4",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3850.491931915283,
        "y": 336.47657775878906,
        "wires": []
    },
    {
        "id": "9bb2aa7e.51f5f8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3591.2419815063477,
        "y": 292.60936737060547,
        "wires": [
            [
                "ecd257e5.e46218",
                "49967b7c.16fef4"
            ]
        ]
    },
    {
        "id": "5f40ff1b.694d5",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3834.491928100586,
        "y": 373.4765567779541,
        "wires": []
    },
    {
        "id": "3183b9eb.b19a06",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3854.491931915283,
        "y": 410.47657775878906,
        "wires": []
    },
    {
        "id": "651ea818.569468",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3609.2419052124023,
        "y": 396.6093635559082,
        "wires": [
            [
                "5f40ff1b.694d5",
                "3183b9eb.b19a06"
            ]
        ]
    },
    {
        "id": "e45f1361.9ff28",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3834.491928100586,
        "y": 447.4765567779541,
        "wires": []
    },
    {
        "id": "1aae1338.c5239d",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3854.491928100586,
        "y": 480.4765567779541,
        "wires": []
    },
    {
        "id": "59df374f.02b188",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3615.2419052124023,
        "y": 482.6093635559082,
        "wires": [
            [
                "e45f1361.9ff28",
                "1aae1338.c5239d"
            ]
        ]
    },
    {
        "id": "6defb65d.cf7758",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "f42365d.519b598",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2840,
        "y": 280,
        "wires": [
            [
                "236116fe.2773fa"
            ]
        ]
    },
    {
        "id": "2516d223.277b8e",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "b234e507.8a5e08",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 135.5,
        "y": 1870,
        "wires": [
            [
                "61372254.3b8d8c"
            ]
        ]
    },
    {
        "id": "61372254.3b8d8c",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 379,
        "y": 1869,
        "wires": [
            [
                "3e189133.e22e8e"
            ]
        ]
    },
    {
        "id": "c6bfc305.75633",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 873,
        "y": 1871,
        "wires": []
    },
    {
        "id": "3e189133.e22e8e",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 635.7499771118164,
        "y": 1870.132806777954,
        "wires": [
            [
                "c6bfc305.75633"
            ]
        ]
    },
    {
        "id": "e9225423.21d238",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "4b38c9f.4596938",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 157,
        "y": 3041,
        "wires": []
    },
    {
        "id": "c487d027.b6755",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "4b38c9f.4596938",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 115,
        "y": 3107,
        "wires": [
            [
                "c3ab95dc.5862d8"
            ]
        ]
    },
    {
        "id": "c3ab95dc.5862d8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 358.5,
        "y": 3106,
        "wires": [
            [
                "1f856191.0c85de"
            ]
        ]
    },
    {
        "id": "14389a27.158056",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 852.5,
        "y": 3108,
        "wires": []
    },
    {
        "id": "1f856191.0c85de",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615.2499771118164,
        "y": 3107.132806777954,
        "wires": [
            [
                "14389a27.158056"
            ]
        ]
    },
    {
        "id": "28d8d047.a1838",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "415bd403.38296c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2545,
        "y": 3021,
        "wires": []
    },
    {
        "id": "8d22c775.71b738",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "415bd403.38296c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2503,
        "y": 3087,
        "wires": [
            [
                "38d7e53b.2269ba"
            ]
        ]
    },
    {
        "id": "38d7e53b.2269ba",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2746.5,
        "y": 3086,
        "wires": [
            [
                "d8817ded.f8cfc"
            ]
        ]
    },
    {
        "id": "16be2747.8001c9",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3240.5,
        "y": 3088,
        "wires": []
    },
    {
        "id": "d8817ded.f8cfc",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3003.2499771118164,
        "y": 3087.132806777954,
        "wires": [
            [
                "16be2747.8001c9"
            ]
        ]
    },
    {
        "id": "20c105de.dbafaa",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "44d4ba0d.c427f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1585.0078125,
        "y": 2398.5234375,
        "wires": []
    },
    {
        "id": "d5d3b25b.5198d",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "44d4ba0d.c427f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1543.0078125,
        "y": 2464.5234375,
        "wires": [
            [
                "ccff52ce.ac01c"
            ]
        ]
    },
    {
        "id": "ccff52ce.ac01c",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1786.5078125,
        "y": 2463.5234375,
        "wires": [
            [
                "d0d7dec9.10299"
            ]
        ]
    },
    {
        "id": "785856f6.e2d6b8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 2280.5078125,
        "y": 2465.5234375,
        "wires": []
    },
    {
        "id": "d0d7dec9.10299",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2043.2577896118164,
        "y": 2464.656244277954,
        "wires": [
            [
                "785856f6.e2d6b8"
            ]
        ]
    },
    {
        "id": "568323fc.c37c3c",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "6c609b1a.d64574",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2426.5078125,
        "y": 1793.5234375,
        "wires": []
    },
    {
        "id": "5af1e7b9.efc178",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "6c609b1a.d64574",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2384.5078125,
        "y": 1859.5234375,
        "wires": [
            [
                "12fb823d.ff851e"
            ]
        ]
    },
    {
        "id": "12fb823d.ff851e",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "msg.payload={\"actualiza\" : 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2628.0078125,
        "y": 1858.5234375,
        "wires": [
            [
                "1ade8bd7.549254"
            ]
        ]
    },
    {
        "id": "e312c956.4dfed8",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3122.0078125,
        "y": 1860.5234375,
        "wires": []
    },
    {
        "id": "1ade8bd7.549254",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/FOTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2884.7577896118164,
        "y": 1859.656244277954,
        "wires": [
            [
                "e312c956.4dfed8"
            ]
        ]
    },
    {
        "id": "3b7c8786.25f738",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "b234e507.8a5e08",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 1540,
        "wires": [
            [
                "4e342edf.de307"
            ]
        ]
    },
    {
        "id": "4e342edf.de307",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "471a6e3.6df869",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad2\");\nvar envia = global.get(\"envia2\");\nvar actualiza = global.get(\"actualiza2\");\nvar LED = global.get(\"LED2\");\nvar Switch = global.get(\"switch2\");\nvar Logica_negativa = global.get(\"Logica_negativa2\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2570,
        "y": 1540,
        "wires": [
            [
                "310287d8.c9db48"
            ]
        ]
    },
    {
        "id": "d7b1993c.10b6a8",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "6c609b1a.d64574",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3740,
        "y": 1540,
        "wires": [
            [
                "58bfa717.a72288"
            ]
        ]
    },
    {
        "id": "58bfa717.a72288",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4000,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "3f1b6760.eb2248",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad3\");\nvar envia = global.get(\"envia3\");\nvar actualiza = global.get(\"actualiza3\");\nvar LED = global.get(\"LED3\");\nvar Switch = global.get(\"switch3\");\nvar Logica_negativa = global.get(\"Logica_negativa3\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 2160,
        "wires": [
            [
                "e0900294.7296e"
            ]
        ]
    },
    {
        "id": "4a0f5a5c.0d4484",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "44d4ba0d.c427f4",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2880,
        "y": 2160,
        "wires": [
            [
                "e8fb733b.f5edc"
            ]
        ]
    },
    {
        "id": "e8fb733b.f5edc",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3140,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "246dc30e.0f088c",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad4\");\nvar envia = global.get(\"envia4\");\nvar actualiza = global.get(\"actualiza4\");\nvar LED = global.get(\"LED4\");\nvar Switch = global.get(\"switch4\");\nvar Logica_negativa = global.get(\"Logica_negativa4\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 2800,
        "wires": [
            [
                "cffb8c3d.d85e4"
            ]
        ]
    },
    {
        "id": "8f7c7c88.45d96",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "4b38c9f.4596938",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1440,
        "y": 2800,
        "wires": [
            [
                "a5777c1d.27b4f"
            ]
        ]
    },
    {
        "id": "a5777c1d.27b4f",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "aeeb2b0a.119248",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad5\");\nvar envia = global.get(\"envia5\");\nvar actualiza = global.get(\"actualiza5\");\nvar LED = global.get(\"LED5\");\nvar Switch = global.get(\"switch5\");\nvar Logica_negativa = global.get(\"Logica_negativa5\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2670,
        "y": 2800,
        "wires": [
            [
                "787cd73d.901e58"
            ]
        ]
    },
    {
        "id": "91146335.7f4f2",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "415bd403.38296c",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3840,
        "y": 2800,
        "wires": [
            [
                "a52f6d35.fb463"
            ]
        ]
    },
    {
        "id": "a52f6d35.fb463",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4100,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "f8eb3f99.a76c1",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1670,
        "y": 680,
        "wires": [
            [
                "3a92234b.23798c"
            ]
        ]
    },
    {
        "id": "236116fe.2773fa",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2990,
        "y": 280,
        "wires": [
            [
                "425ae632.2f5bc8"
            ]
        ]
    },
    {
        "id": "528b0d12.b00864",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "actualiza2json",
        "func": "\nvar velocidad = global.get(\"velocidad_master\");\nvar envia = global.get(\"envia_master\");\nvar actualiza = global.get(\"actualiza_master\");\nvar LED = global.get(\"LED_master\");\nvar Switch = global.get(\"switch_master\");\nvar Logica_negativa = global.get(\"Logica_negativa_master\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nif(Logica_negativa === null)\n{\n    Logica_negativa = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch, \"Logica_negativa\" : Logica_negativa};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 3200,
        "y": 760,
        "wires": [
            [
                "2054f9a0.c3e2b6",
                "aae83002.68f6c",
                "8fb1c40a.8adff8",
                "bed985e.5d10178",
                "503885a9.78ff1c"
            ]
        ]
    },
    {
        "id": "63f9e224.c3886c",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3858.9997634887695,
        "y": 614,
        "wires": []
    },
    {
        "id": "6413e6ab.5e0e88",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3884.999767303467,
        "y": 663.000020980835,
        "wires": []
    },
    {
        "id": "8bb57319.33338",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3621.749740600586,
        "y": 613.1328067779541,
        "wires": [
            [
                "63f9e224.c3886c",
                "6413e6ab.5e0e88"
            ]
        ]
    },
    {
        "id": "2054f9a0.c3e2b6",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3426.491928100586,
        "y": 611.4765567779541,
        "wires": [
            [
                "8bb57319.33338"
            ]
        ]
    },
    {
        "id": "aae83002.68f6c",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3427.4918060302734,
        "y": 685.4765567779541,
        "wires": [
            [
                "de77b1e7.41b19"
            ]
        ]
    },
    {
        "id": "8fb1c40a.8adff8",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3423.4916763305664,
        "y": 770.4765586853027,
        "wires": [
            [
                "f8f61101.a0b62"
            ]
        ]
    },
    {
        "id": "bed985e.5d10178",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3421.4916763305664,
        "y": 839.4765586853027,
        "wires": [
            [
                "c747b81d.a1de58"
            ]
        ]
    },
    {
        "id": "503885a9.78ff1c",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3423.4916763305664,
        "y": 911.4765586853027,
        "wires": [
            [
                "ce4c2dd4.08aeb"
            ]
        ]
    },
    {
        "id": "e6a7477a.fe4798",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3866.491928100586,
        "y": 701.4765567779541,
        "wires": []
    },
    {
        "id": "cb40f4fb.f399b8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3886.491931915283,
        "y": 738.4765777587891,
        "wires": []
    },
    {
        "id": "de77b1e7.41b19",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3621.2419815063477,
        "y": 690.6093673706055,
        "wires": [
            [
                "e6a7477a.fe4798",
                "cb40f4fb.f399b8"
            ]
        ]
    },
    {
        "id": "3bc8ac5e.c3ff24",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3870.491928100586,
        "y": 779.4765567779541,
        "wires": []
    },
    {
        "id": "43f2574d.567de8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3890.491931915283,
        "y": 816.4765777587891,
        "wires": []
    },
    {
        "id": "f8f61101.a0b62",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3631.2419815063477,
        "y": 772.6093673706055,
        "wires": [
            [
                "3bc8ac5e.c3ff24",
                "43f2574d.567de8"
            ]
        ]
    },
    {
        "id": "68c1cba8.22ded4",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3874.491928100586,
        "y": 853.4765567779541,
        "wires": []
    },
    {
        "id": "a1328462.68faf8",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3894.491931915283,
        "y": 890.4765777587891,
        "wires": []
    },
    {
        "id": "c747b81d.a1de58",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3649.2419052124023,
        "y": 876.6093635559082,
        "wires": [
            [
                "68c1cba8.22ded4",
                "a1328462.68faf8"
            ]
        ]
    },
    {
        "id": "3d7aa0b6.e1e4e",
        "type": "mqtt out",
        "z": "ffa0391c.242c78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "e98cb958.dff988",
        "x": 3874.491928100586,
        "y": 927.4765567779541,
        "wires": []
    },
    {
        "id": "1adde3c2.a62f0c",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3894.491928100586,
        "y": 960.4765567779541,
        "wires": []
    },
    {
        "id": "ce4c2dd4.08aeb",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3655.2419052124023,
        "y": 962.6093635559082,
        "wires": [
            [
                "3d7aa0b6.e1e4e",
                "1adde3c2.a62f0c"
            ]
        ]
    },
    {
        "id": "92f8c08d.3fd1",
        "type": "switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3030,
        "y": 760,
        "wires": [
            [
                "528b0d12.b00864"
            ]
        ]
    },
    {
        "id": "35af8ad3.00e456",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "f42365d.519b598",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2890,
        "y": 760,
        "wires": [
            [
                "92f8c08d.3fd1"
            ]
        ]
    },
    {
        "id": "7d29fbb5.809a94",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2640,
        "y": 1080,
        "wires": [
            [
                "6dd17de9.c9b9b4"
            ]
        ]
    },
    {
        "id": "e4630f59.e651b",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2660,
        "y": 1040,
        "wires": [
            [
                "c1b1da90.4627e8"
            ]
        ]
    },
    {
        "id": "6dd17de9.c9b9b4",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "c1b1da90.4627e8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2890,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "20093d19.b38f82",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2680,
        "y": 1000,
        "wires": [
            [
                "4c7e075c.40a1f8"
            ]
        ]
    },
    {
        "id": "4c7e075c.40a1f8",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "67be0a18.2a4ee4",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3200,
        "y": 1040,
        "wires": [
            [
                "527b22f4.23f95c"
            ]
        ]
    },
    {
        "id": "527b22f4.23f95c",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "529b6ecf.6a1e4",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3210,
        "y": 1000,
        "wires": [
            [
                "a4831149.22371"
            ]
        ]
    },
    {
        "id": "a4831149.22371",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3440,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec30f92.77535",
        "type": "ui_switch",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Lgica Negativa",
        "tooltip": "",
        "group": "f42365d.519b598",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3200,
        "y": 1080,
        "wires": [
            [
                "54ac599e.836878"
            ]
        ]
    },
    {
        "id": "54ac599e.836878",
        "type": "change",
        "z": "ffa0391c.242c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Logica_negativa_master",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3480,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "16b762fa.994c3d",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "b234e507.8a5e08",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 177.5,
        "y": 1804,
        "wires": []
    },
    {
        "id": "c81e69e.2977f98",
        "type": "ui_led",
        "z": "ffa0391c.242c78",
        "group": "415bd403.38296c",
        "order": 17,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4330,
        "y": 2940,
        "wires": []
    },
    {
        "id": "c2ae17b1.6e8f78",
        "type": "ui_text",
        "z": "ffa0391c.242c78",
        "group": "f42365d.519b598",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------ACTUALIZA-------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2840,
        "y": 220,
        "wires": []
    },
    {
        "id": "2dd6c9e1.a9f876",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Mxima Temperatura ",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "157aac3a.f2b6a4"
            ]
        ]
    },
    {
        "id": "12e052.39155faf",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Mnima Temperatura",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "e5c0d4be.c011e8"
            ]
        ]
    },
    {
        "id": "76140579.22b26c",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Mxima Humedad",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "6fe782e1.c7723c"
            ]
        ]
    },
    {
        "id": "fce10db4.b549c",
        "type": "ui_text_input",
        "z": "ffa0391c.242c78",
        "name": "",
        "label": "Mnima Humedad",
        "tooltip": "",
        "group": "4d12d327.40713c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "f6bf1f4c.15ce1"
            ]
        ]
    },
    {
        "id": "6fe782e1.c7723c",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Ajustar humedad max/min aviso",
        "func": "//albergamos en la variable humedad la respuesta convertida a numrico.\nvar humedad=Number(msg.payload);\n\n\n//si se introduce un valor lgico de humedad y se ha pedido cambiar la hmax o hmin, entramos al if\nif(humedad >=0 && humedad<=100)\n{\n    if(humedad>global.get('HumedadMIN')) //si la humedad max introducida es mayor que la hmin actual, guardamos el cambio y es vlido.\n    {\n        global.set('HumedadMAX',humedad)\n    }\n\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "157aac3a.f2b6a4",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Ajustar temperatura maxima/minima aviso",
        "func": "var temperatura=Number(msg.payload);\n//Convertimos la respuesta del usuario a numrico para evitar errores de strings.\nvar temperaturaMinAct=global.get('TemperaturaMIN')\nvar temperaturaMaxAct=global.get('TemperaturaMAX')\n//Guardamos las temperaturas minima y maxima actuales en variables para comprobar.\n\n//Si se ha introducido un valor recogido en los lmites, y se ha pedido realizar un cambio de temperatura de aviso, entramos en el if.\nif(temperatura >=-10 && temperatura<=60)\n{\n    if(temperatura>temperaturaMinAct) //si la temperatura introducida es mayor que la temperatura minima actual(tmax>tmin, se cumple la logica)\n    {\n        global.set('TemperaturaMAX',temperatura)\n    }\n   \n} else {\n global.set(\"TemperaturaMIN\",10)\n global.set(\"TemperaturaMAX\",30)\n global.set(\"HumedadMIN\",30)\n global.set(\"HumedadMAX\",90)\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1500,
        "y": 380,
        "wires": [
            [
                "957a0c96.a01f1"
            ]
        ]
    },
    {
        "id": "e5c0d4be.c011e8",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Ajustar temperatura maxima/minima aviso",
        "func": "var temperatura=Number(msg.payload);\n//Convertimos la respuesta del usuario a numrico para evitar errores de strings.\nvar temperaturaMinAct=global.get('TemperaturaMIN')\nvar temperaturaMaxAct=global.get('TemperaturaMAX')\n//Guardamos las temperaturas minima y maxima actuales en variables para comprobar.\n\n//Si se ha introducido un valor recogido en los lmites, y se ha pedido realizar un cambio de temperatura de aviso, entramos en el if.\nif(temperatura >=-10 && temperatura<=60)\n{\n    if(temperatura<=temperaturaMaxAct) //si la minima es menor que la maxima, se cumple la condicin (tmin<tmax) lgica\n    {\n        global.set('TemperaturaMIN',temperatura)\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1500,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f6bf1f4c.15ce1",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "Ajustar humedad max/min aviso",
        "func": "//albergamos en la variable humedad la respuesta convertida a numrico.\nvar humedad=Number(msg.payload);\n\n\n//si se introduce un valor lgico de humedad y se ha pedido cambiar la hmax o hmin, entramos al if\nif(humedad >=0 && humedad<=100)\n{\n    if(humedad<=global.get('HumedadMAX')) //si hmin es menor que la hmax actual, la guardamos y procesamos el mensaje.\n    {\n        global.set('HumedadMIN',humedad) \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "dff98fe4.53b66",
        "type": "comment",
        "z": "ffa0391c.242c78",
        "name": "Lmites Alertas",
        "info": "",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "957a0c96.a01f1",
        "type": "debug",
        "z": "ffa0391c.242c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1790,
        "y": 380,
        "wires": []
    },
    {
        "id": "22ac3bb2.f740a4",
        "type": "ui_button",
        "z": "ffa0391c.242c78",
        "name": "",
        "group": "4d12d327.40713c",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1120,
        "y": 620,
        "wires": [
            [
                "22a05d5f.528df2"
            ]
        ]
    },
    {
        "id": "22a05d5f.528df2",
        "type": "function",
        "z": "ffa0391c.242c78",
        "name": "",
        "func": " global.set(\"TemperaturaMIN\",10)\n global.set(\"TemperaturaMAX\",30)\n global.set(\"HumedadMIN\",30)\n global.set(\"HumedadMAX\",90)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "53755d9c.c210a4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b234e507.8a5e08",
        "type": "ui_group",
        "z": "",
        "name": "ESP1Ctrl",
        "tab": "108fed71.a11903",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "6c609b1a.d64574",
        "type": "ui_group",
        "z": "",
        "name": "ESP2Ctrl",
        "tab": "108fed71.a11903",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "4d12d327.40713c",
        "type": "ui_group",
        "z": "",
        "name": "ESP",
        "tab": "108fed71.a11903",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f42365d.519b598",
        "type": "ui_group",
        "z": "",
        "name": "MASTERControl",
        "tab": "108fed71.a11903",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "44d4ba0d.c427f4",
        "type": "ui_group",
        "z": "",
        "name": "ESP3Ctrl",
        "tab": "108fed71.a11903",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "4b38c9f.4596938",
        "type": "ui_group",
        "z": "",
        "name": "ESP4Ctrl",
        "tab": "108fed71.a11903",
        "order": 6,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "415bd403.38296c",
        "type": "ui_group",
        "z": "",
        "name": "ESP5Ctrl",
        "tab": "108fed71.a11903",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e98cb958.dff988",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "108fed71.a11903",
        "type": "ui_tab",
        "z": "",
        "name": "ControlESP",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]