Node-RED/Global1_ControlESP.txt
[
    {
        "id": "454200bb.ecd9d",
        "type": "tab",
        "label": "Control_ESP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "91d04db7.1f949",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 1050,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ccd68b21.1874a8",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "99a991ab.010cc"
            ]
        ]
    },
    {
        "id": "c88be72b.519228",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "d831bdb9.01759",
                "ccd68b21.1874a8"
            ]
        ]
    },
    {
        "id": "d831bdb9.01759",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "c88be72b.519228",
                "ccd68b21.1874a8"
            ]
        ]
    },
    {
        "id": "9c9e3930.4a1d88",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/led/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 1370,
        "y": 1380,
        "wires": [
            [
                "d946ae1.43ff45"
            ]
        ]
    },
    {
        "id": "d07ad5eb.407ec8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1810,
        "y": 1340,
        "wires": []
    },
    {
        "id": "99a991ab.010cc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "91d04db7.1f949",
                "45f24e25.cbca4"
            ]
        ]
    },
    {
        "id": "210816d2.95e49a",
        "type": "ui_gauge",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "fb17f0c0.5d5c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8ffa7c6f.27541",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1720,
        "wires": [
            [
                "2cfd441a.4fe7ac"
            ]
        ]
    },
    {
        "id": "afb95a02.e71668",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 1000,
        "y": 1720,
        "wires": []
    },
    {
        "id": "2cfd441a.4fe7ac",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1720,
        "wires": [
            [
                "afb95a02.e71668",
                "7117f095.0714"
            ]
        ]
    },
    {
        "id": "88d50e17.99ce3",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/switch/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 1360,
        "y": 1720,
        "wires": [
            [
                "5aeed125.0ebdb"
            ]
        ]
    },
    {
        "id": "b8f29439.fc2568",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1830,
        "y": 1680,
        "wires": []
    },
    {
        "id": "c54e09eb.0dc9e8",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "fb17f0c0.5d5c",
        "order": 15,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 2030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d946ae1.43ff45",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1380,
        "wires": [
            [
                "d07ad5eb.407ec8",
                "1a6c7562.b81f3b"
            ]
        ]
    },
    {
        "id": "5aeed125.0ebdb",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1610,
        "y": 1720,
        "wires": [
            [
                "b8f29439.fc2568",
                "200a65d3.2748ba"
            ]
        ]
    },
    {
        "id": "45f24e25.cbca4",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7ed9b6c4.0b72f8",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "8ffa7c6f.27541"
            ]
        ]
    },
    {
        "id": "7117f095.0714",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 1680,
        "wires": []
    },
    {
        "id": "909b273f.1a31f8",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9789e2ec.73016",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2880,
        "y": 1380,
        "wires": [
            [
                "bf89c418.90b6f8"
            ]
        ]
    },
    {
        "id": "49aa869e.26d738",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2680,
        "y": 1380,
        "wires": [
            [
                "9789e2ec.73016",
                "ffe28243.832fe"
            ]
        ]
    },
    {
        "id": "ffe28243.832fe",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2681.9998512268066,
        "y": 1441.9998817443848,
        "wires": [
            [
                "49aa869e.26d738",
                "9789e2ec.73016"
            ]
        ]
    },
    {
        "id": "3d5bf716.e9f5a8",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/led/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 3630,
        "y": 1380,
        "wires": [
            [
                "c491e905.c0fc88"
            ]
        ]
    },
    {
        "id": "bf89c418.90b6f8",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 1380,
        "wires": [
            [
                "909b273f.1a31f8",
                "999114fd.2d0d88"
            ]
        ]
    },
    {
        "id": "d9d815d1.7d2f68",
        "type": "ui_gauge",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "e56ec6.ad07c138",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4250,
        "y": 1380,
        "wires": []
    },
    {
        "id": "718b7630.439e78",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2800,
        "y": 1720,
        "wires": [
            [
                "c81500d4.67a17"
            ]
        ]
    },
    {
        "id": "d389fcf7.e20c7",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3260,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c81500d4.67a17",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2970,
        "y": 1720,
        "wires": [
            [
                "d389fcf7.e20c7",
                "d8d2eb64.e641f8"
            ]
        ]
    },
    {
        "id": "75b363a.883489c",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/switch/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 3580,
        "y": 1720,
        "wires": [
            [
                "2363c15a.c9d27e"
            ]
        ]
    },
    {
        "id": "d57f985.25f9968",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4270,
        "y": 1760,
        "wires": []
    },
    {
        "id": "4b04f482.c5777c",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "e56ec6.ad07c138",
        "order": 15,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4250,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c491e905.c0fc88",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3870,
        "y": 1380,
        "wires": [
            [
                "8a8f0024.6b8d7",
                "d68f8109.1e82f"
            ]
        ]
    },
    {
        "id": "2363c15a.c9d27e",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3850,
        "y": 1720,
        "wires": [
            [
                "43a6a8d1.8c8738",
                "d57f985.25f9968"
            ]
        ]
    },
    {
        "id": "999114fd.2d0d88",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f31c4093.ea749",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2650,
        "y": 1720,
        "wires": [
            [
                "718b7630.439e78"
            ]
        ]
    },
    {
        "id": "d8d2eb64.e641f8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3190,
        "y": 1680,
        "wires": []
    },
    {
        "id": "43a6a8d1.8c8738",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4040,
        "y": 1720,
        "wires": [
            [
                "4b04f482.c5777c",
                "b1736925.a68b68"
            ]
        ]
    },
    {
        "id": "8a8f0024.6b8d7",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 1380,
        "wires": [
            [
                "d9d815d1.7d2f68",
                "1e348c76.83c2d4"
            ]
        ]
    },
    {
        "id": "200a65d3.2748ba",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 1720,
        "wires": [
            [
                "c54e09eb.0dc9e8",
                "df395b60.933718"
            ]
        ]
    },
    {
        "id": "1a6c7562.b81f3b",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1380,
        "wires": [
            [
                "210816d2.95e49a",
                "58ffd941.2071c8"
            ]
        ]
    },
    {
        "id": "48910ee6.a575b",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enable_Multi_Control",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 559.7500152587891,
        "y": 253.11724662780762,
        "wires": [
            [
                "1d1932da.8d61ed"
            ]
        ]
    },
    {
        "id": "82438fa1.fb77",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "ESP1",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 507.50787353515625,
        "y": 310.52348136901855,
        "wires": [
            [
                "4a4a9b.2babb564"
            ]
        ]
    },
    {
        "id": "8d43888f.959578",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "ESP2",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 6,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 506.5080261230469,
        "y": 364.52349434862845,
        "wires": [
            [
                "bb632bca.6614c8"
            ]
        ]
    },
    {
        "id": "8542e315.00845",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "ESP3",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 515.507926940918,
        "y": 417.5235429860186,
        "wires": [
            [
                "abbd95c6.2ef5d8"
            ]
        ]
    },
    {
        "id": "218a9253.f6713e",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "ESP4",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 10,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 502.50793075561523,
        "y": 471.52352714538574,
        "wires": [
            [
                "3a73427.ef5d9be"
            ]
        ]
    },
    {
        "id": "5046a5e9.ccc6dc",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "ESP5",
        "tooltip": "",
        "group": "cf7fbe69.4b3b6",
        "order": 12,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 504.50793075561523,
        "y": 520.5235271453857,
        "wires": [
            [
                "20227311.50eb7c"
            ]
        ]
    },
    {
        "id": "1d1932da.8d61ed",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "multiControl",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 792.7421875,
        "y": 252.6015625,
        "wires": [
            []
        ]
    },
    {
        "id": "4a4a9b.2babb564",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 679.5078811645508,
        "y": 309.5234718322754,
        "wires": [
            []
        ]
    },
    {
        "id": "cd32c3a0.f637d",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2076.508083343506,
        "y": 111.5234317779541,
        "wires": [
            [
                "ac407c02.19ecc"
            ]
        ]
    },
    {
        "id": "b39754fe.2bdf38",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2467.0002670288086,
        "y": 118.5234489440918,
        "wires": []
    },
    {
        "id": "44264475.c3b25c",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1868.0002517700195,
        "y": 235.5234203338623,
        "wires": [
            [
                "cd32c3a0.f637d",
                "a1946304.80d79",
                "9f8a1c99.c8d85",
                "d258c127.3df09",
                "4f26e1aa.3fbc9"
            ]
        ]
    },
    {
        "id": "b3d3e489.114ba8",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "43a4ff19.38eb9",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1516.0002937316895,
        "y": 223.52341842651367,
        "wires": [
            [
                "9e24ced4.04072",
                "6151cdff.9f7604"
            ]
        ]
    },
    {
        "id": "9e24ced4.04072",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "%PWM",
        "tooltip": "",
        "group": "43a4ff19.38eb9",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1506.0002937316895,
        "y": 283.5234184265137,
        "wires": [
            [
                "b3d3e489.114ba8"
            ]
        ]
    },
    {
        "id": "75919eb1.57b2c",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1848.507926940918,
        "y": 671.5234479904175,
        "wires": [
            [
                "c0486007.17a6a",
                "2ca364da.ffba9c",
                "fe1fae25.eb995",
                "fea84258.2b1b4",
                "baab5f74.7ebb7"
            ]
        ]
    },
    {
        "id": "a62c089b.8c2e68",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2467.507781982422,
        "y": 535.5234451293945,
        "wires": []
    },
    {
        "id": "a13e06e5.66b468",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2489.508144378662,
        "y": 82.52343273162842,
        "wires": []
    },
    {
        "id": "6a772edb.5fced",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "43a4ff19.38eb9",
        "order": 7,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1510.7500839233398,
        "y": 681.1250238418579,
        "wires": [
            [
                "75919eb1.57b2c"
            ]
        ]
    },
    {
        "id": "c6d4121b.73eb2",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2493.507785797119,
        "y": 584.5234661102295,
        "wires": []
    },
    {
        "id": "ac407c02.19ecc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2232.7502670288086,
        "y": 111.65625381469727,
        "wires": [
            [
                "b39754fe.2bdf38",
                "a13e06e5.66b468"
            ]
        ]
    },
    {
        "id": "f233c331.5cfcd",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230.2577590942383,
        "y": 534.6562519073486,
        "wires": [
            [
                "a62c089b.8c2e68",
                "c6d4121b.73eb2"
            ]
        ]
    },
    {
        "id": "bb632bca.6614c8",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 676.5078582763672,
        "y": 360.52367125521414,
        "wires": [
            []
        ]
    },
    {
        "id": "abbd95c6.2ef5d8",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670.5078010559082,
        "y": 415.52365075121634,
        "wires": [
            []
        ]
    },
    {
        "id": "3a73427.ef5d9be",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 668.5078010559082,
        "y": 459.52365075121634,
        "wires": [
            []
        ]
    },
    {
        "id": "20227311.50eb7c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ESP5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670.5078010559082,
        "y": 510.52365075121634,
        "wires": [
            []
        ]
    },
    {
        "id": "a1946304.80d79",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.507900238037,
        "y": 193.52343940734863,
        "wires": [
            [
                "a084d885.ebbad8"
            ]
        ]
    },
    {
        "id": "a2ded647.2e2e68",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2462.00008392334,
        "y": 200.52345657348633,
        "wires": []
    },
    {
        "id": "73ba9c95.a4fd94",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507968902588,
        "y": 164.52344512939453,
        "wires": []
    },
    {
        "id": "a084d885.ebbad8",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.75008392334,
        "y": 193.6562614440918,
        "wires": [
            [
                "a2ded647.2e2e68",
                "73ba9c95.a4fd94"
            ]
        ]
    },
    {
        "id": "9f8a1c99.c8d85",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 262.52343368530273,
        "wires": [
            [
                "2a63db30.0d20d4"
            ]
        ]
    },
    {
        "id": "d64b59d2.b4b978",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2464.000015258789,
        "y": 269.52345085144043,
        "wires": []
    },
    {
        "id": "6bb31e45.794c9",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 233.52343940734863,
        "wires": []
    },
    {
        "id": "2a63db30.0d20d4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 262.6562557220459,
        "wires": [
            [
                "d64b59d2.b4b978",
                "6bb31e45.794c9"
            ]
        ]
    },
    {
        "id": "d258c127.3df09",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2071.5078315734863,
        "y": 331.52343368530273,
        "wires": [
            [
                "26784a74.590cd6"
            ]
        ]
    },
    {
        "id": "a25e10b5.288f1",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2462.000015258789,
        "y": 338.52345085144043,
        "wires": []
    },
    {
        "id": "bd99979b.8162a8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2481.507900238037,
        "y": 302.52343940734863,
        "wires": []
    },
    {
        "id": "26784a74.590cd6",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2227.750015258789,
        "y": 331.6562557220459,
        "wires": [
            [
                "a25e10b5.288f1",
                "bd99979b.8162a8"
            ]
        ]
    },
    {
        "id": "4f26e1aa.3fbc9",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2073.5078315734863,
        "y": 403.52343368530273,
        "wires": [
            [
                "ee933e09.45683"
            ]
        ]
    },
    {
        "id": "9a4869e6.93a498",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2464.000015258789,
        "y": 410.52345085144043,
        "wires": []
    },
    {
        "id": "7042df4a.e8384",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2483.507900238037,
        "y": 374.52343940734863,
        "wires": []
    },
    {
        "id": "ee933e09.45683",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.750015258789,
        "y": 403.6562557220459,
        "wires": [
            [
                "9a4869e6.93a498",
                "7042df4a.e8384"
            ]
        ]
    },
    {
        "id": "6151cdff.9f7604",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "multiControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1702.0080032348633,
        "y": 300.52343559265137,
        "wires": [
            [
                "44264475.c3b25c"
            ]
        ]
    },
    {
        "id": "9992d02d.07357",
        "type": "inject",
        "z": "454200bb.ecd9d",
        "name": "Initializer",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 272.7421875,
        "y": 404.40625,
        "wires": [
            [
                "48910ee6.a575b",
                "82438fa1.fb77",
                "8d43888f.959578",
                "8542e315.00845",
                "218a9253.f6713e",
                "5046a5e9.ccc6dc"
            ]
        ]
    },
    {
        "id": "58ffd941.2071c8",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E1_LS",
        "links": [
            "42defd08.244a94"
        ],
        "x": 2015,
        "y": 1340,
        "wires": []
    },
    {
        "id": "42defd08.244a94",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "58ffd941.2071c8"
        ],
        "x": 55,
        "y": 1380,
        "wires": [
            [
                "ce037b04.a660e8"
            ]
        ]
    },
    {
        "id": "81fd0b38.3647d8",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "1e348c76.83c2d4"
        ],
        "x": 2355,
        "y": 1380,
        "wires": [
            [
                "3dec0bdb.58c134"
            ]
        ]
    },
    {
        "id": "c0486007.17a6a",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP1",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2034.9999465942383,
        "y": 533.0000019073486,
        "wires": [
            [
                "f233c331.5cfcd"
            ]
        ]
    },
    {
        "id": "2ca364da.ffba9c",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2035.9998245239258,
        "y": 607.0000019073486,
        "wires": [
            [
                "540e6d66.cf6354"
            ]
        ]
    },
    {
        "id": "fe1fae25.eb995",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP3",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 692.0000038146973,
        "wires": [
            [
                "1f5edf18.f2c9c1"
            ]
        ]
    },
    {
        "id": "fea84258.2b1b4",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP4",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2029.9996948242188,
        "y": 761.0000038146973,
        "wires": [
            [
                "822049d6.e280e8"
            ]
        ]
    },
    {
        "id": "baab5f74.7ebb7",
        "type": "switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "ESP5",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2031.9996948242188,
        "y": 833.0000038146973,
        "wires": [
            [
                "ea77dcdd.0d469"
            ]
        ]
    },
    {
        "id": "3a38690.3dcf898",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2474.9999465942383,
        "y": 623.0000019073486,
        "wires": []
    },
    {
        "id": "e4bc20bb.848f6",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2494.9999504089355,
        "y": 660.0000228881836,
        "wires": []
    },
    {
        "id": "540e6d66.cf6354",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2229.75,
        "y": 612.1328125,
        "wires": [
            [
                "3a38690.3dcf898",
                "e4bc20bb.848f6"
            ]
        ]
    },
    {
        "id": "1626614e.12c34f",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2478.9999465942383,
        "y": 701.0000019073486,
        "wires": []
    },
    {
        "id": "8571e38f.2e2b8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2498.9999504089355,
        "y": 738.0000228881836,
        "wires": []
    },
    {
        "id": "1f5edf18.f2c9c1",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2239.75,
        "y": 694.1328125,
        "wires": [
            [
                "1626614e.12c34f",
                "8571e38f.2e2b8"
            ]
        ]
    },
    {
        "id": "39ad134.67a68ec",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2482.9999465942383,
        "y": 775.0000019073486,
        "wires": []
    },
    {
        "id": "6a88fced.2f7044",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999504089355,
        "y": 812.0000228881836,
        "wires": []
    },
    {
        "id": "822049d6.e280e8",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2257.7499237060547,
        "y": 798.1328086853027,
        "wires": [
            [
                "39ad134.67a68ec",
                "6a88fced.2f7044"
            ]
        ]
    },
    {
        "id": "fe6b7cf.8d0648",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "992459bd.5a2ac8",
        "x": 2482.9999465942383,
        "y": 849.0000019073486,
        "wires": []
    },
    {
        "id": "8beaf60c.ccb2e8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2502.9999465942383,
        "y": 882.0000019073486,
        "wires": []
    },
    {
        "id": "ea77dcdd.0d469",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2263.7499237060547,
        "y": 884.1328086853027,
        "wires": [
            [
                "fe6b7cf.8d0648",
                "8beaf60c.ccb2e8"
            ]
        ]
    },
    {
        "id": "ce93b95e.4eb338",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------Select ESP--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 581.5,
        "y": 194,
        "wires": []
    },
    {
        "id": "1e348c76.83c2d4",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E2_LS",
        "links": [
            "81fd0b38.3647d8"
        ],
        "x": 4215,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3dec0bdb.58c134",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 2480,
        "y": 1380,
        "wires": [
            [
                "49aa869e.26d738"
            ]
        ]
    },
    {
        "id": "b1736925.a68b68",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E2_SS",
        "links": [
            "3719c777.d6ae08",
            "828dd81c.c7e838"
        ],
        "x": 4215,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3719c777.d6ae08",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "b1736925.a68b68"
        ],
        "x": 2335,
        "y": 1720,
        "wires": [
            [
                "581993bd.8ee40c"
            ]
        ]
    },
    {
        "id": "581993bd.8ee40c",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 2480,
        "y": 1720,
        "wires": [
            [
                "f31c4093.ea749"
            ]
        ]
    },
    {
        "id": "df395b60.933718",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E1_SS",
        "links": [
            "9a95b83b.cfd0c8"
        ],
        "x": 1995,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9a95b83b.cfd0c8",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "df395b60.933718"
        ],
        "x": 55,
        "y": 1720,
        "wires": [
            [
                "d6acd726.298038"
            ]
        ]
    },
    {
        "id": "d6acd726.298038",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "7ed9b6c4.0b72f8"
            ]
        ]
    },
    {
        "id": "ce037b04.a660e8",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "c88be72b.519228"
            ]
        ]
    },
    {
        "id": "118a3a13.39aa66",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "43a4ff19.38eb9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------MASTER--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1536.0001029968262,
        "y": 179.99999713897705,
        "wires": []
    },
    {
        "id": "fea17442.5213a8",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "e56ec6.ad07c138",
        "order": 14,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2420,
        "y": 1640,
        "wires": []
    },
    {
        "id": "73876939.e51a18",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "e56ec6.ad07c138",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2620,
        "y": 1320,
        "wires": []
    },
    {
        "id": "57a181b5.b813",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "fb17f0c0.5d5c",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 1300,
        "wires": []
    },
    {
        "id": "630f228e.f0a0dc",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "fb17f0c0.5d5c",
        "order": 14,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1ce9c251.720c7e",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "43a4ff19.38eb9",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1545.6667556762695,
        "y": 628.6666851043701,
        "wires": []
    },
    {
        "id": "ed00ee3.5ed381",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 927.5001220703125,
        "y": 642.666708946228,
        "wires": []
    },
    {
        "id": "ea2185f0.465f28",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 612.6666946411133,
        "y": 651.6667366027832,
        "wires": [
            [
                "b0a04c5e.b2fa7"
            ]
        ]
    },
    {
        "id": "dc6b4c71.58fef",
        "type": "inject",
        "z": "454200bb.ecd9d",
        "name": "onlineStatPolling",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 356.6666946411133,
        "y": 795.6666564941406,
        "wires": [
            [
                "ea2185f0.465f28",
                "a97fc83b.3fea08",
                "d7905c5c.359ed",
                "12bbaccf.153093",
                "b201e39b.e02c4"
            ]
        ]
    },
    {
        "id": "68606abc.ed0fe4",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 926.666748046875,
        "y": 713.3334312438965,
        "wires": []
    },
    {
        "id": "a97fc83b.3fea08",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630.8332328796387,
        "y": 737.3334683824469,
        "wires": [
            [
                "69c5b00c.74fe4"
            ]
        ]
    },
    {
        "id": "50e97f24.9c908",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 7,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 925.6666946411133,
        "y": 785.3333501815796,
        "wires": []
    },
    {
        "id": "d7905c5c.359ed",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 626.8332328796387,
        "y": 802.3333558488775,
        "wires": [
            [
                "5db7470a.47f838"
            ]
        ]
    },
    {
        "id": "a2383c4a.e0813",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 9,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 923.6666946411133,
        "y": 858.3333501815796,
        "wires": []
    },
    {
        "id": "12bbaccf.153093",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 621.8332481384277,
        "y": 876.3333577562262,
        "wires": [
            [
                "4b8cfd4d.eb7404"
            ]
        ]
    },
    {
        "id": "6d7367bc.73eb88",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "cf7fbe69.4b3b6",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 922.6667213439941,
        "y": 927.3333387374878,
        "wires": []
    },
    {
        "id": "b201e39b.e02c4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 619.8332252502441,
        "y": 950.3333902359009,
        "wires": [
            [
                "b077ab4c.e7bc58"
            ]
        ]
    },
    {
        "id": "b96c82cc.83667",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "fb17f0c0.5d5c",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP1led",
        "x": 927.895881652832,
        "y": 677.1111640930176,
        "wires": []
    },
    {
        "id": "d9be4f1.7bb5db",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "e56ec6.ad07c138",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP2led",
        "x": 926.062385559082,
        "y": 748.7778482437134,
        "wires": []
    },
    {
        "id": "18ad2ccf.d380d3",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "953cce34.3a55a",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP3led",
        "x": 926.062385559082,
        "y": 820.7777366638184,
        "wires": []
    },
    {
        "id": "1ffbf016.7a697",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "f4285245.6be7b",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP4led",
        "x": 923.0624008178711,
        "y": 892.7777376174927,
        "wires": []
    },
    {
        "id": "9a7e993a.b60df8",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "87fc97ce.487978",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "ESP5led",
        "x": 922.0624008178711,
        "y": 962.7777662277222,
        "wires": []
    },
    {
        "id": "f6547ee7.ac55d",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 933.8958129882812,
        "y": 601.2222290039062,
        "wires": []
    },
    {
        "id": "69c5b00c.74fe4",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 772.8402862548828,
        "y": 734.5937805175781,
        "wires": [
            [
                "68606abc.ed0fe4",
                "d9be4f1.7bb5db"
            ]
        ]
    },
    {
        "id": "b0a04c5e.b2fa7",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 765.8958129882812,
        "y": 652.1111450195312,
        "wires": [
            [
                "ed00ee3.5ed381",
                "b96c82cc.83667"
            ]
        ]
    },
    {
        "id": "5db7470a.47f838",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 774.8958129882812,
        "y": 790.1111450195312,
        "wires": [
            [
                "50e97f24.9c908",
                "18ad2ccf.d380d3"
            ]
        ]
    },
    {
        "id": "4b8cfd4d.eb7404",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 785.8958129882812,
        "y": 863.1111450195312,
        "wires": [
            [
                "a2383c4a.e0813",
                "1ffbf016.7a697"
            ]
        ]
    },
    {
        "id": "b077ab4c.e7bc58",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 786.8958129882812,
        "y": 934.1111450195312,
        "wires": [
            [
                "6d7367bc.73eb88",
                "9a7e993a.b60df8"
            ]
        ]
    },
    {
        "id": "e34e7031.87695",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 2470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "f4f34b4f.a07fd8",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2040,
        "y": 2020,
        "wires": [
            [
                "34c185b0.6bab0a"
            ]
        ]
    },
    {
        "id": "7d029cd6.0255f4",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1840,
        "y": 2020,
        "wires": [
            [
                "f4f34b4f.a07fd8",
                "b9450a61.afed28"
            ]
        ]
    },
    {
        "id": "b9450a61.afed28",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 1830,
        "y": 2080,
        "wires": [
            [
                "7d029cd6.0255f4",
                "f4f34b4f.a07fd8"
            ]
        ]
    },
    {
        "id": "a3364ecf.403e9",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/led/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 2770,
        "y": 2020,
        "wires": [
            [
                "6c59a394.62834c"
            ]
        ]
    },
    {
        "id": "40278cb5.696284",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3170,
        "y": 1980,
        "wires": []
    },
    {
        "id": "34c185b0.6bab0a",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 2020,
        "wires": [
            [
                "e34e7031.87695",
                "f11b28a2.4492e8"
            ]
        ]
    },
    {
        "id": "9b32a9e0.0e02c8",
        "type": "ui_gauge",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "953cce34.3a55a",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 3390,
        "y": 2020,
        "wires": []
    },
    {
        "id": "7168a9bd.c63b78",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 2320,
        "wires": [
            [
                "28135356.30fc1c"
            ]
        ]
    },
    {
        "id": "f3d73c33.26bb8",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 2440,
        "y": 2320,
        "wires": []
    },
    {
        "id": "28135356.30fc1c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 2320,
        "wires": [
            [
                "f3d73c33.26bb8",
                "b8c577c4.8984a8"
            ]
        ]
    },
    {
        "id": "d34c5ae.d4597a8",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/switch/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 2760,
        "y": 2320,
        "wires": [
            [
                "cc580c0a.cacca"
            ]
        ]
    },
    {
        "id": "f4c64c.a58f79b8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3410,
        "y": 2280,
        "wires": []
    },
    {
        "id": "a54a5951.6f6e48",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "953cce34.3a55a",
        "order": 15,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 3390,
        "y": 2320,
        "wires": []
    },
    {
        "id": "6c59a394.62834c",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2020,
        "wires": [
            [
                "40278cb5.696284",
                "630d72c0.0ff6dc"
            ]
        ]
    },
    {
        "id": "cc580c0a.cacca",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3010,
        "y": 2320,
        "wires": [
            [
                "8471992f.12ef48"
            ]
        ]
    },
    {
        "id": "f11b28a2.4492e8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2410,
        "y": 1980,
        "wires": []
    },
    {
        "id": "abff572d.ccdad8",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1810,
        "y": 2320,
        "wires": [
            [
                "7168a9bd.c63b78"
            ]
        ]
    },
    {
        "id": "b8c577c4.8984a8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2370,
        "y": 2280,
        "wires": []
    },
    {
        "id": "8471992f.12ef48",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3200,
        "y": 2320,
        "wires": [
            [
                "a54a5951.6f6e48",
                "f4c64c.a58f79b8",
                "72685d8d.9b4f74"
            ]
        ]
    },
    {
        "id": "630d72c0.0ff6dc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3180,
        "y": 2020,
        "wires": [
            [
                "9b32a9e0.0e02c8",
                "d208634d.22bbf"
            ]
        ]
    },
    {
        "id": "177f49e0.f02456",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "d208634d.22bbf"
        ],
        "x": 1495,
        "y": 2020,
        "wires": [
            [
                "66e6bf47.bd08"
            ]
        ]
    },
    {
        "id": "d208634d.22bbf",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E3_LS",
        "links": [
            "177f49e0.f02456"
        ],
        "x": 3355,
        "y": 1980,
        "wires": []
    },
    {
        "id": "66e6bf47.bd08",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 1660,
        "y": 2020,
        "wires": [
            [
                "b9450a61.afed28"
            ]
        ]
    },
    {
        "id": "72685d8d.9b4f74",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E3_SS",
        "links": [
            "fad5abdc.bbb0e8"
        ],
        "x": 3355,
        "y": 2360,
        "wires": []
    },
    {
        "id": "fad5abdc.bbb0e8",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "72685d8d.9b4f74"
        ],
        "x": 1495,
        "y": 2320,
        "wires": [
            [
                "45de539b.81e4fc"
            ]
        ]
    },
    {
        "id": "45de539b.81e4fc",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 1640,
        "y": 2320,
        "wires": [
            [
                "abff572d.ccdad8"
            ]
        ]
    },
    {
        "id": "46597bf3.5f5ec4",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "953cce34.3a55a",
        "order": 14,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1580,
        "y": 2260,
        "wires": []
    },
    {
        "id": "e83215d7.8246b8",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "953cce34.3a55a",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b75514b.315b6e8",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 990,
        "y": 2660,
        "wires": []
    },
    {
        "id": "ed74c41c.7a6d78",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 2660,
        "wires": [
            [
                "dc007ca5.22c9b"
            ]
        ]
    },
    {
        "id": "8f917cd3.91a3f",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 360,
        "y": 2660,
        "wires": [
            [
                "ed74c41c.7a6d78",
                "637d2a03.cdca04"
            ]
        ]
    },
    {
        "id": "637d2a03.cdca04",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 350,
        "y": 2720,
        "wires": [
            [
                "8f917cd3.91a3f",
                "ed74c41c.7a6d78"
            ]
        ]
    },
    {
        "id": "599dd36b.8a49cc",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/led/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 1310,
        "y": 2660,
        "wires": [
            [
                "5af4943.bbf966c"
            ]
        ]
    },
    {
        "id": "d7e28dda.2cf11",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 2620,
        "wires": []
    },
    {
        "id": "dc007ca5.22c9b",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2660,
        "wires": [
            [
                "b75514b.315b6e8",
                "3a0079f7.1378c6"
            ]
        ]
    },
    {
        "id": "e83119c7.bfa9d8",
        "type": "ui_gauge",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "f4285245.6be7b",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1950,
        "y": 2660,
        "wires": []
    },
    {
        "id": "5458463.e4b0bb8",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 2960,
        "wires": [
            [
                "36a819ea.5b4596"
            ]
        ]
    },
    {
        "id": "c7250a54.dc9d88",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 1000,
        "y": 2960,
        "wires": []
    },
    {
        "id": "36a819ea.5b4596",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2960,
        "wires": [
            [
                "c7250a54.dc9d88",
                "811f755e.406188"
            ]
        ]
    },
    {
        "id": "dbe6e254.fb2b6",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/switch/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 1340,
        "y": 2960,
        "wires": [
            [
                "c489ecb6.02f68"
            ]
        ]
    },
    {
        "id": "3f0ae5a5.49c62a",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1970,
        "y": 3000,
        "wires": []
    },
    {
        "id": "9bc52afe.b6f9b8",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "f4285245.6be7b",
        "order": 15,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1950,
        "y": 2960,
        "wires": []
    },
    {
        "id": "5af4943.bbf966c",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 2660,
        "wires": [
            [
                "d7e28dda.2cf11",
                "810422c8.1451f"
            ]
        ]
    },
    {
        "id": "c489ecb6.02f68",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 2960,
        "wires": [
            [
                "63d18dee.ff00d4"
            ]
        ]
    },
    {
        "id": "3a0079f7.1378c6",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2620,
        "wires": []
    },
    {
        "id": "15ffdbd7.d663d4",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 2960,
        "wires": [
            [
                "5458463.e4b0bb8"
            ]
        ]
    },
    {
        "id": "811f755e.406188",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2920,
        "wires": []
    },
    {
        "id": "63d18dee.ff00d4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 2960,
        "wires": [
            [
                "9bc52afe.b6f9b8",
                "3f0ae5a5.49c62a",
                "91f82af5.4c9658"
            ]
        ]
    },
    {
        "id": "810422c8.1451f",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 2660,
        "wires": [
            [
                "e83119c7.bfa9d8",
                "4359ee92.e4b91"
            ]
        ]
    },
    {
        "id": "8b49c0d3.acf3a",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "4359ee92.e4b91"
        ],
        "x": 55,
        "y": 2660,
        "wires": [
            [
                "a8cef6c2.14aa38"
            ]
        ]
    },
    {
        "id": "4359ee92.e4b91",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E4_LS",
        "links": [
            "8b49c0d3.acf3a"
        ],
        "x": 1915,
        "y": 2620,
        "wires": []
    },
    {
        "id": "a8cef6c2.14aa38",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 180,
        "y": 2660,
        "wires": [
            [
                "637d2a03.cdca04"
            ]
        ]
    },
    {
        "id": "91f82af5.4c9658",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E4_SS",
        "links": [
            "c9ae72d6.ca654"
        ],
        "x": 1915,
        "y": 2920,
        "wires": []
    },
    {
        "id": "c9ae72d6.ca654",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "91f82af5.4c9658"
        ],
        "x": 55,
        "y": 2960,
        "wires": [
            [
                "c96720bc.60891"
            ]
        ]
    },
    {
        "id": "c96720bc.60891",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 200,
        "y": 2960,
        "wires": [
            [
                "15ffdbd7.d663d4"
            ]
        ]
    },
    {
        "id": "7f5288ff.b862f8",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "f4285245.6be7b",
        "order": 14,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 140,
        "y": 2900,
        "wires": []
    },
    {
        "id": "32f6d10a.534dbe",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "f4285245.6be7b",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 2600,
        "wires": []
    },
    {
        "id": "89381789.af9928",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3370,
        "y": 2660,
        "wires": []
    },
    {
        "id": "a17ac235.c7382",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2660,
        "wires": [
            [
                "1c6443f.97c7dbc"
            ]
        ]
    },
    {
        "id": "948d057a.0afc88",
        "type": "ui_slider",
        "z": "454200bb.ecd9d",
        "name": "sliderLed",
        "label": "",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 5,
        "width": "1",
        "height": "12",
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2760,
        "y": 2660,
        "wires": [
            [
                "a17ac235.c7382",
                "32370410.4f7c2c"
            ]
        ]
    },
    {
        "id": "32370410.4f7c2c",
        "type": "ui_numeric",
        "z": "454200bb.ecd9d",
        "name": "numericLed",
        "label": "PWM",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "1",
        "x": 2750,
        "y": 2720,
        "wires": [
            [
                "948d057a.0afc88",
                "a17ac235.c7382"
            ]
        ]
    },
    {
        "id": "aa67661a.100108",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/led/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 3730,
        "y": 2660,
        "wires": [
            [
                "5ed82bc6.d7a054"
            ]
        ]
    },
    {
        "id": "b4edea59.c69aa8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4130,
        "y": 2620,
        "wires": []
    },
    {
        "id": "1c6443f.97c7dbc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/led/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3130,
        "y": 2660,
        "wires": [
            [
                "89381789.af9928",
                "89187ba1.ce6688"
            ]
        ]
    },
    {
        "id": "6f3d43b4.be313c",
        "type": "ui_gauge",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "87fc97ce.487978",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4350,
        "y": 2660,
        "wires": []
    },
    {
        "id": "9783d3f3.5a426",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "num2json",
        "func": "var value=msg.payload;\nmsg.payload={\"level\" : value }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2940,
        "y": 2940,
        "wires": [
            [
                "6d77830c.da58fc"
            ]
        ]
    },
    {
        "id": "7cd7cd09.556a94",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/cmd",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3380,
        "y": 2940,
        "wires": []
    },
    {
        "id": "6d77830c.da58fc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/switch/cmd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2940,
        "wires": [
            [
                "7cd7cd09.556a94",
                "ebb85037.48e49"
            ]
        ]
    },
    {
        "id": "d0c24.5a88c3dc8",
        "type": "mqtt in",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/switch/status",
        "qos": "2",
        "broker": "992459bd.5a2ac8",
        "x": 3740,
        "y": 2940,
        "wires": [
            [
                "76bc33c.53fa1cc"
            ]
        ]
    },
    {
        "id": "79dd5e29.d5f21",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4350,
        "y": 2980,
        "wires": []
    },
    {
        "id": "c41e177b.d8d4e8",
        "type": "ui_led",
        "z": "454200bb.ecd9d",
        "group": "87fc97ce.487978",
        "order": 15,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 4330,
        "y": 2940,
        "wires": []
    },
    {
        "id": "5ed82bc6.d7a054",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3950,
        "y": 2660,
        "wires": [
            [
                "b4edea59.c69aa8",
                "644d3a14.af60d4"
            ]
        ]
    },
    {
        "id": "76bc33c.53fa1cc",
        "type": "json",
        "z": "454200bb.ecd9d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3990,
        "y": 2940,
        "wires": [
            [
                "85fc8a2f.772088"
            ]
        ]
    },
    {
        "id": "89187ba1.ce6688",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2620,
        "wires": []
    },
    {
        "id": "793a1def.1a8ab4",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2770,
        "y": 2940,
        "wires": [
            [
                "9783d3f3.5a426"
            ]
        ]
    },
    {
        "id": "ebb85037.48e49",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 2900,
        "wires": []
    },
    {
        "id": "85fc8a2f.772088",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Switch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4160,
        "y": 2940,
        "wires": [
            [
                "c41e177b.d8d4e8",
                "79dd5e29.d5f21",
                "d5ab5dcc.f5e5c"
            ]
        ]
    },
    {
        "id": "644d3a14.af60d4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4140,
        "y": 2660,
        "wires": [
            [
                "6f3d43b4.be313c",
                "daa0ded.296be2"
            ]
        ]
    },
    {
        "id": "9ffcc0fc.fa034",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "daa0ded.296be2"
        ],
        "x": 2455,
        "y": 2660,
        "wires": [
            [
                "3e648159.25a63e"
            ]
        ]
    },
    {
        "id": "daa0ded.296be2",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E5_LS",
        "links": [
            "9ffcc0fc.fa034"
        ],
        "x": 4315,
        "y": 2620,
        "wires": []
    },
    {
        "id": "3e648159.25a63e",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 2580,
        "y": 2660,
        "wires": [
            [
                "32370410.4f7c2c"
            ]
        ]
    },
    {
        "id": "d5ab5dcc.f5e5c",
        "type": "link out",
        "z": "454200bb.ecd9d",
        "name": "E5_SS",
        "links": [
            "ae635e8b.ab8c3"
        ],
        "x": 4295,
        "y": 2900,
        "wires": []
    },
    {
        "id": "ae635e8b.ab8c3",
        "type": "link in",
        "z": "454200bb.ecd9d",
        "name": "",
        "links": [
            "d5ab5dcc.f5e5c"
        ],
        "x": 2455,
        "y": 2940,
        "wires": [
            [
                "7b4b4801.8ba1c8"
            ]
        ]
    },
    {
        "id": "7b4b4801.8ba1c8",
        "type": "trigger",
        "z": "454200bb.ecd9d",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "100",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "name": "",
        "x": 2600,
        "y": 2940,
        "wires": [
            [
                "793a1def.1a8ab4"
            ]
        ]
    },
    {
        "id": "e1365468.5b1a78",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "87fc97ce.487978",
        "order": 14,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "---------SWITCH--------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2540,
        "y": 2880,
        "wires": []
    },
    {
        "id": "e02cdef4.c2f25",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "87fc97ce.487978",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "-----------LED-----------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2740,
        "y": 2600,
        "wires": []
    },
    {
        "id": "396c3c71.b40074",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "fb17f0c0.5d5c",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP1------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a00a3af2.f55f78",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "e56ec6.ad07c138",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP2------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2400,
        "y": 1320,
        "wires": []
    },
    {
        "id": "51ed8991.c59988",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "953cce34.3a55a",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP3------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1560,
        "y": 1960,
        "wires": []
    },
    {
        "id": "8136ece2.2117d",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "f4285245.6be7b",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP4------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 2600,
        "wires": []
    },
    {
        "id": "5958fb13.ae9354",
        "type": "ui_text",
        "z": "454200bb.ecd9d",
        "group": "87fc97ce.487978",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "------ESP5------",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2520,
        "y": 2600,
        "wires": []
    },
    {
        "id": "840d173f.4a5358",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/config",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "b88b1c3.f27c7e",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad2\");\nvar envia = global.get(\"envia2\");\nvar actualiza = global.get(\"actualiza2\");\nvar LED = global.get(\"LED2\");\nvar Switch = global.get(\"switch2\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2570,
        "y": 1540,
        "wires": [
            [
                "a55ab688.da3d98"
            ]
        ]
    },
    {
        "id": "c0b4f088.957ef",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3300,
        "y": 1540,
        "wires": [
            [
                "8a7521a2.6f306"
            ]
        ]
    },
    {
        "id": "762fe82b.eab0c8",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3320,
        "y": 1500,
        "wires": [
            [
                "efa7324a.ae042"
            ]
        ]
    },
    {
        "id": "8a7521a2.6f306",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "efa7324a.ae042",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3530,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "a55ab688.da3d98",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP2/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2770,
        "y": 1540,
        "wires": [
            [
                "de826d8a.cb31d",
                "840d173f.4a5358"
            ]
        ]
    },
    {
        "id": "d18ed2d3.ffa79",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3340,
        "y": 1460,
        "wires": [
            [
                "a7c34382.cabd2"
            ]
        ]
    },
    {
        "id": "a7c34382.cabd2",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "871939da.938b08",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3740,
        "y": 1520,
        "wires": [
            [
                "dde57c0c.4a2c4"
            ]
        ]
    },
    {
        "id": "dde57c0c.4a2c4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3970,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "aac9d071.6759e",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "e56ec6.ad07c138",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3750,
        "y": 1480,
        "wires": [
            [
                "55eb391a.fb8298"
            ]
        ]
    },
    {
        "id": "55eb391a.fb8298",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3960,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "de826d8a.cb31d",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2990,
        "y": 1500,
        "wires": []
    },
    {
        "id": "bd227b2d.715d28",
        "type": "ui_button",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "e56ec6.ad07c138",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2390,
        "y": 1540,
        "wires": [
            [
                "b88b1c3.f27c7e"
            ]
        ]
    },
    {
        "id": "7c106f3a.08f2a",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/config",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 720,
        "y": 1540,
        "wires": []
    },
    {
        "id": "696b6e96.9f3a1",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad1\");\nvar envia = global.get(\"envia1\");\nvar actualiza = global.get(\"actualiza1\");\nvar LED = global.get(\"LED1\");\nvar Switch = global.get(\"switch1\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "d7f87785.2f0098"
            ]
        ]
    },
    {
        "id": "d7f87785.2f0098",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP1/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1540,
        "wires": [
            [
                "3ce37d05.a39352",
                "7c106f3a.08f2a"
            ]
        ]
    },
    {
        "id": "3ce37d05.a39352",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1500,
        "wires": []
    },
    {
        "id": "25ac179e.492518",
        "type": "ui_button",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "fb17f0c0.5d5c",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "696b6e96.9f3a1"
            ]
        ]
    },
    {
        "id": "b4fab6fe.6d53f8",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 1540,
        "wires": [
            [
                "952151d2.b492a"
            ]
        ]
    },
    {
        "id": "c8ff00e0.a9ab2",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 1500,
        "wires": [
            [
                "c3c9e73c.6b6798"
            ]
        ]
    },
    {
        "id": "952151d2.b492a",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "c3c9e73c.6b6798",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "2776c3b2.f08c5c",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1060,
        "y": 1460,
        "wires": [
            [
                "48caa0e8.afb97"
            ]
        ]
    },
    {
        "id": "48caa0e8.afb97",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "dcbd6566.25a688",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 1520,
        "wires": [
            [
                "5f6a3396.dc0dfc"
            ]
        ]
    },
    {
        "id": "5f6a3396.dc0dfc",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "43eb1f81.3425f",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "fb17f0c0.5d5c",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1470,
        "y": 1480,
        "wires": [
            [
                "491fe4ab.f46dec"
            ]
        ]
    },
    {
        "id": "491fe4ab.f46dec",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "17158c93.c87b23",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/config",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 2160,
        "y": 2160,
        "wires": []
    },
    {
        "id": "61cfb6ec.65a3b8",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad3\");\nvar envia = global.get(\"envia3\");\nvar actualiza = global.get(\"actualiza3\");\nvar LED = global.get(\"LED3\");\nvar Switch = global.get(\"switch3\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 2160,
        "wires": [
            [
                "408193c9.807f7c"
            ]
        ]
    },
    {
        "id": "e2510529.33b738",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2440,
        "y": 2160,
        "wires": [
            [
                "d2ef0523.9f9888"
            ]
        ]
    },
    {
        "id": "a1076245.92198",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2460,
        "y": 2120,
        "wires": [
            [
                "760e440c.56270c"
            ]
        ]
    },
    {
        "id": "d2ef0523.9f9888",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "760e440c.56270c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2670,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "408193c9.807f7c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP3/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 2160,
        "wires": [
            [
                "23f266d7.ac311a",
                "17158c93.c87b23"
            ]
        ]
    },
    {
        "id": "f0d0d49d.029448",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2880,
        "y": 2140,
        "wires": [
            [
                "fabce29c.b7a2d"
            ]
        ]
    },
    {
        "id": "fabce29c.b7a2d",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3110,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "1e50f029.5b355",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2890,
        "y": 2100,
        "wires": [
            [
                "56caa364.f6bc9c"
            ]
        ]
    },
    {
        "id": "56caa364.f6bc9c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "23f266d7.ac311a",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2130,
        "y": 2120,
        "wires": []
    },
    {
        "id": "7928e818.a70588",
        "type": "ui_button",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "953cce34.3a55a",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1530,
        "y": 2160,
        "wires": [
            [
                "61cfb6ec.65a3b8"
            ]
        ]
    },
    {
        "id": "c6f99738.7f6f68",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "953cce34.3a55a",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 2480,
        "y": 2080,
        "wires": [
            [
                "44330ff8.802b"
            ]
        ]
    },
    {
        "id": "44330ff8.802b",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "423bdab5.d6a0d4",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/config",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 720,
        "y": 2800,
        "wires": []
    },
    {
        "id": "45cf2fc9.91876",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad4\");\nvar envia = global.get(\"envia4\");\nvar actualiza = global.get(\"actualiza4\");\nvar LED = global.get(\"LED4\");\nvar Switch = global.get(\"switch4\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 2800,
        "wires": [
            [
                "be98f79b.dd1948"
            ]
        ]
    },
    {
        "id": "e0a5b3ce.c1e5",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1000,
        "y": 2800,
        "wires": [
            [
                "14c9668a.204969"
            ]
        ]
    },
    {
        "id": "b0f6742b.887ec8",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1020,
        "y": 2760,
        "wires": [
            [
                "679c7187.dec6"
            ]
        ]
    },
    {
        "id": "14c9668a.204969",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "679c7187.dec6",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "be98f79b.dd1948",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP4/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2800,
        "wires": [
            [
                "c16a5e40.1408e",
                "423bdab5.d6a0d4"
            ]
        ]
    },
    {
        "id": "d54cf018.bae86",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1440,
        "y": 2780,
        "wires": [
            [
                "bcc78c1.24c8b7"
            ]
        ]
    },
    {
        "id": "bcc78c1.24c8b7",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "c16a5e40.1408e",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 2760,
        "wires": []
    },
    {
        "id": "e8019c45.67be1",
        "type": "ui_button",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "f4285245.6be7b",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "45cf2fc9.91876"
            ]
        ]
    },
    {
        "id": "7affe5e.80a151c",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "912f6efd.71c6f",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 1040,
        "y": 2720,
        "wires": [
            [
                "7affe5e.80a151c"
            ]
        ]
    },
    {
        "id": "ff559b8.86ca768",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "f4285245.6be7b",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1450,
        "y": 2740,
        "wires": [
            [
                "8ed2b41b.467f18"
            ]
        ]
    },
    {
        "id": "8ed2b41b.467f18",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "4de21b6d.d569e4",
        "type": "mqtt out",
        "z": "454200bb.ecd9d",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/config",
        "qos": "",
        "retain": "",
        "broker": "992459bd.5a2ac8",
        "x": 3120,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e2f343fe.92e3f",
        "type": "function",
        "z": "454200bb.ecd9d",
        "name": "Crea Objeto Config",
        "func": "\nvar velocidad = global.get(\"velocidad5\");\nvar envia = global.get(\"envia5\");\nvar actualiza = global.get(\"actualiza5\");\nvar LED = global.get(\"LED5\");\nvar Switch = global.get(\"switch5\");\n\nif(actualiza === null || actualiza < 0)\n{\n    actualiza = -1;\n}\n\nif(envia === null || envia < 0)\n{\n    envia = -1;\n}\n\nif(velocidad === null || velocidad < 0)\n{\n    velocidad = -1;\n}\n\nif(LED === null)\n{\n    LED = -1;\n}\n\nif(Switch === null)\n{\n    SWITCH = -1;\n}\n\nvar msg1 = {};\n\nmsg1.payload = {\"actualiza\" : actualiza, \"envia\" : envia, \"velocidad\": velocidad, \"LED\" : LED, \"SWITCH\": Switch};\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 2670,
        "y": 2800,
        "wires": [
            [
                "656fb8fe.460058"
            ]
        ]
    },
    {
        "id": "a295221b.65c55",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Velocidad +- 1% PWM (ms)",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3400,
        "y": 2800,
        "wires": [
            [
                "2afcf133.a9af8e"
            ]
        ]
    },
    {
        "id": "1103dca3.ba36d3",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Enva datos (s)",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3420,
        "y": 2760,
        "wires": [
            [
                "3146fc16.4251e4"
            ]
        ]
    },
    {
        "id": "2afcf133.a9af8e",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "3146fc16.4251e4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3630,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "656fb8fe.460058",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "infind/GRUPO1/ESP5/config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2870,
        "y": 2800,
        "wires": [
            [
                "44dd285a.f4e3c8",
                "4de21b6d.d569e4"
            ]
        ]
    },
    {
        "id": "326c14cd.58883c",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "switch_ config",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3840,
        "y": 2780,
        "wires": [
            [
                "5bade81a.013158"
            ]
        ]
    },
    {
        "id": "5bade81a.013158",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4070,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "44dd285a.f4e3c8",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3090,
        "y": 2760,
        "wires": []
    },
    {
        "id": "c71f1fb1.18819",
        "type": "ui_button",
        "z": "454200bb.ecd9d",
        "name": "",
        "group": "87fc97ce.487978",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 2490,
        "y": 2800,
        "wires": [
            [
                "e2f343fe.92e3f"
            ]
        ]
    },
    {
        "id": "3710eb6a.6e29b4",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "c49a6869.672f08",
        "type": "ui_switch",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "LED_config",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 3850,
        "y": 2740,
        "wires": [
            [
                "3710eb6a.6e29b4"
            ]
        ]
    },
    {
        "id": "6126f325.f6ecac",
        "type": "change",
        "z": "454200bb.ecd9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "acfd5812.d625d8",
        "type": "ui_text_input",
        "z": "454200bb.ecd9d",
        "name": "",
        "label": "Actualiza (min)",
        "tooltip": "",
        "group": "87fc97ce.487978",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 3440,
        "y": 2720,
        "wires": [
            [
                "6126f325.f6ecac"
            ]
        ]
    },
    {
        "id": "d68f8109.1e82f",
        "type": "debug",
        "z": "454200bb.ecd9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 4050,
        "y": 1340,
        "wires": []
    },
    {
        "id": "992459bd.5a2ac8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fb17f0c0.5d5c",
        "type": "ui_group",
        "z": "",
        "name": "ESP1Ctrl",
        "tab": "cd744d7d.73ee2",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e56ec6.ad07c138",
        "type": "ui_group",
        "z": "",
        "name": "ESP2Ctrl",
        "tab": "cd744d7d.73ee2",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "cf7fbe69.4b3b6",
        "type": "ui_group",
        "z": "",
        "name": "ESP",
        "tab": "cd744d7d.73ee2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43a4ff19.38eb9",
        "type": "ui_group",
        "z": "",
        "name": "MASTERControl",
        "tab": "cd744d7d.73ee2",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "953cce34.3a55a",
        "type": "ui_group",
        "z": "",
        "name": "ESP3Ctrl",
        "tab": "cd744d7d.73ee2",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "f4285245.6be7b",
        "type": "ui_group",
        "z": "",
        "name": "ESP4Ctrl",
        "tab": "cd744d7d.73ee2",
        "order": 6,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "87fc97ce.487978",
        "type": "ui_group",
        "z": "",
        "name": "ESP5Ctrl",
        "tab": "cd744d7d.73ee2",
        "order": 7,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "cd744d7d.73ee2",
        "type": "ui_tab",
        "z": "",
        "name": "ControlESP",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]