Node-RED/Global1_RecepcionDatosESP_BASEDEDATOSNUEVA_v2.txt
[
    {
        "id": "5bbc911b.ce11a",
        "type": "tab",
        "label": "Recepcion datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aeffc717.629a28",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/datos",
        "qos": "2",
        "broker": "cf0609e9.d33288",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "f5d05297.5097b",
                "df1b4c74.b00a4",
                "27647563.5020aa"
            ]
        ]
    },
    {
        "id": "108cfec0.9ef7c1",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "f5d05297.5097b",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 756.8958625793457,
        "y": 493.888906955719,
        "wires": [
            [
                "687aad4e.fc48f4"
            ]
        ]
    },
    {
        "id": "df1b4c74.b00a4",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.8957977294922,
        "y": 402.888964176178,
        "wires": []
    },
    {
        "id": "6284e891.3d4158",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/datos",
        "qos": "2",
        "broker": "3d213325.5cc6cc",
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "b4d2c2c.3749f4",
                "9444980b.b6a498",
                "4d61f87.244e408"
            ]
        ]
    },
    {
        "id": "b39c5a1c.53a3f8",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/datos",
        "qos": "2",
        "broker": "3d213325.5cc6cc",
        "x": 400,
        "y": 2340,
        "wires": [
            [
                "1c45e9da.081526",
                "7d18b135.2bcb5"
            ]
        ]
    },
    {
        "id": "63ae1966.09d878",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/datos",
        "qos": "2",
        "broker": "3d213325.5cc6cc",
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "692648a.cd5b9b8",
                "a86da2dc.01b2a"
            ]
        ]
    },
    {
        "id": "387a4359.cb2ecc",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/datos",
        "qos": "2",
        "broker": "3d213325.5cc6cc",
        "x": 339.8958549499512,
        "y": 4454.889558792114,
        "wires": [
            [
                "1bf6ba06.bb9616",
                "d519a677.83e168"
            ]
        ]
    },
    {
        "id": "687aad4e.fc48f4",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880.8958282470703,
        "y": 494.00003814697266,
        "wires": [
            [
                "108cfec0.9ef7c1",
                "d842622d.a0f1",
                "17cdb51e.7ef7db",
                "3f2c199.f6f00e6",
                "72d37b4a.e631b4",
                "a6bd73db.54b31",
                "5157498.8d435b8",
                "5edf5b2f.7c6b24",
                "399a8103.4f229e",
                "8cb968ed.3bd0d8",
                "c265174d.4c83d8",
                "abc550a2.5375d",
                "a9b814ca.227538",
                "239f775e.4eda38",
                "1d751c49.37a804",
                "e0c1d742.e8a648"
            ]
        ]
    },
    {
        "id": "8fba65bf.e58cf8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "36487989.a82c36",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1542.3406295776367,
        "y": 528.0000343322754,
        "wires": []
    },
    {
        "id": "4144f94d.c73ff8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "36487989.a82c36",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1533.840663909912,
        "y": 487.0000009536743,
        "wires": []
    },
    {
        "id": "d842622d.a0f1",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1386.284912109375,
        "y": 486.4305725097656,
        "wires": [
            [
                "4144f94d.c73ff8"
            ]
        ]
    },
    {
        "id": "17cdb51e.7ef7db",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1388.3405151367188,
        "y": 528.8888854980469,
        "wires": [
            [
                "8fba65bf.e58cf8"
            ]
        ]
    },
    {
        "id": "3f2c199.f6f00e6",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.3405303955078,
        "y": 308.88889932632446,
        "wires": [
            [
                "d40d5380.904ce"
            ]
        ]
    },
    {
        "id": "d40d5380.904ce",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1541.2849311828613,
        "y": 307.55906343460083,
        "wires": []
    },
    {
        "id": "72d37b4a.e631b4",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1381.340446472168,
        "y": 351.88889169692993,
        "wires": [
            [
                "39139540.62c96a"
            ]
        ]
    },
    {
        "id": "39139540.62c96a",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.2848472595215,
        "y": 350.5590558052063,
        "wires": []
    },
    {
        "id": "a6bd73db.54b31",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.3403091430664,
        "y": 404.88888025283813,
        "wires": [
            [
                "3f389741.ed4418"
            ]
        ]
    },
    {
        "id": "3f389741.ed4418",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1534.28470993042,
        "y": 403.5590443611145,
        "wires": []
    },
    {
        "id": "12866916.f4fc17",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1863.2781066894531,
        "y": 607.4723587036133,
        "wires": []
    },
    {
        "id": "e85b398b.e346c8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Led",
        "group": "36487989.a82c36",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1863.3408203125,
        "y": 564.8889698982239,
        "wires": []
    },
    {
        "id": "8cb968ed.3bd0d8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1688.3406219482422,
        "y": 557.8889107704163,
        "wires": [
            [
                "e85b398b.e346c8"
            ]
        ]
    },
    {
        "id": "c265174d.4c83d8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1683.3406219482422,
        "y": 606.8889107704163,
        "wires": [
            [
                "12866916.f4fc17"
            ]
        ]
    },
    {
        "id": "5157498.8d435b8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1376.34033203125,
        "y": 620.2222890853882,
        "wires": [
            [
                "cca7ee17.e334f"
            ]
        ]
    },
    {
        "id": "cca7ee17.e334f",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1858.173927307129,
        "y": 706.8888602256775,
        "wires": []
    },
    {
        "id": "5edf5b2f.7c6b24",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1372.3403282165527,
        "y": 693.2222909927368,
        "wires": [
            [
                "e601d8e9.0c4818"
            ]
        ]
    },
    {
        "id": "e601d8e9.0c4818",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1846.173927307129,
        "y": 774.8888602256775,
        "wires": []
    },
    {
        "id": "399a8103.4f229e",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1374.3403282165527,
        "y": 767.2222938537598,
        "wires": [
            [
                "df989600.27a7b8",
                "7159bfc9.72726"
            ]
        ]
    },
    {
        "id": "df989600.27a7b8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1843.173927307129,
        "y": 846.8888602256775,
        "wires": []
    },
    {
        "id": "4ab0855a.1b124c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1879.1739311218262,
        "y": 659.5557074546814,
        "wires": []
    },
    {
        "id": "7159bfc9.72726",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1781.6738967895508,
        "y": 942.2222218513489,
        "wires": [
            [
                "eea289aa.a8bb18"
            ]
        ]
    },
    {
        "id": "eea289aa.a8bb18",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Intensidad Señal",
        "group": "36487989.a82c36",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 2070.673988342285,
        "y": 937.8889584541321,
        "wires": []
    },
    {
        "id": "3914c94e.a64d06",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "ESP1",
        "label": "-------------Placa1-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1538.2290115356445,
        "y": 146.00000858306885,
        "wires": []
    },
    {
        "id": "8440e0a8.69564",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1532.229118347168,
        "y": 444.88888359069824,
        "wires": []
    },
    {
        "id": "9aac8850.5751c8",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1008.5078620910645,
        "y": 1142.523473739624,
        "wires": []
    },
    {
        "id": "b4d2c2c.3749f4",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 753.507511138916,
        "y": 1447.5233407020569,
        "wires": [
            [
                "64d177f8.4c4768"
            ]
        ]
    },
    {
        "id": "9444980b.b6a498",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5074462890625,
        "y": 1356.5233979225159,
        "wires": []
    },
    {
        "id": "64d177f8.4c4768",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 877.5074768066406,
        "y": 1447.6344718933105,
        "wires": [
            [
                "9aac8850.5751c8",
                "21796e0d.b5ad12",
                "5077b537.25fc6c",
                "675e962d.398c68",
                "23fe5cc4.f05614",
                "a0f40136.3f399",
                "2e574369.97e2ac",
                "7dea559.57113ac",
                "a94767cb.a8fb58",
                "3db508d1.4d5af8",
                "a7811a74.0da5f8",
                "5acc036f.375dac",
                "ff592b00.6523c8",
                "1e702266.3cf66e",
                "97e6f433.7469d8",
                "7924da39.84a184"
            ]
        ]
    },
    {
        "id": "cd276a7b.98d438",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "9b418b20.b646d8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1538.952278137207,
        "y": 1481.6344680786133,
        "wires": []
    },
    {
        "id": "ea358487.9d65f8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "9b418b20.b646d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530.4523124694824,
        "y": 1440.6344347000122,
        "wires": []
    },
    {
        "id": "21796e0d.b5ad12",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.8965606689453,
        "y": 1440.0650062561035,
        "wires": [
            [
                "ea358487.9d65f8"
            ]
        ]
    },
    {
        "id": "5077b537.25fc6c",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.952163696289,
        "y": 1482.5233192443848,
        "wires": [
            [
                "cd276a7b.98d438"
            ]
        ]
    },
    {
        "id": "675e962d.398c68",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1375.9521789550781,
        "y": 1262.5233330726624,
        "wires": [
            [
                "26aac023.e146a"
            ]
        ]
    },
    {
        "id": "26aac023.e146a",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1537.8965797424316,
        "y": 1261.1934971809387,
        "wires": []
    },
    {
        "id": "23fe5cc4.f05614",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520950317383,
        "y": 1305.5233254432678,
        "wires": [
            [
                "19fa563a.43969a"
            ]
        ]
    },
    {
        "id": "19fa563a.43969a",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1539.8964958190918,
        "y": 1304.1934895515442,
        "wires": []
    },
    {
        "id": "a0f40136.3f399",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1378.9519577026367,
        "y": 1358.523313999176,
        "wires": [
            [
                "532e3dd4.ed3ea4"
            ]
        ]
    },
    {
        "id": "532e3dd4.ed3ea4",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1530.8963584899902,
        "y": 1357.1934781074524,
        "wires": []
    },
    {
        "id": "f61e640b.9223b8",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1530.8895149230957,
        "y": 1581.106767654419,
        "wires": []
    },
    {
        "id": "a3eece0e.199c1",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Led",
        "group": "9b418b20.b646d8",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1529.9520416259766,
        "y": 1531.5233297348022,
        "wires": []
    },
    {
        "id": "3db508d1.4d5af8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1384.9520263671875,
        "y": 1533.5233297348022,
        "wires": [
            [
                "a3eece0e.199c1"
            ]
        ]
    },
    {
        "id": "a7811a74.0da5f8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1379.9520263671875,
        "y": 1582.5233297348022,
        "wires": [
            [
                "f61e640b.9223b8"
            ]
        ]
    },
    {
        "id": "2e574369.97e2ac",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1377.9520263671875,
        "y": 1627.856689453125,
        "wires": [
            [
                "85a6c419.5c0cf8"
            ]
        ]
    },
    {
        "id": "85a6c419.5c0cf8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1737.7854232788086,
        "y": 1624.5232939720154,
        "wires": []
    },
    {
        "id": "7dea559.57113ac",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1365.9520263671875,
        "y": 1695.856689453125,
        "wires": [
            [
                "4b30c593.469b0c"
            ]
        ]
    },
    {
        "id": "4b30c593.469b0c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1725.7854232788086,
        "y": 1692.5232939720154,
        "wires": []
    },
    {
        "id": "a94767cb.a8fb58",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350.9520263671875,
        "y": 1770.856689453125,
        "wires": [
            [
                "705c2924.e798a8",
                "e75ff16e.9ec78"
            ]
        ]
    },
    {
        "id": "705c2924.e798a8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1722.7854232788086,
        "y": 1764.5232939720154,
        "wires": []
    },
    {
        "id": "2040e3f3.97422c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1758.7854270935059,
        "y": 1577.1901412010193,
        "wires": []
    },
    {
        "id": "e75ff16e.9ec78",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680.2853393554688,
        "y": 1856.8566317558289,
        "wires": [
            [
                "161857a2.f834b8"
            ]
        ]
    },
    {
        "id": "161857a2.f834b8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Intensidad Señal",
        "group": "9b418b20.b646d8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1950.2854843139648,
        "y": 1855.52339220047,
        "wires": []
    },
    {
        "id": "79153b11.2cb5b4",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP2",
        "label": "-------------Placa2-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1553.8406581878662,
        "y": 1091.5233421325684,
        "wires": []
    },
    {
        "id": "fa47352a.9a94c8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1528.8407669067383,
        "y": 1398.5233173370361,
        "wires": []
    },
    {
        "id": "a908914.7afce7",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 2100,
        "wires": []
    },
    {
        "id": "1c45e9da.081526",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "23d2946a.ec2cfc"
            ]
        ]
    },
    {
        "id": "23d2946a.ec2cfc",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 842.5074462890625,
        "y": 2349.6343994140625,
        "wires": [
            [
                "a908914.7afce7",
                "e064c2e8.e9e97",
                "5a808080.e2bc6",
                "a0eb562.cb461a8",
                "eb1e3674.7e7438",
                "5add01ad.80815",
                "a35cbbf7.1c3018",
                "7c10ff5d.03169",
                "a095df94.ba696",
                "bd05f190.a0a05",
                "e506a030.55483",
                "dc233f84.01fa3",
                "be624091.ccbc5",
                "9010b90b.928158",
                "bccd3e70.31008",
                "b963a841.546ff8"
            ]
        ]
    },
    {
        "id": "6efb7ea3.693e2",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "7deee9a2.50ac68",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1503.952247619629,
        "y": 2383.6343955993652,
        "wires": []
    },
    {
        "id": "fafad16f.ab3f8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "7deee9a2.50ac68",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1495.4522819519043,
        "y": 2342.634362220764,
        "wires": []
    },
    {
        "id": "e064c2e8.e9e97",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1347.8965301513672,
        "y": 2342.0649337768555,
        "wires": [
            [
                "fafad16f.ab3f8"
            ]
        ]
    },
    {
        "id": "5a808080.e2bc6",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.952133178711,
        "y": 2384.5232467651367,
        "wires": [
            [
                "6efb7ea3.693e2"
            ]
        ]
    },
    {
        "id": "a0eb562.cb461a8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340.9521484375,
        "y": 2164.5232605934143,
        "wires": [
            [
                "d416ab98.eaf858"
            ]
        ]
    },
    {
        "id": "d416ab98.eaf858",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1502.8965492248535,
        "y": 2163.1934247016907,
        "wires": []
    },
    {
        "id": "eb1e3674.7e7438",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9520645141602,
        "y": 2207.52325296402,
        "wires": [
            [
                "67aedeb1.e50ae"
            ]
        ]
    },
    {
        "id": "67aedeb1.e50ae",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1504.8964653015137,
        "y": 2206.193417072296,
        "wires": []
    },
    {
        "id": "5add01ad.80815",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1343.9519271850586,
        "y": 2260.523241519928,
        "wires": [
            [
                "437ebefc.d77fd"
            ]
        ]
    },
    {
        "id": "437ebefc.d77fd",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1495.896327972412,
        "y": 2259.1934056282043,
        "wires": []
    },
    {
        "id": "35351059.f8128",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1495.8894844055176,
        "y": 2483.106695175171,
        "wires": []
    },
    {
        "id": "401e086d.6b1db8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Led",
        "group": "7deee9a2.50ac68",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1494.9520111083984,
        "y": 2433.523257255554,
        "wires": []
    },
    {
        "id": "bd05f190.a0a05",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.9519958496094,
        "y": 2435.523257255554,
        "wires": [
            [
                "401e086d.6b1db8"
            ]
        ]
    },
    {
        "id": "e506a030.55483",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1344.9519958496094,
        "y": 2484.523257255554,
        "wires": [
            [
                "35351059.f8128"
            ]
        ]
    },
    {
        "id": "a35cbbf7.1c3018",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1342.9519958496094,
        "y": 2529.856616973877,
        "wires": [
            [
                "7173be6e.e1999"
            ]
        ]
    },
    {
        "id": "7173be6e.e1999",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1702.7853927612305,
        "y": 2526.5232214927673,
        "wires": []
    },
    {
        "id": "7c10ff5d.03169",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330.9519958496094,
        "y": 2597.856616973877,
        "wires": [
            [
                "16a86a38.7fb2e6"
            ]
        ]
    },
    {
        "id": "16a86a38.7fb2e6",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1690.7853927612305,
        "y": 2594.5232214927673,
        "wires": []
    },
    {
        "id": "a095df94.ba696",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315.9519958496094,
        "y": 2672.856616973877,
        "wires": [
            [
                "a08e222d.c70b5",
                "91541f9d.66aba"
            ]
        ]
    },
    {
        "id": "a08e222d.c70b5",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1687.7853927612305,
        "y": 2666.5232214927673,
        "wires": []
    },
    {
        "id": "ffa1edff.747ed",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1723.7853965759277,
        "y": 2479.1900687217712,
        "wires": []
    },
    {
        "id": "91541f9d.66aba",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1645.2853088378906,
        "y": 2758.856559276581,
        "wires": [
            [
                "6d9c6607.65aa08"
            ]
        ]
    },
    {
        "id": "6d9c6607.65aa08",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Intensidad Señal",
        "group": "7deee9a2.50ac68",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1915.2854537963867,
        "y": 2757.523319721222,
        "wires": []
    },
    {
        "id": "a882eea8.ed4fa",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP3",
        "label": "-------------Placa3-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1495.8406600952148,
        "y": 1946.5231342315674,
        "wires": []
    },
    {
        "id": "73623f6d.86488",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1493.8407363891602,
        "y": 2300.523244857788,
        "wires": []
    },
    {
        "id": "31198dd6.c14a62",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 3120,
        "wires": []
    },
    {
        "id": "692648a.cd5b9b8",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 574.5074806213379,
        "y": 3408.5233902931213,
        "wires": [
            [
                "42845eea.dcd48"
            ]
        ]
    },
    {
        "id": "42845eea.dcd48",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 698.5074462890625,
        "y": 3408.634521484375,
        "wires": [
            [
                "31198dd6.c14a62",
                "d7e727b0.e9a928",
                "fa2fa002.c959d",
                "cafeb3ce.a1469",
                "a5d686e9.fdb158",
                "df55e6a8.9e33c8",
                "20dd1d32.0e7052",
                "31a2c47a.6e39ec",
                "7415e370.95e80c",
                "62e93037.91c5d",
                "daa3d7a9.b42df8",
                "6e881af7.f7e2f4",
                "3fc4203f.62757",
                "227759ba.713446",
                "c979e1bd.a7307",
                "8ae07095.c3e55"
            ]
        ]
    },
    {
        "id": "232ed6cf.4e6e8a",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "7abc3738.ab91a8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1359.952247619629,
        "y": 3442.6345176696777,
        "wires": []
    },
    {
        "id": "2ca93e9a.da6382",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "7abc3738.ab91a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1351.4522819519043,
        "y": 3401.6344842910767,
        "wires": []
    },
    {
        "id": "d7e727b0.e9a928",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.8965301513672,
        "y": 3401.065055847168,
        "wires": [
            [
                "2ca93e9a.da6382"
            ]
        ]
    },
    {
        "id": "fa2fa002.c959d",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.952133178711,
        "y": 3443.523368835449,
        "wires": [
            [
                "232ed6cf.4e6e8a"
            ]
        ]
    },
    {
        "id": "cafeb3ce.a1469",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9521484375,
        "y": 3223.523382663727,
        "wires": [
            [
                "1bf99e57.3531e2"
            ]
        ]
    },
    {
        "id": "1bf99e57.3531e2",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1358.8965492248535,
        "y": 3222.193546772003,
        "wires": []
    },
    {
        "id": "a5d686e9.fdb158",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9520645141602,
        "y": 3266.5233750343323,
        "wires": [
            [
                "2ebde121.f68f5e"
            ]
        ]
    },
    {
        "id": "2ebde121.f68f5e",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360.8964653015137,
        "y": 3265.1935391426086,
        "wires": []
    },
    {
        "id": "df55e6a8.9e33c8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1199.9519271850586,
        "y": 3319.5233635902405,
        "wires": [
            [
                "5717f34e.a8000c"
            ]
        ]
    },
    {
        "id": "5717f34e.a8000c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1351.896327972412,
        "y": 3318.193527698517,
        "wires": []
    },
    {
        "id": "151ed33b.a3e6fd",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1351.8894844055176,
        "y": 3542.1068172454834,
        "wires": []
    },
    {
        "id": "6c8d885d.9c84c8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Led",
        "group": "7abc3738.ab91a8",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350.9520111083984,
        "y": 3492.5233793258667,
        "wires": []
    },
    {
        "id": "62e93037.91c5d",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1205.9519958496094,
        "y": 3494.5233793258667,
        "wires": [
            [
                "6c8d885d.9c84c8"
            ]
        ]
    },
    {
        "id": "daa3d7a9.b42df8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200.9519958496094,
        "y": 3543.5233793258667,
        "wires": [
            [
                "151ed33b.a3e6fd"
            ]
        ]
    },
    {
        "id": "20dd1d32.0e7052",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1198.9519958496094,
        "y": 3588.8567390441895,
        "wires": [
            [
                "2db031b0.6f5bce"
            ]
        ]
    },
    {
        "id": "2db031b0.6f5bce",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1558.7853927612305,
        "y": 3585.52334356308,
        "wires": []
    },
    {
        "id": "31a2c47a.6e39ec",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.9519958496094,
        "y": 3656.8567390441895,
        "wires": [
            [
                "fdb3bfc3.44d46"
            ]
        ]
    },
    {
        "id": "fdb3bfc3.44d46",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1546.7853927612305,
        "y": 3653.52334356308,
        "wires": []
    },
    {
        "id": "7415e370.95e80c",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1171.9519958496094,
        "y": 3731.8567390441895,
        "wires": [
            [
                "5ef001af.4d43a",
                "b963fdc2.ce784"
            ]
        ]
    },
    {
        "id": "5ef001af.4d43a",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1543.7853927612305,
        "y": 3725.52334356308,
        "wires": []
    },
    {
        "id": "6d03e59.64c381c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1579.7853965759277,
        "y": 3538.1901907920837,
        "wires": []
    },
    {
        "id": "b963fdc2.ce784",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1501.2853088378906,
        "y": 3817.8566813468933,
        "wires": [
            [
                "194c5f4e.e639e1"
            ]
        ]
    },
    {
        "id": "194c5f4e.e639e1",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Intensidad Señal",
        "group": "7abc3738.ab91a8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1771.2854537963867,
        "y": 3816.5234417915344,
        "wires": []
    },
    {
        "id": "436533c7.521d7c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP4",
        "label": "-------------Placa4-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1359.8406562805176,
        "y": 3026.523450613022,
        "wires": []
    },
    {
        "id": "7fd9464c.603638",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1349.8407363891602,
        "y": 3359.5233669281006,
        "wires": []
    },
    {
        "id": "66c436b5.89f6b8",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 876.5078392028809,
        "y": 4242.52338218689,
        "wires": []
    },
    {
        "id": "1bf6ba06.bb9616",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 606.5075187683105,
        "y": 4446.5232610702515,
        "wires": [
            [
                "9098b5db.c37728"
            ]
        ]
    },
    {
        "id": "9098b5db.c37728",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5074844360352,
        "y": 4446.634392261505,
        "wires": [
            [
                "66c436b5.89f6b8",
                "d9b7195b.395258",
                "a73ac30d.c68c1",
                "13e5d4db.bc7deb",
                "f9c6d22e.24afa",
                "60b7302b.2efc6",
                "9d6884ca.02ee88",
                "483d33c8.cc413c",
                "d2a9a5f5.356658",
                "f732e86f.9e8128",
                "b9479a82.272728",
                "994fa84c.94ecf8",
                "1ead2bf3.da1174",
                "4b016c46.f387c4",
                "8882d571.1447c8",
                "d97709d6.101ab8"
            ]
        ]
    },
    {
        "id": "8c058e0f.4b82f",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "8be93b19.ebe328",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1391.9522857666016,
        "y": 4480.634388446808,
        "wires": []
    },
    {
        "id": "f83b29c9.53fdb8",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "",
        "group": "8be93b19.ebe328",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp.",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1383.452320098877,
        "y": 4439.634355068207,
        "wires": []
    },
    {
        "id": "d9b7195b.395258",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235.8965682983398,
        "y": 4439.064926624298,
        "wires": [
            [
                "f83b29c9.53fdb8"
            ]
        ]
    },
    {
        "id": "a73ac30d.c68c1",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.9521713256836,
        "y": 4481.523239612579,
        "wires": [
            [
                "8c058e0f.4b82f"
            ]
        ]
    },
    {
        "id": "13e5d4db.bc7deb",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1228.9521865844727,
        "y": 4261.523253440857,
        "wires": [
            [
                "fd2c4a93.e8e208"
            ]
        ]
    },
    {
        "id": "fd2c4a93.e8e208",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIP_ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390.8965873718262,
        "y": 4260.193417549133,
        "wires": []
    },
    {
        "id": "f9c6d22e.24afa",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.9521026611328,
        "y": 4304.523245811462,
        "wires": [
            [
                "8c360112.2d01c"
            ]
        ]
    },
    {
        "id": "8c360112.2d01c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UpTime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1392.8965034484863,
        "y": 4303.193409919739,
        "wires": []
    },
    {
        "id": "60b7302b.2efc6",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1231.9519653320312,
        "y": 4357.523234367371,
        "wires": [
            [
                "3c7cfba2.befc84"
            ]
        ]
    },
    {
        "id": "3c7cfba2.befc84",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1383.8963661193848,
        "y": 4356.193398475647,
        "wires": []
    },
    {
        "id": "a3316800.51d2c8",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Switch_Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Switch",
        "x": 1383.8895225524902,
        "y": 4580.1066880226135,
        "wires": []
    },
    {
        "id": "63c935f9.a6031c",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Led",
        "group": "8be93b19.ebe328",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Led_Status",
        "label": "%PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1382.952049255371,
        "y": 4530.523250102997,
        "wires": []
    },
    {
        "id": "f732e86f.9e8128",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1237.952033996582,
        "y": 4532.523250102997,
        "wires": [
            [
                "63c935f9.a6031c"
            ]
        ]
    },
    {
        "id": "b9479a82.272728",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1232.952033996582,
        "y": 4581.523250102997,
        "wires": [
            [
                "a3316800.51d2c8"
            ]
        ]
    },
    {
        "id": "9d6884ca.02ee88",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230.952033996582,
        "y": 4626.85660982132,
        "wires": [
            [
                "315fde2b.b044c2"
            ]
        ]
    },
    {
        "id": "315fde2b.b044c2",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1590.7854309082031,
        "y": 4623.52321434021,
        "wires": []
    },
    {
        "id": "483d33c8.cc413c",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1218.952033996582,
        "y": 4694.85660982132,
        "wires": [
            [
                "60108a33.84a654"
            ]
        ]
    },
    {
        "id": "60108a33.84a654",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1578.7854309082031,
        "y": 4691.52321434021,
        "wires": []
    },
    {
        "id": "d2a9a5f5.356658",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1203.952033996582,
        "y": 4769.85660982132,
        "wires": [
            [
                "fc8a7a9c.698de8",
                "db7d58df.365868"
            ]
        ]
    },
    {
        "id": "fc8a7a9c.698de8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1575.7854309082031,
        "y": 4763.52321434021,
        "wires": []
    },
    {
        "id": "487f92cd.70357c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Wifi Status",
        "label": "-------------Wifi Status-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1611.7854347229004,
        "y": 4576.190061569214,
        "wires": []
    },
    {
        "id": "db7d58df.365868",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "remapeo de RSSI a intensidad de señal",
        "func": "\nvar remap = 100-(-1* msg.payload);\nmsg.payload = remap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1533.2853469848633,
        "y": 4855.856552124023,
        "wires": [
            [
                "7c1831de.b94cc"
            ]
        ]
    },
    {
        "id": "7c1831de.b94cc",
        "type": "ui_gauge",
        "z": "5bbc911b.ce11a",
        "name": "Intensidad Señal",
        "group": "8be93b19.ebe328",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Intensidad de señal",
        "label": "",
        "format": "",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1803.2854919433594,
        "y": 4854.523312568665,
        "wires": []
    },
    {
        "id": "35a14f26.5349c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ESP5",
        "label": "-------------Placa5-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1414.8406562805176,
        "y": 4032.5234813690186,
        "wires": []
    },
    {
        "id": "185e7ea4.b5ea91",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "HT11",
        "label": "-------------HT11-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1381.8407745361328,
        "y": 4397.523237705231,
        "wires": []
    },
    {
        "id": "32265c.99d019a4",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "RECEPCION DATOS + ULTIMO DATO POR PANTALLA",
        "info": "Funcionalidad Básica del proyecto:\n\nMostrar info de varios sensores a la vez y poder\nadministrarlo desde el dashboard.\n\nControl del led y la lectura de su estado.\n\nInterruptor led, control y lectura (boton FLASH).\n\nControl de tiempo de intervalo de envío entre\nmensajes.",
        "x": 238,
        "y": 34.52343940734863,
        "wires": []
    },
    {
        "id": "24f0635.4456e9c",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "ESP1 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d19063f.ab35ca",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "ESP2 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1386.5078105926514,
        "y": 1087.5234699249268,
        "wires": []
    },
    {
        "id": "bca3f348.2f55d",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "ESP3 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1315.5078125,
        "y": 1947.5234575271606,
        "wires": []
    },
    {
        "id": "fc40a2bb.f7cdc",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1192.5078048706055,
        "y": 2899.523447036743,
        "wires": []
    },
    {
        "id": "c23f29a.74e25d8",
        "type": "comment",
        "z": "5bbc911b.ce11a",
        "name": "ESP4 Datos",
        "info": "ChipID\nUpTime\nVcc\nTemperatura\nHumedad\nEstado del led (0-100)\nEstado del Switch (true/false)\nSSid\nIP\nRSSI",
        "x": 1240.5078048706055,
        "y": 3962.52347946167,
        "wires": []
    },
    {
        "id": "c17d9662.7bff48",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1733.3790473937988,
        "y": 186.66409015655518,
        "wires": []
    },
    {
        "id": "a9b814ca.227538",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1536.3789138793945,
        "y": 268.54687213897705,
        "wires": []
    },
    {
        "id": "5282a475.3ba27c",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1730.7657661437988,
        "y": 223.75004959106445,
        "wires": []
    },
    {
        "id": "abc550a2.5375d",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP1online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "de6dba14.162358"
            ]
        ]
    },
    {
        "id": "d4ae7a5b.ff3588",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1763.6667098999023,
        "y": 1141.000099182129,
        "wires": []
    },
    {
        "id": "ff592b00.6523c8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1538.6666831970215,
        "y": 1223.8827924728394,
        "wires": []
    },
    {
        "id": "12dc4a73.434186",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1764.0533905029297,
        "y": 1176.0861616134644,
        "wires": []
    },
    {
        "id": "5acc036f.375dac",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP2online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1395.0536193847656,
        "y": 1181.0862159729004,
        "wires": [
            [
                "fcbfe2aa.cf584",
                "2b287bf7.7cb0e4"
            ]
        ]
    },
    {
        "id": "ac6bb7c9.4b49d8",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1682.6666679382324,
        "y": 2028.0001153945923,
        "wires": []
    },
    {
        "id": "be624091.ccbc5",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1499.6666297912598,
        "y": 2112.882779121399,
        "wires": []
    },
    {
        "id": "a3ae7f63.ab53a",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1680.0533866882324,
        "y": 2065.0860748291016,
        "wires": []
    },
    {
        "id": "dc233f84.01fa3",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP3online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1331.053337097168,
        "y": 2073.0859603881836,
        "wires": [
            [
                "f06bb40a.6bb338"
            ]
        ]
    },
    {
        "id": "fcb61306.7a221",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1587.6666374206543,
        "y": 3070.3333053588867,
        "wires": []
    },
    {
        "id": "3fc4203f.62757",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1363.6666297912598,
        "y": 3146.216031074524,
        "wires": []
    },
    {
        "id": "2aff05d3.efafaa",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1585.0533561706543,
        "y": 3107.419264793396,
        "wires": []
    },
    {
        "id": "6e881af7.f7e2f4",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP4online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1195.053337097168,
        "y": 3106.4192123413086,
        "wires": [
            [
                "d05061fc.dca15"
            ]
        ]
    },
    {
        "id": "89591d9a.d2e81",
        "type": "ui_led",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "onlineLed",
        "x": 1578.6666641235352,
        "y": 4127.333840370178,
        "wires": []
    },
    {
        "id": "1ead2bf3.da1174",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Dato",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "x": 1389.6666297912598,
        "y": 4213.216275215149,
        "wires": []
    },
    {
        "id": "a1f5c26c.618a3",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Online:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1576.0533828735352,
        "y": 4164.4197998046875,
        "wires": []
    },
    {
        "id": "994fa84c.94ecf8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ESP5online",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221.053337097168,
        "y": 4173.419456481934,
        "wires": [
            [
                "e09cc981.6d7be8"
            ]
        ]
    },
    {
        "id": "2e8a342d.31faac",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1683.6666259765625,
        "y": 445,
        "wires": []
    },
    {
        "id": "917f6f.a8e0409",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1684.6666259765625,
        "y": 1398.3333740234375,
        "wires": []
    },
    {
        "id": "5f605ae3.96acf4",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1667.6666259765625,
        "y": 2302,
        "wires": []
    },
    {
        "id": "851da7b6.543df8",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1567.6666259765625,
        "y": 3359.666748046875,
        "wires": []
    },
    {
        "id": "2cc41dee.465722",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "OUTPUTS",
        "label": "-------------OUTPUTS-------------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1552.6666717529297,
        "y": 4402.333626747131,
        "wires": []
    },
    {
        "id": "fcbfe2aa.cf584",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1876.6667137145996,
        "y": 1237.0001425743103,
        "wires": []
    },
    {
        "id": "2b287bf7.7cb0e4",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1544.2779960632324,
        "y": 1182.15305519104,
        "wires": [
            [
                "d4ae7a5b.ff3588",
                "12dc4a73.434186"
            ]
        ]
    },
    {
        "id": "de6dba14.162358",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 220,
        "wires": [
            [
                "c17d9662.7bff48",
                "5282a475.3ba27c"
            ]
        ]
    },
    {
        "id": "f06bb40a.6bb338",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1501.34033203125,
        "y": 2053.5556640625,
        "wires": [
            [
                "ac6bb7c9.4b49d8",
                "a3ae7f63.ab53a"
            ]
        ]
    },
    {
        "id": "d05061fc.dca15",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1437.34033203125,
        "y": 3089.666748046875,
        "wires": [
            [
                "fcb61306.7a221",
                "2aff05d3.efafaa"
            ]
        ]
    },
    {
        "id": "e09cc981.6d7be8",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1404.34033203125,
        "y": 4153.88916015625,
        "wires": [
            [
                "89591d9a.d2e81",
                "a1f5c26c.618a3"
            ]
        ]
    },
    {
        "id": "8882d571.1447c8",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP5. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 4780,
        "wires": [
            [
                "2006adc7.eae392"
            ]
        ]
    },
    {
        "id": "4b016c46.f387c4",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 5, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 4720,
        "wires": [
            [
                "2006adc7.eae392"
            ]
        ]
    },
    {
        "id": "2006adc7.eae392",
        "type": "telegram sender",
        "z": "5bbc911b.ce11a",
        "name": "",
        "bot": "5573f948.f7a7c8",
        "x": 1270,
        "y": 4940,
        "wires": [
            []
        ]
    },
    {
        "id": "37c712ba.4a064e",
        "type": "telegram sender",
        "z": "5bbc911b.ce11a",
        "name": "",
        "bot": "5573f948.f7a7c8",
        "x": 1230,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "c979e1bd.a7307",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP4. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 3840,
        "wires": [
            [
                "37c712ba.4a064e"
            ]
        ]
    },
    {
        "id": "227759ba.713446",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 4, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 3740,
        "wires": [
            [
                "37c712ba.4a064e"
            ]
        ]
    },
    {
        "id": "a94cc484.dac548",
        "type": "telegram sender",
        "z": "5bbc911b.ce11a",
        "name": "",
        "bot": "5573f948.f7a7c8",
        "x": 1430,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "bccd3e70.31008",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP3. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2680,
        "wires": [
            [
                "a94cc484.dac548"
            ]
        ]
    },
    {
        "id": "9010b90b.928158",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 3, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 2620,
        "wires": [
            [
                "a94cc484.dac548"
            ]
        ]
    },
    {
        "id": "1e702266.3cf66e",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 2, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1680,
        "wires": [
            [
                "1ac0f927.921637"
            ]
        ]
    },
    {
        "id": "97e6f433.7469d8",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP2. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "1ac0f927.921637"
            ]
        ]
    },
    {
        "id": "1ac0f927.921637",
        "type": "telegram sender",
        "z": "5bbc911b.ce11a",
        "name": "",
        "bot": "5573f948.f7a7c8",
        "x": 1430,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "239f775e.4eda38",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\n\nif(humedad >= global.get('HumedadMAX')|| humedad<=global.get('HumedadMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta!En el ESP 1, se ha registrado un valor de humedad relativa del\"+humedad+ \"% \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "53c3c78.a753e38"
            ]
        ]
    },
    {
        "id": "1d751c49.37a804",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= global.get('TemperaturaMAX')||temperatura <= global.get('TemperaturaMIN'))\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC,registrados por el ESP1. No olvides hidratarte! \\n\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "53c3c78.a753e38"
            ]
        ]
    },
    {
        "id": "53c3c78.a753e38",
        "type": "telegram sender",
        "z": "5bbc911b.ce11a",
        "name": "",
        "bot": "5573f948.f7a7c8",
        "x": 1650,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b566ca19.b03498",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP1/FOTA/actualizado",
        "qos": "2",
        "broker": "392bbbb.0c9aa44",
        "x": 197.5078125,
        "y": 773.5234375,
        "wires": [
            [
                "a1c82490.d6bb78"
            ]
        ]
    },
    {
        "id": "a1c82490.d6bb78",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 422.01561962091364,
        "y": 692.5234527587891,
        "wires": [
            [
                "d6535186.25179"
            ]
        ]
    },
    {
        "id": "d6535186.25179",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "ahora=new Date();\nmsg.payload.date = ahora;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528.0155906677246,
        "y": 781.6345705986023,
        "wires": [
            [
                "e0c1d742.e8a648",
                "7e8d5384.b60acc"
            ]
        ]
    },
    {
        "id": "fe84eb12.40c708",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP2/FOTA/actualizado",
        "qos": "2",
        "broker": "392bbbb.0c9aa44",
        "x": 243.5078125,
        "y": 1778.5234375,
        "wires": [
            [
                "c85693c1.3a237"
            ]
        ]
    },
    {
        "id": "c85693c1.3a237",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 468.01561962091364,
        "y": 1697.523452758789,
        "wires": [
            [
                "b37b4b0b.9ed5b8"
            ]
        ]
    },
    {
        "id": "b37b4b0b.9ed5b8",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 574.0155906677246,
        "y": 1786.6345705986023,
        "wires": [
            [
                "7924da39.84a184"
            ]
        ]
    },
    {
        "id": "bcd34590.406ea8",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP3/FOTA/actualizado",
        "qos": "2",
        "broker": "392bbbb.0c9aa44",
        "x": 357.5078125,
        "y": 2219.5234375,
        "wires": [
            [
                "2512b656.506b9a"
            ]
        ]
    },
    {
        "id": "2512b656.506b9a",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 582.0156196209136,
        "y": 2138.523452758789,
        "wires": [
            [
                "edcbbae8.263ff8"
            ]
        ]
    },
    {
        "id": "edcbbae8.263ff8",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.0155906677246,
        "y": 2227.6345705986023,
        "wires": [
            [
                "b963a841.546ff8"
            ]
        ]
    },
    {
        "id": "3f009ff0.74ed6",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP4/FOTA/actualizado",
        "qos": "2",
        "broker": "392bbbb.0c9aa44",
        "x": 182.5078125,
        "y": 3724.5234375,
        "wires": [
            [
                "cde7b63e.8c0ce8"
            ]
        ]
    },
    {
        "id": "cde7b63e.8c0ce8",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 405.01562881469727,
        "y": 3805.523525238037,
        "wires": [
            [
                "55aecf4f.3d90e"
            ]
        ]
    },
    {
        "id": "55aecf4f.3d90e",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 513.0155906677246,
        "y": 3732.6345705986023,
        "wires": [
            [
                "8ae07095.c3e55"
            ]
        ]
    },
    {
        "id": "2d5e996b.01f9b6",
        "type": "mqtt in",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "infind/GRUPO1/ESP5/FOTA/actualizado",
        "qos": "2",
        "broker": "392bbbb.0c9aa44",
        "x": 204.5078125,
        "y": 4821.0234375,
        "wires": [
            [
                "c43e9f79.d9abb"
            ]
        ]
    },
    {
        "id": "c43e9f79.d9abb",
        "type": "json",
        "z": "5bbc911b.ce11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 388.0156364440918,
        "y": 4943.023555755615,
        "wires": [
            [
                "859bdcda.71c0b"
            ]
        ]
    },
    {
        "id": "859bdcda.71c0b",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 535.0155906677246,
        "y": 4829.134570598602,
        "wires": [
            [
                "d97709d6.101ab8"
            ]
        ]
    },
    {
        "id": "e0c1d742.e8a648",
        "type": "mongodb out",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "7924da39.84a184",
        "type": "mongodb out",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 720,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b963a841.546ff8",
        "type": "mongodb out",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1020,
        "y": 2180,
        "wires": []
    },
    {
        "id": "8ae07095.c3e55",
        "type": "mongodb out",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 560,
        "y": 3560,
        "wires": []
    },
    {
        "id": "d97709d6.101ab8",
        "type": "mongodb out",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 520,
        "y": 4640,
        "wires": []
    },
    {
        "id": "b8e592c2.4aca8",
        "type": "mongodb in",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 598.7422103881836,
        "y": 244.96095085144043,
        "wires": [
            [
                "b948981c.566958"
            ]
        ]
    },
    {
        "id": "27647563.5020aa",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":1};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285.5078125,
        "y": 287.5234375,
        "wires": [
            [
                "b8e592c2.4aca8"
            ]
        ]
    },
    {
        "id": "b948981c.566958",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 754.7656326293945,
        "y": 101.74999809265137,
        "wires": [
            [
                "a63c70ed.0d04b"
            ]
        ]
    },
    {
        "id": "a63c70ed.0d04b",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "36487989.a82c36",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1004.37890625,
        "y": 98.734375,
        "wires": []
    },
    {
        "id": "4d61f87.244e408",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":2};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 336.515625,
        "y": 1233.75,
        "wires": [
            [
                "769be4ff.05435c"
            ]
        ]
    },
    {
        "id": "769be4ff.05435c",
        "type": "mongodb in",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 649.7500228881836,
        "y": 1191.1875133514404,
        "wires": [
            [
                "b579938e.b32a"
            ]
        ]
    },
    {
        "id": "b579938e.b32a",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 805.7734451293945,
        "y": 1047.9765605926514,
        "wires": [
            [
                "102e31a8.881fde"
            ]
        ]
    },
    {
        "id": "102e31a8.881fde",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "9b418b20.b646d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1055.38671875,
        "y": 1044.9609375,
        "wires": []
    },
    {
        "id": "7d18b135.2bcb5",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":3};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 301.515625,
        "y": 2100.75,
        "wires": [
            [
                "59e58866.ab8108"
            ]
        ]
    },
    {
        "id": "59e58866.ab8108",
        "type": "mongodb in",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 614.7500228881836,
        "y": 2058.1875133514404,
        "wires": [
            [
                "d0f9d5e8.3903c8"
            ]
        ]
    },
    {
        "id": "d0f9d5e8.3903c8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770.7734451293945,
        "y": 1914.9765605926514,
        "wires": [
            [
                "77c231d.b8f82d"
            ]
        ]
    },
    {
        "id": "77c231d.b8f82d",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7deee9a2.50ac68",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1020.38671875,
        "y": 1911.9609375,
        "wires": []
    },
    {
        "id": "a86da2dc.01b2a",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":4};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 254.515625,
        "y": 3118.75,
        "wires": [
            [
                "729e7e5d.ffc1e"
            ]
        ]
    },
    {
        "id": "729e7e5d.ffc1e",
        "type": "mongodb in",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 567.7500228881836,
        "y": 3076.1875133514404,
        "wires": [
            [
                "b01c66d6.2f91f8"
            ]
        ]
    },
    {
        "id": "b01c66d6.2f91f8",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 723.7734451293945,
        "y": 2932.9765605926514,
        "wires": [
            [
                "6c252b5d.e28044"
            ]
        ]
    },
    {
        "id": "6c252b5d.e28044",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "7abc3738.ab91a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 973.38671875,
        "y": 2929.9609375,
        "wires": []
    },
    {
        "id": "d519a677.83e168",
        "type": "function",
        "z": "5bbc911b.ce11a",
        "name": "ultimaFOTAbuscar",
        "func": "msg={};\nmsg.payload={\"ultimaFOTA\":1, \"ESP_.placa\":5};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 221.515625,
        "y": 4334.75,
        "wires": [
            [
                "adf5a978.166ec8"
            ]
        ]
    },
    {
        "id": "adf5a978.166ec8",
        "type": "mongodb in",
        "z": "5bbc911b.ce11a",
        "mongodb": "c4d3c524.a08578",
        "name": "",
        "collection": "_DATOS",
        "operation": "find",
        "x": 534.7500228881836,
        "y": 4292.18751335144,
        "wires": [
            [
                "2598debb.c442e2"
            ]
        ]
    },
    {
        "id": "2598debb.c442e2",
        "type": "change",
        "z": "5bbc911b.ce11a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690.7734451293945,
        "y": 4148.976560592651,
        "wires": [
            [
                "2d2f4b4b.57c224"
            ]
        ]
    },
    {
        "id": "2d2f4b4b.57c224",
        "type": "ui_text",
        "z": "5bbc911b.ce11a",
        "group": "8be93b19.ebe328",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940.38671875,
        "y": 4145.9609375,
        "wires": []
    },
    {
        "id": "7e8d5384.b60acc",
        "type": "debug",
        "z": "5bbc911b.ce11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 733.12890625,
        "y": 801.5078125,
        "wires": []
    },
    {
        "id": "5c92db8f.55f734",
        "type": "inject",
        "z": "5bbc911b.ce11a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 159.13280868530273,
        "y": 392.95705223083496,
        "wires": [
            [
                "27647563.5020aa"
            ]
        ]
    },
    {
        "id": "cf0609e9.d33288",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3d213325.5cc6cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "36487989.a82c36",
        "type": "ui_group",
        "z": "",
        "name": "ESP1",
        "tab": "e1a4dc4d.e9dda",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b418b20.b646d8",
        "type": "ui_group",
        "z": "",
        "name": "ESP2",
        "tab": "e1a4dc4d.e9dda",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7deee9a2.50ac68",
        "type": "ui_group",
        "z": "",
        "name": "ESP3",
        "tab": "e1a4dc4d.e9dda",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7abc3738.ab91a8",
        "type": "ui_group",
        "z": "",
        "name": "ESP4",
        "tab": "e1a4dc4d.e9dda",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8be93b19.ebe328",
        "type": "ui_group",
        "z": "",
        "name": "ESP5",
        "tab": "e1a4dc4d.e9dda",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5573f948.f7a7c8",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "392bbbb.0c9aa44",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c4d3c524.a08578",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "e1a4dc4d.e9dda",
        "type": "ui_tab",
        "z": "",
        "name": "UltimosDatos",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]