Node-RED/PruebasDashboard.txt
[
    {
        "id": "3f66c783.422168",
        "type": "tab",
        "label": "Pruebas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5be3707c.4ac23",
        "type": "mqtt in",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "outTopic",
        "qos": "2",
        "broker": "fc5c9554.5f0878",
        "x": 145.88891983032227,
        "y": 1406.055603981018,
        "wires": [
            [
                "8aff3911.0a3cc8"
            ]
        ]
    },
    {
        "id": "8aff3911.0a3cc8",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 389.88891983032227,
        "y": 1406.055603981018,
        "wires": []
    },
    {
        "id": "fecab844.088b18",
        "type": "mqtt in",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "infind/GRUPO1/datos",
        "qos": "2",
        "broker": "fc5c9554.5f0878",
        "x": 128.61111450195312,
        "y": 173.72220993041992,
        "wires": [
            [
                "efa8c07a.3d4d2"
            ]
        ]
    },
    {
        "id": "d8a83843.61c778",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490.22216033935547,
        "y": 66.72220611572266,
        "wires": []
    },
    {
        "id": "efa8c07a.3d4d2",
        "type": "json",
        "z": "3f66c783.422168",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 311.72222900390625,
        "y": 173.7222194671631,
        "wires": [
            [
                "d8a83843.61c778",
                "9c7f127d.09866",
                "57be20a4.90814",
                "6093e8f.4043b18",
                "2e933601.37275a",
                "de7ecb4c.d4b898",
                "ac4b0fbe.863ae",
                "b1416340.1c673"
            ]
        ]
    },
    {
        "id": "9c7f127d.09866",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480.0555648803711,
        "y": 227.05555033683777,
        "wires": [
            [
                "671c6df6.219634"
            ]
        ]
    },
    {
        "id": "9870ecd9.2a5f9",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "Reset Chart",
        "topic": "",
        "payload": "[ ]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 507.7222366333008,
        "y": 118.55553817749023,
        "wires": [
            [
                "99c4517e.ee0cd"
            ]
        ]
    },
    {
        "id": "57be20a4.90814",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "extraer campos ht",
        "func": "var temp = msg.payload.DHT11.Temperatura;\nvar hum  = msg.payload.DHT11.Humedad;\n\nmsg1={\"payload\":temp, \"topic\":\"Temperatura\"};\nmsg2={\"payload\":hum,  \"topic\":\"Humedad\"};\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 510.72222900390625,
        "y": 174.0556240081787,
        "wires": [
            [
                "99c4517e.ee0cd",
                "5c864e07.ae8a7"
            ],
            [
                "99c4517e.ee0cd",
                "4726dd1e.1ac754"
            ]
        ]
    },
    {
        "id": "99c4517e.ee0cd",
        "type": "ui_chart",
        "z": "3f66c783.422168",
        "name": "",
        "group": "fc3f6d25.7c03d",
        "order": 1,
        "width": "6",
        "height": "8",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 732.0555458068848,
        "y": 172.38887095451355,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "671c6df6.219634",
        "type": "template",
        "z": "3f66c783.422168",
        "name": "lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Registro: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : {{DHT11.Temperatura }}ºC, {{DHT11.Humedad}}% </li>\n{{/payload}}\n </ul>\n",
        "output": "str",
        "x": 720.3889312744141,
        "y": 227.05555057525635,
        "wires": [
            [
                "3ddb02ee.57db6e"
            ]
        ]
    },
    {
        "id": "3ddb02ee.57db6e",
        "type": "ui_template",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "name": "",
        "order": 1,
        "width": "8",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 923.2222671508789,
        "y": 228.05556106567383,
        "wires": [
            []
        ]
    },
    {
        "id": "4726dd1e.1ac754",
        "type": "ui_gauge",
        "z": "3f66c783.422168",
        "name": "",
        "group": "1ae19e77.83d902",
        "order": 2,
        "width": "4",
        "height": "2",
        "gtype": "wave",
        "title": "Humedad",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 742.0555725097656,
        "y": 126.05553436279297,
        "wires": []
    },
    {
        "id": "5c864e07.ae8a7",
        "type": "ui_gauge",
        "z": "3f66c783.422168",
        "name": "Temperatura",
        "group": "1ae19e77.83d902",
        "order": 3,
        "width": "4",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750.3889465332031,
        "y": 78.88887786865234,
        "wires": []
    },
    {
        "id": "9b72fd15.92e9b",
        "type": "mqtt in",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "infind/GRUPO1/conexion",
        "qos": "2",
        "broker": "fc5c9554.5f0878",
        "x": 197.38896560668945,
        "y": 1275.555549621582,
        "wires": [
            [
                "53ccc0f.06bb54"
            ]
        ]
    },
    {
        "id": "53ccc0f.06bb54",
        "type": "json",
        "z": "3f66c783.422168",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390.72228240966797,
        "y": 1275.5555934906006,
        "wires": [
            [
                "801b45be.147618",
                "a4458698.f4c738"
            ]
        ]
    },
    {
        "id": "801b45be.147618",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 554.722282409668,
        "y": 1275.5555934906006,
        "wires": []
    },
    {
        "id": "dc2a3170.defde",
        "type": "mqtt out",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "infind/GRUPO1/led/cmd",
        "qos": "2",
        "retain": "",
        "broker": "fc5c9554.5f0878",
        "x": 1056.0714950561523,
        "y": 784.6111354827881,
        "wires": []
    },
    {
        "id": "acd3da13.ef6e38",
        "type": "ui_slider",
        "z": "3f66c783.422168",
        "name": "",
        "label": "Control LED",
        "tooltip": "",
        "group": "bb6b6651.10e288",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 358.5714530944824,
        "y": 786.94446849823,
        "wires": [
            [
                "1c6ad5d5.f732fa",
                "4cb41be2.d663f4",
                "262dfd99.7d4ea2"
            ]
        ]
    },
    {
        "id": "1c6ad5d5.f732fa",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "bb6b6651.10e288",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel Enviado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600.5714530944824,
        "y": 833.94446849823,
        "wires": []
    },
    {
        "id": "6445f7b9.50d338",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1016.5714645385742,
        "y": 733.4445247650146,
        "wires": []
    },
    {
        "id": "8041c326.539c1",
        "type": "json",
        "z": "3f66c783.422168",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 776.4048080444336,
        "y": 786.2778015136719,
        "wires": [
            [
                "6445f7b9.50d338",
                "dc2a3170.defde"
            ]
        ]
    },
    {
        "id": "4cb41be2.d663f4",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 581.9047584533691,
        "y": 730.777795791626,
        "wires": []
    },
    {
        "id": "262dfd99.7d4ea2",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Añade Campo level",
        "func": "msg.payload={\"level\": msg.payload};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600.5714530944824,
        "y": 786.94446849823,
        "wires": [
            [
                "8041c326.539c1",
                "da1c2e24.5fbee"
            ]
        ]
    },
    {
        "id": "da1c2e24.5fbee",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 799.571475982666,
        "y": 731.9445238113403,
        "wires": []
    },
    {
        "id": "b754ad00.7c20f",
        "type": "mqtt in",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "infind/GRUPO1/led/status",
        "qos": "2",
        "broker": "fc5c9554.5f0878",
        "x": 191.2222785949707,
        "y": 1047.2221603393555,
        "wires": [
            [
                "4c56c5f4.fdeb1c",
                "1355f280.49abde"
            ]
        ]
    },
    {
        "id": "127133a.47c9ccc",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 629.333381652832,
        "y": 1050.4443912506104,
        "wires": []
    },
    {
        "id": "4c56c5f4.fdeb1c",
        "type": "json",
        "z": "3f66c783.422168",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 442.3333969116211,
        "y": 1048.4443836212158,
        "wires": [
            [
                "127133a.47c9ccc",
                "567fc10b.0446a"
            ]
        ]
    },
    {
        "id": "64600e8e.4ada3",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "bb6b6651.10e288",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel Recibido",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 837.3333778381348,
        "y": 1126.277687072754,
        "wires": []
    },
    {
        "id": "567fc10b.0446a",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "json -> numero",
        "func": "msg.payload=msg.payload.led;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640.3333969116211,
        "y": 1126.4443836212158,
        "wires": [
            [
                "64600e8e.4ada3",
                "f5a37864.665518"
            ]
        ]
    },
    {
        "id": "f5a37864.665518",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 833.3333778381348,
        "y": 1181.277687072754,
        "wires": []
    },
    {
        "id": "ae574105.368d",
        "type": "ui_button",
        "z": "3f66c783.422168",
        "name": "Apagar Led",
        "group": "bb6b6651.10e288",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 165.57143783569336,
        "y": 859.2777605056763,
        "wires": [
            [
                "262dfd99.7d4ea2",
                "acd3da13.ef6e38"
            ]
        ]
    },
    {
        "id": "6093e8f.4043b18",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Extraer Uptime",
        "func": "msg={\"payload\":msg.payload.Uptime, \"topic\":\"Uptime\"};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 498.33331298828125,
        "y": 285,
        "wires": [
            [
                "38666f52.cc234"
            ]
        ]
    },
    {
        "id": "38666f52.cc234",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime (ms):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 697.4999999999999,
        "y": 284.99999999999994,
        "wires": []
    },
    {
        "id": "2e933601.37275a",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Extraer Vcc",
        "func": "msg={\"payload\":msg.payload.Vcc, \"topic\":\"Vcc\"};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 489.1666488647461,
        "y": 353.3333168029785,
        "wires": [
            [
                "ea3ac575.282f48"
            ]
        ]
    },
    {
        "id": "ea3ac575.282f48",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc (mV):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 688.3333587646484,
        "y": 354.16663932800293,
        "wires": []
    },
    {
        "id": "925d12b5.03eb1",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Datos de RED:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710.8333206176758,
        "y": 418.33333015441895,
        "wires": []
    },
    {
        "id": "de7ecb4c.d4b898",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Extraer SSId",
        "func": "msg={\"payload\":msg.payload.Wifi.SSId, \"topic\":\"Uptime\"};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 489.1666488647461,
        "y": 477.49996852874756,
        "wires": [
            [
                "8380bc11.96868"
            ]
        ]
    },
    {
        "id": "ac4b0fbe.863ae",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Extraer IP",
        "func": "msg={\"payload\":msg.payload.Wifi.IP, \"topic\":\"Vcc\"};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 479.16663360595703,
        "y": 544.1666297912598,
        "wires": [
            [
                "16246c03.d19f64"
            ]
        ]
    },
    {
        "id": "b1416340.1c673",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "Extraer RSSI",
        "func": "msg={\"payload\":msg.payload.Wifi.RSSI, \"topic\":\"Vcc\"};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 488.3333206176758,
        "y": 602.499960899353,
        "wires": [
            [
                "940a4403.c9b338"
            ]
        ]
    },
    {
        "id": "8380bc11.96868",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "SSId: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 679.1666564941406,
        "y": 477.49996757507324,
        "wires": []
    },
    {
        "id": "16246c03.d19f64",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 8,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "IP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 676.6666526794434,
        "y": 544.1666069030762,
        "wires": []
    },
    {
        "id": "940a4403.c9b338",
        "type": "ui_text",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 9,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "RSSI (dBm):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 698.3332977294922,
        "y": 602.4999656677246,
        "wires": []
    },
    {
        "id": "bd3dcbf3.06deb8",
        "type": "comment",
        "z": "3f66c783.422168",
        "name": "Recepcion de DATOS",
        "info": "",
        "x": 173.3333282470703,
        "y": 134.9999942779541,
        "wires": []
    },
    {
        "id": "6edf7070.59eeb",
        "type": "comment",
        "z": "3f66c783.422168",
        "name": "Envío al LED",
        "info": "",
        "x": 165.8333282470703,
        "y": 784.999906539917,
        "wires": []
    },
    {
        "id": "6974af2e.8a558",
        "type": "comment",
        "z": "3f66c783.422168",
        "name": "Respuesta del LED",
        "info": "",
        "x": 166.66668701171875,
        "y": 1005.8332300186157,
        "wires": []
    },
    {
        "id": "ff1a5d51.22b18",
        "type": "comment",
        "z": "3f66c783.422168",
        "name": "Comprobacion de Conexion",
        "info": "",
        "x": 207.50003051757812,
        "y": 1369.9999723434448,
        "wires": []
    },
    {
        "id": "159c321f.99e64e",
        "type": "comment",
        "z": "3f66c783.422168",
        "name": "Estado de Conexion",
        "info": "",
        "x": 175.83333587646484,
        "y": 1235.8332605361938,
        "wires": []
    },
    {
        "id": "1355f280.49abde",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 485.55554580688477,
        "y": 1185.5554752349854,
        "wires": []
    },
    {
        "id": "fab7eb69.3ac278",
        "type": "ui_led",
        "z": "3f66c783.422168",
        "group": "1ae19e77.83d902",
        "order": 9,
        "width": "4",
        "height": "1",
        "label": "Estado: ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "EstadoConexión: ",
        "x": 813.3333511352539,
        "y": 1333.3333320617676,
        "wires": []
    },
    {
        "id": "a4458698.f4c738",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "json -> numero",
        "func": "msg.payload=msg.payload.online;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 567.7777252197266,
        "y": 1333.3332786560059,
        "wires": [
            [
                "fab7eb69.3ac278"
            ]
        ]
    },
    {
        "id": "ca8a895a.53f788",
        "type": "ui_ui_control",
        "z": "3f66c783.422168",
        "name": "",
        "x": 580,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "7f031a1e.2ee414",
        "type": "ui_dropdown",
        "z": "3f66c783.422168",
        "name": "",
        "label": "argo",
        "tooltip": "",
        "place": "Select option",
        "group": "1ae19e77.83d902",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "nada",
                "value": 0,
                "type": "num"
            },
            {
                "label": "bueno",
                "value": "5",
                "type": "str"
            },
            {
                "label": "mucho",
                "value": "10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 650,
        "y": 1480,
        "wires": [
            [
                "bc09aa4b.40eca8"
            ]
        ]
    },
    {
        "id": "a9bb0c5a.cd6d3",
        "type": "ui_date_picker",
        "z": "3f66c783.422168",
        "name": "",
        "label": "",
        "group": "1ae19e77.83d902",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "fecha",
        "x": 530,
        "y": 1680,
        "wires": [
            [
                "5333f6e0.2a4bd8"
            ]
        ]
    },
    {
        "id": "a4b5914a.4dadc",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "",
        "payload": "\"10/05/2020\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 1680,
        "wires": [
            [
                "a9bb0c5a.cd6d3"
            ]
        ]
    },
    {
        "id": "aac07a17.74c5e8",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "acfdd1ee.e5401",
        "type": "ui_form",
        "z": "3f66c783.422168",
        "name": "",
        "label": "",
        "group": "fc3f6d25.7c03d",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Usuario",
                "value": "Usuario",
                "type": "text",
                "required": true
            },
            {
                "label": "Edad",
                "value": "Edad",
                "type": "number",
                "required": true
            },
            {
                "label": "Contraseña",
                "value": "Contraseña",
                "type": "password",
                "required": true
            },
            {
                "label": "Acepto",
                "value": "T.U.",
                "type": "checkbox",
                "required": true
            },
            {
                "label": "ewe",
                "value": "Switch",
                "type": "switch",
                "required": true
            }
        ],
        "formValue": {
            "Usuario": "",
            "Edad": "",
            "Contraseña": "",
            "T.U.": false,
            "Switch": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 330,
        "y": 1740,
        "wires": [
            [
                "7700fb20.0f17c4"
            ]
        ]
    },
    {
        "id": "7700fb20.0f17c4",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 1740,
        "wires": []
    },
    {
        "id": "ce5c116c.8b727",
        "type": "ui_ui_control",
        "z": "3f66c783.422168",
        "name": "",
        "x": 600,
        "y": 1800,
        "wires": [
            [
                "657ce5c9.38653c"
            ]
        ]
    },
    {
        "id": "657ce5c9.38653c",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 1800,
        "wires": []
    },
    {
        "id": "733be9f5.a2f448",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 1840,
        "wires": []
    },
    {
        "id": "58e007c6.0d83b8",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "Esconder",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Pruebas_Control_de_Datos\",\"Home_Group_3\"],\"show\":[\"uwu\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 260,
        "y": 1840,
        "wires": [
            [
                "ce5c116c.8b727",
                "733be9f5.a2f448"
            ]
        ]
    },
    {
        "id": "82c329d0.7667f8",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "Mostrar",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"uwu\",\"Home_Group_3\"],\"show\":[\"Pruebas_Control_de_Datos\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 260,
        "y": 1880,
        "wires": [
            [
                "ce5c116c.8b727",
                "3d05c51.8d8bd3a"
            ]
        ]
    },
    {
        "id": "75a28f79.709d7",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "",
        "payload": "{\"tabs\":{\"hide\":\"Pruebas\",\"show\":[\"Pruebas_Control_de_Datos\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 1920,
        "wires": [
            [
                "ce5c116c.8b727",
                "7863d223.8aae6c"
            ]
        ]
    },
    {
        "id": "3d05c51.8d8bd3a",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 1880,
        "wires": []
    },
    {
        "id": "7863d223.8aae6c",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 1920,
        "wires": []
    },
    {
        "id": "d997913.48eb77",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "",
        "payload": "+1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 1960,
        "wires": [
            [
                "ce5c116c.8b727"
            ]
        ]
    },
    {
        "id": "62eba58a.11239c",
        "type": "change",
        "z": "3f66c783.422168",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":\"Pruebas\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2040,
        "wires": [
            [
                "ce5c116c.8b727"
            ]
        ]
    },
    {
        "id": "efa95c9.de671a",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "Hide",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 2040,
        "wires": [
            [
                "62eba58a.11239c"
            ]
        ]
    },
    {
        "id": "ff0bf126.36e2e",
        "type": "change",
        "z": "3f66c783.422168",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":\"Pruebas\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2000,
        "wires": [
            [
                "ce5c116c.8b727"
            ]
        ]
    },
    {
        "id": "1c5aefdc.3b8cf",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "Show",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 2000,
        "wires": [
            [
                "ff0bf126.36e2e"
            ]
        ]
    },
    {
        "id": "6bc23768.bec318",
        "type": "ui_audio",
        "z": "3f66c783.422168",
        "name": "",
        "group": "bb6b6651.10e288",
        "voice": "es-ES",
        "always": "",
        "x": 440,
        "y": 2160,
        "wires": []
    },
    {
        "id": "aa85740d.1c8638",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "",
        "payload": "Bienvenido al control inteligente de Piero",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 2160,
        "wires": [
            [
                "6bc23768.bec318"
            ]
        ]
    },
    {
        "id": "f27e01b5.e986b",
        "type": "ui_toast",
        "z": "3f66c783.422168",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 2260,
        "wires": [
            [
                "d366924f.90981"
            ]
        ]
    },
    {
        "id": "ddbb39fa.d479b8",
        "type": "inject",
        "z": "3f66c783.422168",
        "name": "",
        "topic": "Otro usuario conectado!",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 2260,
        "wires": [
            [
                "f27e01b5.e986b"
            ]
        ]
    },
    {
        "id": "d366924f.90981",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 2260,
        "wires": []
    },
    {
        "id": "bc09aa4b.40eca8",
        "type": "debug",
        "z": "3f66c783.422168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5333f6e0.2a4bd8",
        "type": "function",
        "z": "3f66c783.422168",
        "name": "",
        "func": "\nmsg.payload = new Date(msg.payload)\n\nmsg.payload = {\"Dia\": msg.payload.getDate(),\n               \"Mes\": msg.payload.getMonth()+1,\n               \"Año\": msg.payload.getFullYear()}\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1680,
        "wires": [
            [
                "aac07a17.74c5e8"
            ]
        ]
    },
    {
        "id": "fc5c9554.5f0878",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fc3f6d25.7c03d",
        "type": "ui_group",
        "z": "",
        "name": "Histórico",
        "tab": "e6184674.ec8088",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ae19e77.83d902",
        "type": "ui_group",
        "z": "",
        "name": "Control de Datos",
        "tab": "e6184674.ec8088",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "bb6b6651.10e288",
        "type": "ui_group",
        "z": "",
        "name": "Control del LED",
        "tab": "e6184674.ec8088",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6184674.ec8088",
        "type": "ui_tab",
        "z": "",
        "name": "Pruebas",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]