TELEGRAM/CodigoTelegramVEntrega.funciona.txt
[
    {
        "id": "1103f2af.e8c04d",
        "type": "tab",
        "label": "TELEGRAM",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5ab72880.7b7018",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "ultimo registro",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "518dd38.a5cfd2c"
            ]
        ]
    },
    {
        "id": "8aa11434.ca3b58",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c1a13f8.ec751c",
        "type": "inject",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "518dd38.a5cfd2c"
            ]
        ]
    },
    {
        "id": "58b699fc.c2e428",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje respuesta temperatura",
        "func": "var temp=msg.payload[0].DHT11.temp\nvar fecha=msg.payload[0].date\nmsg.payload.chatId=flow.get('Usuario' || 0);\nmsg.payload.type=\"message\";\nmsg.payload.content=\"La temperatura es de \"+temp+\"ºC.\\nEste dato fue obtenido el \"+fecha+\"\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "39f5f89b.789bb8",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/Temperatura",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "4a06bdbd.2158e4"
            ],
            []
        ]
    },
    {
        "id": "ffdb993d.31b648",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/help",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "d02ce863.999638"
            ],
            []
        ]
    },
    {
        "id": "e997d25f.8a09d",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1270,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "de62fd90.7f18d",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "56f19dbb.2edbb4"
            ]
        ]
    },
    {
        "id": "35448606.2e1f7a",
        "type": "json",
        "z": "1103f2af.e8c04d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 40,
        "wires": [
            [
                "174993f9.c7f24c",
                "de62fd90.7f18d"
            ]
        ]
    },
    {
        "id": "174993f9.c7f24c",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "450266ce.d9c1f8",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/apaga",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "21425d4d.660d82"
            ],
            []
        ]
    },
    {
        "id": "500e8f88.31ae8",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/enciende",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "8a72ecf4.7b842"
            ],
            []
        ]
    },
    {
        "id": "d2a4c0a9.8c48b",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Identifica si llega mensaje de intensidad",
        "func": "//guardo información de telegram\n//monto mensaje para dispositivo\nmsg.telegram=msg.payload;\nvar intensidad= msg.payload.content\nvar id = String(new Date().getTime());\nif(intensidad> 0 || intensidad<=100){\n    msg.payload={\"level\":intensidad,\"id\":id};\n    msg.topic=\"infind/GRUPO1/led/cmd\";\n// información para la función que registra la operación\nmsg.orden=true;\nmsg.id=id;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "fba55103.4369",
                "c83c7b87.fad348"
            ]
        ]
    },
    {
        "id": "59966db7.1f3184",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/estado",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 150,
        "y": 880,
        "wires": [
            [
                "bf219468.67d858",
                "858f5322.4c9e1"
            ],
            []
        ]
    },
    {
        "id": "bf219468.67d858",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "estado en variable flow",
        "func": "//recupero estado almacenado en flow\nvar respuesta=flow.get(\"estado\") || {\"orden\":\"No definido\",\"id\":0};\n//monto respuesta telegram\nmsg.payload.content=\"Estado del LED : \"+respuesta.led+\"\\n\";\n//var fecha2= JSON(respuesta.id);\n//var fecha = new Date(fecha2);\n//var hora=fecha.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n//var dia =fecha.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid' });\n//msg.payload.content+=\"Consultado : \"+hora+\" (\"+dia+\")\";\nreturn msg; // send message to telegram\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "aa9f8848.45fbd8",
                "93973a8d.60d378"
            ]
        ]
    },
    {
        "id": "3ff1cdb3.4c9c62",
        "type": "comment",
        "z": "1103f2af.e8c04d",
        "name": "Respuesta del dispositivo",
        "info": "",
        "x": 170,
        "y": 1300,
        "wires": []
    },
    {
        "id": "de69b4bd.94f048",
        "type": "comment",
        "z": "1103f2af.e8c04d",
        "name": "Control del LED",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "d02ce863.999638",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\" soy un bot ejecutando en NodeRED diseñado por el Grupo 1 de  Informática Industrial!Puedo responderte a estos comandos:\\n\";\n msg.payload.content+=\"/led - Te indico los distintos comandos relacionados con el control del estado del LED\\n\";\n msg.payload.content+=\"/Sensores - Te indico los distintos comandos relacionados con los sensores que tenemos disponibles\\n\";\n msg.payload.content+=\"/ListaComandos - Te indico todos los comandos disponibles.\\n\";\n msg.payload.content+=\"/ComandosRobot - Te indico todos los comandos relacionados con el control del robot PIERO\\n\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "e997d25f.8a09d",
                "788d070c.2099c8"
            ]
        ]
    },
    {
        "id": "3035b87d.b191a8",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1190,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "9b5b92f6.ea0a4",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "",
        "func": "msg.payload={};\n\nmsg.payload.chatId=-1001354631151;\nmsg.payload.type=\"message\";\nmsg.payload.content=\"El bot publica correctamente\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 1800,
        "wires": [
            [
                "3035b87d.b191a8"
            ]
        ]
    },
    {
        "id": "d69f5afc.0bac68",
        "type": "inject",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 680,
        "y": 1800,
        "wires": [
            [
                "9b5b92f6.ea0a4"
            ]
        ]
    },
    {
        "id": "5d2c6422.73e98c",
        "type": "mqtt in",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "infind/GRUPO1/datos",
        "qos": "2",
        "broker": "b25567ea.2cea98",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "35448606.2e1f7a"
            ]
        ]
    },
    {
        "id": "56f19dbb.2edbb4",
        "type": "mongodb out",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "c83c7b87.fad348",
        "type": "mqtt out",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "infind/GRUPO1/led/cmd",
        "qos": "",
        "retain": "",
        "broker": "b25567ea.2cea98",
        "x": 1170,
        "y": 1060,
        "wires": []
    },
    {
        "id": "518dd38.a5cfd2c",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "find",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "8aa11434.ca3b58"
            ]
        ]
    },
    {
        "id": "baf0a0ef.edd0f",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "find",
        "x": 640,
        "y": 660,
        "wires": [
            [
                "58b699fc.c2e428"
            ]
        ]
    },
    {
        "id": "accd6226.9db2e",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/Humedad",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "23aee9e8.f04c46"
            ],
            []
        ]
    },
    {
        "id": "38fe3a5e.4ee906",
        "type": "inject",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "5ab72880.7b7018"
            ]
        ]
    },
    {
        "id": "4a06bdbd.2158e4",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Indica Orden Temperatura",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nmsg.payload = {};\nmsg.sort = {\"date\" : -1};\nmsg.limit = 1;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 660,
        "wires": [
            [
                "baf0a0ef.edd0f"
            ]
        ]
    },
    {
        "id": "303c5686.5993ba",
        "type": "mqtt in",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "infind/GRUPO1/led/status",
        "qos": "2",
        "broker": "b25567ea.2cea98",
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "8b9f7224.0b1bc",
                "78f4a2b4.d8692c"
            ]
        ]
    },
    {
        "id": "fba55103.4369",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Registra orden/espera respuesta",
        "func": "/*\nEsta función recibe dos tipos de mensajes. Cuando se ordena un cambio en el led, \nque se trata en la parte then del if. Y cuando se recibe la confirmación del cambio, \nque se trata en la parte else del if.\nEn el primer caso (then), programamos un timeout de 3 segundos que dará un mensaje \nde error si no se recibe la confirmación. Y guardamos la información necesaria para \nhacer las gestiones posteriores.\nEn el segundo caso (else) se compruena si había una confirmación pendiente, se cancela el \ntemporizador de timeout y se da el mensaje correspondiente.\n\nEsto es un ejemplo de uso de temporizadores y almacenamiento en el contexto de un nodo función.\nTambién se muestra cómo asignar un estado al nodo.\n*/\n\n//Estas funciones son básicamente por si hubiera usuarios simultáneos\nfunction localiza_operacion(lista_operaciones, id)\n{\n    for(var i=0; i<lista_operaciones.length; i++)\n    {\n        if(lista_operaciones[i].id==id) return i;\n    }\n    return -1;\n}\n\nfunction elimina_operacion(lista_operaciones, index)\n{\n    lista_operaciones.splice(index,1);\n    context.set(\"lista_operaciones\",lista_operaciones);\n}\n\n\nif(msg.orden)\n{ // es una orden\n    var id_operacion = msg.id;\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Wait\"}); // estado del nodo\n    var id_timeout= setTimeout(function(id){    // timeout de 3 segundos\n        // is expira el temporizador, el dispositivo no responde\n        node.warn(\"ATENCION: Operacion \"+id+\" timeout\")\n        node.status({fill:\"red\", shape:\"ring\", text:\"Timeout\"});\n        //busca operación en la lista\n        var lista_operaciones = context.get(\"lista_operaciones\") || [];\n        var index=localiza_operacion(lista_operaciones, id)\n        if(index>=0)\n        {\n            msg.payload=lista_operaciones[index].telegram_info; // restaurar info telegram (chatid)\n            msg.payload.content=\"Error timeout: dispositivo no responde (id:\"+id+\")\";\n            elimina_operacion(lista_operaciones, index);\n            node.send(msg); // envía mensaje a telegram\n        }\n        else\n            node.warn(\"ATENCION: Operacion \"+id+\" no está en la lista\") \n    }, 10000, id_operacion); \n    //añade operación a la lista\n    var lista_operaciones = context.get(\"lista_operaciones\") || [];\n    var nueva_operacion = \n      {\"id\":id_operacion, \"id_timeout\":id_timeout,\"telegram_info\":msg.telegram};\n    lista_operaciones.push(nueva_operacion);\n    context.set(\"lista_operaciones\",lista_operaciones);\n    node.warn(\"Registrada nueva operación \"+id_operacion);\n    msg.payload=msg.telegram;\n    msg.payload.content=\"Orden enviada (id:\"+id_operacion+\")\";\n    return msg;\n}\nelse\n{ // es una confirmación\n    //busca operación con esta id en la lista\n    var id=msg.payload.id;\n    var lista_operaciones = context.get(\"lista_operaciones\") || [];\n    var index=localiza_operacion(lista_operaciones, id)\n    if(index>=0) // orden localizada\n    {\n        clearTimeout(lista_operaciones[index].id_timeout); // cancelo el temporizador\n        var status=msg.payload.led;\n        msg.payload=lista_operaciones[index].telegram_info; // restaura info telegram (chatid)\n        msg.payload.content=\"Respuesta del dispositivo a la orden (id:\"+id+\"), LED : \"+status;\n        elimina_operacion(lista_operaciones, index)\n        node.warn(\"Procesada respuesta operación \"+id);\n        setTimeout(function(){  // cambio estado del nodo 1.5s después para que se vea el estado anterior\n            node.status({fill:\"green\", shape:\"ring\", text:\"Ok\"});\n        }, 10000);\n        return msg; // enviar mensaje a telegram\n    }\n    else\n        node.warn(\"ATENCION: Operacion \"+id+\" no está en la lista\")\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 1220,
        "wires": [
            [
                "6d92ed8d.6bf0c4",
                "93973a8d.60d378"
            ]
        ]
    },
    {
        "id": "ec8afa4e.3aa578",
        "type": "change",
        "z": "1103f2af.e8c04d",
        "name": "guarda estado",
        "rules": [
            {
                "t": "set",
                "p": "estado",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "76de98c4.6b91a8",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8b9f7224.0b1bc",
        "type": "json",
        "z": "1103f2af.e8c04d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1360,
        "wires": [
            [
                "fba55103.4369",
                "ec8afa4e.3aa578",
                "76de98c4.6b91a8"
            ]
        ]
    },
    {
        "id": "788d070c.2099c8",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "41774d65.890c64",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje respuesta humedad",
        "func": "var hum=msg.payload[0].DHT11.hum\nvar fecha=msg.payload[0].date\nmsg.payload.chatId=flow.get('Usuario' || 0);\nmsg.payload.type=\"message\";\nmsg.payload.content=\"La humedad relativa es de \"+hum+\"%.\\nEste dato fue obtenido el \"+fecha+\"\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 720,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "b3128d16.1ea49",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Humedad mayor que 90 %",
        "func": "var humedad = msg.payload.DHT11.hum\nif(humedad >= 95)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Alerta! La humedad ha alcanzado un valor de \"+humedad+ \" % \\n\";\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 40,
        "wires": [
            [
                "52d76942.12c8e8"
            ]
        ]
    },
    {
        "id": "52d76942.12c8e8",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1383.8964538574219,
        "y": 43.88884782791138,
        "wires": [
            []
        ]
    },
    {
        "id": "a10c9a81.f10fa8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Temperatura mayor que 25ºC",
        "func": "var temperatura = msg.payload.DHT11.Temp\n\nif(temperatura >= 30)\n{\n    msg.payload={}\n    msg.payload.chatId=-1001354631151;\n    msg.payload.type=\"message\";\n    msg.payload.content=\"Uy! Ten cuidado que hace una temperatura de  \"+temperatura+ \"ºC. No olvides hidratarte! \\n\";\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "f1d6c604.28c138"
            ]
        ]
    },
    {
        "id": "f1d6c604.28c138",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1349.8965911865234,
        "y": 133.8888063430786,
        "wires": [
            []
        ]
    },
    {
        "id": "d30adb07.ce54c8",
        "type": "comment",
        "z": "1103f2af.e8c04d",
        "name": "CHAT DIFUSIÓN TELEGRAM",
        "info": "",
        "x": 780,
        "y": 1720,
        "wires": []
    },
    {
        "id": "78f4a2b4.d8692c",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6d92ed8d.6bf0c4",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 1320,
        "wires": []
    },
    {
        "id": "858f5322.4c9e1",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "7d6e172b.6a4d38",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/consulta",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "4a06bdbd.2158e4",
                "23aee9e8.f04c46"
            ],
            []
        ]
    },
    {
        "id": "aac968a4.a5d818",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "find",
        "x": 640,
        "y": 740,
        "wires": [
            [
                "41774d65.890c64"
            ]
        ]
    },
    {
        "id": "23aee9e8.f04c46",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Indica Orden Humedad",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nmsg.payload = {};\nmsg.sort = {\"date\" : -1};\nmsg.limit = 1;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 740,
        "wires": [
            [
                "aac968a4.a5d818"
            ]
        ]
    },
    {
        "id": "aa9f8848.45fbd8",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 880,
        "wires": []
    },
    {
        "id": "2ef7a350.5e14fc",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/media",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "92943bd1.2f1728"
            ],
            []
        ]
    },
    {
        "id": "24869b42.b95e44",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "find",
        "x": 720,
        "y": 800,
        "wires": [
            [
                "ce581588.83f948",
                "b4acc6bd.2fcd88"
            ]
        ]
    },
    {
        "id": "ce581588.83f948",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje respuesta media",
        "func": "\nvar humedadmedia=0;\nvar temperaturamedia=0;\nvar valorestotales= msg.payload.length;\n for (var i = 0; i < msg.payload.length; i++)\n{\n    humedadmedia=humedadmedia + msg.payload[i].DHT11.hum;\n    temperaturamedia=temperaturamedia+msg.payload[i].DHT11.temp;\n}\ntemperaturamedia=temperaturamedia/i;\nhumedadmedia=humedadmedia/i;\nmsg.payload = {};\nmsg.payload.chatId=flow.get('Usuario' || 0);\nmsg.payload.type=\"message\";\nmsg.payload.content=\"Segun una estimación entre los datos recibidos en un periodo de treinta minutos, la humedad relativa media es de \"+humedadmedia+\"% y la temperatura media es de \"+temperaturamedia+\"ºC.\\n El numero de datos totales estimados fue de \"+valorestotales+\"\"; \n\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 800,
        "wires": [
            [
                "e997d25f.8a09d",
                "62e4548a.56915c"
            ]
        ]
    },
    {
        "id": "b4acc6bd.2fcd88",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "92943bd1.2f1728",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Consulta intervalo 5 y 15 mins",
        "func": "var ms_per_minute = 60000;\n//obtiene el timestamp actual\nvar now_ms = new Date().getTime();\nflow.set('Usuario',msg.payload.chatId)\n//crear objeto con hora de hace 5 mins\nvar oneminago = new Date(now_ms-ms_per_minute);\n\nvar treintaminsago = new Date(now_ms-30*ms_per_minute);\n\n\n// selecciona fecha posterior o igual a 5 mins\nmsg.payload ={\"$and\": [{\"date\": {\"$lte\": oneminago}}, {\"date\": {\"$gte\": treintaminsago}}]}; \nmsg.sort = {\"date\":1} ;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "24869b42.b95e44"
            ]
        ]
    },
    {
        "id": "62e4548a.56915c",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1270,
        "y": 900,
        "wires": []
    },
    {
        "id": "8a72ecf4.7b842",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Mensaje a Usuario",
        "func": "\n msg.payload.content=\"Has seleccionado encender el led. Porfavor, responde a este mensaje, indicando de 0 a 100, la intensidad con la que quieres encender el led. Si quieres encenderlo al máximo, tu mensaje sería: 100\";\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1220,
        "wires": [
            [
                "93973a8d.60d378"
            ]
        ]
    },
    {
        "id": "d7355cc.bdc05a",
        "type": "telegram receiver",
        "z": "1103f2af.e8c04d",
        "name": "uWubot",
        "bot": "2a1be692.da76fa",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "d2a4c0a9.8c48b",
                "ccf35359.8eb79"
            ],
            []
        ]
    },
    {
        "id": "21425d4d.660d82",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Apaga el led",
        "func": "//guardo información de telegram\nmsg.telegram=msg.payload;\n//monto mensaje para dispositivo\nvar id = String(new Date().getTime());\nif(msg.originalMessage.text==\"/apaga\" || msg.originalMessage.text==\"/apaga@UwU87bot\")\n{\n    msg.payload={\"level\":0,\"id\":id};\n    msg.topic=\"infind/GRUPO1/led/cmd\";\n// información para la función que registra la operación\nmsg.orden=true;\nmsg.id=id;\nreturn msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "c83c7b87.fad348",
                "fba55103.4369",
                "9091a9f5.30be58"
            ]
        ]
    },
    {
        "id": "56f60ef6.372ab",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/Sensores",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "baccc39b.368b1"
            ],
            []
        ]
    },
    {
        "id": "baccc39b.368b1",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Funcion Sensores info",
        "func": "\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\". Te indico que comandos te indican informacion sobre los sensores. \\n\";\n msg.payload.content+=\"/Temperatura - te indica el ultimo dato respecto a la temperatura registrada por el DHT-11\\n\";\n msg.payload.content+=\"/Humedad    - te indica el ultimo dato respecto a la humedad registrada por el DHT-11\\n\";\n msg.payload.content+=\"/consulta   - Te indico simultaneamente el ultimo dato registrado por cada sensor.\\n\";\n msg.payload.content+=\"/media   - Te indico la media de la humedad y la temperatura registrada la ultima media hora.\\n\";\n msg.payload.content+=\"/ConsultaHistorica - Te permito realizar una consulta con respecto a dias atras, donde te informaré sobre distintos aspectos de la humedad y la temperatura registrados en el periodo que me indiques.\\n\"\n msg.payload.content+=\"/ConsultaHistorica - Te genero un excel con respecto a dias atras, donde te informaré sobre distintos aspectos de la humedad y la temperatura registrados en el periodo que me indiques.\\n\"\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "2ed64f86.ab136",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/ListaComandos",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "c5e096a4.2ec0d8"
            ],
            []
        ]
    },
    {
        "id": "c5e096a4.2ec0d8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Funcion Lista Comandos",
        "func": "\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\". Te indico todos los comandos de los que dispongo... Usa este poder sabiamente. \\n\";\n msg.payload.content+=\"/Sensores - Te indico los distintos comandos relacionados con los sensores que tenemos disponibles\\n\";\n msg.payload.content+=\"/Temperatura - te indica el ultimo dato respecto a la temperatura registrada por el DHT-11\\n\";\n msg.payload.content+=\"/Humedad    - te indica el ultimo dato respecto a la humedad registrada por el DHT-11\\n\";\n msg.payload.content+=\"/consulta   - Te indico simultaneamente el ultimo dato registrado por cada sensor.\\n\";\n msg.payload.content+=\"/media   - Te indico la media de la humedad y la temperatura registrada la ultima media hora.\\n\";\n msg.payload.content+=\"/led - Te indico los distintos comandos relacionados con el control del estado del LED\\n\";\n msg.payload.content+=\"/enciende - enciende el led rojo a la intensidad que me indiques\\n\";\n msg.payload.content+=\"/apaga    - apaga el led rojo\\n\";\n msg.payload.content+=\"/estado   - Te indico el ultimo estado del led, indicando 0 que esta apagado, y 100 que esta encendido con maxima luminosidad.\\n\";\n msg.payload.content+=\"/ConsultaHistorica - Te permito realizar una consulta con respecto a dias atras, donde te informaré sobre distintos aspectos de la humedad y la temperatura registrados en el periodo que me indiques.\\n\"\n msg.payload.content+=\"/PieroManual - te permite controlar el robot de forma manual mediante diferentes órdenes\\n\";\n msg.payload.content+=\"/PieroAutomatico   -Activa el modo de funcionamiento automático de PIERO, donde el solo se encargará de evitar obstáculos.\\n\";\n msg.payload.content+=\"/Salir    - al activarlo, PIERO pasa a modo reposo.\\n\";\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "76cc793c.7edee8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Funcion Control Led",
        "func": "\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\". Te indico que comandos te ayudan a controlar el estado del led. \\n\";\n msg.payload.content+=\"/enciende - enciende el led rojo a la intensidad que me indiques\\n\";\n msg.payload.content+=\"/apaga    - apaga el led rojo\\n\";\n msg.payload.content+=\"/estado   - Te indico el ultimo estado del led, indicando 0 que esta apagado, y 100 que esta encendido con maxima luminosidad.\\n\";\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "d2baf8c3.59e2a8",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/led",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "76cc793c.7edee8"
            ],
            []
        ]
    },
    {
        "id": "839cea50.50d688",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "show keyboard",
        "bot": "2a1be692.da76fa",
        "x": 660,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "be049fde.87472",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Creamos pregunta para el keyboard",
        "func": "\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Ayer'],\n      ['Hace siete dias'],\n      ['Hace dos dias']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = '¿Con que antigüedad deseas realizar la consulta?';\nmsg.payload.options = opts;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 390,
        "y": 2060,
        "wires": [
            [
                "839cea50.50d688"
            ]
        ]
    },
    {
        "id": "111cf859.f80958",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "/excel",
        "command": "/excel",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": true,
        "useRegex": false,
        "x": 90,
        "y": 2140,
        "wires": [
            [
                "be049fde.87472",
                "1a6fdc29.5abe34"
            ],
            [
                "aa5e1a0a.e1f5e8"
            ]
        ]
    },
    {
        "id": "aa5e1a0a.e1f5e8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Respondemos",
        "func": "// fecha por defecto es hoy\nvar now_ms = new Date().getTime();\nvar ahora = new Date();\nvar ms_per_minute = 60000;\nvar desde2;\n\nif (context.global.keyboard.pending) {\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Ayer') {\n        desde2=ahora.getTime()-ms_per_minute*1440; //un dia tiene 1440 minutos\n    }\n    else if(msg.payload.content === 'Hace dos dias')     {\n        desde2=ahora.getTime()-ms_per_minute*1440*2; //un dia tiene 1440 minutos. Dos dias, el doble. \n    }\n    else if(msg.payload.content === 'Hace siete dias')   {\n        desde2=ahora.getTime()-ms_per_minute*1440*7 //numero de min de 1 dia * 7 dias\n    }\n}\n\n\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(desde2);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\": 0,\n        \"date\": 1,\n        \"temperatura\": \"$DHT11.temp\",\n        \"humedad\": \"$DHT11.hum\",\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 2160,
        "wires": [
            [
                "693633a5.7fe2bc"
            ]
        ]
    },
    {
        "id": "693633a5.7fe2bc",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "aggregate",
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "c425280e.d69ae8",
                "5f260e28.68613"
            ]
        ]
    },
    {
        "id": "c425280e.d69ae8",
        "type": "csv",
        "z": "1103f2af.e8c04d",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, temperatura, humedad",
        "skip": 0,
        "x": 1030,
        "y": 2180,
        "wires": [
            [
                "c60e80d6.758d",
                "d6360702.a93e18"
            ]
        ]
    },
    {
        "id": "c60e80d6.758d",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8acb6b12.36ba68",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1290,
        "y": 2020,
        "wires": []
    },
    {
        "id": "5f260e28.68613",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 2060,
        "wires": []
    },
    {
        "id": "93973a8d.60d378",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1090,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9dc276a3.488668",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 1570,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "1a6fdc29.5abe34",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Guarda Usuario",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 2240,
        "wires": [
            [
                "79e60e0a.3bdeb"
            ]
        ]
    },
    {
        "id": "79e60e0a.3bdeb",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 2240,
        "wires": []
    },
    {
        "id": "aaea34be.3f87e8",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "/ConsultaHistorica",
        "command": "/ConsultaHistorica",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": true,
        "useRegex": false,
        "x": 130,
        "y": 2420,
        "wires": [
            [
                "b72c08c8.898b98",
                "597987c9.b98eb8"
            ],
            [
                "d94e3f5b.e1166"
            ]
        ]
    },
    {
        "id": "b72c08c8.898b98",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Creamos pregunta para el keyboard",
        "func": "\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Ayer','Hoy'],\n      ['Hace siete dias'],\n      ['Hace dos dias']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = '¿Con que antigüedad deseas realizar la consulta?';\nmsg.payload.options = opts;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 410,
        "y": 2340,
        "wires": [
            [
                "c3bf3fbd.2e5ac"
            ]
        ]
    },
    {
        "id": "c3bf3fbd.2e5ac",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "show keyboard",
        "bot": "2a1be692.da76fa",
        "x": 680,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "d94e3f5b.e1166",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Respondemos",
        "func": "// fecha por defecto es hoy\nvar now_ms = new Date().getTime();\nvar ahora = new Date();\nvar ms_per_minute = 60000;\nvar desde2;\n\nif (context.global.keyboard.pending) {\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Ayer') {\n        desde2=ahora.getTime()-ms_per_minute*1440; //un dia tiene 1440 minutos\n    }\n    else if(msg.payload.content==='Hoy'){\n        \n        desde2=ahora;\n    }\n    else if(msg.payload.content === 'Hace dos dias')     {\n        desde2=ahora.getTime()-ms_per_minute*1440*2; //un dia tiene 1440 minutos. Dos dias, el doble. \n    }\n    else if(msg.payload.content === 'Hace siete dias')   {\n        desde2=ahora.getTime()-ms_per_minute*1440*7 //numero de min de 1 dia * 7 dias\n    }\n}\n\n\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(desde2);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"temperatura\": \"$DHT11.temp\",\n        \"humedad\":\"$DHT11.hum\"\n        }\n    },\n    { \"$group\": {\n        \"_id\": 0,\n        \"Tmedia\":{\"$avg\":\"$temperatura\"},\n        \"Tmax\":  {\"$max\":\"$temperatura\"},\n        \"Tmin\":  {\"$min\":\"$temperatura\"},\n        \"Hmedia\":{\"$avg\":\"$humedad\"},\n        \"Hmax\":  {\"$max\":\"$humedad\"},\n        \"Hmin\":  {\"$min\":\"$humedad\"},\n        \"datos\": {\"$sum\":1}\n    }}\n];\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 2440,
        "wires": [
            [
                "a0d51f74.a7509"
            ]
        ]
    },
    {
        "id": "a0d51f74.a7509",
        "type": "mongodb in",
        "z": "1103f2af.e8c04d",
        "mongodb": "74f63fd3.a26cc",
        "name": "",
        "collection": "II1",
        "operation": "aggregate",
        "x": 620,
        "y": 2440,
        "wires": [
            [
                "e70d2d3d.4556b",
                "5afd703a.efc5d"
            ]
        ]
    },
    {
        "id": "e70d2d3d.4556b",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje respuesta agreg",
        "func": "var tmedia=msg.payload[0].Tmedia\nvar tmax= msg.payload[0].Tmax\nvar tmin= msg.payload[0].Tmin\nvar hmedia=msg.payload[0].Hmedia\nvar hmax= msg.payload[0].Hmax\nvar hmin= msg.payload[0].Hmin\nvar datos= msg.payload[0].datos\n\nmsg.payload.chatId=flow.get('Usuario' || 0);\nmsg.payload.type=\"message\";\nmsg.payload.content=\"La temperatura media es de \"+tmedia+\"ºC.\\nLa temperatura maxima fue de \"+tmax+\"ºC y la minima fue de \"+tmin+\"ºC.\\nRespecto a la humedad, la humedad media es de \"+hmedia+\". La humedad maxima fue de \"+hmax+\"% y la humedad minima fue de \"+hmin+\"%. Se han consultado un total de \"+datos+\" datos.\\n\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 2440,
        "wires": [
            [
                "9dc276a3.488668"
            ]
        ]
    },
    {
        "id": "5afd703a.efc5d",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 2360,
        "wires": []
    },
    {
        "id": "597987c9.b98eb8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Guarda Usuario",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "402baa88.1e8d94",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "/PieroManual",
        "command": "/PieroManual",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": true,
        "useRegex": false,
        "x": 110,
        "y": 2720,
        "wires": [
            [
                "e00cb1f2.dd135",
                "645ce9e6.6e0f18",
                "333a4f6.ef094b"
            ],
            []
        ]
    },
    {
        "id": "e00cb1f2.dd135",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Creamos pregunta para el keyboard",
        "func": "\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['W'],\n      ['A','S','D'],\n      ['STOP'],\n      ['/Salir']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : false\n  })\n};\n\nmsg.payload.content = 'W - Avanza hacia delante\\n A - Gira hacia la izquierda\\n D- Gira hacia la derecha \\n S- Reduce velocidad \\n Stop- Para el PIERO\\n -/Salir-Salir del modo de conduccion manual';\nmsg.payload.options = opts;\nreturn [ msg ];\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 490,
        "y": 2740,
        "wires": [
            [
                "8765cb65.ffba58",
                "8a690655.123108"
            ]
        ]
    },
    {
        "id": "8a690655.123108",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "show keyboard",
        "bot": "2a1be692.da76fa",
        "x": 860,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "1cdc92ee.55441d",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Robot Movimiento",
        "func": "// fecha por defecto es hoy\n\nif (context.global.keyboard.pending) {\n\n    if(msg.payload.content === 'W') {\n        msg.payload={};\n        msg.payload={\"orden\": 8};\n        return msg;\n\n    }\n    else if(msg.payload.content==='A'){\n        msg.payload={};\n        msg.payload={\"orden\": 4};\n        return msg;\n    }\n    else if(msg.payload.content === 'S')     {\n        msg.payload={};\n        msg.payload={\"orden\": 2};\n        return msg;\n    }\n    else if(msg.payload.content === 'D')   {\n        msg.payload={};\n        msg.payload={\"orden\": 6};\n        return msg;\n    }\n    else if(msg.payload.content === 'STOP')   {\n        msg.payload={};\n        msg.payload={\"orden\": 0};\n        return msg;\n    }\n    else if(msg.payload.content === '/Salir')   {\n        msg.payload={};\n        msg.payload={\"orden\": 0};\n        context.global.keyboard.pending = false;\n        return msg;\n\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 3000,
        "wires": [
            [
                "51faa853.a3e358",
                "3be6522a.36074e"
            ]
        ]
    },
    {
        "id": "645ce9e6.6e0f18",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Guarda Usuario",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "51faa853.a3e358",
        "type": "mqtt out",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "infind/GRUPO1/PIERO/Movimiento",
        "qos": "",
        "retain": "",
        "broker": "b25567ea.2cea98",
        "x": 820,
        "y": 3120,
        "wires": []
    },
    {
        "id": "8765cb65.ffba58",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 2680,
        "wires": []
    },
    {
        "id": "45af235a.81bc6c",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Robot Movimiento",
        "func": "// fecha por defecto es hoy\n\nif (context.global.keyboard.pending) {\n    \n    \n    if(msg.payload.content === 'W') {\n        msg.payload={};\n        msg2={};\n        msg.payload={\"orden\": 8};\n        msg2.payload.chatId=flow.get('Usuario' || 0);\n        msg2.payload.type=\"message\";\n    }\n    else if(msg.payload.content==='A'){\n        msg.payload={};\n        msg.payload={\"orden\": 4};\n        msg2.payload.chatId=flow.get('Usuario' || 0);\n    }\n    else if(msg.payload.content === 'S')     {\n        msg.payload={};\n        msg.payload={\"orden\": 2};\n        msg2=msg;\n    }\n    else if(msg.payload.content === 'D')   {\n        msg.payload={};\n        msg.payload={\"orden\": 6};\n    }\n    else if(msg.payload.content === 'STOP')   {\n        msg.payload={};\n        msg.payload={\"orden\": 0};\n    }\n    else if(msg.payload.content === 'FIN')   {\n        msg.payload={};\n        msg.payload={\"orden\": 0};\n        context.global.keyboard.pending = true;\n    }\n}\n\nreturn [msg,msg2];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 670,
        "y": 2620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c65a539.0c961a",
        "type": "telegram receiver",
        "z": "1103f2af.e8c04d",
        "name": "uWubot",
        "bot": "2a1be692.da76fa",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 3060,
        "wires": [
            [
                "1cdc92ee.55441d",
                "429dd0fc.54ff6",
                "ae6122d0.21d66"
            ],
            []
        ]
    },
    {
        "id": "333a4f6.ef094b",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 2600,
        "wires": []
    },
    {
        "id": "429dd0fc.54ff6",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Modo Funcionamiento Robot",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2940,
        "wires": [
            [
                "661ecc4f.fb1234",
                "f6145637.92d798"
            ]
        ]
    },
    {
        "id": "661ecc4f.fb1234",
        "type": "mqtt out",
        "z": "1103f2af.e8c04d",
        "name": "",
        "topic": "infind/GRUPO1/PIERO/Modo",
        "qos": "",
        "retain": "",
        "broker": "b25567ea.2cea98",
        "x": 900,
        "y": 2900,
        "wires": []
    },
    {
        "id": "570ba44.e1f895c",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/start",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "d02ce863.999638"
            ],
            []
        ]
    },
    {
        "id": "51d5d266.2555dc",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "",
        "command": "/ComandosRobot",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": false,
        "useRegex": false,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "f21f014d.82675"
            ],
            []
        ]
    },
    {
        "id": "f21f014d.82675",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Funcion Sensores info",
        "func": "\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\". Te indico que comandos te indican informacion sobre los sensores. \\n\";\n msg.payload.content+=\"/PieroManual - te permite controlar el robot de forma manual mediante diferentes órdenes\\n\";\n msg.payload.content+=\"/PieroAutomatico   -Activa el modo de funcionamiento automático de PIERO, donde el solo se encargará de evitar obstáculos.\\n\";\n msg.payload.content+=\"/Salir    - al activarlo, PIERO pasa a modo reposo.\\n\";\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "e997d25f.8a09d"
            ]
        ]
    },
    {
        "id": "8e02c85c.029288",
        "type": "ui_template",
        "z": "1103f2af.e8c04d",
        "group": "af601367.b89b6",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 300,
        "y": 1940,
        "wires": [
            [
                "d43e6950.72fe68"
            ]
        ]
    },
    {
        "id": "d43e6950.72fe68",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 1920,
        "wires": []
    },
    {
        "id": "ae6122d0.21d66",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 3100,
        "wires": []
    },
    {
        "id": "f968b465.f27e28",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1590,
        "y": 2060,
        "wires": []
    },
    {
        "id": "d6360702.a93e18",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "mensaje respuesta excel",
        "func": "msg.payload.chatId=flow.get('Usuario' || 0);\nmsg.payload.type='document';\nmsg.payload.content='\\ufeff'+msg.payload;\n//msg.payload.document='/prueba.pdf'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 2180,
        "wires": [
            [
                "9dc276a3.488668",
                "f968b465.f27e28"
            ]
        ]
    },
    {
        "id": "3be6522a.36074e",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 3040,
        "wires": []
    },
    {
        "id": "f6145637.92d798",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 2960,
        "wires": []
    },
    {
        "id": "6f95443a.49a9fc",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "/Salir",
        "command": "/Salir",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": true,
        "useRegex": false,
        "x": 130,
        "y": 3220,
        "wires": [
            [
                "e3c05b06.6610e8",
                "a96217aa.0a56c8"
            ],
            []
        ]
    },
    {
        "id": "e3c05b06.6610e8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Creamos pregunta para el keyboard",
        "func": "\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Si','/PieroManual']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = '¿Desea parar?';\nmsg.payload.options = opts;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 410,
        "y": 3300,
        "wires": [
            [
                "9e7bae24.bf726"
            ]
        ]
    },
    {
        "id": "9e7bae24.bf726",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "show keyboard",
        "bot": "2a1be692.da76fa",
        "x": 720,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "a96217aa.0a56c8",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "Guarda Usuario",
        "func": "//Filtro la base de datos y almaceno el chatId\nflow.set('Usuario',msg.payload.chatId)\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 3220,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd9c5c2.6abd7c",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 2880,
        "wires": []
    },
    {
        "id": "ccf35359.8eb79",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "12907100.1b22ef",
        "type": "telegram command",
        "z": "1103f2af.e8c04d",
        "name": "/PieroAutomatico",
        "command": "/PieroAutomatico",
        "bot": "2a1be692.da76fa",
        "strict": false,
        "hasresponse": true,
        "useRegex": false,
        "x": 160,
        "y": 2820,
        "wires": [
            [
                "3b4f9d57.ca9912",
                "645ce9e6.6e0f18",
                "6dd9c5c2.6abd7c"
            ],
            []
        ]
    },
    {
        "id": "3b4f9d57.ca9912",
        "type": "function",
        "z": "1103f2af.e8c04d",
        "name": "comentario pieroautomatico",
        "func": "msg.payload.type=\"message\";\nmsg.payload.content = 'Has activado el modo automático de PIERO. En este modo, el robot comenzará a moverse automáticamente y a evitar obstáculos. Si quieres salir de este modo, puedes pulsar /Salir para salir de este modo.\\n';\nmsg.payload.chatId=flow.get('Usuario' || 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 2820,
        "wires": [
            [
                "3aafc8e7.141588",
                "36aad889.940408"
            ]
        ]
    },
    {
        "id": "3aafc8e7.141588",
        "type": "telegram sender",
        "z": "1103f2af.e8c04d",
        "name": "",
        "bot": "2a1be692.da76fa",
        "x": 830,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "36aad889.940408",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 2780,
        "wires": []
    },
    {
        "id": "9091a9f5.30be58",
        "type": "debug",
        "z": "1103f2af.e8c04d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2a1be692.da76fa",
        "type": "telegram bot",
        "z": "",
        "botname": "UwU87bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b25567ea.2cea98",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "74f63fd3.a26cc",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "port": "27017",
        "db": "II1",
        "name": ""
    },
    {
        "id": "af601367.b89b6",
        "type": "ui_group",
        "z": "",
        "name": "Grupo descarga",
        "tab": "ca3c1a23.8a7ac8",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ca3c1a23.8a7ac8",
        "type": "ui_tab",
        "z": "",
        "name": "Ejemplo descarga",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]